<template>
    <router-view></router-view>
</template>

<script>

import axios from 'axios'
import network from './tools/network.js'

export default {
    mounted() {
        this.$store.dispatch('initToken');
        axios.post('/validate')
            .then((response) => {
                this.$router.push('/app');
            })
            .catch((error) => {

            });
    }
}

</script>

<style lang="scss">

@import './sass/theme';

* {
    box-sizing: border-box;
}

html {
    height: 101%;
}

body {
    z-index: -2;
}

.editable {
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.7);
    height: 24px;
    font-family: inherit;
    font-size: inherit;
}

.editable_parent {
    @extend %editable-cursor;
}

.editable-ml {
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.7);
    height: 24px;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
}

</style>
