<template>
    <div class="datepicker" @click.stop="">
        <div class="datepicker__header">
            <div class="datepicker__header__left" 
                 @click.stop="month--">
                <img src="../../../../assets/icons/back.png"
                    height="11px">
            </div>
            <div class="datepicker__header__time">
                {{displayMonth}} {{displayYear}}
            </div>
            
            <div class="datepicker__header__right" 
                 @click.stop="month++">
                <img src="../../../../assets/icons/next.png"
                    height="11px">
            </div>
        </div>
        <div class="datepicker__body">
            <table>
                <tr>
                    <th v-for="i in 7" :key="i">
                        <div class="datepicker__body__day">
                            {{ getDay(i) }}
                        </div>
                    </th>
                </tr>
                <tr v-for="x in 6" :key="x">
                    <td v-for="y in 7" :key="y" @click.stop="dateSelected(x,y)">
                        <div class="datepicker__body__date" 
                             v-bind:class="{
                                 'today':(today.x === x && today.y === y),
                                 'datepicker__body__date--active': (getDate(x,y) != null)
                             }">
                            {{ getDate(x,y) }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="datepicker__footer">
            <div class="datepicker__footer__reset" 
                 @click.stop="resetMonth()">
                <img src="../../../../assets/icons/home_dark.png"
                     height="14px">
            </div>
        </div>
    </div>
</template>

<script>
/**
 * Services
 */
import { EventBus } from '../../../../tools/event_bus'

/*
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

export default {
    name: 'DatePicker',
    data () {
      return {
        showEventListModal: false,
        modalDate: null,
        month: moment().month(),
        today: {
            x: null,
            y: null
        }
      }
    },
    created() {
        /**
         * 
         */
    },
    computed: {
        /**
         * get start date of month
         */
        startDate(){
            return moment().month(this.month).startOf('month');
        },
        /**
         * get start day of month in format "XXX"
         */
        startDay(){
            return moment().month(this.month).startOf('month').format("ddd");
        },
        /**
         * get display Month
         */
        displayMonth(){
            // clear today values
            this.today.x = null;
            this.today.y = null;
            return moment().month(this.month).format("MMMM");
        },
        /**
         * get display Year
         */
        displayYear(){
            return moment(this.startDate).year();
        },
    },
    methods: {
        /**
         * get day for datepicker__header row
         */
        getDay(i){
            switch(i) {
            case 1:
                return "Sun"
            case 2:
                return "Mon"
            case 3:
                return "Tue"
            case 4:
                return "Wed"
            case 5:
                return "Thu"
            case 6:
                return "Fri"
            case 7:
                return "Sat"
            default:
                console.log("View Selection Invalid");
            }
        },
        /**
         * get clicked date
         */
        getDate(x,y){
            var startDay = null;
            switch(this.startDay) {
            case "Sun":
                startDay = 1
                break;
            case "Mon":
                startDay = 2
                break;
            case "Tue":
                startDay = 3
                break;
            case "Wed":
                startDay = 4
                break;
            case "Thu":
                startDay = 5
                break;
            case "Fri":
                startDay = 6
                break;
            case "Sat":
                startDay = 7
                break;
            default:
                console.log("View Selection Invalid");
            }
            var offset = ((x-1)*7) + y;
            if (offset >= startDay && (offset - startDay)< (moment().month(this.month).daysInMonth())){
                var date = moment(this.startDate).add(offset - startDay,'days').format();
                if (moment(date).format('YYYYMMDD') == moment().format('YYYYMMDD')) {
                    this.today.x = x;
                    this.today.y = y;
                }
                return moment(date).format('D');
            } else {
                return null;
            }
        },
        /**
         * emit DateSelected event with date as a parameter
         */
        dateSelected(x,y) {
            var val = this.getDate(x,y)
            if (val != null) {
                this.$emit('update:dateSelected', moment().month(this.month).startOf('month').add(val-1,'days').format('YYYY MMM DD'));
                this.$emit('update:toggle', false);
            }
        },
        /**
         * emit DateSelected event with date as a parameter
         */
        resetMonth() {
            this.month = moment().month();
        }
    },
}

</script>
<style scoped lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.datepicker{
    @extend %secondary-font;
    font-size: 11px;
    position: relative;
    background-color: theme-color('background', 'dark');
}

.datepicker__header{
    padding-top: 5px;
}

.datepicker__header__left,
.datepicker__header__right {
    display: inline-flex;
    padding: 5px;
    align-items: center;
    border-radius: 3px;
}

.datepicker__header__left:hover,
.datepicker__header__right:hover {
    background-color: theme-color('background', 'light');
    cursor: pointer;
}

.datepicker__header__time{
    @extend %primary-font;
    display: inline-block;
    font-size: 14px;
    width: 75%;
}

.datepicker__footer__reset {
    padding: 5px;
    display: inline-flex;
    align-items: center;
    border-radius: 3px;
}

.datepicker__footer__reset:hover {
    background-color: theme-color('background', 'light');
    cursor: pointer;
}

.today{
    @extend %secondary-font_bold;
    color: theme-color('highlight', 'red');
}

.today:hover {
    background-color: theme-color('background', 'light');
    cursor: pointer;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

.datepicker__body__date,
.datepicker__body__day, {
    @extend %secondary-font;
    background-color: theme-color('background', 'dark');
    padding: 5px;
    border-radius: 3px;
}

.datepicker__body__date--active:hover {
    background-color: theme-color('background', 'light');
    cursor: pointer;
}

</style>
