<template>
    <div class="shared"
         :style="{'height': height + 'px'}">
        <div class="outer">
            <div class="inner"
                 @click="createPackage()">
                <div class="text">
                    Create new package
                </div>
            </div>
        </div>
        <!-- see template_card -->
        <div class="loading_mask_container"
             v-if="loadingMask">
            <div class="loading_mask_d">
                <div class="loading_title_d"></div>
                <div class="loading_other_d"></div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Services
 */
import network from '../../tools/network'
import { EventBus } from '../../tools/event_bus'

/**
 * webpack dist path for /assets/stock directory
 */
const pathToCats = require.context('../../assets/stock/', true);

/**
 * Exported vue component
 */
export default {
    name: 'addPackage',
    props: ['cardLoading'],
    watch: {
        'height'(val) {
            this.$emit("update:height", val);
        }
    },
    data () {
        return {
            // see @template_card
            loading: {
                index: 0
            },
            loadingMask: false,
            height: 60
        }
    },
    methods: {
        createPackage() {
            network.post(this.loading, '/vendor/generic', {
                vendorId: this.$store.state.vendorId,
                modify: {
                    'packages+': {}
                }
            }).then(response => {
                EventBus.$emit('update-board');
            })
        }
    },
    mounted() {
        this.$emit("mounted", this.height);
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared {
    @extend %content-element-shared;
}

.outer {
    @extend %content-element-card;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.inner {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgb(56, 56, 56);
    cursor: pointer;
}

.inner:hover {
    background-color: rgb(65, 65, 65);
}

.text {
    @extend %primary-font_bold;
    font-size: 11px;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

</style>
