<template>
    <div class="shared">
        <div class="outer"
             :style="{'max-height': height + 'px'}">
            <div class="title"
                 @click="expandItems()">
                <div class="title_text">
                    Add item to profile
                </div>
            </div>
            <div class="items">
                <div class="item"
                     @click="expandAlbums()">
                    <div class="item_text">
                        + album
                    </div>
                </div>
                <div class="albums"
                     :style="{'max-height': albumsHeight + 'px'}">
                    <div class="no_albums"
                         v-if="!availableAlbums.length">
                        No albums to add
                    </div>
                    <div class="album"
                         v-for="album in availableAlbums">
                        <div v-if="album.images.length>0">
                            <div class="image">
                                <photo :source="album.images[0].src"
                                       :loading="loading"/>
                            </div>
                            <div class="image"
                                 v-if="album.images.length>1">
                                <photo :source="album.images[1].src"
                                       :loading="loading"/>
                            </div>
                            <div class="image"
                                 v-if="album.images.length>2">
                                <photo :source="album.images[2].src"
                                       :loading="loading"/>
                            </div>
                        </div>
                        <div v-else
                             class="blank_background">

                        </div>
                        <div class="album_overlay"
                             @click="addAlbumToProfile(album._id)">
                            <div class="album_name">
                                {{album.name}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"
                     @click="uploadPicture()">
                    <div class="item_text">
                        + picture
                    </div>
                </div>
                <div class="item"
                     @click="expandItems()">
                    <div class="item_text">
                        + post
                    </div>
                </div>
                <div class="item"
                     @click="addSeperator()">
                    <div class="item_text">
                        + seperator
                    </div>
                </div>
            </div>
        </div>
        <!-- see template_card -->
        <div class="loading_mask_container"
             v-if="loadingMask">
            <div class="loading_mask_d">
                <div class="loading_title_d"></div>
                <div class="loading_other_d"></div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Services
 */
import network from '../../tools/network'
import { EventBus } from '../../tools/event_bus'

/**
 * Utility components
 */
import photo from '../utility/photo.vue'

/**
 * Exported vue component
 */
export default {
    name: 'addProfileItem',
    props: ['cardLoading'],
    watch: {
        'outputHheight'(val) {
            this.$emit("update:height", val);
        }
    },
    computed: {
        albumsHeight() {
            if(this.albumsExpanded) {
                return this.albums.length * 50;
            } else {
                return 0;
            }
        },
        height() {
            if(this.itemsExpanded) {
                this.outputHeight = 150 + this.albumsHeight;
            } else {
                this.outputHeight = 30;
            }
            return this.outputHeight;
        },
        availableAlbums() {
            let albumsShown = [];
            this.profile.reduce((acc, card) => {
                if(card.name == 'album-card') {
                    acc.push(card.data.id);
                }
                return acc;
            }, albumsShown);
            return this.albums.filter((album) => {
                return !albumsShown.includes(album._id)
            });
        }
    },
    data () {
        return {
            itemsExpanded: false,
            albumsExpanded: false,
            albums: [],
            profile: [],
            // see @template_card
            loading: {
                index: 0
            },
            loadingMask: false,
            outputHeight: 150
        }
    },
    methods: {
        expandItems() {
            this.itemsExpanded = !this.itemsExpanded;
        },
        expandAlbums() {
            if(!this.albumsExpanded) {
                network.post(this.loading, '/generic/Vendor/', {
                    findOne: {
                        _id: this.$store.state.vendorId
                    },
                    get: {
                        'albums': null,
                        'profile': null
                    },
                    replace: {
                        'images$': '@Image'
                    }
                }).then((response) => {
                    this.albums = response.data[0];
                    this.profile = response.data[1];
                    this.albumsExpanded = true;
                })
            } else {
                this.albumsExpanded = false;
            }
        },
        addAlbumToProfile(albumId) {
            network.post(this.loading, '/generic/Vendor/', {
                findOne: {
                    _id: this.$store.state.vendorId
                },
                modify: {
                    'profile+': {
                        name: 'album-card',
                        data: {
                            id: albumId
                        }
                    }
                }
            }).then((response) => {
                if(!response.errors) {
                    this.albumsExpanded = false;
                    EventBus.$emit('update-board');
                } else {
                    console.log(response.errors);
                }
            })
        },
        addSeperator() {
            network.post(this.loading, '/generic/Vendor/', {
                findOne: {
                    _id: this.$store.state.vendorId
                },
                modify: {
                    'profile+': {
                        name: 'seperator-card',
                        data: {
                            rgb: [0,0,0,]
                        }
                    }
                }
            }).then((response) => {
                EventBus.$emit('update-board');
            })
        },
        uploadPicture() {
            var that = this;
            EventBus.$emit('image-uploader', {
                postUrl: '/image',
                callback(image) {
                    network.post(that.loading, '/generic/Vendor/', {
                        findOne: {
                            _id: that.$store.state.vendorId
                        },
                        modify: {
                            'profile+': {
                                name: 'picture-card',
                                data: {
                                    id: image.id
                                }
                            },
                        }
                    }).then((response) => {
                        EventBus.$emit('update-board');
                    })
                }
            });
        }
    },
    mounted() {
        this.$emit("mounted", this.height);
    },
    components: {
        photo
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared {
    @extend %content-element-shared;
}

.outer {
    @extend %content-element-card;
    width: 100%;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
}

.title {
    display: flex;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.title_text {
    @extend %primary-font_bold;
    font-size: 11px;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}

.items {
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
}

.item {
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.item_text {
    @extend %primary-font_bold;
    font-size: 11px;
    width: 100%;
    text-align: center;
    color: rgb(142, 142, 142);
}

.albums {
    transition: max-height 200ms ease-in-out;
    overflow: hidden;
}

.no_albums {
    @extend %primary-font_bold;
    font-size: 11px;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 30px;
    padding: 10px;
}

.album {
    position: relative;
    font-size: 0px;
    // border-radius: 5px;
    overflow: hidden;
}

.album_overlay {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.album_name {
    @extend %secondary-font_bold;
    font-size: 11px;
    text-align: center;
    width: 100%;
    color: white;
}

.image {
    display: inline-block;
    width: 33.33%;
    height: 50px;
}

.blank_background {
    width: 100%;
    height: 50px;
}

</style>
