<template>
    <div class="shared"
         :style="{'height': sharedHeight}">
        <div class="outer">
            <div class="inner">
                +
            </div>
        </div>
        <!-- loading_mask_container @see template_card.vue -->
        <div class="loading_mask_container"
             v-if="loadingMask">
            <div class="loading_mask_d">
                <div class="loading_title_d"></div>
                <div class="loading_other_d"></div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Module dependencies.
 */
import network from '../../tools/network'

/**
 * Exported vue component
 */
export default {
    name: 'addCard',
    // @see template_card
    props: ['cardLoading'],
    watch: {
        // @see template_card
        'loading.index'(index, oldIndex) {
            if(oldIndex && !index) {
                this.cardLoading.index--;
                this.loadingMask = false;
            }
            if(!oldIndex && index)
                this.cardLoading.index++;
        },
        'height'() {
            this.$emit("update:height", this.height);
        }
    },
    data () {
        return {
            // @see template_card
            loading: {
                index: 0
            },
            loadingMask: true,
            height: 70
        }
    },
    mounted() {
        // @see template_card
        this.$emit("mounted", this.height);

        // @see template_card
        var that = this;
        network.post(this.loading, '/validate')
            .then((response) => {

            });
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared {
    // @see template_card
    @extend %content-element-shared;
}

.outer {
    // @see template_card
    @extend %content-element-card;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: table;
}

.inner {
    display: table-cell;
    background-color: black;
    color: white;
    font-size: 18px;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.inner:hover {
    cursor: pointer;
}

</style>
