<template>
    <div class="shared"
         :style="{'max-height': height + 'px'}">
        <div class="outer">
            <div class="inner"
                 @mouseleave="mouseLeaveAlbum()">
                <div class="album">
                    <div class="album_header">
                        <div class="album_title">
                            <div class="album_title_container">
                                <div class="album_title_icon">
                                    <img src="../../assets/icons/album.png"
                                         width="13px">
                                </div>
                                <div class="album_title_text">
                                    <text-edit-sl url="/generic/Vendor/albums"
                                                  data-key="name"
                                                  :text.sync="vendor.albums.name"
                                                  :loading="loading"
                                                  :key-id="{
                                                      _id: componentData.id
                                                  }"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="album_grid"
                         :style="{'max-height': gridShowHeight + 'px'}">
                        <div class="empty_album"
                             v-if="!vendor.albums.images.length">
                            This album is empty
                        </div>
                        <div class="album_image"
                             :style="{
                                 'width': item.width,
                                 'height': item.height
                             }"
                             v-for="(item, index) in vendor.albums.images">
                            <div class="album_image_container"
                                 @mouseenter="mouseEnterImage(index)"
                                 @mouseleave="mouseLeaveImage(index)">
                                <div class="album_image_holder"
                                     @click="gotoImage(index)">
                                    <photo :source="item.src"
                                           :loading="loading"
                                           @image-size="setSize(index, $event)"/>
                                    <div class="album_image_edit"
                                         v-if="showImageEdit[index]">
                                        <div class="album_image_bookmark"
                                             @click.stop="bookmarkPhoto(item)">
                                            <img src="/static/bookmark-white-2.png"
                                                 width="12px"
                                                 v-if="item.bookmarkedBy"/>
                                            <img src="/static/bookmark-white.png"
                                                 width="12px"
                                                 v-else/>
                                        </div>
                                        <div class="album_image_edit_icon"
                                             @click.stop="imageEdit(index)">
                                            <img src="../../assets/icons/edit3.png"
                                                 width="12px"
                                                 @click="">
                                            <div class="image-menu"
                                                v-if="showDropDownX[index]">
                                                <div v-for="option in optionsImage"
                                                     class="image_menu_item"
                                                     @click="optionsImageClick(index, option, item)">
                                                    {{ option.name }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <picture-fullscreen v-if="showFullImage"
                                            :images="vendor.albums.images"
                                            :index="clickedImage"
                                            @close="showFullImage=false"/>
                    </div>
                    <div class="album_footer">
                        <div class="album_options"
                             v-on:click.prevent="showDropDown=!showDropDown" >
                            <div v-for="option in optionsAlbum"
                                 class="settings_item"
                                 @click="optionsAlbumClick(option)">
                                {{ option.name }}
                            </div>
                        </div>
                        <div class="expand_button"
                             v-if="moreToSee"
                             @click="showMore()">
                            <div class="expand_button_text">
                                See more
                            </div>
                            <div class="expand_button_icon">
                                <img src="../../assets/icons/down.png"
                                     width="22px">
                            </div>
                        </div>
                    </div>
                    <comments-section :id="vendor.albums._id"
                                      url="/generic/Vendor/albums"
                                      :height.sync="commentsHeight"
                                      :loading="loading"/>
                </div>
            </div> <!-- Inner div-->
        </div>
        <!-- See template card -->
        <div class="loading_mask_container"
             v-if="loadingMask">
            <div class="loading_mask_d">
                <div class="loading_title_d"></div>
                <div class="loading_other_d"></div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Services
 */
import network from '../../tools/network'
import { EventBus } from '../../tools/event_bus'

/**
 * Utility components
 */
import photo from '../utility/photo.vue'
import commentsSection from '../utility/comments_section.vue'
import textEditSl from '../utility/text_edit_sl.vue'
import pictureFullscreen from './picture_fullscreen.vue'

export default {
    name: 'albumCard',
    // see template_card
    props: ['componentData','cardLoading'],
    watch: {
        // see template_card
        'loading.index'(index, oldIndex) {
            if (oldIndex && !index) {
                this.cardLoading.index--;
                this.loadingMask = false;
            }
            if (!oldIndex && index) {
                this.cardLoading.index++;
            }
        },
        // see template_card
        'outputHeight'() {
            this.$emit("update:height", this.outputHeight);
        }
    },
    data () {
        return {
            likeImage:'../static/flower_1.png',
            options_icon: '../static/more-options.png',
            showDropDown: false,                // Flag for Album dropdown
            showDropDownX: [],                  // Flag array for Images dropdown
            showImageEdit: [],                  // Flag array for Image Edit showing
            showFullImage: false,
            showColumns: 2,
            clickedImage: 0,
            imageIndex:0,
            albumId: 0,
            vendorId: 0,
            gridWidth: 3,
            imageCount: 5,
            optionsAlbum: [
                {
                    id: 0,
                    name: "Add photo"
                },{
                    id: 1,
                    name: "Delete album"
                },
            ],
            optionsImage: [
                {
                    id: 0,
                    name: "Delete photo"
                },{
                    id: 1,
                    name: "Make profile picture"
                },{
                    id: 2,
                    name: "Make cover Picture"
                },
            ],
            vendor: {
                albums: {
                    images: [{
                        comments: []
                    },{},{}]
                }
            },
            commentsHeight: 66,
            // see template card
            loading: {
                index: 0
            },
            loadingMask: true,
            outputHeight: 700
        }
    },
    computed: {
        albumSize() {  //calculates total number of photos in album
            return this.vendor.albums.images.length;
        },
        albumcomments(){  //calculates total album likes by cumalating likes of each photo in album - not used yet
            var albumcommentcount=0;
            this.vendor.albums.images.forEach((image, index) => {
                albumcommentcount= albumcommentcount + image.comments.length;
            })
            return albumcommentcount;
        },
        albumLikes() {  //calculates total album likes by cumalating likes of each photo in album - not used yet
            var albumlikecount=0;
            this.vendor.albums.images.forEach((image, index) => {
                albumlikecount= albumlikecount + image.likes;
            })
            return albumlikecount;
        },
        gridHeight() {  //dynamic resizing of card height based on no. of photos
            const heightFunc = function(index, columns) {
                if (index <= 0) {
                    return 0;
                } else {
                    return 200 + heightFunc(index-columns, (columns == 3) ? 2 : 3);
                }
            }
            let actual = heightFunc(this.vendor.albums.images.length, 2) + 4;
            return (actual < 30) ? 30 : actual;
        },
        gridShowHeight() {
            let show = this.showColumns*200 + 4;
            if(this.gridHeight < show) return this.gridHeight;
            return (show < 404) ? 404 : show;
        },
        moreToSee() {
            let show = this.showColumns*200 + 4;
            return this.gridHeight > show;
        },
        height() {
            this.outputHeight = this.gridHeight + this.commentsHeight + 80 + 30;
            return this.outputHeight;
        }
    },
    methods: {
        mouseEnterImage(index) {  //hovering over a image calls this function and parses index
            this.$set(this.showImageEdit, index, true);
        },
        mouseLeaveImage(index) { //hovering AWAY from an image calls this function and clears flags
            this.$set(this.showDropDownX, index, false);
            this.$set(this.showImageEdit, index, false);
        },
        mouseLeaveAlbum() {  //clears flags when hovered away from album
            this.showDropDown=false;
        },
        imageEdit(index) { //method to drop down image edit options
            if (this.showDropDownX[index] == false) {
                this.$set(this.showDropDownX, index, true);
            } else {
                this.$set(this.showDropDownX, index, false);
            }
        },
        bookmarkPhoto(item) { // bookmark image in albums
            if (!item.bookmarkedBy) {
                network.post(this.loading, '/images/generic', {
                    imageId: item._id,
                    modify: {
                        'bookmarkedBy+': '$user'
                    }
                }).then((response) => {
                    item.bookmarkedBy = true;
                });
            } else {
                network.post(this.loading, '/images/generic', {
                    imageId: item._id,
                    modify: {
                        'bookmarkedBy^': '$user'
                    }
                }).then((response) => {
                    item.bookmarkedBy = false;
                });
            }
        },
        gotoImage(index) {  // method to open clicked image in fullscreen
            this.clickedImage=index;
            this.mouseLeaveImage(index);
            this.showFullImage=true;
        },
        optionsAlbumClick(option) { //method to execute selected album options
            if (option.id == 0) {
                this.addPhoto();
            } else if (option.id == 1) {
                this.deleteAlbum();
            }
        },
        optionsImageClick(index, option, item) { //method to execute selected image edit options
            if (option.id === 0) {
                this.deletePhoto(index);
            } else if (option.id == 1) {
                this.changeDP(item);
            } else if (option.id == 2) {
                this.changeCover(item);
            }
            this.$set(this.showDropDownX, index, false);
        },
        addPhoto() { // adding photo to album
            let that = this;
            EventBus.$emit('image-uploader', {
                postUrl: '/vendor/card/albumcard/image',
                data: {
                    albumId: that.componentData.id,
                },
                callback(image) {
                    network.post(that.loading, '/generic/Vendor/albums', {
                        findOne: {
                            _id: that.componentData.id
                        },
                        get: {
                            'images.-1': null,
                        },
                        replace: {
                            'images': '@Image',
                            'likedBy': '|$user'
                        },
                    }).then((response) => {
                        that.vendor.albums.images.push(response.data[0]);
                    })
                }
            });
        },
        deletePhoto(index) {         // deleting photos in the album
            network.post(this.loading, '/generic/Vendor/albums', {
                findOne: {
                    _id: this.componentData.id
                },
                modify: {
                    'images-': index
                }
            }).then((response) => {
                this.vendor.albums.images.splice(index,1);
            })
        },
        changeDP(item) { // method to set the selected Image as Vendor Display Picture - item is the selected image object
            network.post(this.loading, '/generic/Vendor/', {
                findOne: {
                    _id: this.$store.state.vendorId,
                },
                modify: {
                    'dp': item._id
                }
            }).then((response) => {
                // vendor display picture change successful
            })
        },
        // method to set the selected Image as Vendor Cover Picture
        // item is the selected image object
        changeCover(item) {
            network.post(this.loading, '/generic/Vendor/', {
                findOne: {
                    _id: this.$store.state.vendorId,
                },
                modify: {
                    'cover': item._id
                }
            }).then((response) => {
                // vendor cover picture change succesful
            })
        },
        deleteAlbum() { //method to delete the album
            network.post(this.loading, '/generic/Vendor/', {
                findOne: {
                    _id: this.$store.state.vendorId,
                },
                modify: {
                    'albums*': this.componentData.id
                },
                get: {
                    'albums': null
                },
                replace: {
                    'images$': '@Image',
                    'likedBy$': '|$user',
                }
            }).then((response) => {
                this.vendor.albums  = response.data[0][0];
                EventBus.$emit('update-board');
            })
        },
        exitfullscreen() { //exit fullscreen communication between fullscreen component
            this.showFullImage=false;
        },
        setSize(index, size) {

            let album = this.vendor.albums;
            this.$set(album.images[index], 'size', size);

            let columnCount = ((index%5) > 1) ? 3 : 2;
            let startIndex = Math.floor(index/5)*5 + ((columnCount == 3) ? 2 : 0);

            let indices = new Array(columnCount);
            let totalWidth = 0;

            for(var i=0;i<columnCount;i++) {
                indices[i] = startIndex + i;
                if(album.images[indices[i]] && album.images[indices[i]].size) {
                    let ratio = album.images[indices[i]].size.width /
                                    album.images[indices[i]].size.height;
                    this.$set(album.images[indices[i]], 'ratio', ratio);
                    totalWidth += ratio;
                }
            }

            let totalRatio = 100;
            let lastColumn = 0;
            let width = 0;

            indices.forEach((i, count) => {
                if(album.images[i] && album.images[i].ratio) {
                    width = Math.floor(album.images[i].ratio/totalWidth*100);
                    totalRatio -= width;
                    lastColumn = i;
                    this.$set(album.images[i], 'width', width + '%');
                }
            });

            this.$set(album.images[lastColumn], 'width', width + totalRatio + '%');
        },
        showMore() {
            this.showColumns = this.showColumns + 2;
        }
    },
    mounted() {
        // see template card
        this.$emit("mounted", this.height);

        network.post(this.loading, '/generic/Vendor/albums', {
            findOne: {
                _id: this.componentData.id
            },
            get: {
                'unwind': null
            },
            replace: {
                'images': '@Image',
                'likedBy': '|$user',
                'bookmarkedBy$': '|$user'
            }
        }).then((response) => {
            this.vendor = response.data[0];
            let images = this.vendor.albums.images.length;
            this.imageCount = (images > 5) ? 5 : images;
        });
    },
    components: {
        photo,
        pictureFullscreen,
        commentsSection,
        textEditSl
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared {
    @extend %content-element-shared;
    transition: max-height 200ms ease-in-out;
}

.outer {
    @extend %content-element-card;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.album_name {
    @extend %primary-font;
    display: flex;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 18px;
    padding-right: 0px;
}

.album_options {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding-left: 7px;
}

.settings_item {
    display: inline-block;
    @extend %secondary-font_bold;
    font-size: 11px;
    padding-right: 10px;
    color: rgb(116, 116, 116);
    cursor: pointer;
}

.settings_item:hover {
    color: black;
}

.album {
    position: relative;
    width: 100%;
}

.album_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 4px;
    z-index: 2;
    // background: linear-gradient(rgba(0,0,0, .8), rgba(0,0,0,0) 60%);
}

.album_title_container {
    display: flex;
    padding: 8px;
}

.album_title_icon {

}

.album_title_text {
    @extend %secondary-font_bold;
    font-size: 11px;
    color: rgb(99, 99, 99);
    padding-left: 6px;
    padding-top: 3px;
}

.album_header {
    height: 35px;
}

.album_grid {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0px 1px 10px 5px rgb(224, 224, 224);
    background-color: black;
}

.album_footer {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: rgb(238, 238, 238);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.album_image {
    padding: 2px;
    height: 200px;
    width: 30%;
    cursor: pointer;
}

.album_image_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.album_image_holder {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.album_image_edit {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    z-index: 4;
    opacity: 1;
    background: linear-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,0.7));
}

.album_image_edit_icon {
    position: relative;
    display: inline-block;
    padding-top: 8px;
    padding-left: 2px;
}

.album_image_bookmark {
    display: inline-block;
    padding-top: 8px;
    padding-left: 4px;
    opacity: 1;
    justify-content: center;
}

.image-menu {
    display: flex;
    flex-direction:column;
    position: absolute;
    bottom: 20px;
    left: 10px;
    z-index: 1000;
    width: 150px;
    padding: 4px;
    text-align: left;
    background-color: white;
    border: 1px solid rgb(91, 91, 91);
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.image_menu_item {
    @extend %secondary-font;
    font-size: 11px;
    color: rgb(84, 84, 84);
}

.image_menu_item:hover {
    color: black;
}

.album_like_button {
    display: inline-block;
    cursor: pointer;
}

.album_like_button:hover {
    transform: translateY(-1px);
}

.album_like_comments_stats_container {         //this is for
    @extend %primary-font;
    color: black;
    display: inline-flex;
    font-size: 12px;
    position:absolute;
    margin-left:2px;
    flex-direction: row;
}

.album_comments_stats {
    margin-left:2px;
    cursor: pointer;
}

.album_comments_button{
    display: inline-block;
    cursor: pointer;
    margin-left:2px;
}


.album_location{
    display: inline-block;
    align-items: center;
    @extend %primary-font_bold;
    font-size: 11px;
    margin: 1px;
    color: rgb(91, 91, 91);
    position: absolute;
    right: 4px;
}

.album_location_icon{
    margin-right:1px;
    vertical-align: middle;
}

.album_picture_likes {
    display: flex;
    justify-content: center;
    padding: 1px;
    margin: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.5);
    color: black;
    z-index: 4;
    border-radius: 2px;
}

.album_location_full {
    padding: 1px;
    margin: 5px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(255,255,255,0.5);
    color: black;
    z-index: 4;
    border-radius: 2px;
    font-size: 12px;
}

.album_image_fullscreen {
    z-index: 2000;
}

.expand_button {
    position: absolute;
    right: 0;
    height: 100%;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.expand_button_text {
    @extend %secondary-font;
    font-size: 11px;
}

.expand_button_icon {
    margin: 10px;
}

.empty_album {
    @extend %primary-font_bold;
    font-size: 11px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px;
}
</style>
