<template>
    <div class="shared"
         :style="{'height': height + 'px'}">
        <div class="outer">
        </div>
    </div>
</template>

<script>

export default {
    name: 'blankSpace',
    // @see template_card
    props: ['cardLoading'],
    watch: {
        // @see template_card
        'height'(val) {
            this.$emit("update:height", val);
        }
    },
    data () {
        return {
            // @see template_card
            height: 200
        }
    },
    mounted() {
        this.$emit("mounted", this.height);
    }
}
</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared {
    // @see template_card
    @extend %content-element-shared;
}

.outer {
    // @see template_card
    @extend %content-element-card;
    border: none;
    box-shadow: none;
}

</style>
