<template>
    <div class="shared"
         :style="{'height': height + 'px'}">
        <div class="outer">
            <div class="inner">
                <!-- start here -->
                <create-event-modal v-if="showCreateEventModal"
                                    :eventData="modalEventData"
                                    :action="modalActionType"
                                    :viewSelected="viewSelected"
                                    :timeRangeStart="modalTimeRangeStart"
                                    :timeRangeEnd="modalTimeRangeEnd">
                </create-event-modal>
                <div class="cc__header">
                    <div class="cc__header__time">
                        <div v-if="displayMonthSpecial != null">
                            <div class="cc__header__time-special--month">
                                {{displayMonth1}}
                            </div>
                            <div class="time-special-seperator">
                                -
                            </div>
                            <div class="cc__header__time-special--month">
                                {{displayMonth2}}
                            </div>
                        </div>
                        <div v-else>
                            <div class="cc__header__time-special--month">
                                {{displayMonth1}}
                            </div>
                        </div>
                        <div class="cc__header__time--year">
                            {{displayYear}}
                        </div>
                    </div>
                    <div class="cc__header__nav__container">
                            <div v-bind:class="{'cc__header__nav--element--disabled': !showToday}"
                                 class="cc__header__nav--element"
                                 @click="todayClick()">
                                <div class="view__selector__option--text">
                                    <img src="../../assets/icons/home_dark.png"
                                         height="16px">
                                </div>
                            </div>
                            <div class="cc__header__nav--element"
                                 @click="previousClick()">
                                <div class="view__selector__option--text">
                                    <img src="../../assets/icons/back.png"
                                         height="16px">
                                </div>
                            </div>
                            <div class="cc__header__nav--element"
                                 @click="nextClick()">
                                <div class="view__selector__option--text">
                                    <img src="../../assets/icons/next.png"
                                         height="16px">
                                </div>
                            </div>
                            <div class="view_selector_container">
                                <div class="cc__header__nav--element view__selector"
                                     :class="{ 'view__selector__option--selected': viewOption.value == viewSelected }"
                                     @click="viewSelected = viewOption.value"
                                     v-for="(viewOption, i) in viewOptions"
                                     :key="i">
                                    <div class="view__selector__option--text">
                                            <span>{{ viewOption.text }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cc__header__nav--element">
                                <div class="view__selector__option--text">
                                    <img src="../../assets/icons/search_dark.png"
                                         height="18px">
                                </div>
                            </div>
                            <div class="cc__header__nav--element" >
                                <div class="view__selector__option--text">
                                    <img src="../../assets/icons/st.png"
                                         height="16px">
                                </div>
                            </div>
                    </div>
                </div>
                <div class="cc__body" >
                    <schedule-view v-if="viewSelected=='schedule'"></schedule-view>
                    <day-view v-if="viewSelected=='day'"></day-view>
                    <week-view v-if="viewSelected=='week'"></week-view>
                    <month-view v-if="viewSelected=='month'"></month-view>
                </div>
                <!--
                <div class="cc__footer">
                    <div>
                    </div>
                </div>
                -->
                <!-- end here -->
            </div>
        </div>
        <!-- loading_mask_container encapsulates the full card size and hides
           - all it's content while the content is loaded.
           - theme.sass contains the default styles for loading mask components
           - and they should be positioned and sized to roughly replicate card
           - data positions
        -->
        <div class="loading_mask_container"
             v-if="loadingMask">
            <div class="loading_mask_d">
                <div class="loading_title_d"></div>
                <div class="loading_other_d"></div>
            </div>
        </div>
    </div>
</template>

<script>

// @see template_card
import network from '../../tools/network'
import { EventBus } from '../../tools/event_bus'

/**
 * Import schedule view
 */
import ScheduleView from './calendar_components/schedule/ScheduleView';

/**
 * Import day view
 */
import DayView from './calendar_components/day/DayView';

/**
 * Import week view
 */
import WeekView from './calendar_components/week/WeekView';

/**
 * Import month view
 */
import MonthView from './calendar_components/month/MonthView';

/**
 * Import Modal template for event creation
 */
import CreateEventModal from './calendar_components/CreateEventModal';

/**
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

/**
 * Import calendar vuex for dynamic loading
 */
import vuexCalendarModule from '../../store/modules/calendar';

/**
 * Import namespaced helpers by using createNamespacedHelpers.
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState } = createNamespacedHelpers('calendar');

/**
 * webpack dist path for /assets/stock directory
 */
const pathToCats = require.context('../../assets/stock/', true);

/**
 * Exported vue component
 */
export default {
    name: 'calendarCard',
    // @see template_card
    props: ['cardLoading'],
    // @see template_card
    components: {
        'schedule-view': ScheduleView,
        'day-view': DayView,
        'week-view': WeekView,
        'month-view': MonthView,
        'create-event-modal': CreateEventModal,
    },
    watch: {
        // @see template_card
        'loading.index'(index, oldIndex) {
            if(oldIndex && !index) {
                this.cardLoading.index--;
                this.loadingMask = false;
            }
            if(!oldIndex && index) {
                this.cardLoading.index++;
            }
        },
        // @see template_card
        'height'(val) {
            this.$emit("update:height", val);
        },
        /**
         * watcher for 'viewSelected' updates the state according to view
         */
        'viewSelected'(){
            this.initView();
        },
        /**
         * watcher for 'startOfWeel' updates the state according to view
         */
        'startOfWeek' (){
            this.initView();
        },
    },
    data () {
        return {

            // @see template_card
            loading: {
                index: 0
            },
            // @see template_card
            loadingMask: true,
            // @see template_card
            height: this.outerHeight,

            /**
             * select options for templates for month, week and day
             * renders the template selected in viewSelected variable
             */
            viewSelected : 'month',
            /**
             * Template selection options for following different calendar views
             */
            viewOptions: [
                { text: 'Schedule', value: 'schedule' },
                { text: 'Day', value: 'day' },
                { text: 'Week', value: 'week' },
                { text: 'Month', value: 'month' },
                // { text: 'Year', value: 'year' },
            ],
            /**
             * Start of week selection
             */
            sowSelected : 'Monday',
            sowOptions: [
                { text: 'Sunday', value: 'Sunday' },
                { text: 'Monday', value: 'Monday' },
            ],
            viewDay: moment().format("YYYYMMDD"),
            viewWeek: this.getWeek(),
            viewMonth: moment().month(),
            monthWeekOffset: moment().startOf('month').isoWeek(),
            /**
             * varibles for CreateEventModal
             */
            showCreateEventModal: false,
            modalEventData: null,
            modalActionType: null,

        }
    },
    created() {
        /**
         * Register Vuex module for Calendar
         */
        this.$store.registerModule('calendar', vuexCalendarModule);

        /**
         * Update calendar state relative to current date
         */
        this.updateCalendarState();

        /**
         * EventBus listener
         */
        EventBus.$on("CreateEventModal",(data) => {
            this.showCreateEventModal = data.show;
            this.modalActionType = data.action;
            this.modalEventData = data.event;
        });
    },
    beforeDestroy() {
        /**
         * Destroy EventBus listener
         */
        EventBus.$off('CreateEventModal');

        /**
         * Unregister Vuex module for Calendar
         */
        this.$store.unregisterModule('calendar', vuexCalendarModule)
    },
    mounted() {
        // @see template_card
        this.$emit("mounted", this.height);

        // @see template_card
        var that = this;

        /**
         * request to populate the event list
         * network service can be used just like axios except the 'loading'
         */
        this.$store.commit('calendar/resetState');
        this.viewMonth = moment().month();
        this.viewWeek = this.monthWeekOffset;
        if (this.sowSelected == "Sunday"){
            this.viewWeek--;
        }
        this.updateCalendarState();
        this.populateEventList(this.monthStart, this.monthEnd);
    },
    computed: {
        /**
         * map calendar state to component
         */
        ...mapState({
            displayMonth: state => state.displayMonth,
            displayYear: state => state.displayYear,
            displayMonthSpecial: state => state.displayMonthSpecial,
            displayYearSpecial: state => state.displayYearSpecial,
            timeZone: state => state.timeZone,
        }),

        /**
         * update outer div height for cc_week height changes
         */
        outerHeight() {
            var cc_inner = document.getElementsByClassName('cc_inner').offsetHeight;
            var cc__header = document.getElementsByClassName('cc__header').offsetHeight;
            var cc__footer = document.getElementsByClassName('cc__footer').offsetHeight;
            return (cc_inner + cc__header + cc__footer) + "px";
        },

        /**
         * update month names
         */
        displayMonth1(){
            // if (this.displayMonthSpecial != null) {
                // return moment(moment().month(this.displayMonth)).format("MMM");
            // } else {
                return moment(moment().month(this.displayMonth)).format("MMMM");
            // }
        },
        displayMonth2(){
            if (this.displayMonthSpecial != null) {
                return moment(moment().month(this.displayMonthSpecial)).format("MMMM");
            }
        },
        /**
         * schedule start and end dates 30 days apart
         */
        scheduleStart(){
            return moment(this.viewDay).format("YYYY-MM-DD");

        },
        scheduleEnd(){
            return moment(this.viewDay).add(30,'days').format("YYYY-MM-DD");
        },
        /**
         * Day start and end dates
         */
        dayStart(){
            return moment(this.viewDay).format("YYYY-MM-DD");

        },
        dayEnd(){
            return moment(this.viewDay).add(1,'days').format("YYYY-MM-DD");
        },
        /**
         * Week start and end dates
         */
        weekStart(){
            return moment().day(this.startOfWeek).isoWeek(this.viewWeek).format("YYYY-MM-DD");

        },
        weekEnd(){
            return moment().day(this.startOfWeek).isoWeek(this.viewWeek).add(7,'days').format("YYYY-MM-DD");
        },
        /**
         * Month start and end dates
         */
        monthStart(){
            return moment().day(this.startOfWeek).isoWeek(this.viewWeek).format('YYYY-MM-DD');
        },
        monthEnd(){
            return moment().day(this.startOfWeek).isoWeek(this.viewWeek).add(42,'days').format('YYYY-MM-DD');
        },
        /**
         * Watch for change in start of week, temporary
         */
        startOfWeek() {
            return this.sowSelected;
        },
        /**
         * Set modal time range prop
         */
        modalTimeRangeStart(){
            switch(this.viewSelected) {
            case "schedule":
                return this.scheduleStart;
            case "day":
                return this.dayStart;
            case "week":
                return this.weekStart;
            case "month":
                return this.monthStart;
            case "year":
                break;
            default:
                console.log("View Selection Invalid");
            }
        },
        /**
         * Set modal time range prop
         */
        modalTimeRangeEnd() {
            switch(this.viewSelected) {
            case "schedule":
                return this.scheduleEnd;
            case "day":
                return this.dayEnd;
            case "week":
                return this.weekEnd;
            case "month":
                return this.monthEnd;
            case "year":
                break;
            default:
                console.log("View Selection Invalid");
            }
        },
        /**
         * Return if Today button is to be shown
         */
        showToday() {
            switch(this.viewSelected) {
            case "schedule":
                return (this.viewDay = moment().format("YYYYMMDD"))? false:true;
                break;
            case "day":
                return (this.viewDay == moment().format("YYYYMMDD"))? false:true;
                break;
            case "week":
                return (this.viewWeek == this.getWeek())? false:true;
                break;
            case "month":
                return (this.viewMonth == moment().month())? false:true;
                break;
            case "year":
                break;
            default:
                console.log("View Selection Invalid");
            }
        },
    },
    methods: {
        /**
         * update weekView
         */
        initView(){
            switch(this.viewSelected) {
            case "schedule":
                this.$store.commit('calendar/resetState');
                this.viewDay = moment().format("YYYYMMDD");
                this.updateCalendarState();
                this.populateEventList(this.scheduleStart, this.scheduleEnd);
                break;
            case "day":
                this.$store.commit('calendar/resetState');
                this.viewDay = moment().format("YYYYMMDD");
                this.updateCalendarState();
                this.populateEventList(this.dayStart, this.dayEnd);
                break;
            case "week":
                this.$store.commit('calendar/resetState');
                this.viewWeek = this.getWeek();
                this.updateCalendarState();
                this.populateEventList(this.weekStart, this.weekEnd);
                break;
            case "month":
                this.$store.commit('calendar/resetState');
                this.viewMonth = moment().month();
                this.viewWeek = this.monthWeekOffset;
                if (this.sowSelected == "Sunday"){
                    this.viewWeek--;
                }
                this.updateCalendarState();
                this.populateEventList(this.monthStart, this.monthEnd);
                break;
            case "year":
                break;
            default:
                console.log("View Selection Invalid");
            }
        },
        /**
         * When forward arrow button is clicked
         * update display Day/Week/Month/Year and reevaluate state parameters
         */
        nextClick() {
            switch(this.viewSelected) {
            case "schedule":
                this.$store.commit('calendar/resetState');
                this.viewDay = moment(this.viewDay).add(1,'days').format("YYYYMMDD");
                this.updateCalendarState();
                this.populateEventList(this.scheduleStart, this.scheduleEnd);
                break;
            case "day":
                this.$store.commit('calendar/resetState');
                this.viewDay = moment(this.viewDay).add(1,'days').format("YYYYMMDD");
                this.updateCalendarState();
                this.populateEventList(this.dayStart, this.dayEnd);
                break;
            case "week":
                this.$store.commit('calendar/resetState');
                this.viewWeek++;
                this.updateCalendarState();
                this.populateEventList(this.weekStart, this.weekEnd);
                break;
            case "month":
                this.$store.commit('calendar/resetState');
                this.viewMonth++;
                var currentFirstWeek = moment().month(moment().month()).startOf('month').format();
                var calculatedFirstWeek = moment().month(this.viewMonth).startOf('month').format();
                this.viewWeek = this.monthWeekOffset + moment(calculatedFirstWeek).diff(currentFirstWeek,'weeks');
                if (this.sowSelected == "Sunday"){
                    this.viewWeek--;
                }
                this.updateCalendarState();
                this.populateEventList(this.monthStart, this.monthEnd);
                break;
            case "year":
                break;
            default:
                console.log("View Selection Invalid");
            }
        },
        /**
         * When backward arrow button is clicked
         * update display Day/Week/Month/Year and reevaluate state parameters
         */
        previousClick() {
            switch(this.viewSelected) {
            case "schedule":
                this.$store.commit('calendar/resetState');
                this.viewDay = moment(this.viewDay).subtract(1,'days').format("YYYYMMDD");
                this.updateCalendarState();
                this.populateEventList(this.scheduleStart, this.scheduleEnd);
                break;
                break;
            case "day":
                this.$store.commit('calendar/resetState');
                this.viewDay = moment(this.viewDay).subtract(1,'days').format("YYYYMMDD");
                this.updateCalendarState();
                this.populateEventList(this.dayStart, this.dayEnd);
                break;
            case "week":
                this.$store.commit('calendar/resetState');
                this.viewWeek--;
                this.updateCalendarState();
                this.populateEventList(this.weekStart, this.weekEnd);
                break;
            case "month":
                this.$store.commit('calendar/resetState');
                this.viewMonth--;
                var currentFirstWeek = moment().month(moment().month()).startOf('month').format();
                var calculatedFirstWeek = moment().month(this.viewMonth).startOf('month').format();
                this.viewWeek = this.monthWeekOffset + moment(calculatedFirstWeek).diff(currentFirstWeek,'weeks') ;
                if (this.sowSelected == "Sunday"){
                    this.viewWeek--;
                }
                this.updateCalendarState();
                this.populateEventList(this.monthStart, this.monthEnd);
                break;
            case "year":
                break;
            default:
                console.log("View Selection Invalid");
            }
        },
        /**
         * When today button is clicked
         * update display Day/Week/Month/Year and reevaluate state parameters
         */
        todayClick(){
            switch(this.viewSelected) {
            case "schedule":
                this.$store.commit('calendar/resetState');
                this.viewDay = moment().format("YYYYMMDD");
                this.updateCalendarState();
                this.populateEventList(this.scheduleStart, this.scheduleEnd);
                break;
                break;
            case "day":
                this.$store.commit('calendar/resetState');
                this.viewDay = moment().format("YYYYMMDD");
                this.updateCalendarState();
                this.populateEventList(this.dayStart, this.dayEnd);
                break;
            case "week":
                this.$store.commit('calendar/resetState');
                this.viewWeek = this.getWeek();
                this.updateCalendarState();
                this.populateEventList(this.weekStart, this.weekEnd);
                break;
            case "month":
                this.$store.commit('calendar/resetState');
                this.viewMonth = moment().month();
                this.viewWeek = this.monthWeekOffset;
                if (this.sowSelected == "Sunday"){
                    this.viewWeek--;
                }
                this.updateCalendarState();
                this.populateEventList(this.monthStart, this.monthEnd);
                break;
            case "year":
                break;
            default:
                console.log("View Selection Invalid");
            }
        },
        /**
         * weekView: get week depending on the startOfWeek
         * week - 1 value returned if today is 'Sunday' when SOW is 'Monday'
         */
        getWeek(){
            switch(this.viewSelected) {
            case "week":
                if (this.startOfWeek == "Sunday" && moment().format("dddd") == "Sunday") {
                    return moment().isoWeek();
                } else if (this.startOfWeek == "Sunday") {
                    return moment().isoWeek() -1;
                } else {
                    return moment().isoWeek();
                }
                break;
            case "month":
                if (this.startOfWeek == "Monday") {
                    return moment().isoWeek();
                } else {
                    return moment().isoWeek() -1;
                }
                break;
            default:
                return moment().isoWeek();
            }
        },
        /**
         * updateCalendarState function disables
         */
        updateCalendarState() {
            // special condition - check for week between two years
            var viewSelected = this.viewSelected;
            var startOfWeek = this.startOfWeek;
            var currentTime = moment().format();
            var displayDay = this.viewDay;
            var displayWeek = this.viewWeek;
            var displayMonth = this.viewMonth;
            var displayYear = moment().month(this.viewMonth).format("YYYY");
            var timeZone = moment().format('ZZ');
            var displayMonthSpecial = null;
            var displayYearSpecial = null;

            switch(this.viewSelected) {
            case "schedule":
                displayMonth = moment(this.viewDay, "YYYYMMDD").month();
                displayYear = moment(this.viewDay, "YYYYMMDD").format('YYYY');
                break;
            case "day":
                displayMonth = moment(this.viewDay, "YYYYMMDD").month();
                displayYear = moment(this.viewDay, "YYYYMMDD").format('YYYY');
                break;
            case "week":
                // displayMonth = moment().day(this.startOfWeek).isoWeek(this.viewWeek).format('MM');
                displayMonth = moment().day(this.startOfWeek).isoWeek(this.viewWeek).month();
                displayYear = moment().day(this.startOfWeek).isoWeek(this.viewWeek).format('YYYY');
                var weekStartYear = moment().day(this.startOfWeek).isoWeek(this.viewWeek).format('YYYY');
                var weekEndYear = moment().day(this.startOfWeek).isoWeek(this.viewWeek).add(6,'days').format('YYYY');
                if (weekStartYear != weekEndYear){
                    displayYearSpecial = moment(weekEndYear, "YYYY").format("YYYY");
                }
                var weekStartMonth = moment().day(this.startOfWeek).isoWeek(this.viewWeek).month();
                var weekEndMonth = moment().day(this.startOfWeek).isoWeek(this.viewWeek).add(6,'days').month();
                if (weekStartMonth != weekEndMonth){
                    displayMonthSpecial = weekEndMonth;
                }
                break;
            case "month":
                if (displayWeek < 0){
                    displayWeek--;
                }
                break;
            case "year":
                break;
            default:
                console.log("View Selection Invalid");
            }

            var currentTime = moment().format();
            this.$store.commit('calendar/updateCalendarState', {
                viewSelected: viewSelected,
                startOfWeek: startOfWeek,
                currentTime: currentTime,
                displayDay: displayDay,
                displayWeek: displayWeek,
                displayMonth: displayMonth,
                displayYear: displayYear,
                displayMonthSpecial: displayMonthSpecial,
                displayYearSpecial: displayYearSpecial,
                timeZone: timeZone,
            });
        },
        /**
         * Querry the DB for a givent time range
         * @param  {String} calendarId  calendarId to be modified
         * @param  {String} timeRangeStart  startTime of the selectedView to be filtered
         * @param  {String} timeRangeEnd  endTime of the selectedView to be filtered
         * @returns {}
         */
        populateEventList(timeRangeStart, timeRangeEnd) {
            // define different filter parameters
            var param = {   // Start Out End Out
                            0: [{
                                    valueType: 'Time',
                                    // below variables are evaluated as op1 {comp} op2
                                    comp: '<',
                                    op1: 'startTime',
                                    op2: timeRangeStart
                                },{
                                    valueType: 'Time',
                                    // below variables are evaluated as op1 {comp} op2
                                    comp: '>',
                                    op1: 'endTime',
                                    op2: timeRangeEnd
                                },
                                '-null'
                                ],
                            // Start Out End In
                            1: [{
                                    valueType: 'Time',
                                    // below variables are evaluated as op1 {comp} op2
                                    comp: '<',
                                    op1: 'startTime',
                                    op2: timeRangeStart
                                },{
                                    valueType: 'Time',
                                    // below variables are evaluated as op1 {comp} op2
                                    comp: '>',
                                    op1: 'endTime',
                                    op2: timeRangeStart
                                },{
                                    valueType: 'Time',
                                    // below variables are evaluated as op1 {comp} op2
                                    comp: '<',
                                    op1: 'endTime',
                                    op2: timeRangeEnd
                                },
                                '-null'
                                ],
                            // Start In End Out
                            2: [{
                                    valueType: 'Time',
                                    // below variables are evaluated as op1 {comp} op2
                                    comp: '>',
                                    op1: 'startTime',
                                    op2: timeRangeStart
                                },{
                                    valueType: 'Time',
                                    // below variables are evaluated as op1 {comp} op2
                                    comp: '<',
                                    op1: 'startTime',
                                    op2: timeRangeEnd
                                },{
                                    valueType: 'Time',
                                    // below variables are evaluated as op1 {comp} op2
                                    comp: '>',
                                    op1: 'endTime',
                                    op2: timeRangeEnd
                                },
                                '-null'
                                ],
                            // Start In End In
                            3: [{
                                    valueType: 'Time',
                                    // below variables are evaluated as op1 {comp} op2
                                    comp: '>',
                                    op1: 'startTime',
                                    op2: timeRangeStart
                                },{
                                    valueType: 'Time',
                                    // below variables are evaluated as op1 {comp} op2
                                    comp: '<',
                                    op1: 'endTime',
                                    op2: timeRangeEnd
                                },
                                '-null'
                                ],
                        }

            // variable count is used to execute vuex mutatuion only after all the promises are resolved
            var result = [], count = 0;
            for (var i in param) {
                network.post(this.loading, '/generic/Calendar/', {
                    findOne: {
                        _id: this.$store.state.calendarId
                    },
                    get: {
                        'all': null
                    },
                    replace: {
                        'events$': param[i]
                    },
                }).then((response) => {
                    count++;
                    response.data[0].events.forEach((data) => {
                        result.push(data);
                    })
                    if (count == 4) {
                        result.forEach((data) => {
                            (this.viewSelected=="week" || this.viewSelected=="day")?this.$store.commit('calendar/addEventElmnts', data): null;
                            (this.viewSelected=="month" || this.viewSelected=="schedule")?this.$store.commit('calendar/addMonthElmnts', data): null;
                        })
                    };
                });
            }
        },
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';
@import '../../sass/calendar';

.shared {

    // @see template_card
    @extend %content-element-shared;

}

.outer {

    // @see template_card
    @extend %content-element-card;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.inner {

}

.cc__body {
    justify-content: center;
    border-top: 1px solid theme-color('background', 'dark');
    border-bottom: 1px solid theme-color('background', 'dark');
    border-radius: 5px;
    border-top-right-radius: 0px;
    background-color: theme-color('background', 'light');
    min-height: 300px;
}

.cc__header{
    position: relative;
    @extend %primary-font;
    font-size: 16px;
    width: 100%;
    height: 61px;

}
.cc__footer {
    height: 30px;
}

.cc__header__time {
    display: inline-block;
    padding: 10px;
    width: 350px;
    height: 55%;
}

.time-special-seperator {
    display: inline-block;
    font-size: 14px;
    color: rgb(99, 99, 99);
}

.cc__header__time-special--month {
    display: inline-block;
    @extend %primary-font;
    font-size: 18px;
}

.cc__header__time--year {
    @extend %primary-font;
    font-size: 16px;
    color: rgb(157, 157, 157);
}

.cc__header__nav__container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 0;
    width: 75%;
}

.cc__header__nav--element {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    height: 100%;
    width: 8%;
    // padding: 0px 10px;
    border-left: 1px solid theme-color('background', 'light');
}

.cc__header__nav--element:hover {
    background-color: theme-color('background', 'dark');
    cursor: pointer;
}

.cc__header__nav--element--disabled {
    pointer-events: none;
    visibility: hidden;
}

.view_selector_container {
    display: inline-flex;
    vertical-align: top;
    width: 60%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.view__selector {
    width: 25%;
    background-color: theme-color('background', 'base');
}

.view__selector__option--selected {
    background-color: theme-color('background', 'dark');
}

.view__selector__option--text {
    text-align: center;
    @extend %secondary-font_bold;
    font-size: 11px;
    // padding: 10px;
    // margin: 0;
    width: 100%;

}

</style>
