<template>
    <div class="shared"
        :style="{'height': height + 'px'}">
        <div class="outer">
            <div class="inner">
                <div class="overlay"
                     :class="{'overlay_hidden': hideOverlay}">
                    <div class="buttons">
                        <div class="buttons_left"
                              :class="{'components_hidden': hideOverlay}">
                            <div class="button"
                                 @mouseover="msgAnimate = true"
                                 @mouseout="msgAnimate = false">
                                 Talk to us
                                <img class="icon_big"
                                     src="../../assets/icons/chat.png"
                                     width="40px"
                                     :class="{'buttons_left_animate': msgAnimate}">
                            </div>
                        </div>
                        <div class="buttons_right">
                            <div class="button"
                                 @mouseover="mapsMouseOver()"
                                 @mouseout="mapsMouseOut()">
                                 View on Maps
                                <img class="icon_big"
                                     src="../../assets/icons/route.png"
                                     width="40px"/>
                            </div>
                        </div>
                    </div>
                    <div class="details"
                         :class="{'components_hidden': hideOverlay}">
                        <div class="details_left">
                            <div class="details_left_inner">
                                <div class="detail_item">
                                    <img class="icon" src="../../assets/icons/phone.png" width="10px" alt="">
                                        <textedit-sl :loading="loading"
                                                     url="/vendor/generic"
                                                     data-key="phone.phone1"
                                                     :text.sync="phone.phone1"
                                                     style="width: 150px;"/>
                                    <img class="add_icon"
                                         v-if="!phone.phone2"
                                         src="../../assets/icons/plus.png"
                                         width="10px"
                                         @click="addPhone()">
                                </div>
                                <div v-if="phone.phone2" class="detail_item">
                                    <div class="icon_placeholder"></div>
                                        <textedit-sl :loading="loading"
                                                     url="/vendor/generic"
                                                     data-key="phone.phone2"
                                                     :text.sync="phone.phone2"
                                                     style="width: 150px;"/>
                                    <img class="add_icon"
                                         v-if="phone.phone2"
                                         src="../../assets/icons/minus.png"
                                         width="10px"
                                         @click="removePhone()"/>
                                </div>
                                <div class="detail_item">
                                    <img class="icon" src="../../assets/icons/link.png" width="10px" alt="">
                                        <textedit-sl :loading="loading"
                                                     url="/vendor/generic"
                                                     data-key="website"
                                                     :text.sync="website"
                                                     style="width: 150px;"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="details_right"
                             @mouseover="detailsMouseOver()"
                             @mouseout="detailsMouseOut()">
                            <div class="details_right_inner">
                                <div class="detail_item">
                                    <img class="icon" src="../../assets/icons/maps.png" width="10px" alt="">
                                    <textedit-sl :loading="loading"
                                                 url="/vendor/generic"
                                                 data-key="address.address"
                                                 :text.sync="address.address"/>
                                </div>
                                <div class="detail_item">
                                    <div class="icon_placeholder"></div>
                                        <textedit-sl :loading="loading"
                                                     url="/vendor/generic"
                                                     data-key="address.city"
                                                     :text.sync="address.city"/>
                                </div>
                                <div class="detail_item">
                                    <div class="icon_placeholder"></div>
                                    <textedit-sl :loading="loading"
                                                 url="/vendor/generic"
                                                 data-key="address.country"
                                                 :text.sync="address.country"/>
                                    ,
                                    <textedit-sl :loading="loading"
                                                 url="/vendor/generic"
                                                 data-key="address.postalCode"
                                                 :text.sync="address.postalCode"/>
                                  </div>
                              </div>
                        </div>
                        <div class="details_inner_right_stencil"
                             :class="{'details_inner_right_stencil_show' : showStencil}">
                            <div class="detail_item_stencil">
                                <span>
                                    Address
                                </span>
                            </div>
                            <div class="detail_item_stencil">
                                <span>
                                    City
                                </span>
                            </div>
                            <div class="detail_item_stencil">
                                <span>
                                    Country, Postal Code
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- loading_mask_container @see template_card.vue -->
        <div class="loading_mask_container"
             v-if="loadingMask">
            <div class="loading_mask_d">
                <div class="loading_title_d"></div>
                <div class="loading_other_d"></div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Services
 */
import network from '../../tools/network'

/**
 * Utility components
 */
import texteditSl from '../utility/textedit_sl.vue'

/**
 * Exported vue component
 */
export default {
    name: 'contactCard',
    // @see template_card
    props: ['cardLoading'],
    watch: {
        // @see template_card
        'loading.index'(index, oldIndex) {
            if(oldIndex && !index) {
                this.cardLoading.index--;
                this.loadingMask = false;
            }
            if(!oldIndex && index)
                this.cardLoading.index++;
        },
        'height'() {
            this.$emit("update:height", this.height);
        }
    },
    data () {
        return {
            hideOverlay: false,
            showStencil: false,
            msgAnimate: false,
            website: '',
            phone: [''],
            address: {
                address: '',
                city: '',
                country: '',
                postalCode: ''
            },

            // @see template_card
            loading: {
                index: 0
            },
            loadingMask: true,
            height: 285
        }
    },
    methods: {
        mapsMouseOver() {
            this.hideOverlay = true;
        },
        mapsMouseOut() {
            this.hideOverlay = false;
        },
        detailsMouseOver() {
            this.showStencil = true;
        },
        detailsMouseOut() {
            this.showStencil = false;
        },
        addPhone() {
            this.phone.push('+94 Your Contact Number');
        },
        removePhone() {
            this.phone.splice(1,1);
        }
    },
    mounted() {
        // @see template_card
        this.$emit("mounted", this.height);

        network.post(this.loading, '/vendor/generic', {
            vendorId: this.$store.state.vendorId,
            get: {
                'website': null,
                'phone': null,
                'address': null
            }
        }).then(response => {
            this.website = response.data[0];
            this.phone = response.data[1];
            this.address = response.data[2];
        });
    },
    components: {
        texteditSl
    }
}
</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared {
    @extend %content-element-shared;
}

.outer {
    @extend %content-element-card;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/sample_map.png');
    overflow: hidden;
}

.inner {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.overlay {
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    transition: background-color 200ms ease-in-out;
}

.overlay_hidden {
    background-color: rgba(255,255,255,0);
}

.components_hidden {
    opacity: 0;
}

.buttons {
    display: inline-flex;
    align-items: center;
    height: 40%;
    width: 100%;
}

$left_margin: 8%;

.buttons_left {
    display: inline-block;
    width: 49%;
    text-align: center;
    transition: opacity 200ms ease-in-out;
}

.buttons_right {
    display: inline-block;
    width: 50%;
    text-align: center;
    transition: opacity 200ms ease-in-out;
}

.buttons_left_animate {
    animation: pulse_2 0.4s 1;
}

.button {
  @extend %secondary-font_medium;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    padding: 5px;
    width: 50%;
}

.details {
    height: 60%;
    position: relative;
    transition: opacity 200ms ease-in-out;
    font-size: 0px;
    padding-top: 10px;
}

.details_left {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: top;
}

.details_left_inner {
    display: inline-block;
    width: 70%;
}

.details_right {
    display: inline-block;
    width: 50%;
    text-align: center;
    vertical-align: top;
}

.details_right_inner {
    display: inline-block;
    width: 70%;
}

.detail_item {
    @extend %primary-font;
    color: $text-color-2;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
}

.icon {
    margin-right: 10px;
}

.icon_placeholder {
    display: inline-block;
    width: 20px;
}

.icon_big {
    margin-left: 15px;
}

@keyframes pulse_2 {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.add_icon {
    margin-left: 15px;
    cursor: pointer;
}

.details_inner_right_stencil {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 0;
    transition: opacity 200ms ease-in-out;
}

.details_inner_right_stencil_show {
    opacity: 1;
}

.detail_item_stencil {
    @extend %primary-font;
    color: rgb(134, 133, 133);
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 15px;
    text-align: right;
}
</style>
