<template>
    <div class="shared"
         :style="{'height': height + 'px'}">
        <div class="outer-1">
            <div class="cover_header">
                <div class="profile__header">
                    <div class="profile__picture"
                         @mouseenter="mouseEnterDp()"
                         @mouseleave="mouseLeaveDp()"
                         @click="showDpFs = true">
                        <photo :source="dp.src"
                               :loading="loading"/>
                        <div v-show="showChangeDp"
                             class="change__image_dp"
                             @click="changeDpClicked()">
                            <div class="change__image_icon">
                                <img src="../../assets/photo-camera.png"
                                     width="20">
                            </div>
                        </div>
                    </div>
                    <picture-fullscreen v-if="showDpFs"
                                        @close="showDpFs = false"
                                        :images="dp"/>
                    <div class="profile__details_super-container">
                        <div class="profile__details_container">
                            <div class="profile__details">
                                <div class="profile__name">
                                    <text-edit-sl url="/generic/Vendor/"
                                                  data-key="name"
                                                  :text.sync="name"
                                                  :loading="loading"
                                                  :key-id="{
                                                      _id: this.$store.state.vendorId
                                                  }"/>
                                </div>
                                <div class="profile__type">
                                    <listselect url="/vendor/generic"
                                                data-key="vendorType"
                                                :options="vendorTypes"
                                                :selected.sync="vendorType"
                                                :loading="loading"/>
                                </div>
                                <div class="profile__ratings">
                                    <div class="rating_icon">
                                        <img src="../../assets/icons/star_gr.png"
                                             width="11px">
                                    </div>
                                    <div class="rating_icon">
                                        <img src="../../assets/icons/star_gr.png"
                                             width="11px">
                                    </div>
                                    <div class="rating_icon">
                                        <img src="../../assets/icons/star_gr.png"
                                             width="11px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cover_cover_photo"
                 @mouseenter="mouseEnterCover()"
                 @mouseleave="mouseLeaveCover()">
                <div class="cover-picture"
                     @click="showCoverFs = true">
                    <photo :source="cover.src"
                           :loading="loading"/>
                </div>
                <picture-fullscreen v-if="showCoverFs"
                                    @close="showCoverFs=false"
                                    :images="cover"/>
                <div v-show="showChangeCover"
                     class="change__image_cover"
                     @click="changeCoverClicked()">
                    <div class="change__image_icon">
                        <img src="../../assets/photo-camera.png"
                             width="20">
                    </div>
                    <div class="change__image_text">
                        Change
                    </div>
                </div>
            </div>
            <div class="vendor_details">
                <div class="vendor_details_about">
                    <div class="vendor_details_title">
                        About
                    </div>
                    <div class="vendor_details_about_editor">
                        <textedit-ml url="/vendor/generic"
                                     data-key="about"
                                     :text.sync="about"
                                     :loading="loading"/>
                    </div>
                    <div class="vendor_details_contacts">
                        <div class="vendor_details_address">
                            <div class="vendor_details_address_icon">
                                <img src="../../assets/icons/maps_l.png"
                                     width="10px">
                            </div>
                            <div class="vendor_details_address_text">
                                <div class="address_line">
                                    <text-edit-sl url="/generic/Vendor/"
                                                  data-key="address.address"
                                                  :text.sync="address.address"
                                                  :loading="loading"
                                                  :key-id="{
                                                      _id: this.$store.state.vendorId
                                                  }"/>
                                </div>
                                <div class="address_line">
                                    <text-edit-sl url="/generic/Vendor/"
                                                  data-key="address.city"
                                                  :text.sync="address.city"
                                                  :loading="loading"
                                                  :key-id="{
                                                      _id: this.$store.state.vendorId
                                                  }"/>
                                </div>
                                <div class="">
                                    <text-edit-sl url="/generic/Vendor/"
                                                  data-key="address.country"
                                                  :text.sync="address.country"
                                                  :loading="loading"
                                                  :key-id="{
                                                      _id: this.$store.state.vendorId
                                                  }"/>
                                    ,
                                    <text-edit-sl url="/generic/Vendor/"
                                                  data-key="address.postalCode"
                                                  :text.sync="address.postalCode"
                                                  :loading="loading"
                                                  :key-id="{
                                                      _id: this.$store.state.vendorId
                                                  }"/>
                                </div>
                            </div>
                        </div>
                        <div class="vendor_details_other">
                            <div class="vendor_details_item">
                                <div class="vendor_details_phone_icon">
                                    <img src="../../assets/icons/phone_l.png"
                                         width="9px">
                                </div>
                                <div class="vendor_details_phone_text">
                                    <text-edit-sl url="/generic/Vendor/"
                                                  data-key="phone.phone1"
                                                  :text.sync="phone.phone1"
                                                  :loading="loading"
                                                  :key-id="{
                                                      _id: this.$store.state.vendorId
                                                  }"/>
                                </div>
                            </div>
                            <div class="vendor_details_item">
                                <div class="vendor_details_phone_icon">
                                    <img src="../../assets/icons/link_l.png"
                                         width="9px">
                                </div>
                                <div class="vendor_details_phone_text">
                                    <text-edit-sl url="/generic/Vendor/"
                                                  data-key="website"
                                                  :text.sync="website"
                                                  :loading="loading"
                                                  :key-id="{
                                                      _id: this.$store.state.vendorId
                                                  }"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vendor_details_ratings">
                    <div class="vendor_details_title">
                        Ratings
                    </div>
                    <div class="ratings_container">
                        <div class="rating_container">
                            <div class="rating_name">
                                Value
                            </div>
                            <div class="rating_stars">
                                <img src="../../assets/icons/star.png"
                                     class="rating_star"
                                     width="10px"/>
                                <img src="../../assets/icons/star.png"
                                     class="rating_star"
                                     width="10px"/>
                                <img src="../../assets/icons/star.png"
                                     class="rating_star"
                                     width="10px"/>
                            </div>
                        </div>
                        <div class="rating_container">
                            <div class="rating_name">
                                Response
                            </div>
                            <div class="rating_stars">
                                <img src="../../assets/icons/star.png"
                                     class="rating_star"
                                     width="10px"/>
                                <img src="../../assets/icons/star.png"
                                     class="rating_star"
                                     width="10px"/>
                                <img src="../../assets/icons/star.png"
                                     class="rating_star"
                                     width="10px"/>
                                <img src="../../assets/icons/star.png"
                                     class="rating_star"
                                     width="10px"/>
                            </div>
                        </div>
                        <div class="feedback_container">
                            <img src="../../assets/icons/laurel.png"
                                 width="12px">
                            <div class="feedback_text">
                                98% positive feedback
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loading_mask_container"
             v-if="loadingMask">
            <div class="loading_mask1">
                <div class="loading_dp"></div>
                <div class="loading_title"></div>
                <div class="loading_other"></div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Utility components
 */
import photo from '../utility/photo.vue'
import textEditSl from '../utility/text_edit_sl.vue'
import texteditMl from '../utility/textedit_ml.vue'
import listselect from '../utility/listselect.vue'
import pictureFullscreen from './picture_fullscreen.vue'

/**
 * Services
 */
import { EventBus } from '../../tools/event_bus'
import network from '../../tools/network'

/**
 * Referenced data files
 */
const data = require('../../../src_api/data/vendorData.js')

/**
 * Exported vue component
 */
export default {
    name: 'coverCard',
    // @see template_card
    props: ['cardLoading'],
    watch: {
        // @see template_card
        'loading.index'(index, oldIndex) {
            if(oldIndex && !index) {
                this.cardLoading.index--;
                this.loadingMask = false;
            }
            if(!oldIndex && index)
                this.cardLoading.index++;
        },
        'height'() {
            this.$emit("update:height", this.height);
        }
    },
    data () {
        return {
            name: '',
            vendorType: 0,
            cover: {},
            dp: {},
            ratings: {},
            about: '',
            showChangeCover: false,
            showChangeDp: false,
            showDpFs: false,
            showCoverFs: false,
            vendorTypes: data.vendorTypes,
            website: '',
            phone: [''],
            address: {
                address: '',
                city: '',
                country: '',
                postalCode: ''
            },
            // @see template_card
            loading: {
                index: 0
            },
            loadingMask: true,
            height: 548
        }
    },
    methods: {
        mouseEnterCover() {
            this.showChangeCover = true;
        },
        mouseLeaveCover() {
            this.showChangeCover = false;
        },
        mouseEnterDp() {
            this.showChangeDp = true;
        },
        mouseLeaveDp() {
            this.showChangeDp = false;
        },
        changeCoverClicked() {
            var that = this;

            EventBus.$emit('image-uploader', {
                postUrl: '/vendor/card/covercard/cover',
                callback(image) {
                    network.post(that.loading, '/generic/Image/', {
                        findOne: {
                            _id: image.id
                        },
                        get: {
                            'all': null
                        }
                    }).then((response) => {
                        that.cover = response.data[0];
                    });
                }
            });
        },
        changeDpClicked() {
            var that = this;
            EventBus.$emit('image-uploader', {
                postUrl: '/vendor/card/covercard/dp',
                callback: function(image) {
                    network.post(that.loading, '/generic/Image/', {
                        findOne: {
                            _id: image.id
                        },
                        get: {
                            'all': null
                        }
                    }).then((response) => {
                        that.dp = response.data[0];
                    });
                }
            });
        }
    },
    mounted() {
        this.$emit("mounted", this.height);

        let get = {
            name: null,
            vendorType: null,
            cover: null,
            dp: null,
            ratings: null,
            about: null,
            website: null,
            phone: null,
            address: null
        }

        network.post(this.loading, '/generic/Vendor/', {
            findOne: {
                _id: this.$store.state.vendorId
            },
            get,
            replace: {
                'dp': '@Image',
                'cover': '@Image'
            }
        }).then(response => {
            Object.getOwnPropertyNames(get).forEach((prop, index) => {
                this[prop] = response.data[index];
            });
        });

    },
    components: {
        photo,
        textEditSl,
        texteditMl,
        listselect,
        pictureFullscreen
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

$internal-margin: 20px;

.shared {
    // @see template_card
    @extend %content-element-shared;
}

.outer-1 {
    // @see template_card
    @extend %content-element-card;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.outer-2 {
    display: inline-block;
    @extend %content-element-card;
    width: calc(35% - #{$internal-margin});
    height: calc(100% - #{$internal-margin});
    margin-top: $internal-margin;
    background-color: rgb(252, 252, 252);
}

.outer-3 {
    display: inline-block;
    @extend %content-element-card;
    width: 65%;
    height: calc(100% - #{$internal-margin});
    margin-top: $internal-margin;
    margin-left: $internal-margin;
}

.cover_cover_photo {
    position: relative;
    width: 100%;
    height: 285px;
    border-radius: 5px;
    overflow: hidden;
}

.inner-2 {
    height: 100%;
    width: 100%;
    text-align: center;
}

.outer-2-3-container {
    display: flex;
    align-items: center;
    height: 30%;
    width: 100%;
}

.vendor_details {
    height: 150px;
    background-color: white;
    font-size: 0px;
}

.vendor_details_about {
    display: inline-block;
    position: relative;
    width: 65%;
    height: 100%;
    vertical-align: top;
}

.vendor_details_ratings {
    position: relative;
    display: inline-block;
    width: 35%;
    height: 100%;
    vertical-align: top;
    background-color: rgb(247, 247, 247);
}

.vendor_details_title {
    @extend %secondary-font_bold;
    font-size: 11px;
    padding: 12px 10px 10px 10px;
}

.vendor_details_about_editor {
    @extend %secondary-font;
    font-size: 11px;
    height: 40px;
    padding: 5px 10px 0px 10px;
}

.vendor_details_contacts {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px 10px 12px 10px;
    background-color: rgb(252, 252, 252);
    background-image: url('../../assets/gravel2.png');
    background-repeat: repeat;
}

.vendor_details_address {
    display: inline-block;
    width: 50%;

}

.vendor_details_other {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    // position: absolute;
    // top: 0;
    // right: 0;
    // padding: 10px 20px 0 0;
}

.vendor_details_address_icon {
    display: inline-block;
    width: 12px;
    vertical-align: top;
    padding-top: 1px;
}

.vendor_details_address_text {
    display: inline-block;
    @extend %secondary-font;
    font-size: 11px;
    vertical-align: top;
    padding-left: 5px;
    color: rgb(78, 78, 78);
}

.address_line {
    padding-bottom: 3px;
}

.vendor_details_item {
    padding-bottom: 3px;
    min-width: 130px;
}

.vendor_details_phone_icon {
    display: inline-block;
    width: 12px;
    vertical-align: top;
    padding-top: 1px;
}

.vendor_details_phone_text {
    display: inline-block;
    @extend %secondary-font;
    font-size: 11px;
    vertical-align: top;
    padding-left: 5px;
    color: rgb(78, 78, 78);
}

.ratings_container {
    padding-top: 4px;
}

.rating_container {
    padding-left: 10px;
    padding-bottom: 6px;
}

.rating_name {
    display: inline-block;
    @extend %secondary-font;
    font-size: 11px;
    width: 60px;
    vertical-align: top;
}

.rating_stars {
    display: inline-block;
    vertical-align: top;
    padding-top: 1px;
}

.feedback_container {
    position: absolute;
    left: 0;
    bottom: 0;
    @extend %secondary-font_medium;
    font-size: 11px;
    padding: 10px 0px 12px 10px;;
}

.feedback_text {
    display: inline-block;
    padding: 0 0 0px 5px;
    vertical-align: top;
}
.rating_star {
    margin-left: 3px;
}

.rating_icon {
    display: inline-block;
    padding: 0px 0px 3px 0px;
}

.cover-picture {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0, .53));
    z-index: 1;
    border-radius: $card-border-radius;
    margin: 0px;
}

.profile__header {
    display: flex;
    align-items: flex-end;
    position: absolute;
    z-index: 2;
    bottom: -40px;
    // width: 50%;
}

.profile__picture {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: solid 1px rgb(162, 162, 162);
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.cover_header {
    position: relative;
    height: 80px;
}

.profile__details_super-container {
    display: inline-block;
    height: 100%;
    margin: 10px 0px 47px 0px;
}

.profile__details_container {
    height: 100%;
}

.profile__details {
    position: relative;
}

.profile__name {
    @extend %primary-font;
    font-size: 16px;
    color: rgb(0, 0, 0);
    // text-shadow: 0 0 3px rgba(0, 0, 0, .4);
}

.profile__type {
    @extend %primary-font;
    font-size: 12px;
    color: rgb(179, 179, 179);
    // text-shadow: 0 0 3px rgba(255, 255, 255, .4);
}

.profile__ratings {
    display: inline-block;
}

.ratings__container {
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: left;
}

.ratings__title {
    @extend %secondary-font_medium;
    color: black;
    font-size: 13px;
    height: 20%;
}

.ratings__ratings {
    padding-top: 10px;
    width: 100%;
}

.ratings__rating {
    text-align: left;
    margin: 0px 0px 0px 0px;
}

.ratings__name {
    @extend %secondary-font_medium;
    color: $text-color-2;
    font-size: 12px;
    line-height: 0px;
    display: inline-block;
    width: 40%;
}

.ratings__icon {
    display: inline-block;
    margin-right: 3px;
}

.ratings__image {
    width: 11px;
}

.description__container {
    height: 100%;
    padding: 20px;
}

.description {
    @extend %secondary-font ;
    color: rgb(84, 84, 84);
    font-size: 12px;
    text-align: left;
    padding-top: 15px;
}

.description_title {
    @extend %secondary-font_medium;
    color: black;
    font-size: 13px;
    height: 20%;
    display: inline-block;
    margin-right: 10px;
}

.para {
    margin: 0px;
}

.change__image_cover {
    display: flex;
    align-items: center;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(255,255,255,0.5);
    color: black;
    z-index: 4;
    border-bottom-left-radius: 5px;
}

.change__image_cover:hover {
    cursor: pointer;
}

.change__image_icon {
    display: inline-block;
    height: 20px;
}

.change__image_text {
    @extend %secondary-font;
    display: inline-block;
    font-size: 11px;
    margin-left: 5px;
}

.change__image_dp {
    display: flex;
    align-items: center;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(255,255,255,0.5);
    color: black;
    z-index: 2;
    border-bottom-left-radius: 5px;
}

.change__image_dp:hover {
    cursor: pointer;
}

.loading_mask1 {
    @extend %content-element-card;
    height: 100%;
    width: 100%;
    background-color: rgb(235, 235, 235);
    position: relative;
}

.loading_dp {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(223, 223, 223);
}

.loading_title {
    position: absolute;
    top: 45px;
    left: 130px;
    width: 170px;
    height: 30px;
    background-color: rgb(223, 223, 223);
    opacity: 1;
    animation: pulse_2 600ms infinite;
}

.loading_other {
    position: absolute;
    top: 80px;
    left: 130px;
    width: 150px;
    height: 15px;
    background-color: rgb(223, 223, 223);
    opacity: 1;
    animation: pulse_2 600ms infinite;
}

@keyframes pulse_2 {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


</style>
