<template>
    <div class="shared"
         :style="{'max-height': height + 'px'}">
        <div class="outer">
            <div class="package_details"
                 :style="{'max-height': packageDetailsHeight + 'px'}">
                 <div class="package_details_header">
                     <div class="package_details_text"
                          @click="expandPackage()">
                         <div class="package_details_container">
                             <div class="package_name">
                                 <div class="package_name_vendor">
                                     {{package.name}}
                                 </div>
                                 <div class="package_name_package">
                                      <div v-show="!editName"
                                           class="package_name_display"
                                           :class="{'editable_cursor': package.editable}"
                                           @click.stop="editPackageName()">
                                           , {{package.packages.name}}
                                      </div>
                                      <div v-show="editName">
                                          <input type="text"
                                                 ref="packageNameEditor"
                                                 class="package_name_input"
                                                 v-model="localPackageName"
                                                 @click.stop
                                                 @blur="packageNameEdited()">
                                      </div>
                                 </div>
                             </div>
                             <div class="package_rating">
                                 <div class="ratings__icon"
                                      v-for="rating in package.packages.rating">
                                     <img class="ratings__image"
                                          src="../../assets/star_gr.png" alt="">
                                 </div>
                             </div>
                             <div class="package_contents">
                                 <div class="package_contents_description">
                                     <div v-show="!editDescription"
                                          class="package_description_display"
                                          :class="{'editable_cursor': package.editable}"
                                          @click.stop="editPackageDescription()">
                                         {{package.packages.description}}
                                     </div>
                                     <div v-show="editDescription">
                                         <textarea type="text"
                                                   ref="packageDescriptionEditor"
                                                   class="package_description_input"
                                                   v-model="localPackageDescription"
                                                   @click.stop
                                                   @blur="packageDescriptionEdited()">
                                         </textarea>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="package_details_cost_container">
                             <div class="package_details_cost_total">
                                 <div class="package_details_cost">
                                     <div class="package_cost_display">
                                         {{totalCost}}
                                     </div>
                                 </div>
                                 <div class="package_details_currency">
                                     {{package.packages.price.currency}}
                                 </div>
                             </div>
                             <div class="package_details_cost_sum"
                                  v-if="addonsCost > 0">
                                 <div class="package_details_cost_original">
                                     {{package.packages.price.val}}
                                 </div>
                                 <div class="sum">
                                     +
                                 </div>
                                 <div class="package_details_cost_addons">
                                     {{addonsCost}}
                                 </div>
                                 <div class="equals">
                                     =
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="package_details_links">
                         <div class="package_details_link"
                              @click="shortlistPackage()">
                            <div class="package_details_link_text"
                                 v-if="!shortlisted">
                                Shortlist Package
                            </div>
                            <div class="package_details_link_text"
                                 v-else>
                                Shortlisted
                                <img src="../../assets/icons/tick.png"
                                     width="10px"
                                     style="margin-left: 5px;">
                            </div>
                        </div>
                         <div class="package_details_link">
                             <div class="package_details_link_text">
                                 Send to ...
                             </div>
                         </div>
                         <div class="package_details_link">
                             <div class="package_details_link_text">
                                 Compare with ...
                             </div>
                         </div>
                         <div class="package_details_link">
                             <div class="package_details_link_text">
                                 Message vendor
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="package_details_bottom_container">
                     <div class="package_details_bottom">
                         <div class="package_details_options_container"
                              :style="{'max-height': optionsHeight + 'px'}">
                             <div class="minimizer"
                                  :class="{'minimizer-minimized': !optionsExpanded}"
                                  @click="optionsExpanded = !optionsExpanded">
                                  <span v-if="optionsExpanded">
                                      [ - ]
                                  </span>
                                  <span v-if="!optionsExpanded">
                                      Options [ + ]
                                  </span>
                             </div>
                             <div class="package_details_options_left">
                                 <div class="package_details_option_left_container"
                                      v-for="(option, index) in leftOptions">
                                     <div class="package_details_option_left">
                                         <package-option :option-object="option"
                                                         :editable="package.editable"
                                                         :package-format.sync="package.packages.format"
                                                         :package-id="package.packages._id"
                                                         :loading="loading"
                                                         @update-options="updateOptions()"/>
                                         <span class="add_option_individual"
                                               v-if="!option.defaultOption && package.editable"
                                               @click="removeOptionFromPackage(option)">Remove</span>
                                     </div>
                                 </div>
                             </div>
                             <div class="package_details_options_right">
                                 <div class="package_details_option_right_container">
                                      <div class="package_details_option_right">
                                          <div class="option_type">
                                              <span>Format :</span>
                                              <span v-if="!formatEdit"
                                                    @click="changeFormatOption()"
                                                    class="text_option_bold">
                                                    {{formatOptions[package.packages.format]}}
                                              </span>
                                              <select class="select"
                                                      v-show="formatEdit"
                                                      @blur="formatOptionChanged()"
                                                      ref="formatEditor">
                                                  <option class="select_option"
                                                          v-for="(option, index) in formatOptions"
                                                          :value="option">
                                                          {{option}}
                                                  </option>
                                              </select>
                                          </div>
                                     </div>
                                 </div>
                                 <div class="package_details_option_right_container"
                                      v-for="(option, index) in rightOptions">
                                     <div class="package_details_option_right">
                                         <package-option :option-object="option"
                                                         :editable="package.editable"
                                                         :package-format.sync="package.packages.format"
                                                         :package-id="package.packages._id"
                                                         :loading="loading"
                                                         @update-options="updateOptions()"/>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="package_details_addons_container"
                              :style="{'max-height': addonsHeight + 'px'}">
                              <div class="minimizer"
                                   :class="{'minimizer-minimized': !addonsExpanded}"
                                   @click="addonsExpanded = !addonsExpanded">
                                   <span v-if="addonsExpanded">
                                       [ - ]
                                   </span>
                                   <span v-if="!addonsExpanded">
                                       Addons [ + ]
                                   </span>
                              </div>
                             <div class="package_details_addons">
                                 <div class="addons_title">
                                     Add-ons :
                                     <div class="total_addon_cost">
                                         = {{addonsCost}} $
                                     </div>
                                 </div>
                                 <div class="package_details_option_left_container"
                                      v-for="(addon, index) in addons">
                                     <div class="package_details_option_left">
                                         <package-addon :option-object="addon"
                                                        :editable="package.editable"
                                                        :package-format="package.packages.format"
                                                        :package-id="package.packages._id"
                                                        :loading="loading"
                                                        @select-addon="selectAddon(addon)"
                                                        @deselect-addon="deselectAddon(addon)"
                                                        @modify-multiplier="modifyMultiplier(addon, $event)"/>
                                         <span class="add_option_individual"
                                               v-if="package.editable"
                                               @click="removeAddonFromPackage(index)">
                                               Remove
                                         </span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="package_details_reviews_container"
                              :style="{'max-height': reviewsHeight + 'px'}">
                              <div class="minimizer"
                                   :class="{'minimizer-minimized': !reviewsExpanded}"
                                   @click="reviewsExpanded = !reviewsExpanded">
                                   <span v-if="reviewsExpanded">
                                       [ - ]
                                   </span>
                                   <span v-if="!reviewsExpanded">
                                       Reviews [ + ]
                                   </span>
                              </div>
                              <div class="package_details_reviews">
                                   <div v-if="package.reviews.length>0">
                                       <div class="package_details_review"
                                            v-for="review in package.reviews">
                                            <div class="">
                                                <span v-for="num in review.rating">
                                                    <img class="ratings__image"
                                                         src="../../assets/star_gr.png" alt="">
                                                </span>
                                            </div>
                                           <span class="review_quotes"> " </span>
                                           {{review.review}}
                                           <span class="review_quotes"> " </span>
                                           <div class="review_name">
                                               {{review.by}}
                                           </div>
                                       </div>
                                   </div>
                                   <div v-else
                                        class="package_details_review_placeholder">
                                        <div class="review_text">
                                            No reviews yet for this package
                                        </div>
                                   </div>
                              </div>
                         </div>
                     </div>
                     <div class="package_details_subscribed_container"
                          :style="{'max-height': subsHeight + 'px'}">
                           <div class="minimizer"
                                :class="{'minimizer-minimized': !subsExpanded}"
                                @click="subsExpanded = !subsExpanded">
                                <span v-if="subsExpanded">
                                    [ - ]
                                </span>
                                <span v-if="!subsExpanded">
                                    Subscription [ + ]
                                </span>
                           </div>
                           <div class="package_details_subscribed">

                           </div>
                     </div>
                 </div>
            </div>
            <div class="package_images_container" @click="showFullImage=true">
                <div class="package_images" >
                    <photo :source="package.packages.images[imageId].src"
                           :loading="loading"/>

                    <div class="package_more"
                         @click="expandPackage()">
                        <img src="../../assets/icons/more_w.png"
                             width="15px">
                    </div>
                    <div class="package_images_back_button"
                         @click="lastImage()">
                         <div class="back_button_container">
                             <div class="button_icon">
                                 <img src="../../assets/icons/back_t.png"
                                      width="32px">
                             </div>
                         </div>
                    </div>
                    <div class="package_images_next_button"
                         @click="nextImage()">
                         <div class="next_button_container">
                             <div class="button_icon">
                                 <img src="../../assets/icons/next_t.png"
                                      width="32px">
                             </div>
                         </div>
                    </div>
                    <div class="package_images_navigator">
                        <div class="images_navigator_box"
                             v-for="image in package.packages.images"
                             :class="{
                                 'images_navigator_box-active': (image == package.packages.images[imageId])
                                 }"
                             @click="gotoImage(image.src)">
                        </div>
                    </div>
                    <div class="package_images_overlay"
                         @mouseover="showTools=true"
                         @mouseout="showTools=false">
                        <div class="package_images_action_bar">
                            <div class="image_location">
                                <img class="image_location_icon"
                                     src="../../assets/icons/maps_g.png"
                                     width="12px">
                                {{package.packages.images[imageId].location}}
                            </div>
                            <div class="upload_image"
                                 v-if="package.packages.images[imageId].sample"
                                 v-show="showTools"
                                 @click="replaceSampleImage()">
                                Replace Image
                            </div>
                            <div class="upload_image"
                                 v-if="!package.packages.images[imageId].sample"
                                 v-show="showTools"
                                 @click="addImage()">
                                Add new Image
                            </div>
                            <div class="upload_image"
                                 v-if="!package.packages.images[imageId].sample"
                                 v-show="showTools"
                                 @click="deleteImage()">
                                Delete Image
                            </div>
                            <div class="upload_image"
                                 v-if="!package.packages.images[imageId].sample"
                                 v-show="showTools"
                                 @click="moveImage(-1)">
                                Move to left
                            </div>
                            <div class="upload_image"
                                 v-if="!package.packages.images[imageId].sample"
                                 v-show="showTools"
                                 @click="moveImage(1)">
                                Move to right
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <comments-section :id="package.packages.images[imageId]._id"
                              url="/generic/Image/"
                              :height.sync="commentsSectionHeight"
                              :loading="loading"/>
        </div>
        <!-- @see template_card -->
        <div class="loading_mask_container"
             v-if="loadingMask">
            <div class="loading_mask_d">
                <div class="loading_title_d"></div>
                <div class="loading_other_d"></div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Services
 */
import network from '../../tools/network'
import { EventBus } from '../../tools/event_bus'

/**
* Referenced data files
*/
const data = require('../../../src_api/data/vendorData.js')

/**
 * Utility components
 */
import photo from '../utility/photo.vue'
import packageOption from '../utility/package_option.vue'
import packageAddon from '../utility/package_addon_planner.vue'
import texteditSl from '../utility/textedit_sl.vue'
import pictureFullscreen from './picture_fullscreen.vue'
import commentsSection from '../utility/comments_section.vue'

/**
 * Exported vue component
 */
export default {
    name: 'packageCard',
    // @see template_card
    props: ['componentData', 'cardLoading'],
    watch: {
        // @see template_card
        'loading.index'(index, oldIndex) {
            if(oldIndex && !index) {
                this.cardLoading.index--;
                this.loadingMask = false;
            }
            if(!oldIndex && index) {
                this.cardLoading.index++;
            }
        },
        'outputHeight'(val) {
            this.$emit("update:height", val);
        }
    },
    computed: {
        leftOptions() {
            return this.package.packages.options.filter((element, index) => {

                let tempHolder = {
                    timeConstrain_: undefined,
                    numberProvided_: undefined
                }

                if(this.package.packages.subscribed.length > 0) {
                    this.package.packages.subscribed[0].addons.forEach((addon, index) => {
                        if((addon.optionKey == element.optionKey) &&
                                (addon.selectedEvent == element.selectedEvent) &&
                                (addon.selectedOption == element.selectedOption)) {
                            tempHolder[addon.modifies + '_'] =
                                    addon[addon.modifies] * addon.addonMultiplier;
                        }
                    });
                }

                Object.getOwnPropertyNames(tempHolder).forEach((prop) => {
                    element[prop] = tempHolder[prop];
                });

                element.optionIndex = index;
                return !element.rightOption;
            });
        },
        rightOptions() {
            return this.package.packages.options.filter(function(element, index) {
                element.optionIndex = index;
                return element.rightOption;
            });
        },
        optionsHeight() {
            if(this.optionsExpanded) {
                return (24 * this.leftOptions.length) + 30;
            } else {
                return 15;
            }
        },
        addonsHeight() {
            if(this.addonsExpanded) {
                return (24 * this.addons.length) + 30 + 16;
            } else {
                return 15;
            }
        },
        reviewsHeight() {
            if(this.reviewsExpanded) {
                return (this.package.reviews.length > 0) ? 112 : 40;
            } else {
                return 15;
            }
        },
        subsHeight() {
            if(this.subsExpanded) {
                return 112
            } else {
                return 15;
            }
        },
        packageDetailsHeight() {
            return this.packageExpanded ?
                        this.optionsHeight + this.addonsHeight +
                        this.reviewsHeight + this.subsHeight + 112 :
                        112;
        },
        height() {
            let temp = 390 + this.packageDetailsHeight + this.commentsSectionHeight;

            /**
             * Using a watch on the secondary outputHeight variable for
             * change detection and updating the parent component
             */
            this.outputHeight = temp;
            return temp;
        },
        commentsReversed() {
            return this.package.packages.images[this.imageId].comments.reverse();
        },
        visibleComments() {
            return this.commentsReversed.filter(
                (element, index) => index < this.maxComments);
        },
        shortlisted() {
            if(this.package.packages.subscribed) {
                return this.package.packages.subscribed[0] &&
                            !this.package.packages.subscribed[0].local
            } else {
                return false;
            }
        },
        addons() {
            let subscription = this.package.packages.subscribed;

            let subscribed = [];
            if((subscription.length > 0) && subscription[0].addons) {
                subscribed = this.package.packages.subscribed[0].addons;
            }

            subscribed.forEach(addon => {addon.selected = true});

            let subscribedIndices = subscribed.map((addon, index) => {
                addon.addonIndex = index;
                addon.subscriptionIndex = subscription[0].itemIndex;
                return addon.optionKey + ',' +
                            addon.optionType + ',' +
                            addon.selectedEvent + ',' +
                            addon.selectedOption;
            });

            let other = [];
            if(this.package.packages.addons) {
                other = this.package.packages.addons.filter((addon, index) => {
                    addon.addonIndex = index;
                    let sign = addon.optionKey + ',' + addon.optionType + ',' +
                                    addon.selectedEvent + ',' + addon.selectedOption;
                    return !subscribedIndices.includes(sign);
                });
            }

            other.forEach((addon, index) => {addon.selected = false});

            return subscribed.concat(other).sort((b, a) => {
                return ((b.optionKey - a.optionKey)*10000) + ((b.optionType - a.optionType)*100) +
                            ((b.selectedEvent - a.selectedEvent)*10) + (b.selectedOption - a.selectedOption);
            });
        },
        addonsCost() {
            let addonCost = 0;
            if(this.package.packages.subscribed.length != 0) {
                this.package.packages.subscribed[0].addons.forEach((addon) => {
                    addonCost += addon.addonCost * addon.addonMultiplier;
                });
            }
            return addonCost;
        },
        totalCost() {
            return this.package.packages.price.val + this.addonsCost;
        }
    },
    data () {
        return {
            showFullImage: false,
            packageExpanded: false,
            optionsExpanded: true,
            addonsExpanded: true,
            reviewsExpanded: false,
            subsExpanded: false,
            packageAddOption: false,
            package: {
                packages: {
                    price: {

                    },
                    options: [],
                    images: [{
                        comments: []
                    }],
                    subscribed: [{
                        addons: []
                    }]
                },
                reviews: []
            },
            imageId: 0,
            formatOptions: data.formatOptions,
            formatEdit: false,
            customOptionText: 'Custom option..',
            editName: false,
            localPackageName: '',
            editDescription: false,
            localPackageDescription: '',
            editCost: false,
            localPackageCost: '',
            showTools: false,
            outputHeight: 559,
            commentsSectionHeight: 0,
            // @see template_card
            loading: {
                index: 0
            },
            loadingMask: true
        }
    },
    methods: {
        lastImage() {
            // decrement imageId if greater than zero, else go to the last image
            if(this.imageId > 0) {
                this.imageId--;
            } else {
                this.imageId = this.package.packages.images.length - 1;
            }
        },
        nextImage() {
            // imcrement imageId if smaller than number of images, else go back to zero
            if(this.imageId < (this.package.packages.images.length-1)) {
                this.imageId++;
            } else {
                this.imageId = 0;
            }
        },
        gotoImage(imageSrc) {
            var that = this;
            this.package.packages.images.forEach((image, index) => {
                if(imageSrc == image.src) {
                    that.imageId = index;
                }
            })
        },
        renderOption(option, index) {
            var optionString = '';
            var optionArray = this.optionTypes[option.optionType];
            for(var i=0;i<optionArray.length;i++) {
                optionString += option[optionArray[i]] + ' ';
            }
            return optionString;
        },
        expandPackage() {
            if(!this.editName) {
                this.packageExpanded = !this.packageExpanded;
                this.packageAddOption = false;
            }
        },
        expandReviews() {
            this.reviewsExpanded = !this.reviewsExpanded;
        },
        addOptionToPackage(option) {
            network.post(this.loading, '/package/generic', {
                packageId: this.componentData.id,
                modify: {
                    'options+': option
                },
                get: {
                    'options': null
                }
            }).then((response)=> {
                this.package.packages.options = response.data[0];
                this.packageAddOption = false;
            });

        },
        removeOptionFromPackage(option) {
            network.post(this.loading, '/package/generic', {
                packageId: this.componentData.id,
                modify: {
                    'options-': option.optionIndex
                },
                get: {
                    'options': null
                }
            }).then((response)=> {
                this.package.packages.options = response.data[0];
            });
        },
        changeFormatOption() {
            if(this.package.editable) {
                this.formatEdit = true;
                this.$refs.formatEditor.selectedIndex = this.package.packages.format;
            }
        },
        formatOptionChanged() {
            this.formatEdit = false;
            if(this.$refs.formatEditor.selectedIndex != this.packageFormat) {
                this.package.packages.format = this.$refs.formatEditor.selectedIndex;
                network.post(this.loading,'/package/generic', {
                    packageId: this.componentData.id,
                    modify: {
                        'format': this.package.packages.format
                    },
                    get: {
                        'options': null
                    }
                }).then((response) => {
                    this.package.packages.options = response.data[0];
                })
            }
        },
        updateOptions() {
            network.post(this.loading,'/package/generic', {
                packageId: this.componentData.id,
                get: {
                    'options': null
                }
            }).then((response) => {
                this.package.packages.options = response.data[0];
            });
        },
        updateAddons() {
            network.post(this.loading,'/package/generic', {
                packageId: this.componentData.id,
                get: {
                    'addons': null,
                    'subscribed': null
                },
                replace: {
                    'subscribed$': '-null'
                }
            }).then((response) => {
                this.package.packages.addons = response.data[0];
                this.package.packages.subscribed = response.data[1];
            });
        },
        customOptionFocus() {
            if(this.customOptionText == 'Custom option..') {
                this.customOptionText = '';
            }
        },
        customOptionBlur() {
            if(this.customOptionText == '') {
                this.customOptionText = 'Custom option..';
            }
        },
        editPackageName() {
            if(this.package.editable) {
                this.editName = true;
                this.localPackageName = this.package.packages.name;
                this.$nextTick(() => {
                    this.$refs.packageNameEditor.select();
                    this.$refs.packageNameEditor.focus();
                });
            }
        },
        packageNameEdited() {
            network.post(this.loading,'/package/generic', {
                packageId: this.componentData.id,
                modify: {
                    'name': this.localPackageName
                }
            }).then((response) => {
                this.package.packages.name = this.localPackageName;
                this.editName = false;
            })
        },
        editPackageDescription() {
            if(this.package.editable) {
                this.editDescription = true;
                this.localPackageDescription = this.package.packages.description;
                this.$nextTick(() => {
                    this.$refs.packageDescriptionEditor.select();
                    this.$refs.packageDescriptionEditor.focus();
                });
            }
        },
        packageDescriptionEdited() {
            network.post(this.loading,'/package/generic', {
                packageId: this.componentData.id,
                modify: {
                    'description': this.localPackageDescription
                }
            }).then((response) => {
                this.package.packages.description = this.localPackageDescription;
                this.editDescription = false;
            })
        },
        editPackageCost() {
            if(this.package.editable) {
                this.editCost = true;
                this.localPackageCost = this.package.packages.price.val;
                this.$nextTick(() => {
                    this.$refs.packageCostEditor.select();
                    this.$refs.packageCostEditor.focus();
                });
            }
        },
        packageCostEdited() {
            if(parseInt(this.localPackageCost) == NaN) {
                this.localPackageCost = this.package.packages.price.val;
                this.editCost = false;
                return;
            }
            network.post(this.loading,'/package/generic', {
                packageId: this.componentData.id,
                modify: {
                    'price.val': parseInt(this.localPackageCost)
                }
            }).then((response) => {
                this.package.packages.price.val = parseInt(this.localPackageCost);
                this.editCost = false;
            })
        },
        replaceSampleImage() {
            EventBus.$emit('image-uploader', {
                postUrl: '/vendor/card/packagecard/image',
                data: {
                    packageIndex: this.package.unwindIndex,
                    imageIndex: this.imageId
                },
                callback: (image) => {
                    network.post(this.loading,'/package/generic', {
                        packageId: this.componentData.id,
                        get: {
                            'images': null
                        },
                        replace: {
                            'images$': '@Image',
                            'likedBy$': '|$user',
                        }
                    }).then((response) => {
                        this.package.packages.images = response.data[0];
                    })
                }
            });
        },
        addImage() {
            EventBus.$emit('image-uploader', {
                postUrl: '/vendor/card/packagecard/image',
                data: {
                    packageIndex: this.package.unwindIndex
                },
                callback: (image) => {
                    network.post(this.loading,'/package/generic', {
                        packageId: this.componentData.id,
                        get: {
                            'images': null
                        },
                        replace: {
                            'images$': '@Image',
                            'likedBy$': '|$user',
                        }
                    }).then((response) => {
                        this.package.packages.images = response.data[0];
                        this.imageId = response.data[0].images.length - 1;
                    })
                }
            });
        },
        deleteImage() {
            network.post(this.loading,'/package/generic', {
                packageId: this.componentData.id,
                modify: {
                    'images-': this.imageId
                },
                get: {
                    'images': null
                },
                replace: {
                    'images$': '@Image',
                    'likedBy$': '|$user',
                }
            }).then((response) => {
                if(this.imageId) {
                    this.imageId--;
                } else {
                    this.imageId++;
                }

                this.package.packages.images = response.data[0];
            })
        },
        moveImage(moveBy) {
            network.post(this.loading,'/package/generic', {
                packageId: this.componentData.id,
                modify: {
                    'images>': [this.imageId, moveBy]
                },
                get: {
                    'images': null
                },
                replace: {
                    'images$': '@Image',
                    'likedBy$': '|$user',
                }
            }).then((response) => {
                let newId = this.imageId + moveBy;
                let arrayLength = this.package.packages.images.length;

                if(newId >= arrayLength) {
                    newId = newId - arrayLength;
                }
                if(newId < 0) {
                    newId = arrayLength + newId;
                }

                this.imageId = newId;
                this.package.packages.images = response.data[0];
            })
        },
        shortlistPackage() {
            if(!this.shortlisted) {
                let localAddons = [];
                if(this.package.packages.subscribed[0]) {
                    localAddons = this.package.packages.subscribed[0].addons;
                }
                if(this.package.packages.subscribed)
                network.post(this.loading, '/package/generic', {
                    packageId: this.componentData.id,
                    modify: {
                        'subscribed+': {
                            by: '$user',
                            status: -1,
                            addons: localAddons
                        }
                    },
                    get: {
                        subscribed: null
                    },
                    replace: {
                        'subscribed$': '-null'
                    },
                    ignore: true
                }).then((response) => {
                    this.package.packages.subscribed = response.data[0];
                });
            }
        },
        saveAddons() {
            if(this.shortlisted) {
                network.post(this.loading, '/package/generic', {
                    packageId: this.componentData.id,
                    modify: {
                        ['subscribed.'+
                        this.package.packages.subscribed[0].itemIndex +
                        '.addons']: this.package.packages.subscribed[0].addons
                    },
                    ignore: true
                }).then((response) => {
                    this.updateAddons()
                });
            }
        },
        selectAddon(addon) {
            if(this.package.packages.subscribed.length == 0) {
                this.package.packages.subscribed.push({
                    addons: [],
                    local: true,
                    itemIndex: 0
                })
            }
            let clone = JSON.parse(JSON.stringify(addon));
            this.package.packages.subscribed[0].addons.push(clone);
            this.saveAddons();
        },
        deselectAddon(addon) {
            let addonIndex = null;
            this.package.packages.subscribed[0].addons.some((element, index) => {
                if(addon.optionKey == element.optionKey &&
                    addon.optionType == element.optionType &&
                    addon.selectedEvent == element.selectedEvent &&
                    addon.selectedOption == element.selectedOption) {
                        addonIndex = index;
                        return true;
                    }
            });
            this.package.packages.subscribed[0].addons.splice(addonIndex,1);
            this.saveAddons();
        },
        modifyMultiplier(addon, value) {
            this.package.packages.subscribed[0].addons[addon.addonIndex]
                .addonMultiplier = value;
            this.saveAddons();
        }
    },
    mounted() {
        this.$emit("mounted", this.height);
        var that = this;
        network.post(this.loading, '/package/generic', {
            packageId: this.componentData.id,
            get: {
                'unwind': null
            },
            replace: {
                'images$': '@Image',
                'likedBy$': '|$user',
                'subscribed$': '-null'
            },
            ignore: true
        }).then((response) => {
            this.package = response.data[0];
            this.package.editable = this.$store.state.permissions.includes(0);
        });
    },
    components: {
        photo,
        packageOption,
        texteditSl,
        pictureFullscreen,
        packageAddon,
        commentsSection
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

$overlay-background-color: rgba(255, 255, 255, 0.9);
$overlay-border-radius: 5px;

.shared {
    @extend %content-element-shared;
    will-change: max-height;
    transition: max-height 200ms ease-in-out;
}

.outer {
    @extend %content-element-card;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.inner {
    // width: 100%;
    // height: 100%;
}

.package_details {
    // overflow: hidden;
    will-change: max-height;
    transition: max-height 200ms ease-in-out;
    // remove the space added between two inline components by making font-size
    // 0px
    font-size: 0px;
}

.package_details_header {
    cursor: context-menu;
}

.package_images {
    height: 350px;
    position: relative;
    transition: max-height 200ms ease-in-out;
    border-radius: $card-border-radius;
    overflow: hidden;
}

.package_details_text {
    position: relative;
    display: inline-block;
    height: 112px;
    width: 75%;
}

.package_details_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.package_name_vendor {
    display: inline-block;
    @extend %primary-font;
    font-size: 18px;
    padding: 8px 0 5px 10px;
}

.package_name_package {
    display: inline-block;
    @extend %primary-font;
    font-size: 11px;
    padding: 10px 0 5px 2px;
    color: rgb(124, 124, 124);
}

.package_name_display {

}

.package_name_input {
    display: inline-block;
    @extend %primary-font;
    font-size: 11px;
    padding: 10px 0 5px 2px;
    color: rgb(124, 124, 124);
}

.package_rating {
    margin-left: 10px;
}

.ratings__icon {
    display: inline-block;
    margin-right: 5px;
}

.ratings__image {
    width: 12px;
}

.package_description {
    @extend %secondary-font;
    font-size: 12px;
    padding: 10px 0 5px 10px;
    color: rgb(120, 120, 120);
    width: 100%;
}

.package_description_input {
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.7);
    font-family: inherit;
    font-size: inherit;
    width: 100%;
}

.package_contents {
    @extend %secondary-font;
    font-size: 12px;
    padding: 5px 0 5px 10px;
    width: 100%;
}

.package_contents_description {
    // display: inline-block;
    padding: 15px 10px 0px 0px;
    color: rgb(82, 81, 81);
}

.package_description_display {
}

.package_contents_addons {
    // display: inline-block;
    padding: 10px 0px 0px 0px;
    color: rgb(28, 28, 28);
    // padding-left: 5px;
}

.package_details_links {
    position: relative;
    display: inline-block;
    height: 112px;
    width: 25%;
    background-color: rgb(238, 238, 238);
    vertical-align: top;
}

.package_details_link {
    height: 28px;
    border-bottom: solid 1px white;
    cursor: pointer;
}

.package_details_link_text {
    @extend %primary-font;
    font-size: 11px;
    padding: 6px 0px 0px 6px;
    color: rgb(46, 46, 46)
}

.package_details_bottom {
    background-color: rgb(238, 238, 238);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.package_details_subscribed_container {
    position: relative;
    transition: max-height 200ms ease-in-out;
    overflow: hidden;
    background-color: rgb(238, 238, 238);
}

.package_details_subscribed {
    background-color: rgb(255, 255, 255);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 112px;
}

.package_details_cost_container {
    position: absolute;
    top: 0px;
    right: 0px;
}

.package_details_cost_total {
    @extend %primary-font;
    font-size: 20px;
    padding: 7px 10px 0px 0px;
    text-align: right;
}

.package_details_cost_sum {
    @extend %primary-font;
    font-size: 14px;
    padding: 3px 10px 10px 0px;
    text-align: right;
}

.package_details_cost_original {
    display: inline-block;
    color: rgb(82, 82, 82);
}

.sum {
    display: inline-block;
    color: rgb(163, 163, 163);
}

.package_details_cost_addons {
    display: inline-block;
    color: rgb(163, 163, 163);
}

.equals {
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 0px 2px 0 2px;
    line-height: 15px;
    vertical-align: bottom;
}

.package_details_cost {
    display: inline-block;
}

.package_cost_display {

}

.package_details_currency {
    display: inline-block;
}

.package_details_cost_package {
    @extend %primary-font;
    font-size: 20px;
    padding: 0px 20px 0px 0px;
    color: rgb(110, 110, 110);
    text-align: right;
}

.package_details_cost_addon {
    @extend %primary-font;
    font-size: 15px;
    padding: 0px 20px 5px 0px;
    color: rgb(154, 154, 154);
    text-align: right;
}

.package-link {
    display: inline-flex;
    align-items: center;
    @extend %primary-font;
    font-size: 13px;
    padding: 0px 20px 1px 0px;
    color: rgb(91, 91, 91);
    float: right;
    // width: 100%;
    cursor: pointer;
}

.package_more {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    cursor: context-menu;
}

.package_images_back_button {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    align-items: center;
    cursor: pointer;
    z-index:1;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.package_images_back_button:hover {
    opacity: 1;
}

.package_images_next_button {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    align-items: center;
    cursor: pointer;
    z-index:1;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.package_images_next_button:hover {
    opacity: 1;
}

.next_button_container {
    width: 100%;
    text-align: right;
}

.package_details_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.package_details_info_container {
    text-align: center;
}

.package_details_info {
    display: inline-block;
    width: 90%;
    background-color: $overlay-background-color;
    margin: 20px;
    border-radius: $overlay-border-radius;
    text-align: left;
}

.info_icon {
    margin: 8px 5px 8px 8px;
}

.package_details_info_text {
    @extend %secondary-font;
    font-size: 12px;
    padding: 5px 5px 5px 0px;
    display: inline-block;
    vertical-align: top;
    width: 90%;
}

.package_details_options_container {
    position: relative;
    transition: max-height 200ms ease-in-out;
    overflow: hidden;
}

.package_details_options_left {
    display: inline-block;
    width: 70%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.package_details_options_right {
    display: inline-block;
    width: 30%;
    padding-top: 15px;
    vertical-align: top;
}

.package_details_option_left_container {
    height: 22px;
    margin-bottom: 2px;
}

.package_details_option_left {
    display: inline-block;
    @extend %secondary-font;
    font-size: 11px;
    padding: 4px 8px 4px 6px;
    margin-left: 4px;
}

.package_details_option_right_container {
    height: 22px;
    margin-bottom: 2px;
    text-align: right;
}

.package_details_option_right {
    display: inline-block;
    @extend %secondary-font;
    font-size: 11px;
    margin-right: 4px;
    padding: 4px 8px 4px 0px;
}

.package_details_option_right_name {
    @extend %secondary-font;
    font-size: 11px;
    display: inline-block;
    vertical-align: top;
    padding: 4px 2px 4px 8px;
    color: rgb(131, 131, 131)
}

.package_details_option_right_text {
    @extend %secondary-font;
    font-size: 11px;
    display: inline-block;
    vertical-align: top;
    padding: 4px 8px 4px 2px;
}

.option_type {
    display: flex;
    align-items: center;
}

.package_details_add_option {
    position: relative;
    display: flex;
    align-items: center;
    // margin-top: 4px;
    margin-left: 6px;
    cursor: pointer;
}

.package_details_add_option_text {
    @extend %secondary-font;
    font-size: 11px;
    padding: 4px 8px 4px 6px;
}

.addons_title {
    @extend %secondary-font_bold;
    font-size: 11px;
    padding: 0px 8px 4px 0px;
    margin-left: 9px;
}

.total_addon_cost {
    display: inline-block;
    @extend %primary-font;
    width: 430px;
    font-size: 12px;
    text-align: right;
    // text-decoration: underline;
}

.package_options_list {
    @extend %secondary-font;
    font-size: 11px;
    position: absolute;
    left: 0px;
    top: 20px;
    border-radius: 5px;
    background-color: white;
    z-index: 100;
    border: 1px solid rgb(182, 182, 182);
}

.tick_icon {
    margin-left: 8px;
    margin-top: 5px;
}

.button_icon {
    display: inline-block;
}

.button_space {
    height: 32px;
}

.package_images_navigator {
    position: absolute;
    bottom: 5px;
    right: 10px;
    z-index: 3;
}

.images_navigator_box {
    display: inline-block;
    background-color: white;
    border-radius: 2px;
    width: 5px;
    height: 5px;
    margin: 2px;
    transition: transform 200ms ease-in-out;
    cursor: pointer;
}

.images_navigator_box-active {
    background-color: rgb(194, 194, 194);
    transform: scale(1.5 ,1.5);
}

.images_navigator_box-info {
    width: 5px;
    height: 5px;
    border: 1px solid white;
    background-color: black;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.info_container_left {
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: -12px;
    width: 8px;
    margin: 12px 0px 0px 0px;
}

.info_container_right {
    display: inline-block;
    vertical-align: top;
    position: relative;
    right: -12px;
    width: 8px;
    margin: 12px 0px 0px 0px;
}

.info_icon_black {
    position: absolute;
    top: 0;
    left: 0px;
    width: 8px;
}

.info_icon_white {
    position: absolute;
    top: 0;
    left: 0px;
    width: 8px;
    animation: pulse 2000ms infinite;
}

.package_images_more {
    position: absolute;
    bottom: 41px;
    left: 34px;
    text-align: center;
    z-index: 3;
}

.package_images_more_button {
    background-color: rgb(198, 198, 198);
    cursor: pointer;
}

.package_images_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0, .53));
    height: 40px;
    width: 100%;
    z-index: 2;
}

.package_images_action_bar {
    display: flex;
    align-items: center;
    @extend %secondary-font;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 8px 7px;
}

.image_location_icon {
    margin-right: 4px;
}

.image_location {
    display: inline-flex;
    align-items: center;
    @extend %primary-font;
    font-size: 11px;
    color: white;
    margin-right: 20px;
}

.upload_image {
    display: inline-flex;
    align-items: center;
    @extend %primary-font;
    font-size: 11px;
    color: rgb(255, 255, 255);
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.add_icon {
    width: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.add_option_individual {
    color: rgb(125, 125, 125);
    cursor: pointer;
}

.custom_option_input {
    @extend %primary-font;
    font-size: 11px;
    height: 15px;
    line-height: 15px;
}

.package_details_addons_container {
    position: relative;
    transition: max-height 200ms ease-in-out;
    overflow: hidden;
}

.package_details_addons {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    font-size: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.package_details_reviews_container {
    position: relative;
    transition: max-height 200ms ease-in-out;
    overflow: hidden;
    background-color: white;
}

.package_details_reviews {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(238, 238, 238);
    font-size: 0px;
}

.package_details_review {
    @extend %primary-font_bold;
    font-size: 11px;
    width: 50%;
    display: inline-block;
    padding: 15px;
    text-align: center;
    color: black;
    height: 15px;
}

.package_details_review_placeholder {
    @extend %primary-font_bold;
    font-size: 11px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
}

.review_text {
    width: 100%;
    text-align: center;
}

.review_quotes {
    font-size: 15px;
    color: black;
}

.review_name {
    @extend %primary-font;
    color: rgb(94, 94, 94);
    padding: 10px;
}

.select {
    @extend %secondary-font;
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.7);
    font-size: 11px;;
    width: 60px;
}

.select_option {
    font-size: 11px;
}

.text_option_bold {
    @extend %secondary-font_bold;
}

.editable_cursor {
    @extend %editable-cursor;
}

.minimizer {
    @extend %primary-font;
    font-size: 13px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: rgb(124, 124, 124);
    cursor: pointer;
}

.minimizer-minimized {
    font-size: 11px;
    bottom: 1px;
    width: 100%;
    text-align: right;
}

</style>
