<template>
    <div class="shared"
         :style="{'max-height': height + 'px'}">
        <div class="outer">
            <div class="card_title">
                Package Settings
            </div>
            <div class="relative_wrap">
                <div class="settings_pane dark"
                     :style="{'max-height': paymentHeight + 'px'}">
                    <div class="minimizer"
                         @click="paymentExpanded = !paymentExpanded">
                        <span v-if="paymentExpanded">
                            [ - ]
                        </span>
                    </div>
                    <div class="settings_title"
                         @click="paymentExpanded = !paymentExpanded">
                        Payment options
                    </div>
                    <div class="settings_options">
                        <div class="settings_block_options">
                            <div class="settings_main_option">
                                <div class="settings_block_option_name">
                                    Credit/Debit card
                                </div>
                                <div class="settings_block_option_action">
                                    <checkbox url="/generic/Vendor/"
                                              :oId="$store.state.vendorId"
                                              data-key="packageSettings.gatewayPayments"
                                              :value.sync="settings.gatewayPayments"
                                              :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Enforce SSL on checkout
                                </div>
                                <div class="settings_block_option_action">
                                    <checkbox url="/generic/Vendor/"
                                              :oId="$store.state.vendorId"
                                              data-key="packageSettings.enforceSSL"
                                              :value.sync="settings.enforceSSL"
                                              :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Live Secret Key
                                </div>
                                <div class="settings_block_option_action">
                                    <textedit-sl url="/vendor/generic"
                                                 data-key="packageSettings.liveSecretKey"
                                                 :text.sync="settings.liveSecretKey"
                                                 :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Live Publishable Key
                                </div>
                                <div class="settings_block_option_action">
                                    <textedit-sl url="/vendor/generic"
                                                 data-key="packageSettings.livePublishKey"
                                                 :text.sync="settings.livePublishKey"
                                                 :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Test Secret Key
                                </div>
                                <div class="settings_block_option_action">
                                    <textedit-sl url="/vendor/generic"
                                                 data-key="packageSettings.testSecretKey"
                                                 :text.sync="settings.testSecretKey"
                                                 :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Test Publishable Key
                                </div>
                                <div class="settings_block_option_action">
                                    <textedit-sl url="/vendor/generic"
                                                 data-key="packageSettings.testPublicKey"
                                                 :text.sync="settings.testPublicKey"
                                                 :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_main_option">
                                <div class="settings_block_option_name">
                                    Paypal
                                </div>
                                <div class="settings_block_option_action">
                                    <checkbox url="/generic/Vendor/"
                                              :oId="$store.state.vendorId"
                                              data-key="packageSettings.paypalPayments"
                                              :value.sync="settings.paypalPayments"
                                              :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Paypal Email
                                </div>
                                <div class="settings_block_option_action">
                                    <textedit-sl url="/vendor/generic"
                                                 data-key="packageSettings.paypalEmail"
                                                 :text.sync="settings.paypalEmail"
                                                 :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Paypal page style
                                </div>
                                <div class="settings_block_option_action">
                                    <textedit-sl url="/vendor/generic"
                                                 data-key="packageSettings.paypalStyle"
                                                 :text.sync="settings.paypalStyle"
                                                 :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Disable PayPal IPN Verification
                                </div>
                                <div class="settings_block_option_action">
                                    <checkbox url="/generic/Vendor/"
                                              :oId="$store.state.vendorId"
                                              data-key="packageSettings.ipnVerify"
                                              :value.sync="settings.ipnVerify"
                                              :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_main_option">
                                <div class="settings_block_option_name">
                                    Bank transfer
                                </div>
                                <div class="settings_block_option_action">
                                    <checkbox url="/generic/Vendor/"
                                              :oId="$store.state.vendorId"
                                              data-key="packageSettings.bankPayments"
                                              :value.sync="settings.bankPayments"
                                              :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Name of business
                                </div>
                                <div class="settings_block_option_action">
                                    <textedit-sl url="/vendor/generic"
                                                 data-key="packageSettings.businessName"
                                                 :text.sync="settings.businessName"
                                                 :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Account number
                                </div>
                                <div class="settings_block_option_action">
                                    <textedit-sl url="/vendor/generic"
                                                 data-key="packageSettings.account"
                                                 :text.sync="settings.account"
                                                 :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Bank name
                                </div>
                                <div class="settings_block_option_action">
                                    <textedit-sl url="/vendor/generic"
                                                 data-key="packageSettings.bankName"
                                                 :text.sync="settings.bankName"
                                                 :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Bank address
                                </div>
                                <div class="settings_block_option_action">
                                    <textedit-sl url="/vendor/generic"
                                                 data-key="packageSettings.bankAddress"
                                                 :text.sync="settings.bankAddress"
                                                 :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Other details
                                </div>
                                <div class="settings_block_option_action">
                                    <textedit-sl url="/vendor/generic"
                                                 data-key="packageSettings.details"
                                                 :text.sync="settings.details"
                                                 :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_main_option">
                                <div class="settings_block_option_name">
                                    Cash
                                </div>
                                <div class="settings_block_option_action">
                                    <checkbox url="/generic/Vendor/"
                                              :oId="$store.state.vendorId"
                                              data-key="packageSettings.cashPayments"
                                              :value.sync="settings.cashPayments"
                                              :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Store location
                                </div>
                                <div class="settings_block_option_action">
                                    <textedit-sl url="/vendor/generic"
                                                 data-key="packageSettings.storeAddress"
                                                 :text.sync="settings.storeAddress"
                                                 :loading="loading"/>
                                </div>
                            </div>
                            <div class="settings_sub_option">
                                <div class="settings_block_option_name">
                                    Billing contact person
                                </div>
                                <div class="settings_block_option_action">
                                    <textedit-sl url="/vendor/generic"
                                                 data-key="packageSettings.storeContact"
                                                 :text.sync="settings.storeContact"
                                                 :loading="loading"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dark relative_wrap">
                <div class="settings_pane light"
                     :style="{'max-height': advanceHeight + 'px'}">
                    <div class="minimizer"
                         @click="advanceExpanded = !advanceExpanded">
                        <span v-if="advanceExpanded">
                            [ - ]
                        </span>
                    </div>
                    <div class="settings_title"
                         @click="advanceExpanded = !advanceExpanded">
                        Advance payment (Default)
                    </div>
                    <div class="settings_options">
                        <div class="settings_main_option">
                            <div class="settings_block_option_name">
                                Required
                            </div>
                            <div class="settings_block_option_action">
                                <checkbox url="/generic/Vendor/"
                                          :oId="$store.state.vendorId"
                                          data-key="packageSettings.advanceRequired"
                                          :value.sync="settings.advanceRequired"
                                          :loading="loading"/>
                            </div>
                        </div>
                        <div class="settings_main_option">
                            <div class="settings_block_option_name">
                                Amount
                            </div>
                            <div class="settings_block_option_action">
                                <text-edit-sl class="settings_text_editor"
                                              url="/generic/Vendor/"
                                              data-key="packageSettings.advancePerc"
                                              :text.sync="settings.advancePerc"
                                              :loading="loading"
                                              :key-id="{
                                                  _id: $store.state.vendorId
                                              }"/> %
                            </div>
                        </div>
                        <div class="settings_main_option">
                            <div class="settings_block_option_name">
                                Balance payment in
                            </div>
                            <div class="settings_block_option_action">
                                <textedit-sl url="/vendor/generic"
                                             data-key="packageSettings.balanceDays"
                                             :text.sync="settings.balanceDays"
                                             :loading="loading"/> Days
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="light relative_wrap">
                <div class="settings_pane dark"
                     :style="{'max-height': cancellationHeight + 'px'}">
                    <div class="minimizer"
                         @click="cancellationExpanded = !cancellationExpanded">
                        <span v-if="cancellationExpanded">
                            [ - ]
                        </span>
                    </div>
                    <div class="settings_title"
                         @click="cancellationExpanded = !cancellationExpanded">
                        Cancellation (Default)
                    </div>
                    <div class="settings_options">
                        <div class="settings_main_option">
                            <div class="settings_block_option_name">
                                Full refund before
                            </div>
                            <div class="settings_block_option_action">
                                <textedit-sl url="/vendor/generic"
                                             data-key="packageSettings.refundDeadline"
                                             :text.sync="settings.refundDeadline"
                                             :loading="loading"/> Days
                            </div>
                        </div>
                        <div class="settings_sub_option">
                            <div class="settings_block_option_name">
                                The number of days before the full payment will be made
                            </div>
                            <div class="settings_block_option_action">

                            </div>
                        </div>
                        <div class="settings_main_option">
                            <div class="settings_block_option_name">
                                Refund (%) after
                            </div>
                            <div class="settings_block_option_action">
                                <textedit-sl url="/vendor/generic"
                                             data-key="packageSettings.refundPerc"
                                             :text.sync="settings.refundPerc"
                                             :loading="loading"/> %
                            </div>
                        </div>
                        <div class="settings_sub_option">
                            <div class="settings_block_option_name">
                                Percentage of refund after commitment period
                            </div>
                            <div class="settings_block_option_action">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dark relative_wrap final">
                <div class="settings_pane light final"
                     :style="{'max-height': generalHeight + 'px'}">
                    <div class="minimizer"
                         @click="generalExpanded = !generalExpanded">
                        <span v-if="generalExpanded">
                            [ - ]
                        </span>
                    </div>
                    <div class="settings_title"
                         @click="generalExpanded = !generalExpanded">
                        General
                    </div>
                    <div class="settings_options">
                        <div class="settings_main_option">
                            <div class="settings_block_option_name">
                                Currency
                            </div>
                            <div class="settings_block_option_action">
                                <textedit-sl url="/vendor/generic"
                                             data-key="packageSettings.currency"
                                             :text.sync="settings.currency"
                                             :loading="loading"/>
                            </div>
                        </div>
                        <div class="settings_main_option">
                            <div class="settings_block_option_name">
                                Currency position
                            </div>
                            <div class="settings_block_option_action">
                                <textedit-sl url="/vendor/generic"
                                             data-key="packageSettings.currencyPosition"
                                             :text.sync="settings.currencyPosition"
                                             :loading="loading"/>
                            </div>
                        </div>
                        <div class="settings_main_option">
                            <div class="settings_block_option_name">
                                Thousands separator
                            </div>
                            <div class="settings_block_option_action">
                                ,
                            </div>
                        </div>
                        <div class="settings_main_option">
                            <div class="settings_block_option_name">
                                Decimal separator
                            </div>
                            <div class="settings_block_option_action">
                                .
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loading_mask_container"
             v-if="loadingMask">
            <div class="loading_mask_d">
                <div class="loading_title_d"></div>
                <div class="loading_other_d"></div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Services
 */
import network from '../../tools/network'

/**
 * Utility components
 */
import texteditSl from '../utility/textedit_sl.vue'
import textEditSl from '../utility/text_edit_sl.vue'
import texteditMl from '../utility/textedit_ml.vue'
import checkbox from '../utility/checkbox.vue'

/**
 * Exported vue component
 */
export default {
    name: 'packageSettingsCard',
    props: ['cardLoading'],
    watch: {
        // see @template_card
        'loading.index'(index, oldIndex) {
            if(oldIndex && !index) {
                this.cardLoading.index--;
                this.loadingMask = false;
            }
            if(!oldIndex && index) {
                this.cardLoading.index++;
            }
        },
        'outputHeight'(val) {
            this.$emit("update:height", val);
        }
    },
    computed: {
        paymentHeight() {
            if(!this.paymentExpanded) {
                return 30;
            } else {
                return 400;
            }
        },
        advanceHeight() {
            if(!this.advanceExpanded) {
                return 30;
            } else {
                return 120;
            }
        },
        cancellationHeight() {
            if(!this.cancellationExpanded) {
                return 30;
            } else {
                return 200;
            }
        },
        generalHeight() {
            if(!this.generalExpanded) {
                return 30;
            } else {
                return 150;
            }
        },
        height() {
            this.outputHeight = this.paymentHeight + this.advanceHeight +
                    this.cancellationHeight + this.generalHeight + 33 + 30;
            return this.outputHeight;
        }
    },
    data () {
        return {
            paymentExpanded: false,
            advanceExpanded: false,
            cancellationExpanded: false,
            generalExpanded: false,
            settings: {

            },
            // see @template_card
            loading: {
                index: 0
            },
            loadingMask: true,
            outputHeight: 70
        }
    },
    mounted() {
        this.$emit("mounted", this.height);

        network.post(this.loading, '/generic/Vendor/', {
            findOne: {
                _id: this.$store.state.vendorId
            },
            get: {
                packageSettings: null
            }
        }).then((response) => {
            this.settings = response.data[0];
        });
    },
    components: {
        texteditSl,
        textEditSl,
        texteditMl,
        checkbox
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared {
    @extend %content-element-shared;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
}

.outer {
    @extend %content-element-card;
    height: 100%;
    width: 100%;
}

.card_title {
    @extend %secondary-font_bold;
    font-size: 11px;
    padding: 10px;
    color: rgb(113, 113, 113);
}

.settings_title {
    @extend %secondary-font_bold;
    font-size: 11px;
    padding: 10px;
    cursor: pointer;
}

.relative_wrap {
    position: relative;
    // refer https://jsfiddle.net/kv0bLpw8/
    // this is used as a trick to show some content
    // over the overflow: hidden behavior
}

.settings_pane {
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.light {
    background-color: rgb(255, 255, 255);
}

.dark {
    background-color: rgb(247, 247, 247);
}

.final {
    border-radius: 5px;
}

.settings_options {
    min-height: 90px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.settings_block_options {
    width: 100%;
    height: 80%;
}

.settings_main_option {
    width: 100%;
    @extend %secondary-font;
    font-size: 11px;
    color: rgb(103, 103, 103);
    margin-bottom: 5px;
    margin-top: 10px;
}

.settings_sub_option {
    width: 100%;
    @extend %secondary-font;
    font-size: 11px;
    color: rgb(145, 145, 145);
    margin-top: 3px;
}

.settings_block_option_name {
    display: inline-block;
    vertical-align: bottom;
    width: 30%;
}

.settings_block_option_action {
    display: inline-block;
    vertical-align: top;
    @extend %secondary-font_bold;
    font-size: 11px;
    color: rgb(0, 0, 0);
}

.minimizer {
    visibility: visible;
    @extend %primary-font;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    right: -25px;
    color: rgb(124, 124, 124);
    cursor: pointer;
}

</style>
