<template>
    <div class="shared"
         :style="{'max-height': height + 'px'}">
        <div class="outer"
             :class="{'outer-minimized': !packageExpanded}">
            <div class="package_details"
                 :style="{'max-height': packageDetailsHeight + 'px'}">
                <div class="package_details_header">
                    <div class="package_details_text"
                         @click="expandPackage()">
                        <div class="package_details_container"
                             @mouseover="flickrMore = true"
                             @mouseout="flickrMore = false">
                            <div class="package_name">
                                <div class="package_name_vendor">
                                    {{vendor.name}}
                                </div>
                            </div>
                            <div class="package_name_package">
                                <div v-show="!editName"
                                     class="package_name_display"
                                     :class="{'editable_cursor': editable}"
                                     @click.stop="editPackageName()">
                                    {{vendor.package.name}}
                                </div>
                                <div v-show="editName">
                                    <input type="text"
                                           ref="packageNameEditor"
                                           class="package_name_input"
                                           v-model="localPackageName"
                                           @click.stop
                                           @blur="packageNameEdited()">
                                </div>
                            </div>
                            <div class="package_rating">
                                <div class="ratings__icon"
                                      v-for="rating in vendor.package.rating">
                                    <img class="ratings__image"
                                         src="../../assets/star_gr.png">
                                </div>
                            </div>
                            <div class="package_contents_description">
                                <div v-show="!editDescription"
                                     class="package_description_display"
                                     :class="{'editable_cursor': editable}"
                                     @click.stop="editPackageDescription()">
                                    {{vendor.package.description}}
                                </div>
                                <div v-show="editDescription">
                                    <textarea type="text"
                                              ref="packageDescriptionEditor"
                                              class="package_description_input"
                                              v-model="localPackageDescription"
                                              @click.stop
                                              @blur="packageDescriptionEdited()">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="package_details_cost_container">
                            <div class="package_details_cost_total">
                                <div class="package_details_cost">
                                    <div v-show="!editCost"
                                         class="package_cost_display"
                                         :class="{'editable_cursor': editable}"
                                         @click.stop="editPackageCost()">
                                        {{vendor.package.price.val}}
                                    </div>
                                    <div v-show="editCost">
                                        <input type="text"
                                               class="package_cost_edit"
                                               ref="packageCostEditor"
                                               v-model="localPackageCost"
                                               @click.stop
                                               @blur="packageCostEdited()">
                                    </div>
                                </div>
                                <div class="package_details_currency">
                                    {{vendor.package.price.currency}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="package_details_links">
                        <div class="package_details_link-margin light"></div>
                        <div class="package_details_link dark"
                             @click="publishPackage()">
                            <div class="package_details_link_text"
                                 v-if="!vendor.package.published">
                                Publish package
                            </div>
                            <div class="package_details_link_text"
                                 v-else>
                                Published
                                <img src="../../assets/icons/tick.png"
                                     width="10px"
                                     style="margin-left: 5px;">
                            </div>
                        </div>
                        <div class="package_details_link light"
                             @click="removePackage()">
                            <div class="package_details_link_text"
                                 v-if="deletable">
                                Remove package
                            </div>
                            <div class="package_details_link_text"
                                 v-else>
                                Revoke package
                            </div>
                        </div>
                        <div class="package_details_link dark"
                             @click="publishPackage()">
                            <div class="package_details_link_text">
                                Move up
                            </div>
                        </div>
                        <div class="package_details_link light">
                            <div class="package_details_link_text">
                                Move down
                            </div>
                        </div>
                        <div class="package_details_link-margin dark"></div>
                    </div>
                </div>
                <div class="package_details_bottom_container">
                    <div class="package_details_bottom">
                        <div class="package_details_options_container dark-bg"
                             :style="{'max-height': optionsHeight + 'px'}">
                            <div class="minimizer"
                                 :class="{'minimizer-minimized': !optionsExpanded}"
                                 @click="optionsExpanded = !optionsExpanded">
                                <span v-if="optionsExpanded">
                                    [ - ]
                                </span>
                                <span v-if="!optionsExpanded">
                                    Options [ + ]
                                </span>
                            </div>
                            <div class="package_details_options_left">
                                <div class="package_details_option_left_container"
                                     v-for="(option, index) in leftOptions">
                                    <div class="package_details_option_left">
                                        <package-option :option-object="option"
                                                        :editable="editable"
                                                        :package-format="vendor.package.format"
                                                        :package-id="vendor.package._id"
                                                        :loading="loading"/>
                                        <span class="add_option_individual"
                                              v-if="!option.defaultOption && editable"
                                              @click="removeOptionFromPackage(option)">
                                            Remove
                                        </span>
                                    </div>
                                </div>
                                <div class="package_details_add_option">
                                    <span class="package_details_add_option_text"
                                           v-if="editable"
                                           @click="packageAddOption = !packageAddOption">
                                        Add option
                                    </span>
                                    <div class="package_options_list"
                                         v-if="packageAddOption">
                                        <div v-for="option in vendor.allOptions">
                                            <div class="package_details_option_left">
                                                <package-option :option-object="option"
                                                                :editable="false"/>
                                                <span class="add_option_individual"
                                                      @click="addOptionToPackage(option)">
                                                    Add
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="package_details_options_right">
                                <div class="package_details_option_right_container">
                                    <div class="package_details_option_right">
                                        <span>Format :</span>
                                        <span v-if="!formatEdit"
                                              @click="changeFormatOption()"
                                              class="text_option_bold">
                                              {{formatOptions[vendor.package.format]}}
                                        </span>
                                        <select class="select"
                                                v-show="formatEdit"
                                                @blur="formatOptionChanged()"
                                                ref="formatEditor">
                                            <option class="select_option"
                                                    v-for="(option, index) in formatOptions"
                                                    :value="option">
                                                {{option}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="package_details_option_right_container"
                                     v-for="(option, index) in rightOptions">
                                    <div class="package_details_option_right">
                                        <package-option :option-object="option"
                                                        :editable="editable"
                                                        :package-format.sync="vendor.package.format"
                                                        :package-id="vendor.package._id"
                                                        :loading="loading"
                                                        @update-options="updateOptions()"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="package_details_addons_container dark-bg"
                             :style="{'max-height': addonsHeight + 'px'}">
                            <div class="minimizer"
                                 :class="{'minimizer-minimized': !addonsExpanded}"
                                 @click="addonsExpanded = !addonsExpanded">
                                <span v-if="addonsExpanded">
                                    [ - ]
                                </span>
                                <span v-if="!addonsExpanded">
                                    Addons [ + ]
                                </span>
                            </div>
                            <div class="package_details_addons">
                                <div class="addons_title">
                                    Add-ons :
                                    <div class="addons_title_noaddons"
                                         v-if="addons.length == 0">
                                        No add-ons specified for this package
                                    </div>
                                </div>
                                <div class="package_details_option_left_container"
                                     v-for="(addon, index) in addons">
                                    <div class="package_details_option_left">
                                        <package-addon :option-object="addon"
                                                       :editable="editable"
                                                       :package-format="vendor.package.format"
                                                       :package-id="vendor.package._id"
                                                       :loading="loading"
                                                       :view="0"/>
                                        <span class="add_option_individual"
                                              v-if="editable"
                                              @click="removeAddonFromPackage(addon)">
                                            Remove
                                        </span>
                                    </div>
                                </div>
                                <div class="package_details_add_addon">
                                    <span class="package_details_add_option_text"
                                          v-if="editable"
                                          @click="packageAddAddon = !packageAddAddon">
                                        Add add-on
                                    </span>
                                    <div class="package_options_list"
                                         v-if="packageAddAddon">
                                        <div v-for="addon in vendor.allAddons">
                                            <div class="package_details_option_left">
                                                <package-addon :option-object="addon"
                                                               :editable="false"
                                                               :view="1"
                                                               :package-format="vendor.package.format"/>
                                                <span class="add_option_individual"
                                                      @click="addAddonToPackage(addon)">
                                                    Add
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="package_details_reviews_container"
                             :style="{'max-height': reviewsHeight + 'px'}">
                            <div class="minimizer"
                                 :class="{'minimizer-minimized': !reviewsExpanded}"
                                 @click="reviewsExpanded = !reviewsExpanded">
                                <span v-if="reviewsExpanded">
                                    [ - ]
                                </span>
                                <span v-if="!reviewsExpanded">
                                    Reviews [ + ]
                                </span>
                            </div>
                            <div class="package_details_reviews dark-bg">
                                <div v-if="vendor.reviews.length>0">
                                    <div class="package_details_review"
                                         v-for="review in vendor.reviews">
                                        <div class="">
                                            <span v-for="num in review.rating">
                                                <img class="ratings__image"
                                                     src="../../assets/star_gr.png"/>
                                            </span>
                                        </div>
                                        <span class="review_quotes"> " </span>
                                        {{review.review}}
                                        <span class="review_quotes"> " </span>
                                        <div class="review_name">
                                            {{review.by}}
                                        </div>
                                    </div>
                                </div>
                                <div v-else
                                     class="package_details_review_placeholder">
                                    <div class="review_text">
                                        No reviews yet for this package
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="package_details_settings_container dark-bg"
                             :style="{'max-height': settingsHeight + 'px'}">
                            <div class="minimizer"
                                 :class="{'minimizer-minimized': !settingsExpanded}"
                                 @click="settingsExpanded = !settingsExpanded">
                                <span v-if="settingsExpanded">
                                    [ - ]
                                </span>
                                <span v-if="!settingsExpanded">
                                    Settings [ + ]
                                </span>
                            </div>
                            <div class="package_details_settings">
                                <div class="package_settings_block block_1">
                                    <div class="package_block_outer">
                                        <div class="package_block_title">
                                            Advance payment:
                                        </div>
                                        <div class="package_block_options">
                                            <div class="package_block_option">
                                                <div class="package_block_option_name">
                                                    Default
                                                </div>
                                                <div class="package_block_option_action">
                                                    <checkbox url="/generic/Vendor/packages"
                                                              :oId="componentData.id"
                                                              data-key="settings.advanceDefault"
                                                              :value.sync="vendor.package.settings.advanceDefault"
                                                              :loading="loading"/>
                                                </div>
                                            </div>
                                            <div class="disable_container">
                                                <div class="package_block_option">
                                                    <div class="package_block_option_name">
                                                        Required
                                                    </div>
                                                    <div class="package_block_option_action">
                                                        <checkbox url="/generic/Vendor/packages"
                                                                  :oId="componentData.id"
                                                                  data-key="settings.advanceRequired"
                                                                  :value.sync="vendor.package.settings.advanceRequired"
                                                                  :loading="loading"/>
                                                    </div>
                                                </div>
                                                <div class="package_block_option">
                                                    <div class="package_block_option_name">
                                                        Amount
                                                    </div>
                                                    <div class="package_block_option_action">
                                                        <text-edit-sl class="settings_text_editor"
                                                                      url="/generic/Vendor/packages"
                                                                      data-key="settings.advanceAmount"
                                                                      :text.sync="vendor.package.settings.advanceAmount"
                                                                      :loading="loading"
                                                                      :key-id="{
                                                                          _id: componentData.id
                                                                      }"/>
                                                        USD
                                                    </div>
                                                </div>
                                                <div class="package_block_option">
                                                    <div class="package_block_option_name"></div>
                                                    <div class="package_block_option_action">
                                                        <text-edit-sl class="settings_text_editor"
                                                                      url="/generic/Vendor/packages"
                                                                      data-key="settings.advancePerc"
                                                                      :text.sync="vendor.package.settings.advancePerc"
                                                                      :loading="loading"
                                                                      :key-id="{
                                                                          _id: componentData.id
                                                                      }"/>
                                                        %
                                                    </div>
                                                </div>
                                                <div class="disable_overlay"
                                                     v-if="vendor.package.settings.advanceDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="package_settings_block block_2">
                                    <div class="package_block_outer">
                                        <div class="package_block_title">
                                            Balance payment:
                                        </div>
                                        <div class="package_block_options">
                                            <div class="package_block_option">
                                                <div class="package_block_option_name">
                                                    Default
                                                </div>
                                                <div class="package_block_option_action">
                                                    <checkbox url="/generic/Vendor/packages"
                                                              :oId="componentData.id"
                                                              data-key="settings.balanceDefault"
                                                              :value.sync="vendor.package.settings.balanceDefault"
                                                              :loading="loading"/>
                                                </div>
                                            </div>
                                            <div class="disable_container">
                                                <div class="package_block_option">
                                                    <div class="package_block_option_name">
                                                        Required before
                                                    </div>
                                                    <div class="package_block_option_action">
                                                        <text-edit-sl class="settings_text_editor"
                                                                      url="/generic/Vendor/packages"
                                                                      data-key="settings.balanceDays"
                                                                      :text.sync="vendor.package.settings.balanceDays"
                                                                      :loading="loading"
                                                                      :key-id="{
                                                                          _id: componentData.id
                                                                      }"/>
                                                         Days
                                                    </div>
                                                </div>
                                                <div class="package_block_option option-blank"></div>
                                                <div class="package_block_option option-blank"></div>
                                                <div class="disable_overlay"
                                                     v-if="vendor.package.settings.balanceDefault">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="package_settings_block block_3">
                                    <div class="package_block_outer">
                                        <div class="package_block_title">
                                            Cancellation policy:
                                        </div>
                                        <div class="package_block_options">
                                            <div class="package_block_option">
                                                <div class="package_block_option_name">
                                                    Default
                                                </div>
                                                <div class="package_block_option_action">
                                                    <checkbox url="/generic/Vendor/packages"
                                                              :oId="componentData.id"
                                                              data-key="settings.cancellationDefault"
                                                              :value.sync="vendor.package.settings.cancellationDefault"
                                                              :loading="loading"/>
                                                </div>
                                            </div>
                                            <div class="disable_container">
                                                <div class="package_block_option">
                                                    <div class="package_block_option_name">
                                                        Full refund
                                                    </div>
                                                    <div class="package_block_option_action">
                                                        <text-edit-sl class="settings_text_editor"
                                                                      url="/generic/Vendor/packages"
                                                                      data-key="settings.refundDeadline"
                                                                      :text.sync="vendor.package.settings.refundDeadline"
                                                                      :loading="loading"
                                                                      :key-id="{
                                                                          _id: componentData.id
                                                                      }"/>
                                                        Days
                                                    </div>
                                                </div>
                                                <div class="package_block_option">
                                                    <div class="package_block_option_name">
                                                        Refund (%) after
                                                    </div>
                                                    <div class="package_block_option_action">
                                                        <text-edit-sl class="settings_text_editor"
                                                                      url="/generic/Vendor/packages"
                                                                      data-key="settings.refundPerc"
                                                                      :text.sync="vendor.package.settings.refundPerc"
                                                                      :loading="loading"
                                                                      :key-id="{
                                                                          _id: componentData.id
                                                                      }"/>
                                                        %
                                                    </div>
                                                </div>
                                                <div class="package_block_option option-blank"></div>
                                                <div class="disable_overlay"
                                                     v-if="vendor.package.settings.cancellationDefault">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="package_settings_block block_4">
                                    <div class="package_block_outer">
                                        <div class="package_block_title">
                                            Payment methods:
                                        </div>
                                        <div class="package_block_options">
                                            <div class="disable_container">
                                                <div class="package_block_option">
                                                    <div class="package_block_option_name">
                                                        Credit/Debit card
                                                    </div>
                                                    <div class="package_block_option_action">
                                                        <checkbox url="/generic/Vendor/packages"
                                                                  :oId="componentData.id"
                                                                  data-key="..packageSettings.gatewayPayments"
                                                                  :value.sync="vendor.packageSettings.gatewayPayments"
                                                                  :loading="loading"/>
                                                    </div>
                                                </div>
                                                <div class="package_block_option">
                                                    <div class="package_block_option_name">
                                                        Paypal
                                                    </div>
                                                    <div class="package_block_option_action">
                                                        <checkbox url="/generic/Vendor/packages"
                                                                  :oId="componentData.id"
                                                                  data-key="..packageSettings.paypalPayments"
                                                                  :value.sync="vendor.packageSettings.paypalPayments"
                                                                  :loading="loading"/>
                                                    </div>
                                                </div>
                                                <div class="package_block_option">
                                                    <div class="package_block_option_name">
                                                        Bank transfer
                                                    </div>
                                                    <div class="package_block_option_action">
                                                        <checkbox url="/generic/Vendor/packages"
                                                                  :oId="componentData.id"
                                                                  data-key="..packageSettings.bankPayments"
                                                                  :value.sync="vendor.packageSettings.bankPayments"
                                                                  :loading="loading"/>
                                                    </div>
                                                </div>
                                                <div class="package_block_option">
                                                    <div class="package_block_option_name">
                                                        Cash
                                                    </div>
                                                    <div class="package_block_option_action">
                                                        <checkbox url="/generic/Vendor/packages"
                                                                  :oId="componentData.id"
                                                                  data-key="..packageSettings.cashPayments"
                                                                  :value.sync="vendor.packageSettings.cashPayments"
                                                                  :loading="loading"/>
                                                    </div>
                                                </div>
                                                <div class="disable_overlay"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="package_details_info_super_container">
                            <div class="package_details_info_container"
                                 :style="{'max-height': infoHeight + 'px'}">
                                <div class="minimizer"
                                     :class="{'minimizer-minimized': !infoExpanded}"
                                     @click="infoExpanded = !infoExpanded">
                                    <span v-if="infoExpanded">
                                        [ - ]
                                    </span>
                                    <span v-if="!infoExpanded">
                                        Info [ + ]
                                    </span>
                                </div>
                                <div class="package_details_info dark-bg">
                                    <div class="package_details_info_centered">
                                        <div class="package_details_message">
                                            <div class="package_details_info_fixed"
                                                 v-for="message in errors">
                                                <img src="../../assets/icons/notif_r.png"
                                                     width="12px">
                                                <div class="package_details_info_text">
                                                    {{message}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="package_details_info_fixed">
                                            <img src="../../assets/icons/notif_g.png"
                                                 width="12px">
                                            <div class="package_details_info_text">
                                                <span class="info_bold">
                                                    {{this.vendor.package.info.shortlisted}}
                                                </span>
                                                shortlists ,
                                                <span class="info_bold">
                                                    {{this.vendor.package.info.subscribed}}
                                                </span>
                                                subscribers
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="package_images_container">
                <div class="package_images">
                    <photo :source="images[imageId].src"
                           :loading="{}"/>
                    <div class="package_images_back_button"
                         @click="lastImage()">
                        <div class="back_button_container">
                            <div class="button_icon">
                                <img src="../../assets/icons/back_t.png"
                                     width="32px">
                            </div>
                        </div>
                    </div>
                    <div class="package_images_next_button"
                         @click="nextImage()">
                        <div class="next_button_container">
                            <div class="button_icon">
                                <img src="../../assets/icons/next_t.png"
                                     width="32px">
                            </div>
                        </div>
                    </div>
                    <div class="package_images_navigator">
                        <div class="images_navigator_box"
                             v-for="image in images"
                             :class="{
                                 'images_navigator_box-active': (image == images[imageId])
                             }"
                             @click="gotoImage(image.src)">
                        </div>
                    </div>
                    <div class="package_images_overlay"
                         @mouseover="showTools=true"
                         @mouseout="showTools=false">
                        <div class="package_images_action_bar">
                            <div class="image_location">
                                <img class="image_location_icon"
                                     src="../../assets/icons/maps_g.png"
                                     width="12px">
                                {{images[imageId].location}}
                            </div>
                            <div class="upload_image"
                                 v-if="images[imageId].sample"
                                 v-show="showTools"
                                 @click="replaceSampleImage()">
                                Replace Image
                            </div>
                            <div class="upload_image"
                                 v-if="!images[imageId].sample"
                                 v-show="showTools"
                                 @click="addImage()">
                                Add new Image
                            </div>
                            <div class="upload_image"
                                 v-show="showTools"
                                 @click="deleteImage()">
                                Delete Image
                            </div>
                            <div class="upload_image"
                                 v-if="!images[imageId].sample"
                                 v-show="showTools"
                                 @click="moveImage(-1)">
                                Move to left
                            </div>
                            <div class="upload_image"
                                 v-if="!images[imageId].sample"
                                 v-show="showTools"
                                 @click="moveImage(1)">
                                Move to right
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <comments-section :id="images[imageId]._id"
                              url="/generic/Image/"
                              :height.sync="commentsSectionHeight"
                              :loading="loading"/>
        </div>
        <!-- @see template_card -->
        <div class="loading_mask_container"
             v-if="loadingMask">
            <div class="loading_mask_d">
                <div class="loading_title_d"></div>
                <div class="loading_other_d"></div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Services
 */
import network from '../../tools/network'
import { EventBus } from '../../tools/event_bus'

/**
* Referenced data files
*/
const data = require('../../../src_api/data/vendorData.js')

/**
 * Utility components
 */
import photo from '../utility/photo.vue'
import packageOption from '../utility/package_option.vue'
import packageAddon from '../utility/package_addon.vue'
import texteditSl from '../utility/textedit_sl.vue'
import textEditSl from '../utility/text_edit_sl.vue'
import checkbox from '../utility/checkbox.vue'
import commentsSection from '../utility/comments_section.vue'

/**
 * Exported vue component
 */
export default {
    name: 'packageCardVendor',
    // @see template_card
    props: ['componentData', 'cardLoading'],
    watch: {
        'errors'(errors, oldErrors) {
            this.infoExpanded = true;
            this.packageExpanded = true;
        },
        // @see template_card
        'loading.index'(index, oldIndex) {
            if (oldIndex && !index) {
                this.cardLoading.index--;
                this.loadingMask = false;
            }
            if (!oldIndex && index) {
                this.cardLoading.index++;
            }
        },
        'outputHeight'(val) {
            this.$emit("update:height", val);
        }
    },
    computed: {
        leftOptions() {
            return this.vendor.package.options.filter((element, index) => {
                element.optionIndex = index;
                return !element.rightOption;
            });
        },
        rightOptions() {
            return this.vendor.package.options.filter((element, index) => {
                element.optionIndex = index;
                return element.rightOption;
            });
        },
        addons() {
            return this.vendor.package.addons.map((element, index) => {
                element.addonIndex = index;
                return element;
            });
        },
        optionsHeight() {
            if (this.optionsExpanded) {
                return (24 * (this.leftOptions.length+1)) + 30;
            } else {
                return 15;
            }
        },
        addonsHeight() {
            if (this.addonsExpanded) {
                return (24 * (this.addons.length+1)) + 30 + 16;
            } else {
                return 15;
            }
        },
        reviewsHeight() {
            if (this.reviewsExpanded) {
                return (this.vendor.reviews.length > 0) ? 112 : 40;
            } else {
                return 15;
            }
        },
        settingsHeight() {
            if (this.settingsExpanded) {
                return 112
            } else {
                return 15;
            }
        },
        infoHeight() {
            if (this.infoExpanded) {
                return 90
            } else {
                return 15;
            }
        },
        packageDetailsHeight() {
            return this.packageExpanded ?
                        this.optionsHeight + this.addonsHeight +
                        this.reviewsHeight + this.infoHeight +
                        this.settingsHeight + 112 :
                        112;
        },
        height() {
            let temp = 390 + this.packageDetailsHeight + this.commentsSectionHeight;

            /**
             * Using a watch on the secondary outputHeight variable for
             * change detection and updating the parent component
             */
            this.outputHeight = temp;
            return temp;
        },
        shortlisted() {
            if (this.vendor.package.subscribed) {
                return this.vendor.package.subscribed.length > 0;
            } else {
                return false;
            }
        },
        deletable() {
            return !this.vendor.package.info.shortlisted &&
                    !this.vendor.package.info.subscribed;
        }
    },
    data() {
        return {
            packageExpanded: false,
            optionsExpanded: true,
            addonsExpanded: true,
            reviewsExpanded: false,
            infoExpanded: false,
            settingsExpanded: false,
            packageAddOption: false,
            packageAddAddon: false,
            vendor: {
                package: {
                    price: {},
                    options: [],
                    addons: [],
                    images: [{
                        comments: []
                    }],
                    info: {
                        messages: []
                    },
                    settings: {}
                },
                reviews: [],
                packageSettings: {}
            },
            editable: true,
            images: [{}],
            errors: [],
            imageId: 0,
            formatOptions: data.formatOptions,
            formatEdit: false,
            editName: false,
            localPackageName: '',
            editDescription: false,
            localPackageDescription: '',
            editCost: false,
            localPackageCost: '',
            showTools: false,
            customOptionText: 'Custom option..',
            outputHeight: 559,
            flickrMore: false,
            commentsSectionHeight: 66,
            // @see template_card
            loading: {
                index: 0
            },
            loadingMask: true
        }
    },
    documents() {return{
        package: {
            path: 'vendor.packages',
            id: this.componentData.id
        }
    }},
    dataMap: {
        'vendor.name': 'package...name',
        'vendor.type': 'package...vendorType',
        'vendor.allOptions': 'package...allOptions',
        'vendor.allAddons': 'package...allAddons',
        'vendor.package': 'package',
        'images': {
            path: 'package.images',
            replace() {return{
                '.': '@image',
                'likedBy$': '|$user'
            }}
        }
    },
    hooks: {
        'images'(own, diff) {
            if(own && diff.added[0]) {
                this.imageId = diff.added[0];
            }
        }
    },
    methods: {
        lastImage() {
            // decrement imageId if greater than zero, else go to the last image
            if (this.imageId > 0) {
                this.imageId--;
            } else {
                this.imageId = this.images.length - 1;
            }
        },
        nextImage() {
            // imcrement imageId if smaller than number of images, else go back to zero
            if (this.imageId < (this.images.length-1)) {
                this.imageId++;
            } else {
                this.imageId = 0;
            }
        },
        gotoImage(imageSrc) {
            var that = this;
            this.images.forEach((image, index) => {
                if (imageSrc == image.src) {
                    that.imageId = index;
                }
            })
        },
        expandPackage() {
            if (!this.editName) {
                this.packageExpanded = !this.packageExpanded;
                this.packageAddOption = false;
            }
        },
        expandReviews() {
            this.reviewsExpanded = !this.reviewsExpanded;
        },
        addOptionToPackage(option) {
            this.$spush('vendor.package.options', option).then(() => {
                this.packageAddOption = false;
            });
        },
        removeOptionFromPackage(option) {
            this.$sremove('vendor.package.options', option._id);
        },
        addAddonToPackage(addon) {
            addon.new = true;
            this.$spush('vendor.package.addons', addon).then(() => {
                this.packageAddAddon = false;
            });
        },
        removeAddonFromPackage(addon) {
            this.$sremove('vendor.package.addons', addon._id);
        },
        changeFormatOption() {
            if (this.editable) {
                this.formatEdit = true;
                this.$refs.formatEditor.selectedIndex = this.vendor.package.format;
            }
        },
        formatOptionChanged() {
            this.formatEdit = false;
            this.$sset('vendor.package.format', this.$refs.formatEditor.selectedIndex);
        },
        customOptionFocus() {
            if (this.customOptionText == 'Custom option..') {
                this.customOptionText = '';
            }
        },
        customOptionBlur() {
            if (this.customOptionText == '') {
                this.customOptionText = 'Custom option..';
            }
        },
        editPackageName() {
            if (this.editable) {
                this.editName = true;
                this.localPackageName = this.vendor.package.name;
                this.$nextTick(() => {
                    this.$refs.packageNameEditor.select();
                    this.$refs.packageNameEditor.focus();
                });
            }
        },
        packageNameEdited() {
            this.$sset('vendor.package.name', this.localPackageName)
            .then(() => {
                this.editName = false;
            })
            .catch((err) => {
                console.log(err);
                this.editName = false;
            })
        },
        editPackageDescription() {
            if (this.editable) {
                this.editDescription = true;
                this.localPackageDescription = this.vendor.package.description;
                this.$nextTick(() => {
                    this.$refs.packageDescriptionEditor.select();
                    this.$refs.packageDescriptionEditor.focus();
                });
            }
        },
        packageDescriptionEdited() {
            this.$sset('vendor.package.description', this.localPackageDescription).then(() => {
                this.editDescription = false;
            })
        },
        editPackageCost() {
            if (this.editable) {
                this.editCost = true;
                this.localPackageCost = this.vendor.package.price.val;
                this.$nextTick(() => {
                    this.$refs.packageCostEditor.select();
                    this.$refs.packageCostEditor.focus();
                });
            }
        },
        packageCostEdited() {
            if (parseInt(this.localPackageCost) == NaN) {
                this.localPackageCost = this.vendor.package.price.val;
                this.editCost = false;
                return;
            }
            this.$sset('vendor.package.price.val', parseInt(this.localPackageCost)).then(() => {
                this.editCost = false;
            })
        },
        replaceSampleImage() {
            EventBus.$emit('image-uploader', {
                postUrl: '/vendor/card/packagecard/image',
                data: {
                    packageId: this.vendor.package._id,
                    imageIndex: this.imageId
                },
                callback: (image) => {
                    // callback not neccesary
                    // but the update seems to be delayed
                }
            });
        },
        addImage() {
            EventBus.$emit('image-uploader', {
                postUrl: '/vendor/card/packagecard/image',
                data: {
                    packageId: this.vendor.package._id
                },
                callback: (image) => {
                    // index needs to be updated after the data has been
                    // populated
                }
            });
        },
        deleteImage() {
            this.$sremove('images', this.imageId, 2).then(() => {
                if (this.imageId) {
                    this.imageId--;
                } else {
                    this.imageId++;
                }
            })
        },
        moveImage(moveBy) {
            this.$smove('images', this.imageId, moveBy).then(() => {
                let newId = this.imageId + moveBy;
                let arrayLength = this.images.length;

                if (newId >= arrayLength) {
                    newId = newId - arrayLength;
                }
                if (newId < 0) {
                    newId = arrayLength + newId;
                }

                this.imageId = newId;
            });
        },
        shortlistPackage() {
            if (!this.shortlisted) {
                this.$spush('vendor.package.subscribed', {
                    by: '$user',
                    status: -1
                });
            }
        },
        removePackage() {
            network.post(this.loading, '/generic/Vendor', {
                findOne: {
                    _id: this.$store.state.vendorId
                },
                modify: {
                    'packages*': this.componentData.id
                }
            }).then((response) => {
                EventBus.$emit('update-board');
            })
        },
        publishPackage() {
            this.$sset('vendor.package.published', true);
        },
        showErrors(errors) {
            errors.forEach((error) => {
                if (!this.errors.includes(error)) {
                    this.errors.push(error);
                }
            })
        }
    },
    mounted() {
        this.$emit("mounted", this.height);
    },
    components: {
        photo,
        packageOption,
        packageAddon,
        texteditSl,
        textEditSl,
        checkbox,
        commentsSection
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared {
    @extend %content-element-shared;
    will-change: max-height;
    transition: max-height 200ms ease-in-out;
}

.outer {
    @extend %content-element-card;
    height: 100%;
    width: 100%;
}

.outer-minimized {
    overflow: hidden;
}
.inner {
    // width: 100%;
    // height: 100%;
}

.package_details {
    // overflow: hidden;
    will-change: max-height;
    transition: max-height 200ms ease-in-out;
    // remove the space added between two inline components by making font-size
    // 0px
    font-size: 0px;
}

.package_details_header {
    cursor: context-menu;
}

.package_images_container {
    background-color: $shade2;
}

.package_images {
    height: 350px;
    position: relative;
    transition: max-height 200ms ease-in-out;
    border-radius: $card-border-radius;
    overflow: hidden;
}

.package_details_text {
    position: relative;
    display: inline-block;
    height: 112px;
    width: 75%;
}

.package_details_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.package_name_vendor {
    display: inline-block;
    @extend %primary-font;
    font-size: 17px;
    padding: 8px 0 3px 10px;
}

.package_name_package {
    @extend %primary-font;
    font-size: 12px;
    padding: 3px 0 5px 10px;
    color: $text-shade1;
}

.package_name_display {
    display: inline-block;
}

.package_name_input {
    display: inline-block;
    @extend %primary-font;
    font-size: 11px;
    padding: 10px 0 5px 2px;
    color: $text-shade1;
}

.package_rating {
    margin-left: 10px;
    margin-top: 0px;
}

.ratings__icon {
    display: inline-block;
    margin-right: 3px;
}

.ratings__image {
    width: 10px;
}

.package_description {
    @extend %secondary-font;
    font-size: 12px;
    padding: 10px 0 5px 10px;
    color: $text-shade1;
    width: 100%;
}

.package_description_input {
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.7);
    font-family: inherit;
    font-size: inherit;
    width: 100%;
}

.package_contents_description {
    display: flex;
    align-items: center;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    @extend %secondary-font;
    font-size: 11px;
    padding: 0px 0px 0px 10px;
    width: 100%;
    color: $text-shade2;
    background-image: url('../../assets/gravel2.png');
}

.package_description_display {
}

.package_contents_addons {
    padding: 10px 0px 0px 0px;
}

.package_details_links {
    position: relative;
    display: inline-block;
    height: 112px;
    width: 25%;
    vertical-align: top;
}

.light {
    background-color: $shade1;
}

.dark {
    background-color: $shade2;
}

.dark-bg {
    background-color: $shade3;
}

.package_details_link {
    display: flex;
    align-items: center;
    padding-left: 7px;
    height: 25%;
    cursor: pointer;
}

.package_details_link:hover {
    background-color: $shade3;
}

.package_details_link_text {
    @extend %primary-font;
    font-size: 11px;
    color: $text-shade3;
}

.package_details_link_text:hover {
    color: black;
}

.package_details_bottom {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.package_details_settings_container {
    position: relative;
    transition: max-height 200ms ease-in-out;
}

.package_details_settings {
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 112px;
}

.package_settings_block {
    display: inline-flex;
    align-items: center;
    width: 25%;
    height: 100%;
}

.block_1 {
    background-color: white;
    border-top-left-radius: 5px;
}

.block_2 {
    background-color: $shade1;
}

.block_3 {
    background-color: $shade2;
}

.block_4 {
    background-color: $shade1;
    border-top-right-radius: 5px;
}

.package_block_outer {
    padding: 10px 15px;
    height: 105px;
    width: 100%;
}

.package_block_title {
    @extend %secondary-font_bold;
    font-size: 11px;
    color: black;
    height: 25%;
}

.package_block_options {
    width: 100%;
    height: 80%;
}

.package_block_option {
    overflow: hidden;
    height: 25%;
    width: 100%;
}

.disable_container {
    position: relative;
}

.disable_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.package_block_option_name {
    display: inline-block;
    @extend %secondary-font;
    font-size: 11px;
    color: $text-shade1;
    vertical-align: bottom;
}

.package_block_option_action {
    display: inline-block;
    float: right;
    vertical-align: bottom;
    @extend %secondary-font_bold;
    font-size: 11px;
    color: $text-shade2;
}

.settings_text_editor {
    max-width: 30px;
}

.package_details_info_super_container {
    background-color: $shade1;
}

.package_details_info_container {
    position: relative;
    transition: max-height 200ms ease-in-out;
    background-color: white;
    border-top-right-radius: 5px;
}

.package_details_info {
    display: flex;
    align-items: center;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    padding: 13px 0;
}

.package_details_info_fixed {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-top: 3px;
    margin-bottom: 2px;
}

.package_details_message {
    width: 100%;
}

.package_details_info_text {
    display: inline-block;
    @extend %secondary-font;
    font-size: 11px;
    padding-left: 10px;
}

.info_bold {
    @extend %primary-font_bold;
    margin: 0px 3px 0px 0px;
}

.package_details_cost_container {
    position: absolute;
    top: 0px;
    right: 0px;
}

.package_details_cost_total {
    @extend %primary-font;
    font-size: 17px;
    padding: 7px 10px 10px 0px;
    text-align: right;
}

.package_details_cost {
    display: inline-block;
}

.package_cost_display {

}

.package_details_currency {
    display: inline-block;
}

.package_details_cost_package {
    @extend %primary-font;
    font-size: 20px;
    padding: 0px 20px 0px 0px;
    color: $text-shade1;
    text-align: right;
}

.package_details_cost_addon {
    @extend %primary-font;
    font-size: 15px;
    padding: 0px 20px 5px 0px;
    color: $text-shade1;
    text-align: right;
}

.package-link {
    display: inline-flex;
    align-items: center;
    @extend %primary-font;
    font-size: 13px;
    padding: 0px 20px 1px 0px;
    color: $text-shade2;
    float: right;
    cursor: pointer;
}

.package_more {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    cursor: context-menu;
}

.package_images_back_button {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    align-items: center;
    cursor: pointer;
    z-index:1;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.package_images_back_button:hover {
    opacity: 1;
}

.package_images_next_button {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    align-items: center;
    cursor: pointer;
    z-index:1;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.package_images_next_button:hover {
    opacity: 1;
}

.next_button_container {
    width: 100%;
    text-align: right;
}

.package_details_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.package_details_options_container {
    position: relative;
    transition: max-height 200ms ease-in-out;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.package_details_options_left {
    display: inline-block;
    width: 70%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.package_details_options_right {
    display: inline-block;
    width: 30%;
    padding-top: 15px;
    vertical-align: top;
}

.package_details_option_left_container {
    height: 22px;
    margin-bottom: 2px;
}

.package_details_option_left {
    margin-left: 4px;
    @extend %secondary-font;
    font-size: 11px;
    display: flex;
    padding: 4px 8px 4px 5px;
}

.package_details_add_option {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-left: 6px;
    cursor: pointer;
}

.package_details_add_addon {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-left: 6px;
    cursor: pointer;
}

.package_details_add_option_text {
    @extend %secondary-font;
    font-size: 11px;
    padding: 4px 8px 4px 3px;
    text-decoration: underline;
}

.addons_title {
    @extend %secondary-font_bold;
    font-size: 11px;
    padding: 4px 8px 4px 0px;
    margin-left: 9px;
}

.addons_title_noaddons {
    display: inline-block;
    @extend %secondary-font;
}

.package_options_list {
    @extend %secondary-font;
    font-size: 11px;
    position: absolute;
    left: 0px;
    top: 20px;
    border-radius: 5px;
    background-color: white;
    z-index: 100;
    border: 1px solid $shade4;
}

.tick_icon {
    margin-left: 8px;
    margin-top: 5px;
}

.package_details_option_right_container {
    height: 22px;
    margin-bottom: 2px;
    text-align: right;
}

.package_details_option_right {
    display: inline-block;
    @extend %secondary-font;
    font-size: 11px;
    margin-right: 4px;
    padding-right: 10px;
}

.package_details_option_right_name {
    @extend %secondary-font;
    font-size: 11px;
    display: inline-block;
    vertical-align: top;
    padding: 4px 2px 4px 8px;
    color: rgb(131, 131, 131)
}

.package_details_option_right_text {
    @extend %secondary-font;
    font-size: 11px;
    display: inline-block;
    vertical-align: top;
    padding: 4px 8px 4px 2px;
}

.button_icon {
    display: inline-block;
}

.button_space {
    height: 32px;
}

.package_images_navigator {
    position: absolute;
    bottom: 5px;
    right: 10px;
    z-index: 3;
}

.images_navigator_box {
    display: inline-block;
    background-color: white;
    border-radius: 2px;
    width: 5px;
    height: 5px;
    margin: 2px;
    transition: transform 200ms ease-in-out;
    cursor: pointer;
}

.images_navigator_box-active {
    background-color: rgb(194, 194, 194);
    transform: scale(1.5 ,1.5);
}

.images_navigator_box-info {
    width: 5px;
    height: 5px;
    border: 1px solid white;
    background-color: black;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.package_images_more {
    position: absolute;
    bottom: 41px;
    left: 34px;
    text-align: center;
    z-index: 3;
}

.package_images_more_button {
    background-color: rgb(198, 198, 198);
    cursor: pointer;
}

.package_images_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0, .53));
    height: 40px;
    width: 100%;
    z-index: 2;
}

.package_images_action_bar {
    display: flex;
    align-items: center;
    @extend %secondary-font;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 8px 7px;
}

.image_location_icon {
    margin-right: 4px;
}

.image_location {
    display: inline-flex;
    align-items: center;
    @extend %primary-font;
    font-size: 11px;
    color: white;
    margin-right: 20px;
}

.upload_image {
    display: inline-flex;
    align-items: center;
    @extend %primary-font;
    font-size: 11px;
    color: rgb(255, 255, 255);
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.add_icon {
    width: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.add_option_individual {
    display: inline-flex;
    align-items: center;
    color: rgb(125, 125, 125);
    cursor: pointer;
}

.add_addon_cost {
    @extend %primary-font;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(34, 34, 34);
}

.custom_option_input {
    @extend %primary-font;
    font-size: 11px;
    height: 15px;
    line-height: 15px;
}

.package_details_addons_container {
    position: relative;
    transition: max-height 200ms ease-in-out;
    // overflow: hidden;
}

.package_details_addons {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    font-size: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.package_details_reviews_container {
    position: relative;
    transition: max-height 200ms ease-in-out;
    background-color: white;
}

.package_details_reviews {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 0px;
}

.package_details_review {
    @extend %primary-font_bold;
    font-size: 11px;
    width: 50%;
    display: inline-block;
    padding: 15px;
    text-align: center;
    color: black;
}

.package_details_review_placeholder {
    @extend %primary-font_bold;
    font-size: 11px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
}

.review_text {
    width: 100%;
    text-align: center;
}

.review_quotes {
    font-size: 15px;
    color: black;
}

.review_name {
    @extend %primary-font;
    color: rgb(94, 94, 94);
    padding: 10px;
}

.package_details_expand_reviews {
    @extend %secondary-font_bold;
    font-size: 11px;
    position: absolute;
    bottom: 14px;
    right: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.select {
    @extend %secondary-font;
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.7);
    font-size: 11px;;
    width: 60px;
}

.select_option {
    font-size: 11px;
}

.text_option_bold {
    @extend %secondary-font_bold;
    color: $text-shade2;
}

.editable_cursor {
    @extend %editable-cursor;
}

.minimizer {
    visibility: visible;
    @extend %primary-font;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    right: -25px;
    color: rgb(124, 124, 124);
    cursor: pointer;
}

.minimizer-minimized {
    font-size: 11px;
    bottom: 1px;
    right: 5px;
    width: 100%;
    text-align: right;
}

</style>
