<template>
    <div class="shared">
        <div  class="outer">
            <div class="picture_fullscreen">
                <div class="ExitButton" @click="fullscreen_exit">
                    <img :src="exit_icon" width="14px" alt="">
                </div>
                <div class="picture_container_full" >
                    <div class="picture_image_full"
                         @mouseenter="mouseEnterImage()"
                         @mouseleave="mouseLeaveImage()">
                        <photo :source="image.src"
                               :loading="{}" />
                        <div class="overlay"
                             v-if="navigatable">
                            <div class="left"
                                 @click="goLeft()">
                                <img src="../../assets/icons/back_o.png"
                                     width="30px">
                            </div>
                            <div class="right"
                                 @click="goRight()">
                                <img src="../../assets/icons/next_o.png"
                                     width="30px">
                            </div>
                        </div>
                    </div>
                    <div class="picture_details_full" >
                        <div class="details_section">
                            <div class="picture_vendor_info_full">
                                <div class="picture_vendor_name_full">
                                    {{vendorName}}
                                </div>
                                <div class="picture_vendor_type_full">
                                    {{vendorTypeName}}
                                </div>
                            </div>
                            <div class="picture_caption_location_full">
                                <textedit-sl url="/image/generic"
                                             :data-key="caption"
                                             :text.sync="image.caption"
                                             :loading="{}"
                                             :key-id.sync="image._id"/>
                            </div>
                            <div class="picture_buttons_full">
                                <div class="picture_buttons_container_full">
                                    <div class="picture_button">
                                        <img src="../../assets/icons/book_l.png"
                                             v-if="!this.image.bookmarkedBy"
                                             width="15px"
                                             @click="bookmarkPhoto()">
                                        <img src="../../assets/icons/book_d.png"
                                             v-else
                                             width="15px"
                                             @click="bookmarkPhoto()">
                                    </div>
                                    <div class="picture_button">
                                        <img src="../../assets/icons/share_1.png"
                                             width="15px">
                                    </div>
                                    <div class="picture_button">
                                        <img src="../../assets/icons/flow_2k.png"
                                             v-if="!this.image.likedBy"
                                             width="15px"
                                             @click="likePhoto()">
                                         <img src="../../assets/icons/flow_2o.png"
                                              v-else
                                              width="15px"
                                              @click="likePhoto()">
                                    </div>
                                    <div class="likes_number">
                                        {{image.likes}} likes
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comments_section">
                            <div class="picture_comments_container_full">
                                <div class="no_comments"
                                     v-if="!visibleComments.length">
                                    Be the first to post a comment..
                                </div>
                                <div class="image_comment"
                                     v-for="commenteer in visibleComments">
                                    <div class="image_comment_user">
                                        {{commenteer.name}}
                                    </div>
                                    <div class="image_comment_comment">
                                        {{commenteer.comment}}
                                    </div>
                                </div>
                            </div>
                            <div class="image_comment_box">
                                <input type="text"
                                       class="image_comment_input"
                                       :class="{'image_comment_input-active': commenting}"
                                       v-model.trim="comment"
                                       @focus="commentSelected()"
                                       @blur="commentBlurred()"
                                       @keyup.enter="submitComment()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

/**
Services
*/
import network from '../../tools/network'

/**
* Referenced data files
*/
const data = require('../../../src_api/data/vendorData.js')

/**
 * Utility components
 */
import photo from '../utility/photo.vue'
import texteditSl from '../utility/textedit_sl.vue' // IMPORT textedit_sl COMPONENT

/**
 * Exported vue component
 */
export default {
    name: 'pictureFullscreen',
    // @see template_card
    props: ['images', 'index', 'show'],
    watch: {
        'height'() {
            this.$emit("update:height", this.height);
        }
    },
    computed: {
        commentsReversed() {
            return this.image.comments.reverse();
        },
        visibleComments() {
            return this.commentsReversed.filter((element, index) => 1);
        },
        vendorTypeName() {
            return data.vendorTypes[this.vendorType];
        }
    },
    data () {
        return {
            commenting: true,
            exit_icon: '../static/cancel.png',
            vendorName: 'Sample',
            vendorType: 'Sample Type',
            comment: 'Say something..',
            text: 'Like',
            likes:10,
            liked: false,
            bookmarked: false,
            likecolor: 'black',
            likebackg: '',
            editCaption: false,
            caption: 'Sample',
            showAlbumName: false,
            commentheight: 0,
            navigatable: false,
            image: {
                comments: []
            },
            localIndex: 0
        }
    },
    methods: {
        mouseEnterImage() {
            this.showAlbumName = true;
        },
        mouseLeaveImage() {
            this.showAlbumName= false;
        },
        fullscreen_exit() {
            this.$emit('close');
            // this.$emit('update:show', false);
        },
        showcomments: function() {
            if(this.show_comments) {
                this.show_comments=false;
                this.height=515;
            }
            else {
                this.show_comments=true;
                if (this.commentcount>0) {
                    this.height = this.commentheight;
                }
                else {
                    this.height= 575;
                }
            }
        },
        likePhoto: function() {
            if(!this.image.likedBy) {
                network.post({}, '/images/generic', {
                    imageId: this.image._id,
                    modify: {
                        'likedBy+': '$user'
                    },
                    get: {
                        'likes': null
                    },
                    replace: {
                        'likedBy$': '|$user',
                        'bookmarkedBy$': '|$user',
                    }
                }).then((response) => { // should check the response for errors
                    this.image.likes = response.data[0];
                    this.image.likedBy = true;
                });
            } else {
                network.post({}, '/images/generic', {
                    imageId: this.image._id,
                    modify: {
                        'likedBy^': '$user'
                    },
                    get: {
                        'likes': null
                    },
                    replace: {
                        'likedBy$': '|$user',
                        'bookmarkedBy$': '|$user',
                    }
                }).then((response) => { // should check the response for errors
                    this.image.likes = response.data[0];
                    this.image.likedBy = false;
                });
            }
        },
        bookmarkPhoto: function() {
            if(!this.image.bookmarkedBy) {
                network.post({}, '/images/generic', {
                    imageId: this.image._id,
                    modify: {
                        'bookmarkedBy+': '$user'
                    },
                    get: {
                        'all': null
                    },
                    replace: {
                        'likedBy$': '|$user',
                        'bookmarkedBy$': '|$user',
                    }
                }).then((response) => {
                this.image.bookmarkedBy = true;
                });
            } else {
                network.post({}, '/images/generic', {
                    imageId: this.image._id,
                    modify: {
                        'bookmarkedBy^': '$user'
                    },
                    get: {
                        'all': null
                    },
                    replace: {
                        'likedBy$': '|$user',
                        'bookmarkedBy$': '|$user',
                    }
                }).then((response) => {
                    this.image.bookmarkedBy = false;
                });
            }
        },
        submitComment: function() {
            network.post({}, '/images/generic', {
                imageId: this.image._id,
                modify: {
                    'comments+': {
                        comment: this.comment,
                        name: this.$store.state.user
                    }
                },
                get: {
                    'comments': null
                }
            }).then((response) => {
                this.image.comments = response.data[0];
                this.comment='';
                this.commentcount++;
            });
        },
        goRight() {
            if(this.localIndex < (this.images.length-1)) {
                this.localIndex++;
            } else {
                this.localIndex = 0;
            }
            this.image = this.images[this.localIndex];
        },
        goLeft() {
            if(this.localIndex > 0) {
                this.localIndex--;
            } else {
                this.localIndex = this.images.length-1;
            }
            this.image = this.images[this.localIndex];
        }
    },
    mounted() {

        if(this.images instanceof Array) {
            this.image = this.images[this.index];
            this.localIndex = this.index;
            this.navigatable = true;
        } else {
            this.image = this.images
        }

        network.post({},'/vendor/generic', {
            vendorId: this.$store.state.vendorId,
            get: {
                'name': null,
                'vendorType': null
            }
        }).then((response) => {
            this.vendorName = response.data[0];
            this.vendorType = response.data[1];
        });
        if (this.image.caption==null){
            network.post({},'/images/generic', {
                imageId: this.image._id,
                modify: {
                    'caption': this.caption,
                },
                get: {
                    'caption': null
                }
            }).then((response) => {
                this.image.caption = response.data[0];
            });
        }
    },
    components: {
        photo,
        texteditSl
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';
@import url('https://fonts.googleapis.com/css?family=Raleway');

.shared {
    // @see template_card
    @extend %content-element-shared;
}

.outer {
    // @see template_card
    @extend %content-element-card;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.picture_album_name_full {
    display: flex;
    justify-content: center;
    padding: 1px;
    margin: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.5);
    color: black;
    z-index: 4;
    border-radius: 2px;
}

.picture_location_full {
    padding: 1px;
    margin: 5px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(255,255,255,0.5);
    color: black;
    z-index: 4;
    border-radius: 2px;
    font-size: 12px;
}

.picture_location_icon_full {
    margin-right:1px;
}

.picture_album_name_text_full {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 600;
}

.picture_fullscreen {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 2000;
}

.ExitButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: grey;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
}

.picture_container_full {
    display: flex;
    position: absolute;
    width: 80%;
    height: 90%;
    border-radius: 5px;
    overflow: hidden;
}

.picture_image_full {
    display: flex;
    position: relative;
    height: 100%;
    width: 75%;
    transition: max-height 200ms ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.picture_details_full {
    @extend %primary-font;
    width: 25%;
    height: 100%;
    background: white;
    color: black;
    display: flex;
    position: relative;
    flex-direction: column;
}

.picture_info_full {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture_vendor_name_full {
    @extend %primary-font;
    font-size: 16px;
}

.picture_vendor_type_full {
    @extend %primary-font;
    font-size: 11px;
    color: rgb(126, 126, 126);
}

.picture_vendor_line_full {
    width: 90%;
    border-bottom: 1px solid black;
    position: relative;
    margin-top: 4px;
}

.picture_vendor_info_full {
    padding: 10px;
}

.picture_caption_location_full {
    @extend %secondary-font;
    font-size: 11px;
    display: flex;
    padding: 5px 10px 10px 10px;
    flex-direction: column;
}

.editable_cursor {
    @extend %editable-cursor;
}

.picture_buttons_full {
    padding: 0px 10px;
}

.picture_stats_full {
    @extend %primary-font;
    color: rgb(70, 70, 70);
    font-size: 11px;
    padding-top: 3px;
}

.picture_stats_line_full {
    width: 80%;
    border-bottom: 1px solid black;
}

.picture_button {
    display: inline-block;
    cursor: pointer;
    margin-right: 2px;
}

.picture_footer {
    position: relative;
    bottom: 0px;
    left: 0;
    height: 24px;
    width: 100%;
    padding: 5px 5px;
}

.picture_like_button {
    display: inline-block;
    cursor: pointer;
}

.picture_like_button:hover {
    transform: translateY(-1px);
}

.no_comments {
    @extend %secondary-font;
    font-size: 11px;
    color: rgb(119, 119, 119);
    text-align: center;
}

.comments_section {
    margin-top: 8px;
    height: 80%;
}

.picture_like_comments_stats_container {
    @extend %primary-font;
    color: black;
    display: inline-flex;
    font-size: 12px;
    position:absolute;
    margin-left:2px;
    flex-direction: row;
}

.picture_comments_stats {
    margin-left:2px;
    cursor: pointer;
}

.picture_comments_button {
    display: inline-block;
    cursor: pointer;
    margin-left:2px;
}

.picture_location {
    display: inline-block;
    align-items: center;
    @extend %primary-font_bold;
    font-size: 11px;
    margin: 1px;
    color: rgb(91, 91, 91);
    position: absolute;
    right: 4px;
}

.picture_location_icon {
    margin-right:1px;
    vertical-align: middle;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0, .53));
    z-index: 1;
    border-radius: 10px;
    margin: 0px;
}

.left {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    height: 100%;
    opacity: 0.5;
}

.left:hover {
    opacity: 1;
}

.right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100%;
    opacity: 0.5;
}

.right:hover {
    opacity: 1;
}

.image_comment_box {
    padding: 10px;
    padding-top: 5px;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.picture_comments_container_full{
    display: flex;
    width: 100%;
    max-height: 68%;
    position: relative;
    padding: 10px;
    flex-direction: column;
    border-width: thin;
    background-color: rgb(247, 247, 247);
}

.image_comment {
    display: block;
    flex-direction: row;
    margin-top: 1px;
    margin-bottom: 5px;
    font-size: 11px;
}

.image_comment_user {
    display: inline-block;
    @extend %secondary-font_bold;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-bottom: 2px;
}

.image_comment_comment {
    display: inline-block;
    @extend %secondary-font;
    flex-wrap: wrap;
}

.likes_number {
    display: inline-block;
    @extend %primary-font;
    font-size: 11px;
    margin-left: 2px;
    color: rgb(113, 113, 113);
    // float: right;
    padding: 2px;
}


.image_comment_input {
    width: 100%;
    height: 35px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    @extend %primary-font;
    font-size: 12px;
    color: rgb(80, 80, 80);
    padding: 0px 0px 0px 7px;
}

.image_comment_input-active {
    color: black;
}

</style>
