<template>
    <div class="shared"
        :style="{'height': height + 'px'}">
        <div  class="outer">
            <div class="picture_header">
                <div class="picture_details">
                    <div class="picture_icon">
                        <img src="../../assets/icons/photo.png"
                             width="13px">
                    </div>
                    <div class="picture_vendor_name">
                        {{vendorName}}
                    </div>
                    <div class="picture_vendor_type">
                        {{vendorType}}
                    </div>
                </div>
            </div>
            <div class="picture_image"
                 @click="showFullImage = true"
                 @mouseenter="mouseEnterImage()"
                 @mouseleave="mouseLeaveImage()">
                <photo :source="image.src"
                       :loading="loading"/>
            </div>
            <comments-section :id="image._id"
                              url="/generic/Image/"
                              :height.sync="commentsSectionHeight"
                              :loading="loading"/>
            <div class="album_image_fullscreen" v-if="showFullImage">
                <picture-fullscreen :images="image"
                                    @close="showFullImage=false"/>
            </div>
        </div>
        <!-- loading_mask_container @see template_card.vue -->
        <div class="loading_mask_container"
             v-if="loadingMask">
            <div class="loading_mask_d">
                <div class="loading_title_d"></div> <div class="loading_other_d"></div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Services
 */
import network from '../../tools/network'

/**
 * Utility components
 */
import photo from '../utility/photo.vue'
import commentsSection from '../utility/comments_section.vue'
import pictureFullscreen from './picture_fullscreen.vue'

/**
 * Exported vue component
 */
export default {
    name: 'pictureCard',
    // @see template_card
    props: ['componentData', 'cardLoading'],
    watch: {
        // @see template_card
        'loading.index'(index, oldIndex) {
            if(oldIndex && !index) {
                this.cardLoading.index--;
                this.loadingMask = false;
            }
            if(!oldIndex && index)
                this.cardLoading.index++;
        },
        'outputHeight'(val) {
            this.$emit("update:height", val);
        },
    },
    computed: {
        height() {
                this.outputHeight = 410 + this.commentSectionHeight;
                return this.outputHeight;
        }
    },
    data () {
        return {
            vendorName: '',
            vendorType: '',
            image: {},
            loadingMask: true,
            showFullImage: false,
            showAlbumName: false,
            commentsSectionHeight: 0,
            // @see template_card
            loading: {
                index: 0
            },
            outputHeight: 448
        }
    },
    methods: {
        mouseEnterImage() {
            this.showAlbumName = true;
        },
        mouseLeaveImage() {
            this.showAlbumName= false;
        }
    },
    mounted() {
        this.$emit("mounted", this.height);
        // @see template_card

        network.post(this.loading, '/generic/Image/', {
            findOne: {
                _id: this.componentData.id
            },
            get: {
                'all': null,
            },
            replace: {
                'likedBy$': '|$user',
                'bookmarkedBy$': '|$user'
            }
        }).then((response) => {
            this.image= response.data[0];
            //if the image is a sample it will not have a vendorId in vendor
            if(this.image.sample) {
                this.vendorName = 'Sample Vendor'
                this.vendorType = 'Sample Type'
            } else {
                network.post(this.loading, '/vendor/generic', {
                    vendorId: this.image.vendor,
                    get: {
                        'name': null,
                        'type': null
                    }
                }).then((response) => {
                    this.vendorName = response.data[0];
                    this.vendorType = response.data[1];
                });
            }
        });
    },
    components: {
        photo,
        commentsSection,
        pictureFullscreen,
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared {
// @see template_card
    @extend %content-element-shared;
}

.outer {
// @see template_card
    @extend %content-element-card;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.picture_header {
    position: relative;
    height: 35px;
}

.picture_details {
    display: flex;
    padding: 8px;
}

.picture_bookmark {
    display: inline-block;
    cursor: pointer;
}

.picture_vendor_name {
    display: inline-block;
    @extend %secondary-font_bold;
    font-size: 11px;
    color: rgb(99, 99, 99);
    padding-left: 6px;
    padding-top: 3px;
}

.picture_icon {
    display: inline-block;
}


.picture_vendor_type{
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    @extend %primary-font;
    color: darkgrey;
}

.picture_image {
    display: flex;
    position:relative;
    height: 350px;
    transition: max-height 200ms ease-in-out;
    border-radius: 6px; //$card-border-radius;
    overflow: hidden;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0, .53));
    z-index: 1;
    border-radius: 10px;
    margin: 0px;
}

</style>
