<template>
    <div class="shared"
         :style="{'height': height + 'px'}">
        <div class="outer"
             @mouseenter="mouseEnter()"
             @mouseleave="mouseLeave()">
            <div class="inner"
                 :style="{'background-color' : backgroundColor}">
                 <div class="seperator_container">
                     <div class="seperator">

                     </div>
                 </div>
                <div class="change_color"
                     v-show="showChangeColor"
                     @click="showColorPick = true">
                    Change color
                </div>
                <div class="color-picker"
                     v-if="showColorPick">
                    <input class="color_input"
                           type="text"
                           value="0"
                           maxlength="3"
                           style="border-color: rgb(140, 59, 37)"
                           v-model="componentData.rgb[0]">
                    <input class="color_input"
                           type="text"
                           value="0"
                           maxlength="3"
                           style="border-color: rgb(41, 129, 0)"
                           v-model="componentData.rgb[1]">
                    <input class="color_input"
                           type="text"
                           value="0"
                           maxlength="3"
                           style="border-color: rgb(19, 86, 135)"
                           v-model="componentData.rgb[2]">
                    <span class="color_text"
                          @click="updateColor()"> Close </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Services
 */
import network from '../../tools/network'

export default {
    name: 'seperatorCard',
    // @see template_card
    props: ['componentData','cardLoading'],
    computed: {
        backgroundColor() {
            return 'rgb(' + this.componentData.rgb[0] + ', ' + this.componentData.rgb[1] + ', ' + this.componentData.rgb[2] + ')';
        }
    },
    watch: {
        // @see template_card
        'height'() {
            this.$emit("update:height", this.height);
        }
    },
    data () {
        return {
            showChangeColor: false,
            showColorPick: false,
            // @see template_card
            loading: {
                index: 0
            },
            height: 50
        }
    },
    methods: {
        mouseEnter() {
            this.showChangeColor = true;
        },
        mouseLeave() {
            this.showChangeColor = false;
        },
        updateColor() {
            network.post(this.loading, '/generic/Vendor/profile', {
                findOne: {
                    _id: this.componentData.elementId
                },
                modify: {
                    'data.rgb': this.componentData.rgb
                },
                ignore: true
            }).then((response) => {
                if(!response.error) {
                    this.showColorPick = false;
                }
            });
        }
    },
    mounted() {
        this.$emit("mounted", this.height);
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared {
    // @see template_card
    @extend %content-element-shared;
}

.outer {
    // @see template_card
    @extend %content-element-card;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.inner {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 18px;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    position: relative;
}

.inner:hover {
    cursor: pointer;
}

.change_color {
    @extend %secondary-font_bold;
    font-size: 10px;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px;
    padding-left: 6px;
    border-bottom-left-radius: 5px;
}

.color-picker {
    @extend %primary-font;
    font-size: 11px;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
    padding-left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.color_input {
    width: 7%;
    font-size: 11px;
    padding: 5px;
    line-height: 20px;
    height: 20px;
    border-radius: 5px;
    border: 3px solid black;
    margin-left: 5px;
}

.color_text {
    padding: 3px;
}

.seperator_container {
    font-size: 0px;
    text-align: center;
    width: 100%;
}

.seperator {
    display: inline-block;
    width: 8%;
    height: 4px;
    // background-color: white;
    border-radius: 2px;
}

</style>
