<template>
    <div class="shared"
         :style="{'height': height + 'px'}">
        <div class="outer">
            <div class="inner">
            </div>
        </div>
        <!-- loading_mask_container encapsulates the full card size and hides
           - all it's content while the content is loaded.
           - theme.sass contains the default styles for loading mask components
           - and they should be positioned and sized to roughly replicate card
           - data positions
        -->
        <div class="loading_mask_container"
             v-if="loadingMask">
            <div class="loading_mask_d">
                <div class="loading_title_d"></div>
                <div class="loading_other_d"></div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Service
 * network is a service that wraps around axios to provide better, more
 * integrated error handling for network requests. it can be used as a drop-in
 * replacement for axios, except that the 'loading' property of the card must be
 * passed to the network function as the first argument
 */
import network from '../../tools/network'

/**
 * webpack dist path for /assets/stock directory
 */
const pathToCats = require.context('../../assets/stock/', true);

/**
 * Exported vue component
 */
export default {
    name: 'templateCard',
    /**
     * cardLoading is an object in the app_user component that is shared by all
     * card components
     * each card should increment cardLoading.index by 1 on initialization and
     * decrement by 1 when the loading is completes
     * SHOULD NOT be confused with loading.index which is local to the card
     * while cardLoading.index is local to the board
     * both these both have the same operating principle at two different levels
     */
    props: ['cardLoading'],
    watch: {
        /**
         * watcher for 'loading.index' is not needed if the card does not contain asynchronously
         * loaded data eg: seperator_card, blank_card
         */
        'loading.index'(index, oldIndex) {
            if(oldIndex && !index) {
                /**
                 * decrement cardLoading.index when all local components has
                 * completed loading
                 *
                 */
                this.cardLoading.index--;
                /**
                 * hide the loading mask if it's shown
                 */
                this.loadingMask = false;
            }
            if(!oldIndex && index) {
                this.cardLoading.index++;
            }
        },
        /**
         * watcher for 'height' ensures that the height will be updated in the parent
         * component if the height is changed dynamically in the card
         * this watcher can be removed if the height is not dynamically changed
         */
        'height'(val) {
            this.$emit("update:height", val);
        }
    },
    data () {
        return {
            source:'../assets/stock/1.jpg',
            /**
             * loading object should be passed to every asynchronous component
             * or function within the card
             * each asynchronous component or function should increment
             * loading.index by 1 on initialization and decrement loading.index
             * by 1 after the loading is complete
             * on this card component the loading mask would be shown if
             * loading.index != 0
             * SHOULD NOT be confused with cardLoading.index which is local to
             * the board while loading.index is local to the card
             * both these objects have the same operating principle at two
             * different levels
             * this section is not needed if the card does not contain
             * asynchronously loaded data eg: seperator_card, blank_card
             */
            loading: {
                index: 0
            },
            /**
             * loadingMask property is bound to the loading_mask div and is
             * initially set to true. once all the asynchronous actions finish
             * the watcher for loading.index will automatically set this to
             * false
             */
            loadingMask: true,
            /**
             * the height of the card is determined by the height property.
             * everytime the height is changed the update:height will be
             * automatically triggered from the 'height' watcher
             * this property is bound to the height style of the shared component
             * and changing this property will automatically change the height of
             * the card
             */
            height: 400
        }
    },
    mounted() {
        /**
         * the 'mounted' event must be emitted by every card to indicate to the
         * board that the card is mounted, and to inform the board of the card
         * height card height is required by the app_user component to optimize
         * the board transition animation
         */
        this.$emit("mounted", this.height);

        /**
         * save this in that, because inside the callback function 'this' will
         * refer to a different object
         * note: lookup javascript closures
         */
        var that = this;

        /**
         * dummy request to replicate the server request to retreive card data
         * network service can be used just like axios except the 'loading'
         * property of the card must be passed as the first argument
         */
        network.post(this.loading, '/validate')
            .then((response) => {
            /**
             * assign the data from the response to component data
             */
            });
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared {

    /**
     * content-element-shared adds the default margins to all cards
     * this class MUST be extended for the outermost div of all cards
     */
    @extend %content-element-shared;

}

.outer {

    /**
     * content-element-card adds the border shadow and the rounded border effect
     * to the applied div. this class MUST be extended for all card components.
     * or to multiple child divs if the card is broken down into smaller cards
     * (eg. cover-card)
     */
    @extend %content-element-card;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.inner {
    // width: 100%;
    // height: 100%;
}

</style>
