<template>
    <div class="shared"
         :style="{'height': height + 'px'}">
        <div class="outer">
            <div class="inner">
                <div class="execute_button"
                     @click="executeQuery()">
                    Execute query!
                </div>
                <div class="results"
                     v-for="result in results">
                    {{result}}
                </div>
            </div>
        </div>
        <!-- loading_mask_container @see template_card.vue -->
        <div class="loading_mask_container"
             v-if="loadingMask">
            <div class="loading_mask_d">
                <div class="loading_title_d"></div>
                <div class="loading_other_d"></div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Module dependencies.
 */
import network from '../../tools/network'

/**
 * Exported vue component
 */
export default {
    name: 'testStPeterCard',
    // @see template_card
    props: ['cardLoading'],
    watch: {
        // @see template_card
        'loading.index'(index, oldIndex) {
            if(oldIndex && !index) {
                this.cardLoading.index--;
                this.loadingMask = false;
            }
            if(!oldIndex && index)
                this.cardLoading.index++;
        },
        'height'() {
            this.$emit("update:height", this.height);
        }
    },
    data () {
        return {
            results: [],
            // @see template_card
            loading: {
                index: 0
            },
            loadingMask: true,
            height: 1000
        }
    },
    methods: {
executeQuery() {

    /**
     * Example 1 - get the complete document
     */
    // network.post(this.loading, '/vendor/generic', {
    //     vendorId: this.$store.state.vendorId,
    //     get: {
    //         'all': null
    //     }
    // })
    // .then((response) => {
    //     this.results = [''];
    //     response.data.forEach((data, index) => {
    //         this.results = this.results.concat(JSON.stringify(data).split(','));
    //     })
    // });

    /**
     * Example 2 - get selective fields from the document
     */
    // network.post(this.loading, '/vendor/generic', {
    //     vendorId: this.$store.state.vendorId,
    //     get: {
    //         'name': null,
    //         'address': null,
    //         'phone': null,
    //         'website': null
    //     }
    // })
    // .then((response) => {
    //     this.results = [''];
    //     response.data.forEach((data, index) => {
    //         console.log(data);
    //         this.results = this.results.concat(JSON.stringify(data).split(','));
    //     })
    // });

    /**
     * Example 3 - accessing child properties
     */
    // network.post(this.loading, '/vendor/generic', {
    //     vendorId: this.$store.state.vendorId,
    //     get: {
    //         'address.country': null,
    //         'packages.0.name': null
    //     }
    // })
    // .then((response) => {
    //     this.results = [''];
    //     response.data.forEach((data, index) => {
    //         console.log(data);
    //         this.results = this.results.concat(JSON.stringify(data).split(','));
    //     })
    // });


    /**
     * Example 4 - modify a property
     */
    // network.post(this.loading, '/vendor/generic', {
    //     vendorId: this.$store.state.vendorId,
    //     modify: {
    //         'packages.1.name': 'New Package Name'
    //     },
    //     get: {
    //         'address.country': null,
    //         'packages.1.name': null
    //     }
    // })
    // .then((response) => {
    //     this.results = [''];
    //     response.data.forEach((data, index) => {
    //         console.log(data);
    //         this.results = this.results.concat(JSON.stringify(data).split(','));
    //     })
    // });

    /**
     * Example 5 - access package images
     */
    // network.post(this.loading, '/vendor/generic', {
    //     vendorId: this.$store.state.vendorId,
    //     get: {
    //         'packages.0.images': null,
    //     }
    // })
    // .then((response) => {
    //     this.results = [''];
    //     response.data.forEach((data, index) => {
    //         console.log(data);
    //         this.results = this.results.concat(JSON.stringify(data).split(','));
    //     })
    // });

    /**
     * Example 6 - access image document in consequent query
     */
    // network.post(this.loading, '/vendor/generic', {
    //     vendorId: this.$store.state.vendorId,
    //     get: {
    //         'packages.0.images': null,
    //     }
    // })
    // .then((response) => {
    //     network.post(this.loading, '/images/generic', {
    //         imageId: response.data[0][0],
    //         get: {
    //             'all': null,
    //         }
    //     })
    //     .then((response) => {
    //         this.results = [''];
    //         response.data.forEach((data, index) => {
    //             console.log(data);
    //             this.results = this.results.concat(JSON.stringify(data).split(','));
    //         })
    //     });
    // });

    /**
     * Example 7 - access image documents in single query
     */
    // network.post(this.loading, '/vendor/generic', {
    //     vendorId: this.$store.state.vendorId,
    //     get: {
    //         'packages.0.images': null,
    //     },
    //     replace: {
    //         'images': '@Image'
    //     }
    // })
    // .then((response) => {
    //     this.results = [''];
    //     response.data.forEach((data, index) => {
    //         console.log(data);
    //         this.results = this.results.concat(JSON.stringify(data).split(','));
    //     });
    // });

    /**
     * Example 8 - access image document and get binary value for likedBy
     */
    // network.post(this.loading, '/vendor/generic', {
    //     vendorId: this.$store.state.vendorId,
    //     get: {
    //         'packages.1.images': null,
    //     },
    //     replace: {
    //         'images': '@Image',
    //         'likedBy': '|$user'
    //     }
    // })
    // .then((response) => {
    //     this.results = [''];
    //     response.data.forEach((data, index) => {
    //         console.log(data);
    //         this.results = this.results.concat(JSON.stringify(data).split(','));
    //     });
    // });

    /**
     * Example 9 - add comment to comment array
     */
    // network.post(this.loading, '/vendor/generic', {
    //     vendorId: this.$store.state.vendorId,
    //     get: {
    //         'packages.0.images': null,
    //     }
    // })
    // .then((response) => {
    //     network.post(this.loading, '/images/generic', {
    //         imageId: response.data[0][0],
    //         modify: {
    //             'comments+': {
    //                 name: 'Albert',
    //                 comment: 'Einstein'
    //             }
    //         },
    //         get: {
    //             'all': null
    //         }
    //     })
    //     .then((response) => {
    //         this.results = [''];
    //         response.data.forEach((data, index) => {
    //             console.log(data);
    //             this.results = this.results.concat(JSON.stringify(data).split(','));
    //         });
    //     });
    // });

    /**
     * Example 10 - delete comment from comment array
     */
    // network.post(this.loading, '/vendor/generic', {
    //     vendorId: this.$store.state.vendorId,
    //     get: {
    //         'packages.0.images': null,
    //     }
    // })
    // .then((response) => {
    //     network.post(this.loading, '/images/generic', {
    //         imageId: response.data[0][0],
    //         modify: {
    //             'comments-': 0
    //         },
    //         get: {
    //             'all': null
    //         }
    //     })
    //     .then((response) => {
    //         this.results = [''];
    //         response.data.forEach((data, index) => {
    //             console.log(data);
    //             this.results = this.results.concat(JSON.stringify(data).split(','));
    //         });
    //     });
    // });


    /**
     * Example 11 - modify selective child elements by passing an object
     */
    // network.post(this.loading, '/vendor/generic', {
    //     vendorId: this.$store.state.vendorId,
    //     get: {
    //         'packages.1._id': null,
    //         'packages.1.options.6': null
    //     }
    // })
    // .then((response) => {
    //     network.post(this.loading, '/package/generic', {
    //         packageId: response.data[0],
    //         modify: {
    //             'options.6': {
    //                 timeConstrain: 2,
    //                 selectedOption: 4
    //             }
    //         },
    //         get: {
    //             'options.6': null
    //         }
    //     })
    //     .then((response) => {
    //         this.results = [''];
    //         response.data.forEach((data, index) => {
    //             console.log(data);
    //             this.results = this.results.concat(JSON.stringify(data).split(','));
    //         });
    //     });
    // });

    // network.post(this.loading, '/vendor/generic', {
    //     vendorId: this.$store.state.vendorId,
    //     get: {
    //         'packages.0._id': null,
    //     }
    // })
    // .then((response) => {
    //     console.log(response.data[0]);
    //     network.post(this.loading, '/package/generic', {
    //         packageId: response.data[0],
    //         get: {
    //             'subscribed': null
    //         }
    //     })
    //     .then((response) => {
    //         this.results = [''];
    //         response.data.forEach((data, index) => {
    //             console.log(data);
    //             this.results = this.results.concat(JSON.stringify(data).split(','));
    //         });
    //     });
    // });

    network.post(this.loading, '/generic/Vendor/', {
        findOne: {
            name: 'Fourth company'
            // name: 'Unique ass album name 2'
        },
        // modify: {
        //     name: 'Fourth company'
        // },
        get: {
            'staff': null
        },
        replace: {
            'staff': '@User'
        },
        ignore: true
    })
    .then((response) => {
        console.log(response.data[0]);
        this.results = [''];

        response.data.forEach((data, index) => {
            this.results = this.results.concat(JSON.stringify(data).split(','));
        })
    });

    // network.post(this.loading, '/package/generic', {
    //     packageId: '5c18a8640f189367b96b38e5',
    //     get: {
    //         'images': null
    //     },
    //     replace: {
    //         'images$': '@Image',
    //         'likedBy$': '|$user',
    //         'subscribed$': '-null'
    //     },
    //     ignore: true
    // })
    // .then((response) => {
    //     console.log(response.data[0]);
    //     this.results = [''];
    //
    //     response.data.forEach((data, index) => {
    //         this.results = this.results.concat(JSON.stringify(data).split(','));
    //     })
    // });
}
    },
    mounted() {
        // @see template_card
        this.$emit("mounted", this.height);

        network.post(this.loading, '/user/generic', {
            get: {
                'all': null
            }
        })
        .then((response) => {

        });
    }
}
</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared {
    // @see template_card
    @extend %content-element-shared;
}

.outer {
    // @see template_card
    @extend %content-element-card;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.inner {
    background-color: white;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: center;
}

.execute_button {
    display: flex;
    @extend %primary-font_bold;
    font-size: 18px;
    align-items: center;
    cursor: pointer;
    background-color: rgb(167, 167, 167);
    height: 100px;
    padding-left: 50px;
}

.results {
    @extend %primary-font;
    font-size: 13px;
    text-align: left;
    // height: 50%;
}

</style>
