<template>
    <div class="shared"
         :style="{'height': height + 'px'}">
        <div class="outer">
            <div class="inner">
                {{msg}}
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'welcomePlanner',
    // @see template_card
    props: ['cardLoading','componentData'],
    watch: {
        // @see template_card
        'height'() {
            this.$emit("update:height", this.height);
        }
    },
    data () {
        return {
            msg: 'Welcome to vebing, this board has not yet been implemented',
            // @see template_card
            height: 208
        }
    },
    mounted() {
        this.$emit("mounted", this.height);

        if(this.componentData) {
            this.msg = this.componentData.msg;
        }
        
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared {
    // @see template_card
    @extend %content-element-shared;
}

.outer {
    // @see template_card
    @extend %content-element-card;
    width: 100%;
    display: table;
}

.inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

</style>
