<template>
    <div class="main-container">
        <!-- position fixed bottom -->
        <image-upload></image-upload>
        <message></message>
        <div class="footer__box">
            <div class="msg_header">
                <div @click="showChat = !showChat"
                     :class="{'msg_float-active': showChat}"
                     class="msg_float">
                    <div class="msg_icon">

                    </div>
                    <div class="msg_title">
                        vebing
                    </div>
                    <div v-show="showChat" class="msg_box">

                    </div>
                </div>
            </div>
        </div>
        <!-- position fixed top -->
    	<div class="main__nav">
    		<div class="main__nav__box">
    			<div class="main__nav__box__logo">
    				vebing
    			</div>
            </div>
    	</div>
        <!-- position fixed top -->
    	<div class="search_nav">
    		<div class="search_nav_box">
                <div class="search_bar_container">
                    <div class="search_bar"
                         :class="{
                             'search_bar__minimized': minimizeSelector &&
                                this.$store.state.elements[this.currentIndex].searchable,
                             'search_bar__shown':
                                this.$store.state.elements[this.currentIndex].searchable
                        }">
                        <div class="search_bar_fixed">
                            <div class="search_bar_selector"
                                 tabindex="0"
                                 @click="showOptions = !showOptions"
                                 @blur="showOptions = false">
                                <div class="search_bar_selected">
                                    {{vendorTypes[searchObject.selectedVendor]}}
                                </div>
                            </div>
                            <div class="search_bar_search"
                                 @mouseover="minimizeSelector = false"
                                 @click="showSearchParams = !showSearchParams">
                                <img class="search_icon" src="../assets/icons/search.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="vendor_selector"
                         :class="{'vendor_selector_show': showOptions}">
                        <div class="vendor_type"
                             v-for="(type, index) in otherVendorTypes"
                             @click="selectVendorType(index)">
                             <div class="vendor_type_text">
                                 {{type}}
                             </div>
                        </div>
                    </div>
                    <div class="search_params"
                         :class="{'search_params-show': showSearchParams}">
                        <div class="search_option">
                            <div class="search_option_text">
                                Max price
                            </div>
                            <input type="text"
                                   class="search_option_cost"
                                   @blur="searchPriceModified()"
                                   v-model="searchObject.maxPrice"/>
                            <div class="search_option_text">
                                USD
                            </div>
                        </div>
                        <div class="search_option">
                            <div class="search_option_text">
                                Format
                            </div>
                            <div class="format_selector">
                                <div class=""
                                     @click="showFormatOptions = !showFormatOptions">
                                    {{formatOptions[searchObject.selectedFormat]}}
                                </div>
                                <div class="format_selector_options"
                                     v-if="showFormatOptions">
                                    <div class="format_option"
                                         v-for="(option, index) in
                                            formatOptions.filter(
                                                (option, index) => index !=
                                                    searchObject.selectedFormat)"
                                         @click="selectFormat(option)">
                                        {{option}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-for="(option, index) in searchObject.options"
                             :key="option.optionIndex"
                             v-if="option.searchable"
                             class="search_option_container">
                            <package-option-search
                                   class="search_option_3"
                                   :option-object="option"/>
                            <div class="remove_button"
                                 @click="removeSubOption(index)">
                                -
                            </div>
                        </div>
                        <div class="add_more_option">
                            <div class="add_option_text"
                                 @click="showSubOptions = !showSubOptions">
                                Add more..
                            </div>
                            <div class="search_go"
                                 @click="executeSearch()">
                                Search
                            </div>
                        </div>
                        <div class="sub_options"
                             :class="{'sub_options-show': showSubOptions}">
                             <div v-for="(option, index) in availableOptions"
                                  :key="option.optionIndex"
                                  v-if="option.searchable">
                                 <package-option-search
                                        class="search_option_2"
                                        :option-object="option"/>
                                 <div class="add_button"
                                      @click="addSubOption(index)">
                                     +
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
        <div class="centered-container">
            <!-- position fixed -->
            <div class="block-container">
                <div class="block__menu">
                    <div class="block__menu_title">
                        <div class="block__menu_dp">
                            <img src="../assets/veb2.jpg" width="70" alt="">
                        </div>
                        <div class="block__menu_name">
                            <div class="block__menu_username">
                                {{$store.state.user}}
                            </div>
                            <div class="block__menu_vendorname">
                                {{user.title}}
                            </div>
                        </div>
                    </div>
                    <div class="block__menu_seperator">

                    </div>
                    <div class="">
                        <div v-for="(element, index) in $store.state.elements"
                             @click="switchBoard(index)"
                             class="block__menu__btn">
                            <div class="indicator"
                                 v-if="index == currentIndex">
                            </div>
                            {{element.name}}
                        </div>
                    </div>
                    <div class="block__menu__settings">
                        <div class="block__menu_settings_icon"
                             @click="signOut()">
                            <img class="settings_icon" src="../assets/icons/mu_g.png">
                        </div>
                        <div class="block__menu_settings_icon">
                            <img class="settings_icon" src="../assets/icons/qm_g.png">
                        </div>
                        <div class="block__menu_settings_icon">
                            <img :class="{'loading_animation': animateWheel}"
                                 class="settings_icon"
                                 src="../assets/icons/st_g.png">
                        </div>
                    </div>
    			</div>
    		</div>
            <!-- position static -->
    		<div class="board-container">
                <div class="board"
                     :class="{'board-hide': board1Hide}">
                    <div v-for="(component, index) in liveComponents_1"
                         :key="component.index"
                         class="card-outer"
                         :class="{'card-show': component.show}">
                        <div :is="component.name"
                             @image-uploader="showUploader()"
                             @post-board-request="postBoardRequest($event, component)"
                             @mounted="populateBoard(index, $event)"
                             @update:height="updateHeight(index, $event)"
                             :component-data="component.data"
                             :card-loading="loading"
                             class="card">
                        </div>
                        <div class="card_external"
                             v-if="component.movable">
                            <div class="card_external_action"
                                 @click="moveCard(index,-1)">
                                <img src="../assets/icons/up.png"
                                     width="13px">
                            </div>
                            <div class="card_external_action"
                                 @click="deleteCard(component.data.elementId)">
                                <img src="../assets/icons/delete.png"
                                     width="13px">
                            </div>
                            <div class="card_external_action"
                                 @click="moveCard(index,1)">
                                <img src="../assets/icons/down2.png"
                                     width="13px">
                            </div>
                        </div>
                    </div>
    			</div>
                <div class="board"
                     :class="{'board-hide': board2Hide}">
                    <div v-for="(component, index) in liveComponents_2"
                         :key="component.index"
                         class="card-outer"
                         :class="{ 'card-show': component.show}">
                        <div :is="component.name"
                             @image-uploader="showUploader()"
                             @post-board-request="postBoardRequest($event, component)"
                             @mounted="populateBoard(index, $event)"
                             @update:height="updateHeight(index, $event)"
                             :component-data="component.data"
                             :card-loading="loading"
                             class="card">
                        </div>
                    </div>
    			</div>
    		</div>
        </div>
    </div>
</template>

<script>

/**
 * Other components
 */
import imageUpload from './fixed/image_upload.vue'
import message from './fixed/message.vue'
import packageOptionSearch from './utility/package_option_search.vue'

/**
* Referenced data files
*/
const data = require('../../src_api/data/vendorData.js')
const serviceData = require('../../src_api/data/serviceData.js')

/**
 * Services
 */
import network from '../tools/network'
import { EventBus } from '../tools/event_bus'

export default {
    name: 'mainApp',
    computed: {
        animateWheel() {
            return this.loading.index != 0;
        },
        otherVendorTypes() {
            return this.vendorTypes.filter((type, index) => index != this.searchObject.selectedVendor);
        },
        availableOptions() {
            return this.photographyOptions.filter((option, index) => {
                option.optionIndex = index;
                let keep = true;
                this.searchObject.options.forEach((sOption) => {
                    if(sOption.optionIndex == option.optionIndex) {
                        keep = false;
                    }
                });
                return keep;
            })
        }
    },
    data() {
        return {
            clientHeight: 800,
            showChat: false,
            currentIndex: 0,
            animate: true,
            activePane: 0,
            switching: false,
            liveComponents_1: [],
            liveComponents_2: [],
            board1Hide: false,
            board2Hide: true,
            showImageUploader: false,
            minimizeSelector: false,
            showOptions: false,
            photographyOptions: serviceData.photographyOptions,
            vendorTypes: data.vendorTypes,
            formatOptions: data.formatOptions,
            showFormatOptions: false,
            showSubOptions: false,
            showSearchParams: false,
            searchObject: {
                selectedVendor: 0,
                options: [],
                maxPrice: 1000,
                selectedFormat: 0,
            },
            user: {
                title: ''
            },
            testCard: '',
            heightSum: [0],
            loading: {
                index: 0
            }
        }
    },
    documents() {
        return {
            user: {
                path: 'user',
                id: '$user'
            }
        }
    },
    dataMap: {
        'user.title': 'user.title'
    },
    beforeRouteEnter (to, from, next) {
        network.post({}, '/user/generic', {
            get: {
                'elements': null,
                'name': null,
                'title': null,
                'permissionKeys': null,
                'project': null,
                'vendor': null,
                '_id': null,
                'calendar': null
            }
        }).then(response => {
            next(vm => vm.setElements(response.data));
        }).catch(error => {

        });
    },
    methods: {
        postBoardRequest(eventData, data) {
            eventData.index = data.index;
            network.post({}, this.$store.state.elements[this.currentIndex].url, eventData)
                .then(response => {
                    eventData.callback(response);
                });
        },
        populateBoard(index, height) {
            this.heightSum[index] = height + this.heightSum[index ? (index-1) : 0];
            this.$store.state.components[this.currentIndex][index].height = height;
            var populateBoard = this.activePane ? 'liveComponents_2' : 'liveComponents_1';
            var delay = this.heightSum[index] < (document.documentElement.scrollTop + this.clientHeight);

            var that = this;

            setTimeout(function() {
                if(that.$store.state.components[that.currentIndex][(index+1)]) {
                    that.$set(that[populateBoard], (index+1), that.$store.state.components[that.currentIndex][(index+1)]);
                    that.$nextTick(function() {
                        that[populateBoard][index+1].show = true;
                    })
                }
            }, delay ? 200 : 0);

        },
        updateHeight(index, height) {
            this.$store.state.components[this.currentIndex][index].height = height;
            for(var i=index;i<this.$store.state.components[this.currentIndex].length;i++) {
                this.heightSum[i] = this.heightSum[index ? (index-1) : 0] + this.$store.state.components[this.currentIndex][i].height;
            }
        },
        switchBoard(boardIndex, url, data) {

            if((boardIndex == this.currentIndex) && !url)
                return;
            this.currentIndex = boardIndex;

            this.switching = true;

            var incomingBoard = this.activePane ? 'liveComponents_1' : 'liveComponents_2';
            var outgoingBoard = this.activePane ? 'liveComponents_2' : 'liveComponents_1';
            var blankIncoming = this.activePane ? 'board1Hide' : 'board2Hide';
            var blankOutgoing = this.activePane ? 'board2Hide' : 'board1Hide';

            this.activePane = !this.activePane;

            var scrolled = document.documentElement.scrollTop - 135;
            var scrollMax = scrolled + this.clientHeight;

            var that = this;

            var removeItem = function(index) {
                if(that.heightSum[index] > scrolled) {
                    that[outgoingBoard][index].show = false;
                    if(that.heightSum[index] < (scrollMax + 500)) {
                        if(that.heightSum[index+1]) {
                            setTimeout(function() {
                                removeItem(index+1);
                            }, 200);
                        }
                    } else {
                        if(that.heightSum[index+1]) {
                            // need to look into why this isn;t working
                            // removeItem(index+1);
                        }
                    }
                } else {
                    that[outgoingBoard][index].show = false;
                    if(that.heightSum[index+1]) {
                        removeItem(index+1);
                    }
                }
            }

            removeItem(0);

            this[blankIncoming] = true;

            var request;

            if(!url) {
                request = network.get({}, this.$store.state.elements[boardIndex].url);
            } else {
                request = network.post({}, url, data);
            }

            setTimeout(function() {
                request.then(response => {
                    that.$store.commit('saveCards', {
                        index: boardIndex,
                        cards: response.data
                    });
                    that.heightSum = [0];
                    that.$set(that[incomingBoard], 0,
                        that.$store.state.components[boardIndex][0]);
                    that.$nextTick(function() {
                        that[incomingBoard][0].show = true;
                    })

                    if(that.testCard != '') {
                        that[incomingBoard][0] = {
                            name: that.testCard,
                            index: 0
                        };
                    }
                    that[outgoingBoard] = [];
                    that[blankOutgoing] = false;
                    that[blankIncoming] = false;

                });
            },600)
        },
        setElements(response) {
            this.$store.commit('saveElements', response[0]);
            this.$store.commit('storeUser', response[1]);
            this.$store.commit('storeTitle', response[2]);
            this.$store.commit('storePermissions', response[3]);
            this.$store.commit('storeProjectId', response[4]);
            this.$store.commit('storeVendorId', response[5]);
            this.$store.commit('storeUserId', response[6]);
            this.$store.commit('storeCalendarId', response[7]);
            network.get({}, this.$store.state.elements[0].url)
                .then(response => {
                    this.$store.commit('saveCards', {
                        index: 0,
                        cards: response.data
                    });
                    this.$set(this.liveComponents_1, 0, this.$store.state.components[0][0]);
                    this.liveComponents_1[0].show = true;
                });
        },
        signOut() {
            this.$store.dispatch('logout');
            this.$router.push('/login');
            this.$store.state.components[0] = [];
        },
        showUploader() {
            this.showImageUploader = true;
        },
        hideUploader() {
            this.showImageUploader = false;
        },
        handleScroll(event) {
            if(this.$store.state.elements[this.currentIndex].searchable) {
                if(event.pageY < 40) {
                    this.minimizeSelector = false;
                } else {
                    this.minimizeSelector = true;
                }
                this.showOptions = false;
                this.showSubOptions = false;
                this.showSearchParams = false;
            }
        },
        selectVendorType(vendorIndex) {
            this.vendorTypes.some((element, index) => {
                if(element == this.otherVendorTypes[vendorIndex]) {
                    this.searchObject.selectedVendor = index;
                    return true;
                }
            });
            this.showOptions = false;
            if(!this.showSearchParams) {
                this.switchBoard(this.currentIndex, '/planner/board/findpackages', {
                    search: {
                        selectedVendor: this.searchObject.selectedVendor
                    }
                });
            }
        },
        selectFormat(newFormat) {
            this.formatOptions.some((format, index) => {
                if(newFormat == format) {
                    this.searchObject.selectedFormat = index;
                    return true;
                }
            });
            this.showFormatOptions = false;
        },
        addSubOption(optionIndex) {
            this.searchObject.options.push(
                JSON.parse(JSON.stringify(this.availableOptions[optionIndex])));
            this.showSubOptions = false;
        },
        removeSubOption(index) {
            this.searchObject.options.splice(index, 1);
        },
        executeSearch() {
            this.switchBoard(this.currentIndex, '/planner/board/findpackages', {
                search: this.searchObject
            });
        },
        searchPriceModified() {
            this.searchObject.maxPrice = parseInt(this.searchObject.maxPrice);
        },
        moveCard(index, by) {
            network.post(this.loading, '/generic/Vendor/', {
                findOne: {
                    _id: this.$store.state.vendorId
                },
                modify: {
                    'profile>': [index, by]
                }
            }).then((response) => {
                if(!response.errors) {
                    EventBus.$emit('update-board');
                }
            });
        },
        deleteCard(id) {
            network.post(this.loading, '/generic/Vendor/', {
                findOne: {
                    _id: this.$store.state.vendorId
                },
                modify: {
                    'profile*': id
                }
            }).then((response) => {
                if(!response.errors) {
                    EventBus.$emit('update-board');
                } else {
                    console.log(response.errors);
                }
            })
        }
    },
    components: {
        'testStPeter': () => import('./cards/test_stpeter.vue'),
        'welcomeVendor': () => import('./cards/welcome_vendor.vue'),
        'welcomePlanner': () => import('./cards/welcome_planner.vue'),
        'pictureCard': () => import('./cards/picture_card.vue'),
        'albumCard': () => import('./cards/album_card.vue'),
        'blankSpace': () => import('./cards/blank_space.vue'),
        'coverCard': () => import('./cards/cover_card.vue'),
        'addCard': () => import('./cards/add_card.vue'),
        'contactCard': () => import('./cards/contact_card.vue'),
        'seperatorCard': () => import('./cards/seperator_card.vue'),
        'templateCard': () => import('./cards/template_card.vue'),
        'packageCard': () => import('./cards/package_card.vue'),
        'packageCardVendor': () => import('./cards/package_card_vendor.vue'),
        'addPackage': () => import('./cards/add_package.vue'),
        'calendarCard': () => import('./cards/calendar_card.vue'),
        'packageSettingsCard': () => import('./cards/package_settings_card.vue'),
        'addAlbum': () => import('./cards/add_album.vue'),
        'addProfileItem': () => import('./cards/add_profile_item.vue'),
        imageUpload,
        message,
        packageOptionSearch
    },
    mounted() {
        // this below section is repeated at set elements to allow for
        // hot module replacement
        if(this.$store.state.components[0].length) {
            this.$set(this.liveComponents_1, 0, this.$store.state.components[0][0]);
            this.liveComponents_1[0].show = true;
        }
        this.clientHeight = document.documentElement.clientHeight;

        EventBus.$on('update-board', () => {
            network.get(this.loading, this.$store.state.elements[this.currentIndex].url)
            .then((response) => {
                this.$store.commit('saveCards', {
                    index: this.currentIndex,
                    cards: response.data
                });
                let activeBoard = this.activePane ? 'liveComponents_2' : 'liveComponents_1';
                this.$store.state.components[this.currentIndex].forEach((component, index) => {
                    this.$set(this[activeBoard], index, this.$store.state.components[this.currentIndex][index]);
                    this[activeBoard][index].show = true;
                })
                this[activeBoard].splice(this.$store.state.components[this.currentIndex].length);
            });
        });

        EventBus.$emit('app-mounted');
    },
    created () {
        window.addEventListener('scroll', this.handleScroll);
    },
    destroyed () {
        window.removeEventListener('scroll', this.handleScroll);
    }
}

</script>

<style lang="scss">

@import '../sass/theme';

.centered-container {
    width: $app-width;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.footer__box {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-color: white;
    box-shadow: 0px -10px 10px 10px white;
    display: table;
}

.msg_header {
    display: table-cell;
    vertical-align: middle;
}

.msg_float {
    position: relative;
    float: right;
    padding-left: 20px;
}

.msg_float:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.msg_float-active {
    background-color: rgb(241, 241, 241);
}

.msg_title {
    @extend %primary-font;
    display: inline-block;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: 13px;
}

.msg_icon {
    display: inline-block;
    background-color: rgb(83, 223, 66);
    width: 6px;
    height: 6px;
    border-radius: 3px;
    // animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        background-color: rgb(83, 223, 66);
    }
    50% {
        background-color: rgb(74, 171, 8);
    }
    100% {
        background-color: rgb(83, 223, 66);
    }
}

.msg_box {
    $width__msg_box: 100;
    $height__msg_box: 300;
    width: 300px;
    height: 400px;
    position: absolute;
    right: 0px;
    top: -400px;
    background-color: white;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 1px 10px 5px lightgrey;
}

.main__nav {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 10px 10px white;
    color: white;
    position: fixed;
    left: 0;opacity: 1;
    right: 0;
    top: 0;
    height: $main__nav--height;
    z-index: -1;
}

.search_nav {
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
}

.search_nav_box { //to be moved to scss
    position: relative;
    width: $app-width;
    margin: 0 auto;
    color: black;
    text-align: center;
}

.block__menu__settings {
    padding-top: 15px;
    padding-left: 2px;
    opacity: 0.7;
}

.block__menu_settings_icon {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

.settings_icon {
    width: 15px;
}

.block__menu_title {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
}

.block__menu_dp {
    display: inline-block;
    overflow: hidden;
    border-radius: $card-border-radius;
    width: 55px;
    height: 55px;
    filter: grayscale(100%);
    // filter: saturate(40%);
}

.block__menu_name {
    display: inline-block;
}

.block__menu_username {
    @extend %primary-font;
    position: absolute;
    left: 80px;
    top: 10px;
    font-size: 13px;
    color: rgb(151, 151, 151);
}

.block__menu_vendorname {
    @extend %primary-font;
    position: absolute;
    left: 80px;
    top: 26px;
    font-size: 14px;
    color: rgb(59, 59, 59);
}

.block__menu_dp img {
    display:block;
    margin: -8px;
}

.block__menu_seperator {
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(240, 240, 240);
    width: 200px;
}

.main__nav__box { //to be moved to scss
    position: relative;
    width: $app-width;
    margin: 0 auto;
    color: black;
    text-align: center;
}

.main__nav__box__logo { //to be moved to scss
    color: rgb(59, 59, 59);
    display: inline-block;
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin: 0px;
    margin-top: 15px;
    font-size: 40px;
    text-shadow: 3px 3px 6px rgba(255, 255, 255, 1);
}

.main__nav__settings {
    padding-top: 40px;
    padding-right: 40px;
    float: right;
}

.block-container {
    width: $app-width;
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    top: $main__nav--height;
    margin: 0 auto;
    padding-top: 35px;
    z-index: -1;
}

.block__menu {
    display: inline-block;
    padding-top: 18px;
    width: 250px;
}

.block__menu__btn {
    @extend %primary-font;
    font-size: 12px;
    color: $text-shade1;
    padding: 2px;
    padding-left: 8px;
    margin-left: 7px;
    margin-bottom: 2px;
    margin-right: 20px;
}

.indicator {
    display: inline-block;
    height: 6px;
    width: 3px;
    background-color: rgb(207, 207, 207);
    margin-right: 1px;
}
.block__menu__btn:hover {
    background-color: $shade3;
    cursor: pointer;
}

.board-container {
    margin: 0 auto;
    width: $app-width;
    margin-top: 100px;
}

.board {
    right: 0%;
    position: absolute;
    display: inline-block;
    padding-top: 2px;
    margin: 0 auto;
    float: right;
    width: $view-feed-width;
    transition: opacity 200ms linear;
    background-color: rgba(255,255,255, 0.9);
}

.board-dim {
    opacity: 0.5;
}

.board-hide {
    opacity: 0;
}

.card-outer {
    position: relative;
    width: 100%;
    // overflow: hidden;
    opacity: 0;
    transition: opacity 200ms linear;
}

.card-show {
    opacity: 1;
}

.card {
    overflow: hidden;
}

.loading_animation {
    animation: rotate 20s infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(3600deg);
    }
}

.search_bar_container {
    position: absolute;
    right: 40px;
    top: 42px;
    width: 200px;
    height: 30px;
}

.search_bar {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    border: 0px solid rgb(154, 154, 154);
    opacity: 1;
    box-shadow: 0px 0px 0px 0px white;
    width: 0px;
    transition: all 200ms ease-in-out;
    overflow: hidden;
}

.search_bar__shown {
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
    width: 100%;
    border-width: 1px;
}

.search_bar__minimized {
    box-shadow: 0px 0px 0px 0px white;
    width: 50px;
    opacity: 0.3;
}

.search_bar_fixed {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    height: 29px;
    font-size: 0;
}

.search_bar_selector {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    margin: 0;
    width: 80%;
    height: 100%;
    @extend %primary-font;
    font-size: 12px;
    color: rgb(59, 59, 59);
    cursor: pointer;
}

.search_bar_search {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    margin: 0;
    width: 20%;
    height: 100%;
    background-color: rgb(59, 59, 59);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search_icon {
    width: 15px;
    height: 15px;
    margin-left: 13px;
}

.search_bar_selected {
    width: 100%;
    text-align: center;
}

.vendor_selector {
    position: absolute;
    top: 32px;
    left: 0px;
    width: 159px;
    border-radius: 5px;
    border: 0px solid rgb(224, 224, 224);
    overflow: hidden;
    max-height: 0px;
    transition: all 200ms ease-in-out;
    z-index: 2;
}

.vendor_selector_show {
    max-height: 300px;
    border-width: 1px;
}

.vendor_type {
    display: flex;
    align-items: center;
    @extend %primary-font;
    font-size: 12px;
    height: 30px;
    width: 159px;
    background-color: white;
    cursor: pointer;
}

.vendor_type:hover {
    background-color: rgb(224, 224, 224);
}

.vendor_type_text {
    text-align: center;
    width: 100%;
}

.search_params {
    position: absolute;
    top: 32px;
    right: 0px;
    width: 350px;
    border-radius: 5px;
    border: 0px solid rgb(224, 224, 224);
    overflow: hidden;
    max-height: 0px;
    transition: all 200ms ease-in-out;
    background-color: white;
}

.search_params-show {
    border-width: 1px;
    max-height: 600px;
}

.search_option {
    display: flex;
    align-items: center;
    text-align: left;
    @extend %primary-font;
    font-size: 12px;
    height: 40px;
    width: 350px;
    background-color: white;
    border-left: 3px solid rgb(187, 187, 187);
    margin-bottom: 1px;
    cursor: pointer;
}

.search_option_2 {
    display: inline-flex;
    align-items: center;
    text-align: left;
    @extend %primary-font;
    font-size: 12px;
    height: 35px;
    width: 300px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.search_option_container {
    font-size: 0;
}

.search_option_3 {
    display: inline-flex;
    align-items: center;
    text-align: left;
    @extend %primary-font;
    font-size: 12px;
    height: 35px;
    width: 90%;
    background-color: white;
    border-left: 3px solid rgb(210, 210, 210);
    margin-bottom: 1px;
    cursor: pointer;
}

.search_option_text {
    text-align: left;
    width: 60px;
    display: inline-block;
    margin-left: 10px;
}

.add_option_text {
    text-align: left;
    width: 60px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.search_option_cost {
    @extend %primary-font;
    text-align: center;
    font-size: 12px;
    margin-left: 10px;
    line-height: 13px;
    padding: 3px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
    width: 20%;
}

.format_selector {
    position: relative;
    @extend %primary-font;
    font-size: 12px;
    margin-left: 10px;
    padding: 2px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
    width: 150px;
    height: 22px;
    text-align: center;
}

.format_selector_options {
    position: absolute;
    top: 25px;
    left: 0px;
    width: 150px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
}

.format_option {
    padding: 2px;
    height: 22px;
    background-color: white;
}

.sub_options {
    background-color: rgb(240, 240, 240);
    transition: max-height 200ms ease-in-out;
    max-height: 0px;
}

.sub_options-show {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.add_more_option {
    display: flex;
    align-items: center;
    text-align: left;
    @extend %primary-font;
    font-size: 12px;
    height: 40px;
    width: 350px;
    background-color: white;
    color: rgb(113, 113, 113);
}

.add_button {
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
    width: 30px;
    background-color: rgb(240, 240, 240);
    @extend %primary-font;
    font-size: 12px;
    color: rgb(113, 113, 113);
    cursor: pointer;
}

.remove_button {
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
    width: 10%;
    background-color: white;
    @extend %primary-font;
    font-size: 12px;
    color: rgb(113, 113, 113);
    cursor: pointer;
}

.search_go {
    position: absolute;
    right: 10px;
    @extend %secondary-font_bold;
    font-size: 11px;
    cursor: pointer;
}

.card_external {
    position: absolute;
    right: 5px;
    top: 15px;
}

.card_external_action {
    opacity: 0.2;
    transition: opacity 200ms ease-in-out;
    cursor: pointer;
}

.card_external_action:hover {
    opacity: 1;
}

</style>
