<template>
    <div class="background"
         :style="{backgroundImage: 'url(&quot;'+ backgroundImageURL +'&quot;)'}">
        <div class="container">
            <div class="container-table">
                <div class="logo">
                    <p>vebing</p>
                </div>
                <div>
                    <div class="login-cred">
                        <div class="sign-in">
                            <div class="message"
                                 :class="{'message__active': showMessage}">
                                <p>{{message}}</p>
                            </div>
                            <div>
                                <input  class="login-item login-input"
                                        :class="{'login-input__warn': !emailValid && emailCleared && signup,
                                                 'login-input__ok': emailValid && emailCleared && signup,
                                                 'login-input__touched': emailCleared}"
                                        type="text"
                                        @focus="emailFocus"
                                        @blur="emailBlur"
                                        v-model="user.email">
                            </div>
                            <div>
                                <input  class="login-item login-input"
                                        :class="{'login-input__touched': passwordType == 'password'}"
                                        :type="passwordType"
                                        style="margin-bottom: 13px;"
                                        @focus="passwordFocus"
                                        @blur="passwordBlur"
                                        v-model="user.password">
                            </div>
                        </div>
                        <div class="sign-up"
                             :class="{'sign-up__active': signup}">
                             <div class="sign-up-padding">
                                 <div>
                                     <input  class="login-item login-input"
                                             :class="{ 'login-input__ok': user.password == user.repeatPassword,
                                                       'login-input__warn': user.password != user.repeatPassword &&
                                                                            repeatPasswordType == 'password' &&
                                                                            passwordType == 'password',
                                                       'login-input__touched': repeatPasswordType == 'password'}"
                                             :type="repeatPasswordType"
                                             @focus="repeatPasswordFocus"
                                             @blur="repeatPasswordBlur"
                                             v-model="user.repeatPassword">
                                 </div>
                                 <div>
                                     <input  class="login-item login-input"
                                             :class="{'login-input__touched': nameCleared}"
                                             type="text"
                                             @focus="nameFocus"
                                             @blur="nameBlur"
                                             v-model="user.name">
                                 </div>
                                 <div>
                                     <div class="selector-gender">
                                         <div class="selector-option"
                                              :class="{'selector-option-male__active': user.gender == 'male'}"
                                              @click="user.gender = 'male'">
                                            <p>Male</p>
                                         </div><div class="selector-option"
                                              :class="{'selector-option-female__active': user.gender == 'female'}"
                                              @click="user.gender = 'female'">
                                             <p>Female</p>
                                         </div>
                                     </div>
                                     <div class="selector-supplier"
                                          @mouseover="supplierFocus"
                                          @mouseout="supplierBlur">
                                         <div class="selector-option-2"
                                              :class="{'selector-option-2__hidden' : supplierFocused,
                                                       'selector-option-2__active' : !user.vendor}"
                                               @click="plannerClicked">
                                            <p>I'm planning a wedding!</p>
                                         </div>
                                         <div class="selector-option-3"
                                              :class="{'selector-option-3__hidden' : supplierFocused,
                                                       'selector-option-3__active' : user.vendor}"
                                              @click="supplierClicked">
                                            <p>I'm a wedding supplier!</p>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                        </div>
                        <div class="login-buttons">
                            <div style="display: inline-block; width:80px">
                                &nbsp
                            </div>
                            <div style="display: inline-block; width:80px; text-align:center">
                                <div class="login-button"
                                     :class="{'login-button__active': signup}"
                                     @click="signinClick">
                                    <p class="login-button-text">Sign In</p>
                                </div>
                            </div>
                            <div style="display: inline-block; width:80px; text-align: right">
                                <div class="login-button-2"
                                     :class="{'login-button-2__active': signup}"
                                     @click="signupClick">
                                    <p class="login-button-text">Sign Up</p>
                                </div>
                            </div>
                        </div>
                        <div class="login-item">
                            <div class="login-seperator">
                                or
                            </div>
                        </div>
                        <div class="login-item">
                            <div class="login-button-fb"
                               @click="openFbLoginDialog">
                               <p class="login-button-text">Continue with Facebook</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'login',
    data () {
        return {
            user: {
                email: 'Email',
                password: 'Password',
                repeatPassword: 'Repeat password',
                name: 'Name',
                gender: '',
                vendor: false
            },
            emailCleared: false,
            nameCleared: false,
            passwordType: 'text',
            repeatPasswordType: 'text',
            signup: false,
            showMessage: false,
            message: '',
            supplierFocusChanged: false,
            supplierFocused: false
        }
    },
    computed: {
        emailValid() {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(this.user.email).toLowerCase());
        },
        backgroundImageURL() {
            var images = ["https://www.twigandvine.photography/wp-content/uploads/2015/10/Twig-and-Vine-wedding-Photography-3.jpg",
                          "http://www.einphoto.net/wp-content/uploads/2017/04/NY-Wedding-photographers-einphoto-Home-005.jpg",
                          "https://theurbantwist.com/wp-content/uploads/2018/02/02222018-weddings.jpg",
                          "http://www.asyouwishweddings.ca/wp-content/uploads/2017/09/asyouwishweddings-niagara-on-the-lake-wedding-kurtz-orchards-iryna-brendan-45.jpg",
                          "https://www.slrlounge.com/wp-content/uploads/2016/12/07-bridal-poses-1.jpg",
                          "https://wallpapersite.com/images/pages/pic_w/2410.jpg",
                          "https://www.justinalexander.com/media/cache/28/6c/286cc2abd09619377422d06467e0e4f0.jpg",
                          "http://www.einphoto.net/wp-content/uploads/2017/04/NY-Wedding-photographers-einphoto-Home-002.jpg",
                          "http://www.einphoto.net/wp-content/uploads/2017/04/NY-Wedding-photographers-einphoto-Home-004.jpg"];
            return images[0];
            // return images[Math.floor(Math.random()*10)];
        }
    },
    props: ['auth'],
    methods: {

        // functional

        /**
         * FB.login() prompts the user to authenticate the app
         */
        openFbLoginDialog () {
          FB.login(this.checkLoginState, { scope: ['email','user_gender'] })
        },

        checkLoginState (response) {
          if (response.status === 'connected') {
            let vm = this; // reference to the Vue instance
            /**
             * FB api request for fields specified. Will prompt for access if not available
             */
            FB.api('/me', { fields: 'name, email, gender' }, function(profile) {
              vm.user.name = profile.name;
              vm.user.email = profile.email;
              vm.user.gender = profile.gender;
              vm.user.password = "";
              vm.user.vendor = true;  //temporary setting user/vendor selection for facebook login is not implemented

              /**
               * Signin or signup user
               */
              vm.$store.dispatch('facebook', vm.user)
                  .then(value => {
                      vm.$router.push('/app');
                  }).catch(value => {
                      vm.message = value.data.error;
                      vm.showMessage = true;
                  });
            });
          } else {
            /**
             * alert the user of login failue
             */
            this.message = "Facebook login failed! User cancelled login or did not fully authorize.";
            this.showMessage = true;
          }
        },

        signupClick() {
          if(this.signup) {
              if(!this.nameCleared || !this.emailCleared || this.passwordType == 'text' || this.repeatPasswordType == 'text') {
                  this.message = "Hey, we need you to fill in all the fields!"
                  this.showMessage = true;
                  return;
              }
              this.$store.dispatch('signup', this.user)
                  .then(value => {
                      this.message = value.data.error;
                      this.showMessage = true;
                  }).catch(value => {
                      this.message = value.data.error;
                      this.showMessage = true;
                  });
          } else {
              this.signup = true;
          }
        },
        signinClick() {
            if(!this.signup) {
                if(!this.emailCleared || this.passwordType == 'text') {
                    this.message = "Hey, we need you to fill in all the fields!"
                    this.showMessage = true;
                    return;
                }
                this.$store.dispatch('signin', this.user)
                    .then(value => {
                        this.$router.push('/app');
                    }).catch(value => {
                        this.message = value.data.error;
                        this.showMessage = true;
                    });
            } else {
                this.signup = false;
            }
        },

        // aesthetic

        emailFocus() {
          if(!this.emailCleared) {
              this.user.email = '';
              this.emailCleared = true;
          }
        },
        emailBlur() {
            if(this.user.email.trim().length == 0) {
                this.emailCleared = false;
                this.user.email = 'Email'
            }
        },
        passwordFocus() {
          if(this.passwordType == 'text') {
              this.user.password = '';
              this.passwordType = 'password';
          }
        },
        passwordBlur() {
            if(this.user.password.trim().length == 0) {
                this.passwordType = 'text';
                this.user.password = 'Password'
            }
        },
        repeatPasswordFocus() {
          if(this.repeatPasswordType == 'text') {
              this.user.repeatPassword = '';
              this.repeatPasswordType = 'password';
          }
        },
        repeatPasswordBlur() {
            if(this.user.repeatPassword.trim().length == 0) {
                this.repeatPasswordType = 'text';
                this.user.repeatPassword = 'Repeat password'
            }
        },
        nameFocus() {
          if(!this.nameCleared) {
              this.user.name = '';
              this.nameCleared = true;
          }
        },
        nameBlur() {
            if(this.user.name.trim().length == 0) {
                this.nameCleared = false;
                this.user.name = 'Name'
            }
        },
        supplierFocus() {
            this.supplierFocused = !this.supplierFocused;
            this.supplierFocusChanged = true;
        },
        supplierBlur() {
            if(this.supplierFocusChanged)
                this.supplierFocused = !this.supplierFocused;
        },
        supplierClicked() {
            this.user.vendor = true;
            this.supplierFocusChanged = false;
        },
        plannerClicked() {
            this.user.vendor = false;
            this.supplierFocusChanged = false;
        }
    },
    created() {
        if(this.auth == 'authenticated') {
            this.message = 4;
        }

        /*
         * Initialize Facebook JavaScript SDK in Vuejs
         */
        window.fbAsyncInit = function() {
            FB.init({
                appId            : '274470986513615',
                autoLogAppEvents : true,  // enable cookies to allow the server to access
                                          // the session
                xfbml            : true,  // parse social plugins on this page
                version          : 'v3.1' // use graph api version 3.1
            });
        };

        /*
         * Load the SDK asynchronously
         */
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    }
}

</script>

<style lang="scss">

@import '../sass/theme';
/*background-image: url("http://web.pusma360.biz/049_images/wed2.jpg");*/
/*background-image: url("http://thewowstyle.com/wp-content/uploads/2015/04/cheap-wedding-dresses-wallpaper.jpg");*/
/*background-image: url("https://theurbantwist.com/wp-content/uploads/2018/02/02222018-weddings.jpg");*/

.background {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

.container-table {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.login-cred {
    display: inline-block;
    width: 256px;
    vertical-align: top;
}

.login-cred-row {
    text-align: right;
}

.logo {
    color: black;
    display: inline-block;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

.logo p {
    margin: 0px;
    text-shadow: 3px 3px 6px rgba(255, 255, 255, 1);
}

.login-text {

}

.login-item {
    display: inline-block;
    margin: 0px 0px 16px 0px;
    width: 100%;
}

.login-input {
    color: rgb(135, 135, 135);
    font-family: 'Lato', sans-serif;
    font-size: 11px;;
    font-weight: normal;
    border-width: 3px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 8px;
    height: 40px;
    padding: 10px;
    box-shadow: 0 0 0 2pt rgba(255, 255, 255, 0.4);
}

.login-input__touched {
    color: black;
}

.login-input__warn {
    border-width: 1px;
    border-color: rgb(236, 31, 92);
    box-shadow: 0 0 0 2pt rgba(255, 255, 255, 0.4);
}

.login-input__ok {
    border-width: 1px;
    border-color: rgb(103, 224, 38);
    box-shadow: 0 0 0 2pt rgba(255, 255, 255, 0.4);
}

.login-buttons {
    margin: 0px 0px;
}

.login-button {
    display: inline-block;
    color: white;
    background-color: rgb(51, 51, 51);
    /*border: rgb(51, 51, 51) solid 3px;*/
    border: lightgray solid 3px;
    border-radius: 8px;
    font-size: 15px;
    padding: 0px 10px;;
    text-align: center;
    height: 40px;
    line-height: 36px;
    transition: background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    box-shadow: 0 0 0 2pt rgba(255, 255, 255, 0.4);
    width: 72px;
}

.login-button:hover {
    box-shadow: 0 0 0 2pt rgba(255, 255, 255, 0.8);
}

.login-button__active {
    color: black;
    background-color: rgb(230, 230, 230);
}

.login-button-2 {
    display: inline-block;
    color: black;
    background-color: rgb(230, 230, 230);
    /*border: rgb(51, 51, 51) solid 3px;*/
    border: lightgray solid 3px;
    border-radius: 8px;
    padding: 0px 10px;
    text-align: center;
    height: 40px;
    line-height: 36px;
    transition: background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    box-shadow: 0 0 0 2pt rgba(255, 255, 255, 0.4);
    width: 72px;
}

.login-button-2:hover {
    box-shadow: 0 0 0 2pt rgba(255, 255, 255, 0.8);
}

.login-button-2__active {
    color: white;
    background-color: rgb(51, 51, 51);
}

.login-button-fb {
    display: inline-block;
    color: white;
    background-color: #4267b2;
    /*border: rgb(51, 51, 51) solid 3px;*/
    border: lightgray solid 3px;
    border-radius: 8px;
    padding: 0px 10px;
    text-align: center;
    height: 40px;
    line-height: 36px;
    transition: background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    box-shadow: 0 0 0 2pt rgba(255, 255, 255, 0.4);
    width: 100%;
}

.login-button-fb:hover {
    box-shadow: 0 0 0 2pt rgba(255, 255, 255, 0.8);
}

.login-button-text {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
}

.login-button:hover,
.login-button-2:hover,
.login-button-fb:hover {
    cursor: pointer;
}

.sign-in {
    padding:3px;
}

.sign-up-padding {
    padding: 3px;
}

.sign-up {

    max-height: 0px;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.sign-up__active {
    max-height: 350px;
    transition: max-height 0.2s ease-in;
}

.message {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: left;
    max-height: 0px;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

.message__active {
    max-height: 150px;
    transition: max-height 0.2s ease-in;
}

.selector-gender {
    background-color: white;
    border-width: 3px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 8px;
    height: 40px;
    padding: 0px;
    margin-bottom: 16px;
    box-shadow: 0 0 0 2pt rgba(255, 255, 255, 0.4);
    overflow: hidden;
}

.selector-option {
    color: rgb(135, 135, 135);
    display: inline-block;
    width: 122px;
    border-left: 4px solid rgba(255, 255, 255, 0);
    border-right: 4px solid rgba(255, 255, 255, 0);
}

.selector-option-male__active {
    color: black;
    background-color: $highlight-color-1;
    border-left: 4px solid rgb(103, 224, 38);
}

.selector-option-female__active {
    color: black;
    background-color: $highlight-color-1;
    border-right: 4px solid rgb(103, 224, 38);
}

.selector-option:hover {
    background-color: #cfcfcf;
    cursor: pointer;
}

.selector-option p {
    font-family: 'Lato', sans-serif;
    font-size: 11px;;
    font-weight: normal;
    margin: 0px;
    line-height: 36px;
}

.selector-supplier {
    position: relative;
    background-color: white;
    border-width: 3px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 8px;
    height: 40px;
    padding: 0px;
    margin-bottom: 13px;
    box-shadow: 0 0 0 2pt rgba(255, 255, 255, 0.4);
    overflow: hidden;
    text-align: left;
}

.selector-supplier:hover {
    cursor: pointer;
}

.selector-option-2 {
    position: absolute;
    width: 100%;
    overflow: hidden;
    max-height: 50px;
    transition: top 0.2s ease-in-out;
    padding-left: 10px;
    top: 0px;

}

.selector-option-2__hidden {
    top: -40px;
}

.selector-option-2__active {
    border-right: 4px solid rgb(103, 224, 38);
    color: black;
}

.selector-option-2 p {
    font-family: 'Lato', sans-serif;
    font-size: 11px;;
    font-weight: normal;
    margin: 0px;
    line-height: 36px;
    color: rgb(135, 135, 135);
}

.selector-option-3 {
    position: absolute;
    width: 100%;
    padding-left: 10px;
    background-color: #f1f1f1;
    transition: top 0.2s ease-in-out;
    top: 40px;
}

.selector-option-3__hidden {
    top: 0px;
}

.selector-option-3__active {
    border-right: 4px solid rgb(103, 224, 38);
    color: black;
}

.selector-option-3 p {
    font-family: 'Lato', sans-serif;
    font-size: 11px;;
    font-weight: normal;
    color: rgb(135, 135, 135);
    margin: 0px;
    line-height: 36px;

}

.login-seperator {
    @extend %secondary-font_medium;
    font-size: 12px;
    font-weight: 600;
    color: white;
    padding-top: 12px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
</style>
