<template>
    <div v-show="componentActive" class="uploader__container">
        <div class="upload__form">
            <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
                <div class="dropbox">
                    <input type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                    accept="image/*" class="input-file">
                    <p v-if="isInitial">
                        Drag your file(s) here to begin<br> or click to browse
                    </p>
                    <p v-if="isSaving">
                        Uploading files...
                    </p>
                </div>
            </form>
            <div @click="closeUploader()" class="close">
                Close
            </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios'
import { EventBus } from '../../tools/event_bus'

const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;

export default {
    name: 'imageUpload',
    data() {
        return {
            currentStatus: STATUS_INITIAL,
            uploadedFiles: [],
            uploadError: null,
            uploadFieldName: 'photos',
            uploadUrl: '/image',
            componentActive: false,
            callback: null,
            data: {}
        }
    },
    computed: {
        isInitial() {
            return this.currentStatus === STATUS_INITIAL;
        },
        isSaving() {
            return this.currentStatus === STATUS_SAVING;
        },
        isSuccess() {
            return this.currentStatus === STATUS_SUCCESS;
        },
        isFailed() {
            return this.currentStatus === STATUS_FAILED;
        }
    },
    methods: {
        closeUploader() {
            this.componentActive = false;
            this.reset();
        },
        reset() {
            // reset form to initial state
            this.currentStatus = STATUS_INITIAL;
            this.uploadedFiles = [];
            this.uploadError = null;
        },
        save(formData) {
            // upload data to the server
            this.currentStatus = STATUS_SAVING;

            this.upload(formData)
            .then(x => {
                this.uploadedFiles = [].concat(x);
                this.currentStatus = STATUS_SUCCESS;
                this.reset();
            })
            .catch(err => {
                this.uploadError = err.response;
                this.currentStatus = STATUS_FAILED;
            });
        },
        filesChange(fieldName, fileList) {
            // handle file changes
            const formData = new FormData();

            if (!fileList.length) return;

            // append the files to FormData
            Array
            .from(Array(fileList.length).keys())
            .map(x => {
                formData.append(fieldName, fileList[x], fileList[x].name);
            });

            // attach other data which maybe needed by the backend
            for(var key in this.data) {
                formData.append(key, this.data[key]);
            }

            // save it
            this.save(formData);
        },
        upload(formData) {
            return axios.post(this.uploadUrl, formData, {
                headers: {
                    'content-type': `multipart/form-data; boundary=${formData._boundary}`
                }
            }).then(response => {
                this.callback(response.data);
                this.componentActive = false;
                this.reset();
            });
        }
    },
    mounted() {
        this.reset();
        EventBus.$on('image-uploader', (config) => {
            this.uploadUrl = config.postUrl;
            this.callback = config.callback;
            this.data = config.data;
            this.componentActive = true;
        })
    }

}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

.uploader__container {
    position: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 2000;
}

.upload__form {
    width: 100%;
    text-align: center;
}

.dropbox {
    @extend %primary-font;
    border-radius: 10px;
    display: inline-block;
    width: 30%;
    background: white;
    color: black;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
}

.dropbox:hover {
    background: rgb(133, 133, 133); /* when mouse over to the drop zone, change color */
}

.input-file {
    opacity: 0;
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.close {
    @extend %primary-font;
    width: 100%;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 10px;
}
</style>
