<template>
    <div class="message_container"
         :class="{'message_container-show': show}">
         <div class="title">
             {{title}}
         </div>
        <div class="message">
            {{msg}}
        </div>
    </div>
</template>

<script>

/**
 *  Services
 */
import { EventBus } from '../../tools/event_bus'

/**
 * Exported vue component
 */
export default {
    name: 'message',
    data: function() {
        return {
            title: 'Error',
            msg: 'Hey, We couldn\'t connect to the internet!\n But we\'ll keep trying!',
            show: false
        }
    },
    mounted() {

        /**
         * Create a listener on the event bus to listen for show-message events
         */
        EventBus.$on('show-message', (data) => {
            this.title = data.title;
            this.msg = data.msg;
            this.show = true;
            var that = this;

            /**
             *  Hide the window after 5 seconds
             */
            setTimeout(function() {
                that.show = false;
            },5000);
        });
    }
}
</script>

<style scoped lang="scss">

@import '../../sass/theme';

.message_container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 5px;
    border: solid 1px rgb(208, 208, 208);
    background-color: rgb(226, 226, 226);
    color: white;
    z-index: 100;
    padding: 10px;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.message {
    @extend %secondary-font;
    color: black;
    font-size: 10px;
    width: 200px;
    text-align: left;
}

.message_container-show {
    opacity: 1;
}

.title {
    @extend %secondary-font_medium;
    font-size: 10px;
    color: black;
    margin-bottom: 4px;
}

</style>
