// color theme
$theme-colors: (
    'primary': (
        // brand color and its shades
        'base': #3b3b3b,
        'light': #525151,
        'dark': #000f08
    ),
    'accent': (
        // other colors of the brand
        'base': #c1a5a9,
        'light': #e0d3de,
        'dark': #785964
    ),
    'foreground': (
        // color shades to to contrast with background based on primary base
        'lighter': #909590,
        'light': #525151,
        'base': #3b3b3b,
        'dark': #000f08,
        'darker': black
    ),
    'background': (
        // colors for element backgrounds and borders
        'base': #eeeeee,
        'light': white,
        'dark': #e8e8e8
    ),
    'highlight': (
        // specail highlighting
        'red': #dd3f65,
        'blue': #519ad5,
    ),
    'calendar-event':(
        // calendar event colors
        'past': #eeeeee,
        'base': #525151,
        'blue': #2d768f,
        'pink': #785964
    ),
);

// color theme function
// usage: theme-color('KEY', 'VARIANT');
@function theme-color($key: 'primary', $variant: 'base') {
    $map: map-get($theme-colors, $key);
    @return map-get($map, $variant);
}

%calendar-event-static {
    @extend %secondary-font;
    color: theme-color('background', 'base');
    font-size: 11px;
    padding: 5px;
    position: absolute;
    border-bottom: 1px solid theme-color('foreground', 'base');
    border-radius: 3px;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

%calendar-event-static--month {
    @extend %calendar-event-static;
    margin: 0px 2px;
    width: calc(100% - 4)px ;
    height: 20px;
    position: relative;
    border-bottom: 1px solid theme-color('foreground', 'dark');
}

%calendar-event-dynamic {
    @extend %calendar-event-static;
    border: 1px solid theme-color('background', 'base');
}

@mixin scrollbar-mod {
    &::-webkit-scrollbar {
        // background-color: theme-color('background', 'dark');
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: #00000000;
    }

    &::-webkit-scrollbar-thumb {
        background-color: black;
    }
}
