// color profiles
$highlight-color-1: #f1f1f1;
$main__nav--bgc: grey;
$main--bgc: white;
$element--bgc: lightgrey;

//  ndimentions
$app-width: 1000px;
$main__nav--height: 100px;
$block--width: 25%;
$view-feed-width: 75%;
$element--border: 1px solid black; //temporary setting
$element--margin: 30px;
$text-color-2: rgb(75,75,75);
$card-border-radius: 5px;

$shade1: rgb(252, 252, 252);
$shade2: rgb(247, 247, 247);
$shade3: rgb(242, 242, 242);
$shade4: rgb(182, 182, 182);
$text-shade1: rgb(124, 124, 124);
$text-shade2: rgb(74, 74, 74);
$text-shade3: rgb(43, 43, 43);

%content-element {
	background: white;
	border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    border-radius: $card-border-radius;
	box-shadow: 0px 1px 10px 5px rgb(224, 224, 224);
}

%content-element-card {
	@extend %content-element;

    width: calc(100% - 60px);
    height: calc(100% - 45px);
}

%content-element-shared {
	height: 100%;
	padding: 15px 30px 15px 30px;
}

%primary-font {
	font-family: 'Lato', sans-serif;
    font-weight: 400;
}

%primary-font_bold {
	font-family: 'Lato', sans-serif;
    font-weight: 700;
}

%secondary-font {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

%secondary-font_medium {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

%secondary-font_semibold {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

%secondary-font_bold {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

%editable-cursor {
	cursor: url(http://127.0.0.1:3000/edit2.png) 2 2, auto;
}

.loading_mask_container {
    position: absolute;
    top: 0;
    height: calc(100% - 30px);
    width: calc(100% - 60px);
    margin-top: 15px;
    z-index: 10;
    font-size: 0;
}

.loading_mask_d {
	@extend %content-element-card;
    height: 100%;
    width: 100%;
    background-color: rgb(235, 235, 235);
    position: relative;
}

.loading_title_d {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: 20px;
    background-color: rgb(223, 223, 223);
    opacity: 1;
    animation: pulse_2 600ms infinite;
}

.loading_other_d {
    position: absolute;
    top: 43px;
    left: 20px;
    width: 130px;
    height: 10px;
    background-color: rgb(223, 223, 223);
    opacity: 1;
    animation: pulse_2 600ms infinite;
}

@keyframes pulse_2 {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
