<template>
    <div class="day__column__header"
         v-bind:class="{
             'day__column__header--time':(index == 1),
             'week__column__header--filler': filler,
         }">
        <div>
            <div v-bind:style="headerRowHeight"
                 class="week_col_header--container">
                <div class="day__column__header--data"
                     v-bind:class="{ 'add-event-cursor': index == 2 }"
                     @click="addEventElement">
                    <div v-if="index == 2">
                        <div class="day__column__header--day">
                            {{day}}
                        </div>
                        <div v-bind:class="{ today: today }" 
                             class="day__column__header--date">
                            {{date}}
                        </div>
                    </div>
                    <div v-else>
                        <!-- <div>
                            GMT
                            {{timeZone}}
                        </div> -->
                    </div>
                </div>
            </div>
            <div v-bind:style="{'height': multiDayEventRowOffset + 'px'}" 
                 class="day__column__multiday">
            </div>
        </div>
    </div>
</template>

<script>
/**
 * Services
 */
import { EventBus } from '../../../../tools/event_bus'

/*
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

/*
 * Import namespaced helpers by using createNamespacedHelpers. 
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState } = createNamespacedHelpers('calendar');

export default {
    name: 'DayTableHeader',
    props: ['index', "filler"],
    data () {
        return {
            headerRowHeight:{
                height: 60+'px',
            },
            rowHeight:{
                height: 40+'px',
            },
        }
    },
    computed: {
        /*
         * map calendar state to component
         */
        ...mapState({
            displayDay: state => state.displayDay,
            multiDayEventRowOffset: state => state.weekMultiDayEventRow.height,
            timeZone: state => state.timeZone,
        }),
        /*
         * return day value for header
         */
        day(){
            return moment(this.displayDay).format('dddd');
        },
        /*
         * return date of each column
         */
        date(){
            return moment(this.displayDay).format('DD');
        },
        /*
         * returns if column is today
         */
        today(){
            return moment().format('YYYYMMDD') == moment(this.displayDay).format('YYYYMMDD');
        },
    },
    methods: {
        /**
         * Add event when mouse clicked on day table area
         * Event is set to 1Hr by defaut
         */
        addEventElement (e) {
            if (this.index == 2){
                var startTime = moment(this.displayDay,'YYYYMMDD').format();
                var endTime = moment(startTime).add(1,'hours').format();
                EventBus.$emit('CreateEventModal', {show: true, action:"new", event: {startTime:startTime, endTime:endTime}});
            }  
        },
    },
}

</script>

<style scoped  lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.day__column__header {
    // border-right: 1px solid theme-color('background', 'base');
    border-bottom: 1px solid theme-color('background', 'base');
    background-color: theme-color('background', 'dark');
    width: calc((100% / 8) * 7);
    float: left;
}

.day__column__header--time {
    background-color: theme-color('background', 'dark');
    width: 60px;
}

.week__column__header--filler{
    background-color: theme-color('background', 'dark');
    width: calc((100% / 8) - 60px);
}

.day__column__header--data {
    width: calc(100% / 8);
    padding: 10px 5px;
    width: 100%;
    height: 100%;
}

.day__column__header--day {
    @extend %secondary-font_bold;
    color: theme-color('foreground', 'base');
    font-size: 11px;
}

.day__column__header--date {
    @extend %secondary-font;
    color: theme-color('foreground', 'base');
    font-size: 18px;
}   

.today {
    color: theme-color('highlight', 'red');
}

.add-event-cursor {
    cursor: copy;
}

</style>
