<template>
    <div @click.stop="addEventElement" 
         class="day__column"
         v-bind:class="{'day__column--time':(index == 1)}">
        <div v-for="i in 24" 
             :key="i"
             v-bind:style="rowHeight">
            <div v-if="index == 1"
                 class="">
                <div v-if="i < 12" 
                     class="day__column--time-cell">
                    {{i}} am
                </div>
                <div v-else-if="i == 12" 
                     class="day__column--time-cell">
                    {{i}} pm
                </div>
                <div v-else-if="i < 24" 
                     class="day__column--time-cell">
                    {{i-12}} pm
                </div>
                <div v-else 
                     class="day__column--time-cell">
                    
                </div>
            </div>
            <div v-else 
                 class="day__column--events">
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Services
 */
import { EventBus } from '../../../../tools/event_bus'

/*
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

/*
 * Import namespaced helpers by using createNamespacedHelpers. 
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState } = createNamespacedHelpers('calendar');

export default {
    name: 'WeekTable',
    /**
     * weekDay prop values are passed from weekView containing data related to specific week day
     */
    props: ['index'],
    data () {
        return {
            headerRowHeight:{
                height: 60+'px',
            },
            rowHeight:{
                height: 40+'px',
            },
            showCreateEventModal: false,
            startTime: null,
            endTime: null,
        }
    },
    computed: {
        /*
         * map calendar state to component
         */
        ...mapState({
            displayDay: state => state.displayDay,
            multiDayEventRowOffset: state => state.weekMultiDayEventRow.height,
            eventModal: state => state.eventModal,
        }),
    },
    methods: {
        /**
         * Add event when mouse clicked on week table area
         * Event is set to 1Hr by defaut
         */
        addEventElement (e) {
            [this.startTime, this.endTime] = this.calStartTime(e);
            // display create event modal
            EventBus.$emit('CreateEventModal', {show: true, action:"new", event: {startTime:this.startTime, endTime:this.endTime}});
        },
        /**
         * Calculate start and end times of an standard 1hr event using Y axis mouse coordinates
         */
        calStartTime(e) {
            var pixelsPerHour = parseInt(this.rowHeight.height);
            var minutesByPixels = e.layerY;
            // calculate minutes
            var minutes = parseInt((minutesByPixels % pixelsPerHour) * (60/pixelsPerHour));
            // calculate hours
            var hours = parseInt(minutesByPixels / pixelsPerHour);
            var time = this.displayDay+"-"+hours+":"+minutes;
            // calculate start time
            var startTime = moment(time,"YYYYMMDD-HH:mm").format();
            // calculate end time (standard 1hr event)
            var endTime = moment(startTime).add(2,'hours').format();
            return [startTime, endTime];
        },
    },
}

</script>

<style scoped  lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.day__column {
    border-right: 1px solid theme-color('background', 'dark');
    width: calc((100% / 8) * 7);
    float: left;
}

.day__column--time {
    width: 60px;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    text-align: right; 
    font-size: 10px; 
    vertical-align: bottom;
}

.day__column--time-cell {
    @extend %secondary-font;
    font-size: 11px;
    pointer-events: none;
    text-align: right;
    width: 100%;
    padding-top: 25px;
    padding-right: 5px;
}

.day__column--events {
    height: 100%;
    border-bottom: 1px solid theme-color('background', 'dark');
}

.day__column--events:hover {
    cursor: copy;
}


</style>
