<template>
    <div class="dayview">
        <div class="dayview__header">
            <day-table-header v-for="i in 2" 
                              :key="i" 
                              :index="i">
            </day-table-header>
            <day-table-header :filler="true">
            </day-table-header>
        </div>
        <div class="dayview__events"  
             v-bind:style="{'margin-top': marginTop + 'px'}">
            <event-list v-if="showEventList" 
                        :eventElmnts="filteredEventElmnts" 
                        :staticElmnts="sortedStaticElmnts" 
                        :loopbackElmnts="filteredLoopbackElmnts">
            </event-list>
            <day-table v-for="i in 2" 
                       :key="i" 
                       :index="i">
            </day-table>
        </div>
    </div>
</template>

<script>
/**
 * Services
 */
import { EventBus } from '../../../../tools/event_bus';

/**
 * Import EventList to polupate events over the WeekTable
 * WeekTable is a template for one day
 */
import EventList from './EventList';

/**
 * Import DayTable template containing table background design
 */
import DayTable from './DayTable';

/**
 * Import DayTable template containing table background design
 */
import DayTableHeader from './DayTableHeader';

/*
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

/*
 * Import namespaced helpers by using createNamespacedHelpers. 
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState } = createNamespacedHelpers('calendar');

export default {
    name: 'DayView',
    props: [],
    components: {
        'event-list': EventList,
        'day-table': DayTable,
        'day-table-header': DayTableHeader,
    },
    data () {
        return {
            startTime: null,
            endTime: null,
            showEventList: false,
        }
    },
    mounted() {
        /**
         * Display the eventlist if day__column are available
         */
        var element = document.getElementsByClassName('day__column');
        if(element.length){
            this.showEventList = true;
        }
    },
    computed: {
        /*
         * map calendar state to component
         */
        ...mapState({
            displayDay: state => state.displayDay,
            timeZone: state => state.timeZone,
            eventModal: state => state.eventModal,
            eventElmnts: state => state.eventElmnts,
            staticElmnts: state => state.staticElmnts,
            loopbackElmnts: state => state.loopbackElmnts,

        }),
        /*
         * Updates the top margin for weekview_events element if weekMultiDayEventRow.height is changed
         */
        marginTop () {
            return this.$store.state.calendar.headerRowHeight + this.$store.state.calendar.weekMultiDayEventRow.height;
        },
        /*
         * sort eventElmnts
         */
        sortedStaticElmnts(){
            // compare function
            function compare(a, b) {
                if (a.id < b.id)
                    return -1;
                if (a.id > b.id)
                    return 1;
                return 0;
            }
            return this.staticElmnts.slice().sort(compare);
        },
        /*
         * filter loopback elements
         * find and remove loopback elements startig today
         */
        filteredLoopbackElmnts(){
            // compare function
            for (var i in this.loopbackElmnts) {
                if ((moment(this.loopbackElmnts[i].startTime).format('YYYYMMDD')) == this.displayDay){
                    this.$store.commit('calendar/removeLoopbackElmnt', this.loopbackElmnts[i].id );
                }
            }
            return  this.loopbackElmnts;
        },
        /*
         * filter loopback elements
         * find and remove loopback elements startig today
         */
        filteredEventElmnts(){
            // compare function
            for (var i in this.eventElmnts) {
                if ((moment(this.eventElmnts[i].startTime).format('YYYYMMDD')) == (moment(this.displayDay,'YYYYMMDD').subtract(1,'days').format('YYYYMMDD'))){
                    this.$store.commit('calendar/removeEventElmnt', this.eventElmnts[i].id );
                }
            }
            return  this.eventElmnts;
        },
    },
    methods: {
        /*
         * Open CreateEventModal for editing an event  
         */
        addEvent() {
            //console.log("addEvent", );
            var startTime = moment(this.date).format();
            var endTime = moment(this.date).add(60, 'minutes').format();

            if (moment(this.date).format("YYYYMMDD") == moment().format("YYYYMMDD")){
                startTime = moment().format();
                endTime = moment(startTime).add(60, 'minutes').format();
            }
            EventBus.$emit('CreateEventModal', {show: true, action:"new", event: {startTime:startTime, endTime:endTime}});            
        },
    }
}

</script>
<style scoped  lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.dayview{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.dayview__header {
    position: relative;
}

.dayview__events {
    position: relative;
}

</style>
