<template>
    <div>
        <event-element v-for="(eventElmnt, index) in eventElmnts" 
                       :eventElmnt="eventElmnt" 
                       :index="index" 
                       :key="index"/>
        <static-element v-for="(eventElmnt, index) in staticElmnts" 
                        :eventElmnt="eventElmnt" 
                        :index="index" 
                        :key="'A'+index"/>
        <loopback-element v-for="(eventElmnt, index) in loopbackElmnts" 
                          :eventElmnt="eventElmnt" 
                          :index="index" 
                          :key="'B'+index"/>
    </div>
</template>

<script>
/**
 * Component for EventElemet
 */
import EventElement from './EventElement';

/**
 * Component for StaticElement
 */
import StaticElement from './StaticElement';

/**
 * Component for StaticElement
 */
import LoopbackElement from './LoopbackElement';

export default {
    name: 'EventList',
    props: ['eventElmnts','staticElmnts','loopbackElmnts'],
    components: {
        'static-element': StaticElement,
        'event-element': EventElement,
        'loopback-element': LoopbackElement,
    },
    methods: {
    }
}

</script>
<style scoped  lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

</style>
