<template>
    <div class="event_element" 
         v-bind:style="styleObject" 
         @mousedown="dragMouseDown">
        {{ eventElmnt.title }}
    </div>
</template>

<script>

/**
 * Service
 */
import network from '../../../../tools/network'
import { EventBus } from '../../../../tools/event_bus'

/*
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

/*
 * Import namespaced helpers by using createNamespacedHelpers. 
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState, mapGetters } = createNamespacedHelpers('calendar');

export default {
    name: 'StaticElement',
    props: ['eventElmnt', 'index'],
    data () {
        return {
            weekDays : this.$store.state.calendar.weekDays,
            // drag coordinate vars
            xInit : 0, 
            yInit : 0,
            xDelta : 0, 
            yDelta : 0, 
            xOld : 0, 
            yOld : 0,
            minX : null,
            maxX : null,
            minY : null,
            maxY : null,
            // element style vars
            styleObject : {
                top : 0+"px",
                left : 0+"px",
                width : null,
                height : null,
            },
            // elements and coordinates vars
            clickedElmnt : null,
            parentElmnt : [],
            rect : [],
            colX : [],
            rawY : [],
            timeColOffset : null,
            // element time vars
            update : {
                date : null,
                time : null,
                change : false,
            },
            multiDay: false,
            eventDurationInMins : null, 
            minEventDurationInPx : 20,
            pixelsPerHour: 40,
            // loopback vars
            loopbackStatus: false,
        }
    },
    created() {
        this.initElement();
    },
    watch: {
        startTime(){
            this.initElement();
        },
        endTime(){
            this.initElement();
        }
    },
    computed: {
        /*
         * map calendar state to component
         */
        ...mapState({
            staticElmnts: state => state.staticElmnts,
            startOfWeek: state => state.startOfWeek,
            multiDayEventRowOffset: state => state.weekMultiDayEventRow.height,
            headerRowHeight: state => state.headerRowHeight,
        }),

        /*
         * map event start time and end time state to component
         */
        startTime() {
            return this.$store.getters["calendar/staticElmntStartTime"](this.eventElmnt.id);
        },
        endTime() {
            return this.$store.getters["calendar/staticElmntEndTime"](this.eventElmnt.id);
        },
        
        /*
         * columnIndex extracts the column for placing the elemnt during init function
         */
        columnIndex(){
            if (this.startOfWeek == "Sunday"){
                return parseInt(moment(this.eventElmnt.startTime).format("e")) + 1;
            } else if (this.startOfWeek == "Monday"){
                return parseInt(moment(this.eventElmnt.startTime).format("E"));
            }
        }
    },
    methods: {
        /*
         * Initialize an event element 
         * Perform initial calculations for necessary paramaeters 
         */
        initElement() {
            this.parentElmnt = document.getElementsByClassName('day__column');
            // get column left values
            for (var i = 0; i < this.parentElmnt.length; i++){
                var {left} = this.parentElmnt[i].getBoundingClientRect();
                this.colX.push(left)
            }

            // calculate event duration
            [ this.eventDurationInMins, this.eventDurationInPx ] = this.calEventDuration();
            
            // check for multi day events
            if (this.eventDurationInMins > 0 ) {
                if (this.eventDurationInMins > (60*24)){
                    // multi day event
                    // set element width 
                    this.styleObject.width = (parseInt(this.parentElmnt[1].clientWidth)) + "px";
                    // set element height
                    this.styleObject.height = 20 + "px";
                    // set initial position - top
                    this.styleObject.top = -((this.index+1)*20) + "px";
                    // set initia position - left
                    this.timeColOffset = this.parentElmnt[0].offsetWidth;
                    this.styleObject.left = this.timeColOffset +"px";

                    this.updateMultiDayEventRowHeight();
                }  
            }                
        },
        /**
         * Calculate multi day event row height depending on the number of multi day elements and update
         */
        updateMultiDayEventRowHeight() {
            this.$store.commit('calendar/updateWeekMultiDayEventRow', this.staticElmnts.length*20);
        },        
        /*
         * Calculate event element creation 'top' value 
         */
        calTimeOffset() {
            // get time value from eventElmnt
            var time = this.startTime;
            var minutes = moment(time).format("mm");
            var hours = moment(time).format("HH");
            // calculate y coordinates and return sum
            var y1 = hours * this.pixelsPerHour;
            var y2 = minutes * (this.pixelsPerHour / 60);
            return y1 + y2;
        },
        /*
         * return the event duration of an ecent in minutes
         */
        calEventDuration(){
            var diffInMins = moment(this.endTime).diff(moment(this.startTime), 'minutes');
            var diffInPx = diffInMins * this.pixelsPerHour / 60; 
            
            if (diffInMins > 0){
                return [diffInMins, diffInPx];
            } else {
                console.log("calEventDuration: Time difference error! start: " + this.startTime + "end: " + this.startTime);
                return [0, 0];
            }
        },
        /*
         * Invoked when clicked on an event element 
         * Add listners to mousemove and mouseup events afterwards
         * Store initial XY coordinates for future calculations 
         */
        dragMouseDown (e) {
            e = e || window.event;
            e.preventDefault();
            this.clickedElmnt = e.target;
            
            // get the mouse cursor position at startup:
            this.xInit = e.clientX;
            this.yInit = e.clientY;
            this.xOld = e.clientX;
            this.yOld = e.clientY;
            
            // call a function whenever the click is let go:
            document.onmouseup = this.closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = this.elementDrag;
        },
        /*
         * Invoked when a clicked element is dragged
         * Calculates the new top and left offset values for the event element
         * calculate 
         */
        elementDrag (e) {
            e = e || window.event;
            e.preventDefault();

            // get elemet width and height
            var {width, height} = this.clickedElmnt.getBoundingClientRect();   

            // set position under constraints
            // left position
            var inColumn = 0;
            for (var i=1; i<this.colX.length; i++){
                if (e.clientX >= this.colX[i] ){
                    inColumn = i;
                    var left = this.timeColOffset + ((inColumn-1) * this.parentElmnt[1].offsetWidth);
                    if (left >= this.minX && (left <= (this.maxX-width))){
                        this.styleObject.left = left + "px";
                        // set update values
                        this.update.date = this.$store.state.calendar.weekDays[inColumn].date;
                        this.update.change = true;
                    }   
                }
            }

            // top position
            this.yDelta = this.yOld - e.clientY;
            if(this.yDelta == 0) this.update.change = true;
            this.yOld = e.clientY; 
            var top = this.clickedElmnt.offsetTop - this.yDelta;
            if ((top >= this.minY) && (top <= this.maxY) && !this.loopbackStatus){
                // update top value of event element
                this.styleObject.top = top + "px";
                this.update.time = this.yInit - this.yOld;
            }
        },
        /*
         * Invoked when a clicled element is let go
         * Removes mouseup and mousedown listners
         * If element was dragged updates the new date and time
         */
        closeDragElement (e) {
            // stop moving when mouse button is released:
            document.onmouseup = null;
            document.onmousemove = null;
            /**
             * Invoked when an element is clicked and not moved
             * Opens a modal used to create/edit events
             */
            EventBus.$emit('CreateEventModal', {show: true, action:"edit",event:this.eventElmnt});
            
            // reset update check
            this.update.change = false;
        },
        /*
         * Invoked when a clicked element is let go after dragging casuing an date/time update
         * Calculates the new starttime and end time of the element using Y axis change of element postion
         */
        calStartTime() {
            var minutesByPixels = (this.clickedElmnt.offsetTop);
            // calculate minutes
            var minutes = parseInt(minutesByPixels % this.pixelsPerHour) * (60/this.pixelsPerHour);
            // calculate hours
            var hours = parseInt(minutesByPixels / this.pixelsPerHour);
            var time = this.update.date+"-"+hours+":"+minutes;
            // calculate new start time
            var startTime = moment(time,"YYYYMMDD-HH:mm").format();
            // calculate new end time
            var endTime = moment(startTime).add(this.eventDurationInMins, 'minutes').format();
            return [startTime, endTime];  
        },
    }
}

</script>
<style scoped  lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.event_element {
    @extend %calendar-event-static;
    background-color: theme-color('calendar-event', 'base');
}

.event_element:hover {
    background-color: lighten($color: theme-color('calendar-event', 'base'), $amount: 10%);
    z-index: 2;
}

</style>
