<template>
    <div class="schedule">
        <div class="schedule__header">
            
        </div>
        <div class="schedule__day" 
             v-for="i in 30" 
             :key="i"  
             >
            <div v-if="getElmnts(i).length > 0">
                <div class="schedule__day__space" >
                    <!-- 60px space left as in week and month view -->
                </div>
                <div class="schedule__day__container" 
                    @click.stop="addEvent(i)">
                    <div class="schedule__day__value" >
                        <div class="display-date" 
                            v-bind:class="{ today: today(i) }">
                            {{getDisplayDate(i)}}
                        </div>
                        <div class="display-month">
                            {{getDisplayMonth(i)}},
                        </div>
                        <div class="display-day">
                            {{getDisplayDay(i)}}
                        </div>
                    </div>
                    <div class="schedule__day__events" >
                        <div class="schedule__day__event" 
                            v-for="(event,j) in getElmnts(i)" 
                            :key="j" @click.stop="editEvent(event)">
                            <div class="color-ball"></div>
                            <div class="event-title">
                                {{event.title}}
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="staticElmnts.length == 0">
            <div class="">
                <div class="schedule__day__noevents">
                    {{displayMsg}}
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
/**
 * Services
 */
import { EventBus } from '../../../../tools/event_bus'

/*
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

/*
 * Import namespaced helpers by using createNamespacedHelpers. 
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState } = createNamespacedHelpers('calendar');

export default {
    name: 'ScheduleView',
    data () {
      return {
        weekDays: this.$store.state.calendar.weekDays,
        showEventListModal: false,
        modalEventList: [],
        modalDate: null,
        displayMsg: "",
      }
    },
    computed: {
        /*
         * map calendar state to component
         */
        ...mapState ({
            displayDay: state => state.displayDay,
            staticElmnts: state => state.staticElmnts,
        }),
        /**
         * check if there are no events to display
         * TODO
         */
        noEvents() {
            var value = this.staticElmnts.length;
            var that = this;
            setTimeout(function() {
                if (that.staticElmnts.length == 0) {
                    console.log("true");
                    that.displayMsg = "You're all done!";
                    return true;
                } else {
                    that.displayMsg = "Loading";
                    return false;
                }
            }, 3000);
        },
    },
    methods: {
        /*
         * Find statcElements for every date 
         */
        getElmnts(index){
            var arr = [];
            for(var i = 0; i < this.staticElmnts.length; i++){
                var diffStart = moment(this.staticElmnts[i].startTime).diff(moment(this.getDate(index), "YYYYMMDD"), 'minutes');
                var diffEnd = moment(this.staticElmnts[i].endTime).diff(moment(this.getDate(index), "YYYYMMDD"), 'minutes');
                if ((diffStart >= 0) && (diffEnd < 24*60)) {
                    // start in end in
                    arr.push(this.staticElmnts[i]);
                } else if (diffEnd > 0 && diffEnd < 24*60 && diffStart < 0) {
                    // start out end in
                    arr.push(this.staticElmnts[i]);
                } else if (diffStart >= 0 && diffStart < 24*60 && diffEnd >=24*60) {
                    // start in end out
                    arr.push(this.staticElmnts[i]);
                } else if (diffStart < 0 && diffEnd >= 24*60) {
                    // start out and end out
                    arr.push(this.staticElmnts[i]);
                }
            }
            return arr;
        },
        /*
         * Get Display Date
         */
        getDate(i){
            return moment(this.displayDay, 'YYYYMMDD').add(i-1,'days').format('YYYYMMDD');
        },
        /*
         * Get Display Date
         */
        getDisplayDate(i){
            return moment(this.displayDay, 'YYYYMMDD').add(i-1,'days').format('DD');
        },
        /*
         * Get Display Month
         */
        getDisplayMonth(i) {
            return moment(this.displayDay, 'YYYYMMDD').add(i-1,'days').format('MMM');
        },
        /*
         * Get Display Day
         */
        getDisplayDay(i) {
            return moment(this.displayDay, 'YYYYMMDD').add(i-1,'days').format('ddd');
        },
        /*
         * Open CreateEventModal for editing an event  
         */
        editEvent(event) {
            EventBus.$emit('CreateEventModal', {show: true, action:"edit", event: event});            
        },
        /*
         * Check if the date is today
         */
        today(i) {
            return moment().format('YYYYMMDD') == this.getDate(i);
        },
        /*
         * Open CreateEventModal to add an event 
         */
        addEvent(i) {
            var dateSelected = moment(this.displayDay, 'YYYYMMDD').add(i-1,'days').format();
            EventBus.$emit('CreateEventModal', {show: true, action:"new", event: { startTime:dateSelected, endTime:moment(dateSelected).add(1,'hours').format()}});  
        }, 
    },
}

</script>
<style scoped lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.schedule {
    @extend %primary-font;
    position: relative;
    font-size: 0px;
}

.schedule__header {
    position: relative;
    height: 20px;
    border-bottom: 1px solid theme-color('background', 'base');
    background-color: theme-color('background', 'dark');
}

.schedule__day {

}

.schedule__day__space {
    display: inline-block;
    width: 60px;
}

.schedule__day__container{
    display: inline-block;
    border: 1px solid theme-color('background', 'dark');
    border-top: 0px;
    min-height: 40px;
    width: calc((100%) * 7 / 8 );
}

.schedule__day__value {
    @extend %secondary-font;
    padding: 10px 0px;
    float: left;
    font-size: 11px;
    width: calc((100%) * 2 / 8 );
    text-align: center;
}

.display-date,
.display-month,
.display-day {
    width: 20%;
    padding: 10px 0px;
    display: inline-block;
    vertical-align: middle;
}

.schedule__day__events {
    padding: 10px 0px;
    display: inline-block;
    font-size: 11px;
    width: calc((100%) * 6 / 8 );
}

.schedule__day__noevents {
    @extend %secondary-font;    
    font-size: 11px;
    text-align: center;
    padding-top: 30px;
}

.schedule__day__event {
    @extend %secondary-font;
    font-size: 11px;
    padding: 10px;
    border-radius: 3px;
}

.schedule__day__event:hover {
    background-color: theme-color('background', 'dark'); 
}

.color-ball{
    display: inline-block;
    vertical-align: middle;
    margin: 0px 20px;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: theme-color('calendar-event', 'base');
}

.event-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    color: theme-color('foreground', 'base');
}

.today {
    @extend %secondary-font_bold;
    color: theme-color('background', 'base');
    background-color: theme-color('highlight', 'red');
    border-radius: 3px;
}

</style>
