<template>
    <div class="event_element"
         v-bind:style="styleObject"
         @mousedown="dragMouseDown" >
        {{ eventElmnt.title }}
    </div>
</template>

<script>

/**
 * Service
 */
import network from '../../../../tools/network'
import { EventBus } from '../../../../tools/event_bus'

/*
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

/*
 * Import namespaced helpers by using createNamespacedHelpers.
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState, mapGetters } = createNamespacedHelpers('calendar');

export default {
    name: 'EventElement',
    props: ['eventElmnt', 'index'],
    data () {
        return {
            weekDays : this.$store.state.calendar.weekDays,
            // drag coordinate vars
            xInit : 0,
            yInit : 0,
            xDelta : 0,
            yDelta : 0,
            xOld : 0,
            yOld : 0,
            minX : null,
            maxX : null,
            minY : null,
            maxY : null,
            // element style vars
            styleObject : {
                top : 0+"px",
                left : 0+"px",
                width : null,
                height : null,
            },
            // elements and coordinates vars
            clickedElmnt : null,
            parentElmnt : [],
            rect : [],
            colX : [],
            rawY : [],
            timeColOffset : null,
            // element time vars
            update : {
                date : null,
                time : null,
                change : false,
            },
            multiDay: false,
            eventDurationInMins : null,
            minEventDurationInPx : 20,
            pixelsPerHour: 40,
            removeElement: '',
        }
    },
    created() {
        this.initElement();
        this.initEventListner();
    },
    watch: {
        startTime(){
            this.initElement();
        },
        endTime(){
            this.initElement();
        }
    },
    computed: {
        /*
         * map calendar state to component
         */
        ...mapState({
            startOfWeek: state => state.startOfWeek,
            multiDayEventRowOffset: state => state.weekMultiDayEventRow.height,
            headerRowHeight: state => state.headerRowHeight,
        }),

        /*
         * map event start time and end time state to component
         */
        startTime() {
            return this.$store.getters["calendar/eventElmntStartTime"](this.eventElmnt.id);
        },
        endTime() {
            return this.$store.getters["calendar/eventElmntEndTime"](this.eventElmnt.id);
        },

        /*
         * columnIndex extracts the column for placing the elemnt during init function
         */
        columnIndex(){
            if (this.startOfWeek == "Sunday"){
                return parseInt(moment(this.eventElmnt.startTime).day()) + 1;
            } else if (this.startOfWeek == "Monday"){
                return parseInt(moment(this.eventElmnt.startTime).isoWeekday());
            }
        }
    },
    methods: {
        /*
         * Initialize an event element
         * Perform initial calculations for necessary paramaeters
         */
        initElement() {
            this.parentElmnt = document.getElementsByClassName('week__column');
            // get column left values
            for (var i = 0; i < this.parentElmnt.length; i++){
                var {left} = this.parentElmnt[i].getBoundingClientRect();
                this.colX.push(left)
            }

            // calculate event duration
            [ this.eventDurationInMins, this.eventDurationInPx ] = this.calEventDuration();

            // check for multi day events
            if (this.eventDurationInMins > 0 ) {

                if(!this.eventElmnt.loopback){
                    // single day event
                    // calculate drag limits for an element
                    this.minX = ((this.parentElmnt[0].offsetWidth )) ;
                    this.maxX = ((this.parentElmnt[this.columnIndex].offsetWidth ) * (this.parentElmnt.length));
                    this.minY = 1;
                    this.maxY = ((this.parentElmnt[this.columnIndex].offsetHeight)) - this.minEventDurationInPx;

                    // set initial position - left
                    this.timeColOffset = this.parentElmnt[0].offsetWidth;
                    var leftOffset = this.timeColOffset + (this.parentElmnt[this.columnIndex].offsetWidth * (this.columnIndex - 1)) ;
                    this.styleObject.left = leftOffset + "px";

                    // set element width 5px left to access the column
                    if(this.eventElmnt.overlapCount > 0 && !this.eventElmnt.hasChild){
                        // overlapping event
                        var overlapCount = this.eventElmnt.overlapCount;
                        var overlapIndex = this.eventElmnt.overlapIndex;
                        this.styleObject.width = (parseInt(this.parentElmnt[1].clientWidth) - 5) - (5 * Math.abs(overlapCount - overlapIndex))  + "px";
                    } else {
                        // non overlapping event
                        this.styleObject.width = (parseInt(this.parentElmnt[1].clientWidth) - 5) + "px";
                    }

                    // set initial position - top
                    var timeOffset = this.calTimeOffset();
                    this.styleObject.top = timeOffset + "px";

                    // check if event loops back to another day
                    if (timeOffset + this.eventDurationInPx < this.parentElmnt[this.columnIndex].offsetHeight) {
                        // event doesn't loop back to another day
                        this.styleObject.height = this.eventDurationInPx + "px";
                    } else {
                        // event loops back to another day
                        this.styleObject.height = ( this.parentElmnt[this.columnIndex].offsetHeight - timeOffset ) + "px";
                    }
                } else {
                    // loopback events
                    var loopbackColumnIndex = this.columnIndex ;
                    // calculate drag limits for an element
                    this.minX = ((this.parentElmnt[0].offsetWidth )) ;
                    this.maxX = ((this.parentElmnt[loopbackColumnIndex].offsetWidth ) * (this.parentElmnt.length));
                    this.minY = 1;
                    this.maxY = ((this.parentElmnt[loopbackColumnIndex].offsetHeight)) - this.minEventDurationInPx;

                    // set element width 5px left to access the column
                    this.styleObject.width = (parseInt(this.parentElmnt[1].clientWidth) - 5) + "px";

                    // set initial position - left
                    this.timeColOffset = this.parentElmnt[0].offsetWidth;
                    if (this.startOfWeek == "Sunday"){
                        var leftOffset = this.timeColOffset + (this.parentElmnt[loopbackColumnIndex].offsetWidth * (loopbackColumnIndex - 1));
                    } else if (this.startOfWeek == "Monday"){
                        var leftOffset = this.timeColOffset + (this.parentElmnt[loopbackColumnIndex].offsetWidth * (loopbackColumnIndex - 1));
                    }

                    this.styleObject.left = leftOffset +"px";

                    // set initial position - top
                    var timeOffset = this.calTimeOffset();
                    this.styleObject.top =   "1px";
                    this.styleObject.height = this.eventDurationInPx - ( this.parentElmnt[loopbackColumnIndex].offsetHeight - timeOffset ) + "px";
                }
            }
        },
        /*
         * Event Bus listner init for loopb ackevents
         */
        initEventListner(){
            // loopback EventBus listner
            EventBus.$on("loopbackEventHeight",(data) => {
                if (data.id == this.eventElmnt.id ) {
                    // if the event id match

                    if (data.loopback == false && this.eventElmnt.loopback == true){
                        this.styleObject.height = parseInt(this.styleObject.height) - data.height + "px";
                    }

                    if (data.loopback == true && this.eventElmnt.loopback == false) {

                        if (parseInt(this.styleObject.height) >= this.minEventDurationInPx  ) {

                            if (parseInt(this.styleObject.height) + data.height >= this.minEventDurationInPx){
                                this.styleObject.top = parseInt(this.styleObject.top) - data.height + "px";
                                this.styleObject.height = parseInt(this.styleObject.height) + data.height + "px";
                            }
                        }

                    }
                }

            });
        },
        /*
         * Calculate event element creation 'top' value
         */
        calTimeOffset() {
            // get time value from eventElmnt
            var time = this.startTime;
            var minutes = moment(time).format("mm");
            var hours = moment(time).format("HH");

            // calculate y coordinates and return sum
            var y1 = hours * this.pixelsPerHour;
            var y2 = minutes * (this.pixelsPerHour / 60);
            return y1 + y2;
        },
        /*
         * return the event duration of an ecent in minutes
         */
        calEventDuration(){
            var diffInMins = moment(this.endTime).diff(moment(this.startTime), 'minutes');
            var diffInPx = diffInMins * this.pixelsPerHour / 60;

            if (diffInMins > 0){
                return [diffInMins, diffInPx];
            } else {
                console.log("calEventDuration: Time difference error! start: " + this.startTime + "end: " + this.startTime);
                return [0, 0];
            }
        },
        /*
         * Invoked when clicked on an event element
         * Add listners to mousemove and mouseup events afterwards
         * Store initial XY coordinates for future calculations
         */
        dragMouseDown (e) {
            e = e || window.event;
            e.preventDefault();
            this.clickedElmnt = e.target;

            // get the mouse cursor position at startup:
            this.xInit = e.clientX;
            this.yInit = e.clientY;
            this.xOld = e.clientX;
            this.yOld = e.clientY;

            // call a function whenever the click is let go:
            document.onmouseup = this.closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = this.elementDrag;
        },
        /*
         * Invoked when a clicked element is dragged
         * Calculates the new top and left offset values for the event element
         */
        elementDrag (e) {
            e = e || window.event;
            e.preventDefault();

            // get elemet width and height
            var {width, height} = this.clickedElmnt.getBoundingClientRect();
            // set position under constraints
            // left position
            var inColumn = 0;

            if (!this.eventElmnt.hasChild){
                // eventElements with loopback elements are not draggable between columns

                for (var i=1; i<this.colX.length; i++){

                    if (e.clientX >= this.colX[i] ){
                        inColumn = i;
                        var left = this.timeColOffset + ((inColumn-1) * this.parentElmnt[1].offsetWidth);

                        if (left >= this.minX && (left <= (this.maxX-width))){
                            this.styleObject.left = left + "px";
                            // set update values
                            this.update.date = this.$store.state.calendar.weekDays[inColumn].date;
                            this.update.change = true;
                        }
                    }
                }
            } else {
                this.update.date = moment(this.eventElmnt.startTime).format('YYYYMMDD');
                this.update.change = true;
            }

            //  calculate top position
            this.yDelta = this.yOld - e.clientY;
            if(this.yDelta == 0) this.update.change = true;
            this.yOld = e.clientY;
            var top = this.clickedElmnt.offsetTop - this.yDelta;

            if ((top >= this.minY) && (top <= this.maxY) && !this.eventElmnt.loopback){
                // update top value of event element
                this.styleObject.top = top + "px";
                this.update.time = this.yInit - this.yOld;
            }

            // if event loopsback while dragging
            if ((top + this.eventDurationInPx) >= (this.maxY + this.minEventDurationInPx)){
                // loopback from bottom
                // calculate new height of the element adding the y axis change - element dragged downward
                var heightCal = this.clickedElmnt.offsetHeight + this.yDelta;

                if (this.yDelta < 0) {
                    // bottom down
                    this.removeElement = '';

                    if ( (Math.abs(parseInt(heightCal) - parseInt(this.eventDurationInPx))) >=1 ) {

                        if (!this.eventElmnt.hasChild && this.columnIndex != 7){
                            this.$store.commit('calendar/addLoopbackElement', {event: this.eventElmnt, duration: this.eventDurationInMins, action: 'bottom-down'});
                        }
                    }
                    var update = parseInt(heightCal) - this.yDelta;

                    if (Math.abs(update) >= this.minEventDurationInPx){
                        this.styleObject.height = Math.abs(heightCal) + 'px';
                        EventBus.$emit("loopbackEventHeight", {id: this.eventElmnt.id, loopback: this.eventElmnt.loopback , height: this.yDelta});
                    }
                } else if (this.yDelta > 0) {
                    // bottom up
                    this.styleObject.height = Math.abs(heightCal) + 'px';
                    EventBus.$emit("loopbackEventHeight", {id: this.eventElmnt.id, loopback: this.eventElmnt.loopback , height: this.yDelta});

                    if (parseInt(this.styleObject.height) >= this.eventDurationInPx) {
                        // if event is pulled above event duration
                        // update the event to a eventElement removing the loopback
                        this.eventElmnt.loopback = false;
                        this.eventElmnt.hasChild = false;
                        this.eventElmnt.hasParent = false;
                        this.$store.commit('calendar/updateEventElmnt', this.eventElmnt );
                        this.removeElement = "loopback";
                        this.styleObject.height = this.eventDurationInPx + 'px';
                    }
                }
            } else if (parseInt(this.styleObject.top) == 1) {
                // loopback from top
                var heightCal = parseInt(this.clickedElmnt.offsetHeight) - this.yDelta;

                if (this.yDelta < 0) {
                    // top down
                    this.styleObject.height = Math.abs(heightCal) + 'px';
                    EventBus.$emit("loopbackEventHeight", {id: this.eventElmnt.id, loopback: this.eventElmnt.loopback , height: this.yDelta});

                    if (parseInt(this.styleObject.height) >= this.eventDurationInPx) {
                        // if event is pulled above event duration
                        // update the event to a eventElement removing the loopback
                        this.eventElmnt.loopback = false;
                        this.eventElmnt.hasChild = false;
                        this.eventElmnt.hasParent = false;
                        this.$store.commit('calendar/updateEventElmnt', this.eventElmnt );
                        this.removeElement = "loopback";
                        this.styleObject.height = this.eventDurationInPx + 'px';
                    }
                } else if (this.yDelta > 0) {
                    // top up
                    this.removeElement = '';

                    if (Math.abs(parseInt(this.clickedElmnt.offsetHeight) - parseInt(this.eventDurationInPx)) <=1 ) {

                        if (!this.eventElmnt.hasParent && this.columnIndex != 1){
                            var tDelta = this.yDelta * (this.pixelsPerHour / 60);
                            this.$store.commit('calendar/addLoopbackElement', {event: this.eventElmnt, duration: this.eventDurationInMins, action: 'top-up'});
                        }
                    }

                    if (Math.abs(heightCal) >= this.minEventDurationInPx){
                        this.styleObject.height = Math.abs(heightCal) + 'px';
                        EventBus.$emit("loopbackEventHeight", {id: this.eventElmnt.id, loopback: this.eventElmnt.loopback , height: this.yDelta});
                    }
                } else {
                    this.eventElmnt.hasChild = true;
                }
            }
            else {
                // update real height based on time
                this.styleObject.height = this.eventDurationInPx + 'px';
                if (this.eventElmnt.hasChild){
                    this.removeElement = "loopback";
                }
            }
        },
        /*
         * Invoked when a clicled element is let go
         * Removes mouseup and mousedown listners
         * If element was dragged updates the new date and time
         */
        closeDragElement (e) {
            // stop moving when mouse button is released:
            document.onmouseup = null;
            document.onmousemove = null;
            // update event Date or Time
            if (this.update.change) {
                var [startTime, endTime] = this.calStartTime();
                var event = "events."+this.eventElmnt.itemIndex;
                network.post({'index':null}, '/generic/Calendar/', {
                    findOne: {
                        _id: this.$store.state.calendarId
                    },
                    modify: {
                        [event]: {
                            startTime: startTime,
                            endTime: endTime,
                        },
                    },
                    get: {
                        [event]: null,
                    },
                }).then((response) => {
                    this.$store.commit('calendar/updateEventElmnt', response.data[0]);
                    // remove element if requested
                    if(this.removeElement=="loopback"){
                        this.$store.commit('calendar/removeLoopbackElmnt', this.eventElmnt.id );
                        this.removeElement = '';
                        if (this.columnIndex == 1) {
                            var eventUpdate = response.data[0];
                            eventUpdate.itemIndex = this.eventElmnt.itemIndex;
                            //this.$store.commit('calendar/addEventElmnts', eventUpdate);
                        }
                    }
                });
            } else {
                /**
                 * Invoked when an element is clicked and not moved
                 * Opens a modal used to create/edit events
                 */
                EventBus.$emit('CreateEventModal', {show: true, action:"edit",event:this.eventElmnt});
            }

            // reset update check
            this.update.change = false;
        },
        /*
         * Invoked when a clicked element is let go after dragging casuing an date/time update
         * Calculates the new starttime and end time of the element using Y axis change of element postion
         */
        calStartTime() {
            var minutesByPixels = (this.clickedElmnt.offsetTop);
            // calculate minutes
            var minutes = parseInt(minutesByPixels % this.pixelsPerHour) * (60/this.pixelsPerHour);
            // calculate hours
            var hours = parseInt(minutesByPixels / this.pixelsPerHour);
            var time = this.update.date+"-"+hours+":"+minutes;
            // calculate new start time
            var startTime = moment(time,"YYYYMMDD-HH:mm").format();
            // calculate new end time
            var endTime = moment(startTime).add(this.eventDurationInMins, 'minutes').format();
            return [startTime, endTime];
        },
    }
}

</script>
<style scoped  lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.event_element {
    @extend %calendar-event-dynamic;
    background-color: theme-color('calendar-event', 'base');
}

.event_element:hover {
    background-color: lighten($color: theme-color('calendar-event', 'base'), $amount: 10%);
    z-index: 2;
}

</style>
