<template>
    <div @click.stop="addEventElement"
         class="week__column"
         :class="{
             'week__column--time':(day === ''),
             'week__column--weekend': isWeekend,
             'week__column--last': lastColumn,
         }">
        <div v-for="i in 24" 
             :key="i"
             v-bind:style="rowHeight">
            <div v-if="day === ''"
                 class="">
                <div v-if="i < 12" 
                     class="week__column--time-cell">
                    {{i}} am
                </div>
                <div v-else-if="i == 12" 
                     class="week__column--time-cell">
                    {{i}} pm
                </div>
                <div v-else-if="i < 24" 
                     class="week__column--time-cell">
                    {{i-12}} pm
                </div>
                <div v-else 
                     class="week__column--time-cell">
                    
                </div>
            </div>
            <div v-else 
                 class="week__column--events">
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Services
 */
import { EventBus } from '../../../../tools/event_bus'

/*
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

/*
 * Import namespaced helpers by using createNamespacedHelpers.
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState } = createNamespacedHelpers('calendar');

export default {
    name: 'WeekTable',
    /**
     * weekDay prop values are passed from weekView containing data related to specific week day
     */
    props: ['weekDay'],
    data () {
        return {
            index: parseInt(this.weekDay.value),
            headerRowHeight:{
                height: 60+'px',
            },
            rowHeight:{
                height: 40+'px',
            },
            showCreateEventModal: false,
            startTime: null,
            endTime: null,
        }
    },
    computed: {
        /*
         * map calendar state to component
         */
        ...mapState({
            multiDayEventRowOffset: state => state.weekMultiDayEventRow.height,
            weekDays: state => state.weekDays,
            timeZone: state => state.timeZone,
            eventModal: state => state.eventModal,
            startOfWeek: state => state.startOfWeek,
        }),
        /*
         * Get day value fot formatting
         */
        day(){
            return this.weekDays[this.index].name;
        },
        /*
         * Check for weekend
         */
        isWeekend(){
            return (this.weekDays[this.index].name == 'Sat') || (this.weekDays[this.index].name == 'Sun');
        },
        /*
         * return if column is last column depending on startOfWeek value
         */
        lastColumn() {
            if (this.weekDay.day == "Saturday" && this.startOfWeek == "Sunday") {
                return true;
            } else if (this.weekDay.day == "Sunday" && this.startOfWeek == "Monday") {
                return true;
            } else {
                return false;
            }
        }
    },
    methods: {
        /**
         * Add event when mouse clicked on week table area
         * Event is set to 1Hr by defaut
         */
        addEventElement (e) {
            [this.startTime, this.endTime] = this.calStartTime(e);
            // display create event modal
            EventBus.$emit('CreateEventModal', {show: true, action:"new", event: {startTime:this.startTime, endTime:this.endTime}});
        },
        /**
         * Calculate start and end times of an standard 1hr event using Y axis mouse coordinates
         */
        calStartTime(e) {
            var pixelsPerHour = parseInt(this.rowHeight.height);
            var minutesByPixels = e.layerY;
            // calculate minutes
            var minutes = parseInt((minutesByPixels % pixelsPerHour) * (60/pixelsPerHour));
            // calculate hours
            var hours = parseInt(minutesByPixels / pixelsPerHour);
            var time = this.weekDay.date+"-"+hours+":"+minutes;
            // calculate start time
            var startTime = moment(time,"YYYYMMDD-HH:mm").format();
            // calculate end time (standard 1hr event)
            var endTime = moment(startTime).add(2,'hours').format();
            return [startTime, endTime];
        },
    },
}

</script>

<style scoped  lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.week__column {
    // border-right: 1px solid theme-color('background', 'base');
    width: calc((100%) / 8);
    float: left;
}

.week__column--hover {
    background-color: darken(theme-color('background', 'dark'),10%);
}

.week__column--weekend {
    background-color: theme-color('background', 'base');
}

.week__column--time {
    width: 60px;
    border-right: 1px solid theme-color('background', 'dark');
    pointer-events: none;
}

.week__column--last{
    border-right: 1px solid theme-color('background', 'dark');
}

.week__column--time-cell {
    @extend %secondary-font;
    font-size: 11px;
    pointer-events: none;
    text-align: right;
    width: 100%;
    padding-top: 25px;
    padding-right: 5px;
}

.week__column--events {
    height: 100%;
    border-bottom: 1px solid theme-color('background', 'dark');
}

.week__column--events:hover {
    cursor: copy;
}


</style>
