<template>
    <div class="weekview">
        <div class="weekview__header">
            <week-table-header v-for="(weekDay, index) in weekDays"
                               :key="index"
                               :weekDay="weekDay"
                               :filler="false">
            </week-table-header>
            <week-table-header :weekDay="weekDays[0]"
                               :filler="true">
            </week-table-header>
        </div>
        <div class="weekview__events"  
             v-bind:style="{'margin-top': marginTop + 'px'}">
            <event-list v-if="showEventList" 
                        :eventElmnts="eventElmnts" 
                        :staticElmnts="sortedStaticElmnts" 
                        :loopbackElmnts="loopbackElmnts">
            </event-list>
            <week-table v-for="(weekDay, index) in weekDays" 
                        :key="index" 
                        :weekDay="weekDay">
            </week-table>
        </div>
    </div>
</template>

<script>
/*
 * Import namespaced helpers by using createNamespacedHelpers.
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState } = createNamespacedHelpers('calendar');

/**
 * Import WeekTable template containing table background design
 */
import WeekTable from './WeekTable';
import WeekTableHeader from './WeekTableHeader';

/**
 * Import EventList to polupate events over the WeekTable
 * WeekTable is a template for one day
 */
import EventList from './EventList';

export default {
    name: 'WeekView',
    data () {
      return {
        styleObject: {
            "margin-top":  15 + "px",
        },
        showEventList: false,
      }
    },
    /**
     * Components for WeekTable and EventList
     */
    components: {
      'week-table': WeekTable,
      'week-table-header': WeekTableHeader,
      'event-list': EventList,
    },
    computed: {
        /*
         * map calendar state to component
         */
        ...mapState ({
            weekDays: state => state.weekDays,
            multiDayEventRowOffset: state => state.weekMultiDayEventRow.height,
            headerRowHeight: state => state.headerRowHeight,
            eventElmnts: state => state.eventElmnts,
            staticElmnts: state => state.staticElmnts,
            loopbackElmnts: state => state.loopbackElmnts,
        }),
        /*
         * Updates the top margin for weekview__events element if weekMultiDayEventRow.height is changed
         */
        marginTop () {
            return this.$store.state.calendar.headerRowHeight + this.$store.state.calendar.weekMultiDayEventRow.height;
        },
        /*
         * sort eventElmnts
         */
        sortedStaticElmnts(){
            // compare function
            function compare(a, b) {
                if (a.id < b.id)
                    return -1;
                if (a.id > b.id)
                    return 1;
                return 0;
            }
            return this.staticElmnts.slice().sort(compare);
        }

    },
    mounted() {
        /**
         * Display the eventlist if week__column are available
         */
        var element = document.getElementsByClassName('week__column');
        if(element.length){
            this.showEventList = true;
        }
    },
}

</script>
<style scoped lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.weekview{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.weekview__events {
    position: relative;
}

</style>
