<template>
    <div class="week__column__header"
         :class="{
             'week__column__header--time': (day === ''),
             'week__column__header--last': lastColumn,
             'week__column__header--filler': filler,
         }">
        <div>
            <div v-bind:style="headerRowHeight"
                 class="week_col_header--container">
                <div class="week__column__header--data"
                     v-bind:class="{ 'add-event-cursor': day !== '' }"
                     @click="addEventElement">
                    <div v-if="day !== ''">
                        <div class="week__column__header--day">
                            {{day}}
                        </div>
                        <div v-bind:class="{ today: today }" 
                             class="week__column__header--date">
                            {{date}}
                        </div>
                    </div>
                    <div v-else>
                        <!-- <div>
                            GMT
                            {{timeZone}}
                        </div> -->
                    </div>
                </div>
            </div>
            <div v-bind:style="{'height': multiDayEventRowOffset + 'px'}" 
                 class="week__column__multiday">
            </div>
        </div>
    </div>
</template>

<script>
/**
 * Services
 */
import { EventBus } from '../../../../tools/event_bus'

/*
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

/*
 * Import namespaced helpers by using createNamespacedHelpers.
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState } = createNamespacedHelpers('calendar');

export default {
    name: 'WeekTableHeader',
    /**
     * weekDay prop values are passed from weekView containing data related to specific week day
     */
    props: ['weekDay', "filler"],
    data () {
        return {
            index: parseInt(this.weekDay.value),
            headerRowHeight:{
                height: 60+'px',
            },
            rowHeight:{
                height: 40+'px',
            },
        }
    },
    computed: {
        /*
         * map calendar state to component
         */
        ...mapState({
            multiDayEventRowOffset: state => state.weekMultiDayEventRow.height,
            weekDays: state => state.weekDays,
            timeZone: state => state.timeZone,
            startOfWeek: state => state.startOfWeek,
        }),
        /*
         * return day value for header
         */
        day(){
            return this.weekDays[this.index].day;
        },
        /*
         * return date of each column
         */
        date(){
            return moment(this.weekDays[this.index].date,'YYYYMMDD').format('DD');;
        },
        /*
         * returns if column is today
         */
        today(){
            return this.weekDays[this.index].today;
        },
        /*
         * return if column is last column depending on startOfWeek value
         */
        lastColumn() {
            if (this.weekDay.day == "Saturday" && this.startOfWeek == "Sunday") {
                return true;
            } else if (this.weekDay.day == "Sunday" && this.startOfWeek == "Monday") {
                return true;
            } else {
                return false;
            }
        }
    },
    methods: {
        /**
         * Add event when mouse clicked on week table area
         * Event is set to 1Hr by defaut
         */
        addEventElement (e) {
            if (this.day !== '') {
                var startTime = moment(this.weekDay.date,'YYYYMMDD').format();
                var endTime = moment(startTime).add(1,'hours').format();
                EventBus.$emit('CreateEventModal', {show: true, action:"new", event: {startTime:startTime, endTime:endTime}});
            }
        },
    },
}

</script>

<style scoped  lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.week__column__header {
    border-bottom: 1px solid theme-color('background', 'base');
    // border-right: 1px solid theme-color('background', 'base');
    background-color: theme-color('background', 'dark');
    width: calc((100%) / 8);
    float: left;
}

.week__column__header--time {
    width: 60px;
    // do not remove
    // border-right: 1px solid theme-color('background', 'base');
}

.week__column__header--last{
    // do not remove
    // border-right: 1px solid theme-color('background', 'base');
}

.week__column__header--filler{
    background-color: theme-color('background', 'dark');
    width: calc((100% / 8) - 60px);
}

.week__column__header--data {
    width: calc(100% / 8);
    padding: 10px 5px;
    width: 100%;
    height: 100%;
}

.week__column__header--day {
    @extend %secondary-font_bold;
    color: theme-color('foreground', 'base');
    font-size: 11px;
}

.week__column__header--date {
    @extend %secondary-font;
    color: theme-color('foreground', 'base');
    font-size: 18px;
}   

.today {
    color: theme-color('highlight', 'red');
}

.add-event-cursor {
    cursor: copy;
}

</style>
