<template>
    <div class="day__element" 
         v-bind:class="{day__element__notthismonth: notThisMonth}" 
         v-bind:style="{'height': height + 'px'}" 
         @click.stop="addEvent()">
        <div class="day__number" 
             @click.stop="addEvent()">
            <div class="day__number__text" 
                 v-bind:class="{day__number__today: isToday}">
                {{ getDate }}
                
            </div>
            <div v-if="isToday"
                 class="day__today__text">
                (today)
            </div>
        </div>
        <event-list :staticElmnts="getElmnts" 
                    :date="date" 
                    :noOfEvents="noOfEvents">
        </event-list>
        <div v-if="showMore" 
             class="show-more" 
             @click.stop="openEventListModal()">
            {{ showMoreCount }} more
        </div>
    </div>
</template>

<script>
/**
 * Services
 */
import { EventBus } from '../../../../tools/event_bus';

/**
 * Import EventList to polupate events over the WeekTable
 * WeekTable is a template for one day
 */
import EventList from './EventList';

/*
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

/*
 * Import namespaced helpers by using createNamespacedHelpers. 
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState } = createNamespacedHelpers('calendar');

export default {
    name: 'DayView',
    props: ["date", "topOffset"],
    components: {
        'event-list': EventList,
    },
    data () {
        return {
            startTime: null,
            endTime: null,
            showEventList: false,
            noOfEvents: 3,
            height: 100,
            elementH: 20,
            maxH: 100,
            minH: 60, // absolute minimum
        }
    },
    mounted() {
        /**
         * Adjusts the height of day cells for the card to fit the window;
         */
        var availHeight= window.innerHeight - this.topOffset;
        var cellHeight = availHeight / 6;
        if (cellHeight >= this.maxH) {
            this.noOfEvents = parseInt((this.maxH - (this.elementH*2))/this.elementH);
            this.height = this.maxH; 
        } else if (cellHeight <= this.minH) {
            this.noOfEvents = parseInt((this.minH - (this.elementH*2))/this.elementH);
            this.height = this.minH;
        } else {
            this.noOfEvents = parseInt(((Math.round(cellHeight / 10) * 10) - (this.elementH*2))/this.elementH);
            this.height = (Math.round(cellHeight / 10) * 10);
        }        
    },
    computed: {
        /*
         * map calendar state to component
         */
        ...mapState({
            weekDays: state => state.weekDays,
            timeZone: state => state.timeZone,
            month: state => state.displayMonth,
            year: state => state.displayYear,
            eventModal: state => state.eventModal,
            staticElmnts: state => state.staticElmnts,

        }),
        /*
         * Get display Date
         */
        getDate(){
            return moment(this.date).format("D");
        },
        /*
         * Get display Month
         */
        getMonth(){
            return moment(this.date).format("MMM");
        },
        /*
         * Find statcElements for display date
         */
        getElmnts(){
            var arr = [];
            for(var i = 0; i < this.staticElmnts.length; i++){
                var diffStart = moment(this.staticElmnts[i].startTime).diff(moment(this.date, "YYYYMMDD"), 'minutes');
                var diffEnd = moment(this.staticElmnts[i].endTime).diff(moment(this.date, "YYYYMMDD"), 'minutes');

                if ((diffStart >= 0) && (diffEnd < 24*60)) {
                    // start in end in
                    arr.push(this.staticElmnts[i]);
                    
                } else if (diffEnd > 0 && diffEnd < 24*60 && diffStart < 0) {
                    // start out end in
                    arr.push(this.staticElmnts[i]);
                }
                else if (diffStart >= 0 && diffStart < 24*60 && diffEnd >=24*60) {
                    // start in end out
                    arr.push(this.staticElmnts[i]);
                } else if (diffStart < 0 && diffEnd >= 24*60) {
                    // start out and end out
                    arr.push(this.staticElmnts[i]);
                }
            }
            return arr;
        },
        /*
         * Display Show more button if more than 3 elements are available
         */
        showMore(){
            if (this.getElmnts.length > this.noOfEvents){
                return true
            }
        },
        /*
         * Display Show more count if more than 3 elements are available
         */
        showMoreCount(){
            if (this.getElmnts.length > this.noOfEvents){
                return this.getElmnts.length - this.noOfEvents;
            }
        },
        /*
         * Check and sets style for 'Today'
         */
        isToday(){
            if (moment(this.date).format("YYYYMMDD") == moment().format("YYYYMMDD")){
                return true;
            }
        },
        /*
         * Check and sets style for days of pheriperal months
         */
        notThisMonth(){
            if (moment(this.date).format("MMM") != moment().month(this.month).format("MMM")){
                return true;
            } else {
                return false;
            }
        },
    },
    methods: {
        /*
         * sort eventElmnts
         */
        sortedStaticElmnts(){
            // compare function
            function compare(a, b) {
                if (a.id < b.id)
                    return -1;
                if (a.id > b.id)
                    return 1;
                return 0;
            }
            return this.staticElmnts.slice().sort(compare);
        },
        /*
         * Open CreateEventModal for editing an event  
         */
        addEvent() {
            var startTime = moment(this.date).format();
            var endTime = moment(this.date).add(60, 'minutes').format();

            if (moment(this.date).format("YYYYMMDD") == moment().format("YYYYMMDD")){
                startTime = moment().format();
                endTime = moment(startTime).add(60, 'minutes').format();
            }
            EventBus.$emit('CreateEventModal', {show: true, action:"new", event: {startTime:startTime, endTime:endTime}});            
        },
        /*
         * Open EventListModal to display more events
         */
        openEventListModal() {
            EventBus.$emit('EventListModal', {show: true, date:this.date, events:this.getElmnts});            
        },
    }
}

</script>
<style scoped  lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.day__element {
    @extend %primary-font;
    // height: 60px;
    width: 100%;
    vertical-align: top;
    position: relative;
    border-bottom: 1px solid theme-color('background', 'base');
}

.day__element:hover {
    cursor: copy;
}

.day__element__notthismonth {
    background-color: theme-color('background', 'dark');
}

.day__number {
    width: 100%;
    height: 20px;
    padding: 0px 2px ;
}

.day__number__text {
    display: inline-block;
    padding: 2px 10px;
    font-size: 11px;
    height: 20px;
    border-radius: 3px; 
}

.day__number__today {
    color: theme-color('highlight', 'red');
    font-weight: 900;
}

.day__today__text {
    display: inline-block;
    color: theme-color('highlight', 'red');
    font-size: 11px;
}

.show-more {
    @extend %secondary-font;
    padding: 2px 6px;
    font-size: 11px;
    border-radius: 3px;
    cursor: pointer;
}

.show-more:hover {
    @extend %secondary-font_bold;
}

</style>
