<template>
    <div>
        <static-element v-for="(eventElmnt, index) in limitedStaticElmnts" 
                        :eventElmnt="eventElmnt" 
                        :date="date" 
                        :index="index" 
                        :key="index"/>
    </div>
</template>

<script>
/**
 * Component for StaticElement
 */
import StaticElement from './StaticElement';

export default {
    name: 'EventList',
    props: ['staticElmnts', "date", "noOfEvents"],
    components: {
        'static-element': StaticElement,
    },
    computed: {
        limitedStaticElmnts() {
            return this.staticElmnts.slice(0,this.noOfEvents);
        }
    }
}

</script>
<style scoped  lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

</style>
