<template>
    <transition name="modal">
        <div class="modal__mask" 
             @click.stop="closeModal()">
            <div class="modal__wrapper">
                <div class="modal__wrapper2">
                    <div class="modal__container" 
                         @click.stop="">
                        <div class="header">
                            <slot name="header">
                                <div class="header__title">
                                    <div class="header__title--date">
                                        {{date}}
                                    </div>
                                    <div class="header__title--day">
                                        {{day}}
                                    </div>
                                </div>
                                <div class="header__control">
                                    <div class="header__control--button" 
                                         @click.stop="closeModal()">
                                        <img src="../../../../assets/icons/close_dark.png" 
                                             height="20px">
                                    </div>
                                </div>
                            </slot>
                        </div>
                        <div class="body">
                            <slot name="body">
                                <div class="body__container">
                                    <div v-for="(event,index) in modalEventList" 
                                         :key="index" class="event_element"
                                         @click.stop="editEvent(index)">
                                        {{event.title}}
                                    </div>
                                </div>
                            </slot>
                        </div>
                        <div class="modal__footer">
                            <slot name="footer">

                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
/**
 * Services
 */
import network from '../../../../tools/network'
import { EventBus } from '../../../../tools/event_bus'

/*
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

export default {
    name: 'EventListModal',
    props: ['modalEventList', 'modalDate'],
    data () {
        return {
            day: moment(this.modalDate).format('dddd'),
            date: moment(this.modalDate).format('DD MMMM YYYY'),
        }
    },
    methods: {
        closeModal(){
            EventBus.$emit('EventListModal', {show: false, event:[]});
        },
        /*
         * Open CreateEventModal for editing an event  
         */
        editEvent(i) {
            EventBus.$emit('CreateEventModal', {show: true, action:"edit", event: this.modalEventList[i] });            
        },
    }
}
</script>

<style scoped  lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.header {
    position: relative;
    @extend %primary-font;
    font-size: 16px;
    width: 100%;
    background-color: theme-color('background', 'light');
    border-radius: 5px;
}

.header__title {
    display: inline-block;
    margin: 10px;
    padding-left: 10px;
}

.header__control {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.header__control--button {
    display: inline-flex;
    align-items: center;
    padding: 12px;
    @extend %primary-font;
    color: theme-color('foreground', 'base');
    height: 100%;
    border-left: 1px solid theme-color('background', 'base');
    cursor: pointer;
    border-top-right-radius: 5px;
}

.header__control--button:hover {
    background-color: theme-color('background', 'base'); 
}

.header__title--date{
    @extend %primary-font;
    font-size: 18px;
}

.header__title--day{
    font-size: 16px;
    color: #9d9d9d;
}

.body {
    background-color: theme-color('background', 'base'); 
    padding: 10px;
    border-radius: 5px;
}

.event_element {
    @extend %calendar-event-static--month;
    background-color: theme-color('calendar-event', 'base'); 
    margin: 5px;
    cursor: pointer;
}

.event_element:hover {
    background-color: lighten($color: theme-color('calendar-event', 'base'), $amount: 10%);
}

// modal

.modal__mask {
    position: fixed;
    z-index: 9900;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: table;
    transition: opacity .3s ease;
}

.modal__wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal__wrapper2 {
    width: 1000px;
    margin: 0 auto;
}

.modal__container {
    width: 75%;
    margin: 0px ;
    float: right;
    background-color: theme-color('background', 'base');
    border-radius: 5px;
    box-shadow: 0 2px 8px #00000054;
    transition: all .3s ease;
    @extend %primary-font;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal__container,
.modal-leave-active .modal__container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>
