<template>
    <div class="week__column__header">
        <div class="week__column__header--cell">
            {{this.weekDay.day}}
        </div>
    </div>
</template>

<script>
/*
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

/*
 * Import namespaced helpers by using createNamespacedHelpers. 
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState } = createNamespacedHelpers('calendar');

export default {
    name: 'MonthTableHeader',
    /**
     * weekDay prop values are passed from weekView containing data related to specific week day
     */
    props: ['weekDay'],
    data () {
        return {
            index: parseInt(this.weekDay.value),
            headerRowHeight:{
                height: 30+'px',
            },
        }
    },
    computed: {
        /*
         * map calendar state to component
         */
        ...mapState({
            timeZone: state => state.timeZone,
        }),
    },
}

</script>

<style scoped  lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.week__column__header {
    border-bottom: 1px solid theme-color('background', 'dark');
    background-color: theme-color('background', 'dark');
    width: calc((100%) / 7);
    float: left;
}

.week__column__header--cell {
    @extend %secondary-font_bold;
    color: theme-color('foreground', 'base');
    font-size: 11px;
    width: calc(100% / 7);
    padding: 10px 10px;
}

</style>
