<template>
    <div class="monthview">
        <event-list-modal v-if="showEventListModal" 
                          :modalEventList="modalEventList" 
                          :modalDate="modalDate">
        </event-list-modal>
        <div class="monthview__header">
            <month-table-header v-for="(weekDay, index) in weekDaysSlice" 
                                :key="index" 
                                :weekDay="weekDay">
            </month-table-header>
        </div>
        <div class="monthview__events">
            <month-table v-for="(weekDay, index) in weekDaysSlice" 
                         :key="index" 
                         :weekDay="weekDay">
            </month-table>
        </div>
    </div>
</template>

<script>
/**
 * Services
 */
import { EventBus } from '../../../../tools/event_bus'

/*
 * Import namespaced helpers by using createNamespacedHelpers. 
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState } = createNamespacedHelpers('calendar');

/**
 * Import WeekTable template containing table background design
 */
import MonthTable from './MonthTable';
import MonthTableHeader from './MonthTableHeader';

/**
 * Import Modal template for event list
 */
import EventListModal from './EventListModal';

export default {
    name: 'MonthView',
    data () {
      return {
        weekDays: this.$store.state.calendar.weekDays,
        showEventListModal: false,
        modalEventList: [],
        modalDate: null,
      }
    },
    /**
     * Components for WeekTable and EventList
     */
    components: {
      'month-table': MonthTable,
      'month-table-header': MonthTableHeader,
      'event-list-modal': EventListModal,
    },
    created() {
        /**
         * EventBus listener 
         */
        EventBus.$on("EventListModal",(data) => {
            this.showEventListModal = data.show;
            this.modalDate = data.date,
            this.modalEventList = data.events;
        });
    },
    computed: {
        /*
         * map calendar state to component
         */
        ...mapState ({
            eventElmnts: state => state.eventElmnts,
            staticElmnts: state => state.staticElmnts,
            loopbackElmnts: state => state.loopbackElmnts,
        }),
        /*
         * Get weekdays elements without time elemnt
         */
        weekDaysSlice() {
            return this.weekDays.slice(1,8);
        }

    },
}

</script>
<style scoped lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.monthview{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.monthview__events {
    position: relative;
}

</style>
