<template>
    <div  class="week__column">
        <day-view v-for="i in 6" 
                  :key="weekDay.name+i" 
                  :date="getDate(i)" 
                  :topOffset="topOffset"> 
        </day-view>
    </div>
</template>

<script>
/**
 * Import day view
 */
import DayView from './DayView';

/*
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

/*
 * Import namespaced helpers by using createNamespacedHelpers. 
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState } = createNamespacedHelpers('calendar');

export default {
    name: 'MonthTable',
    /**
     * weekDay prop values are passed from weekView containing data related to specific week day
     */
    props: ['weekDay'],
    components: {
        'day-view': DayView,
    },
    data () {
        return {
            topOffset: 250,
        }
    },
    created() {
        // TODO: dynamic top offset 
        // var el = document.getElementsByClassName('week__column');
        // var viewportOffset = el[0].getBoundingClientRect();
        // this.topOffset = viewportOffset.top + 30;
    },
    methods: {
        /*
         * calculate date
         */
        getDate(i){
            var date = moment(this.weekDay.date,"YYYY-MM-DD").format();
            var adjust = ((i-1)*7) ;
            return moment(date).add(adjust,'days').format();
        },
    },
}

</script>

<style scoped  lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.week__column {
    width: calc((100%) / 7);
    float: left;
}

</style>
