<template>
    <div class="event_element" 
         v-bind:class="{'event_element__past':checkPastEvent()}" 
         @click.stop="editEvent()">
        {{ eventElmnt.title }}
    </div>
</template>

<script>

/**
 * Service
 */
import network from '../../../../tools/network'
import { EventBus } from '../../../../tools/event_bus'

/*
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

/*
 * Import namespaced helpers by using createNamespacedHelpers. 
 * Returns an object having new component binding helpers that are bound with the given namespace value:
 */
import { createNamespacedHelpers } from 'vuex';
const { mapState, mapGetters } = createNamespacedHelpers('calendar');

export default {
    name: 'StaticElement',
    props: ['eventElmnt', 'date', 'index'],
    data () {
        return {
        }
    },
    computed: {
        /*
         * map calendar state to component
         */
        ...mapState({
        }),
        /*
         * map event start time and end time state to component
         */
        startTime() {
            return this.$store.getters["calendar/staticElmntStartTime"](this.eventElmnt.id);
        },
        endTime() {
            return this.$store.getters["calendar/staticElmntEndTime"](this.eventElmnt.id);
        },
    },
    methods: {
        /**
         * Calculate multi day event row height depending on the number of multi day elements and update
         */
        updateMultiDayEventRowHeight() {
            this.$store.commit('calendar/updateWeekMultiDayEventRow', 20);
        },        
        /*
         * Calculate event element creation 'top' value 
         */
        calTimeOffset() {
            // get time value from eventElmnt
            var time = this.startTime;
            var minutes = moment(time).format("mm");
            var hours = moment(time).format("HH");
            // calculate y coordinates and return sum
            var y1 = hours * this.pixelsPerHour;
            var y2 = minutes * (this.pixelsPerHour / 60);
            return y1 + y2;
        },
        /*
         * return the event duration of an ecent in minutes
         */
        calEventDuration(){
            var diffInMins = moment(this.endTime).diff(moment(this.startTime), 'minutes');
            var diffInPx = diffInMins * this.pixelsPerHour / 60; 
            
            if (diffInMins > 0){
                return [diffInMins, diffInPx];
            } else {
                console.log("calEventDuration: Time difference error! start: " + this.startTime + "end: " + this.startTime);
                return [0, 0];
            }
        },
        /*
         * Open CreateEventModal for editing an event  
         */
        editEvent() {
            EventBus.$emit('CreateEventModal', {show: true, action:"edit", event:this.eventElmnt});            
        },
        /*
         * Style event based on the event end date and current time  
         */
        checkPastEvent() {
            var today = moment().format();
            var diffInMins = moment(today).diff(moment(this.endTime), 'minutes');
            if (diffInMins >= 0) {
                return true;
            } else {
                return false;
            }
        },
    }
}

</script>
<style scoped  lang="scss">

@import '../../../../sass/theme';
@import '../../../../sass/calendar';

.event_element {
    @extend %calendar-event-static--month;
    background-color: theme-color('calendar-event', 'base'); 
}

.event_element:hover {
    background-color: lighten($color: theme-color('calendar-event', 'base'), $amount: 10%);
    z-index: 2;
}

.event_element__past {
    background-color: theme-color('calendar-event', 'past');
    border-bottom: 1px solid theme-color('foreground', 'lighter');
    color:  theme-color('foreground', 'dark');
    font-weight: 400;
}

.event_element__past:hover {
    background-color: darken($color: theme-color('background', 'dark'), $amount: 10%);
}

</style>
