<template>
    <transition name="modal">
        <div class="modal__mask" 
             @click.stop="closeModal()">
            <div class="modal__wrapper">
                <!-- 
                    wrapper 2 centers the modal on the board
                    remove wrapper 2 to center the modal on the window 
                -->
                <div class="modal__wrapper2"> 
                    <div class="modal__container" 
                         @click.stop="">
                        <div class="header" 
                             @click.stop="bodyClick">
                            <slot name="header">
                                <div class="header__title">
                                    <input ref="set-focus"
                                           class="header__title--input"
                                           v-bind:class="{ 'read-only': projectEvent }"
                                           type="text"
                                           v-model="title"
                                           placeholder="Add title"
                                           @focus="titleFocus()"
                                           @blur="titleBlur()">
                                </div>                                
                                <div class="header__control">
                                    <div v-if="action=='edit'"
                                         class="header__control--button" 
                                         @click.stop="deleteEvent()">
                                        <img src="../../../assets/icons/delete_black.png" 
                                             height="20px">
                                    </div>
                                    <div class="header__control--button" 
                                         @click.stop="closeModal()">
                                        <img src="../../../assets/icons/close_dark.png" 
                                             height="20px">
                                    </div>
                                    <div class="header__control--button" 
                                         @click.stop="addEventElement()" 
                                         :disabled="enableSave">
                                        <img src="../../../assets/icons/done_dark.png"
                                             height="20px">
                                    </div>
                                </div>
                            </slot>
                        </div>

                        <div class="body" 
                             @click.stop="bodyClick">
                            <slot name="body">
                                <div class="body__container">
                                    <div class="body__container--col1">
                                        <div class="body__time">
                                            <div class="body__time--wrapper">
                                                <div class="body__time--text" >
                                                    From: 
                                                </div>
                                                <div class="body__time--date">
                                                    <input class="body__time--input "
                                                           v-bind:class="{
                                                               'error-background': invalidTime, 
                                                               'read-only': projectEvent 
                                                           }"
                                                           type="text"
                                                           v-model="startDate"
                                                           @click.stop="bodyClick(); showDateSelector1 = !showDateSelector1"
                                                           placeholder="startDate">
                                                    <transition name="selector-slide-fade">
                                                        <div 
                                                            class="body__time--datepicker"
                                                            v-if="showDateSelector1">
                                                            <datepicker :dateSelected.sync="startDate" 
                                                                        :toggle.sync="showDateSelector1">
                                                            </datepicker>
                                                        </div>
                                                    </transition>
                                                </div>
                                                <div class="body__time--time" >
                                                    <input class="body__time--input"
                                                           v-bind:class="{
                                                               'error-background': invalidTime, 
                                                               'read-only': projectEvent 
                                                           }"
                                                           type="text"
                                                           @click.stop="bodyClick(); showTimeSelector1 = !showTimeSelector1"
                                                           v-model="startTime"
                                                           placeholder="StartTime">
                                                    <transition name="selector-slide-fade">
                                                        <div 
                                                            class="body__time--select"
                                                            v-if="showTimeSelector1">
                                                            <div class="body__time--select-option"  
                                                                 v-for="i in timeOptions" 
                                                                 :key="i" 
                                                                 @click.stop="
                                                                     startTime = i; 
                                                                     showTimeSelector1 = false;">
                                                                {{ i }}
                                                            </div>
                                                        </div>
                                                    </transition>
                                                </div>
                                            </div>
                                            <div class="body__time--wrapper">
                                                <div class="body__time--text" >
                                                    To: 
                                                </div>
                                                <div class="body__time--date" >
                                                    <input class="body__time--input "
                                                           v-bind:class="{
                                                               'error-background': invalidTime, 
                                                               'read-only': projectEvent
                                                           }"
                                                           type="text"
                                                           v-model="endDate"
                                                           @click.stop="bodyClick(); showDateSelector2 = !showDateSelector2"
                                                           placeholder="endDate">
                                                    <transition name="selector-slide-fade">
                                                        <div class="body__time--datepicker"
                                                             v-if="showDateSelector2">
                                                            <datepicker :dateSelected.sync="endDate" 
                                                                        :toggle.sync="showDateSelector2">
                                                            </datepicker>
                                                        </div>
                                                    </transition>
                                                </div>
                                                <div class="body__time--time" >
                                                    <input class="body__time--input"
                                                           v-bind:class="{
                                                               'error-background': invalidTime, 
                                                               'read-only': projectEvent 
                                                           }"
                                                           type="text"
                                                           v-model="endTime"
                                                           @click.stop="bodyClick(); showTimeSelector2 = !showTimeSelector2 "
                                                           placeholder="endTime">
                                                    <transition name="selector-slide-fade">
                                                        <div 
                                                            class="body__time--select"
                                                            v-if="showTimeSelector2">
                                                            <div class="body__time--select-option"  
                                                                 v-for="i in timeOptions" 
                                                                 :key="i" 
                                                                 @click.stop="
                                                                     endTime = i; 
                                                                     showTimeSelector2 = false;">
                                                                {{ i }}
                                                            </div>
                                                        </div>
                                                    </transition>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="body--subtitle">
                                            Event Details
                                        </div> -->
                                        <div class="body__seperator">
                                        </div>
                                        <div class="location">
                                            <div class="location--icon">
                                                <img src="../../../assets/icons/location_fb.png" 
                                                     height="10px">
                                            </div>
                                            <input class="location__input"
                                                   v-model="locationSelected"
                                                   type="text"
                                                   @click.stop="showLocationSelector = !showLocationSelector"
                                                   placeholder="Add location">
                                            <transition name="selector-slide-fade">
                                                <div class="body__time--select"
                                                     style="width: 50%"
                                                     v-if="showLocationSelector">
                                                    <div class="body__time--select-option"  
                                                         v-for="i in locationSuggestions" 
                                                         :key="i" 
                                                         @click.stop="
                                                             locationSelected = i; 
                                                             showLocationSelector = false;">
                                                        {{ i }}
                                                    </div>
                                                </div>
                                            </transition>
                                        </div>
                                    </div>
                                    <div class="body__container--col2">
                                        <div class="body--subtitle">
                                            Participants
                                        </div>
                                        <div class="body__seperator">
                                        </div>
                                        <div class="participant">
                                            <input ref=""
                                                   class="participant__input"
                                                   v-model="participantSelected"
                                                   type="text"
                                                   @keyup.enter="addParticipant(participantSelected)"
                                                   placeholder="Enter email">
                                            <transition name="selector-slide-fade">
                                                <div class="body__time--select"
                                                     style="width: 50%"
                                                     v-if="showParticipantSelector">
                                                    <div class="body__time--select-option"  
                                                         v-for="(participant,i) in participantSuggestions" 
                                                         :key="i" 
                                                         @click.stop="
                                                             addParticipant(i); 
                                                             participantSelected = ''; 
                                                             showParticipantSelector = false;">
                                                        {{ participant.userName }}
                                                    </div>
                                                </div>
                                            </transition>                                            
                                        </div>
                                        <div class="participant__list">
                                            <div class="participant__list--scroll">
                                                <div class="participant__list__wrapper" 
                                                     v-for="(input, i) in participantList" 
                                                     :key=i>
                                                    <div class="participant__list__item">
                                                        {{ input.userName }}
                                                    </div>
                                                    <div class="participant__list__owner" 
                                                         v-if="input.userId == $store.state.userId">
                                                        owner
                                                    </div>
                                                    <div class="participant__list__remove" 
                                                         v-if="input.userId != $store.state.userId" 
                                                         @click.stop="removeParticipant(i)">
                                                        x
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </slot>
                        </div>
                        <div class="modal-footer">
                            <slot name="footer">
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
/**
 * Services
 */
import network from '../../../tools/network'
import { EventBus } from '../../../tools/event_bus'

/**
 * Import momentjs for time value manipulation
 */
var moment = require('moment');

/**
 * Import DatePicker 
 */
import DatePicker from './datepicker/DatePicker';

export default {
    name: 'CreateEventModal',
    /**
     * weekDay prop values are passed from weekView containing data related to specific week day
     */
    props: ["action","eventData","viewSelected","timeRangeStart","timeRangeEnd"],
    components: {
        'datepicker': DatePicker,
    },
    data () {
        return {
            title: this.eventData.title,
            startDate: moment(this.eventData.startTime).format("YYYY MMM DD"),
            startTime: moment(this.eventData.startTime).format("hh:mm A"),
            endDate: moment(this.eventData.endTime).format("YYYY MMM DD"),
            endTime: moment(this.eventData.endTime).format("hh:mm A"),
            showTimeSelector1: false,
            showTimeSelector2: false,
            showDateSelector1: false,
            showDateSelector2: false,
            timeOptions: ["00:00 AM","00:30 AM","01:00 AM","01:30 AM","02:00 AM","02:30 AM","03:00 AM","03:30 AM","04:00 AM","04:30 AM","05:00 AM","05:30 AM","06:00 AM","06:30 AM","07:00 AM","07:30 AM","08:00 AM","08:30 AM","09:00 AM","09:30 AM","10:00 AM","10:30 AM","11:00 AM","11:30 AM","12:00 PM","12:30 PM","01:00 PM","01:30 PM","02:00 PM","02:30 PM","03:00 PM","03:30 PM","04:00 PM","04:30 PM","05:00 PM","05:30 PM","06:00 PM","06:30 PM","07:00 PM","07:30 PM","08:00 PM","08:30 PM","09:00 PM","09:30 PM","10:00 PM","10:30 PM","11:00 PM","11:30 PM"],
            checkAllDay: false,
            // repeat events
            repeatConditions: ["Does not repeat", "Custom"],
            showRepeatSelector: false,
            repeatSelected: "Does not repeat",
            // location
            locationSuggestions: ["Location 1", "Location 2"],
            showLocationSelector: false,
            locationSelected: "",
            // participants
            participantSuggestions: [],
            showParticipantSelector: false,
            participantSelected: "",
            participantList:[{userName: this.$store.state.user, userId: this.$store.state.userId}], 
            //participantList:[],
            enableSave: false,
        }
    },
    mounted() {
        /** 
         * set focus to the title input field
         */
        if (!this.projectEvent){
            this.$nextTick(() => this.$refs["set-focus"].focus());
        }
        /**
         * load participants names
         */
        if(this.action == "edit") {
            this.eventData.users.forEach((user) => {
                this.loadParticipant(user);
            });
        }      
    },
    computed: {
        /** 
         * Join start date and start time value for validity check
         */
        start() {
            return moment(this.startDate + this.startTime, "YYYY MMM DDhh:mm A").format();
        },
        /** 
         * Join end date and end time value for validity check
         */
        end() {
            return moment(this.endDate + this.endTime, "YYYY MMM DDhh:mm A").format();
        },
        /** 
         * Check if time entered is valid
         */
        invalidTime() {
            var diff = moment(this.end).diff(moment(this.start), 'minutes');
            if (diff <= 0) {
                return true;
            } else {
                return false;
            }
        },
        /** 
         * Check if the event i generated by a project
         * If true, inputs are set to read-only
         */
        projectEvent(){
            if (this.eventData.project == null) {
                return false;
            } else {
                return true;
            }
        },
        /** 
         * Check if participant email is valid
         */
        emailValid() {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(this.participantSelected).toLowerCase());
        },
    },
    methods: {
        /** 
         * Clears the title field when input is in focus 
         * @param  {String} 
         * @returns {Array} 
         */
        bodyClick() {
            this.showTimeSelector1   = false;
            this.showTimeSelector2   = false;
            this.showDateSelector1   = false;
            this.showDateSelector2   = false;
            this.showRepeatSelector  = false;
            this.showLocationSelector= false;
            this.showParticipantSelector = false;
        },
        /** 
         * Clears the title field when input is in focus 
         * @param  {String} 
         * @returns {Array} 
         */
        titleFocus() {
            if(this.action == "edit") {
                this.title = this.eventData.title;
            } else {
                this.title = "";
            }
        },
        /** 
         * Checks if the title input is empty when the element loses focus
         * set title to null if true
         * @param  {String} 
         * @returns {Array} 
         */
        titleBlur() {
            if(this.title.trim().length == 0) {
                this.title = null;
            } 
        },
        // /** 
        //  * Suggest a participant while typing
        //  * @param  {String} 
        //  * @returns {Array} 
        //  */
        // suggestName(){
        //     // @click.stop="showParticipantSelector = !showParticipantSelector"
        //     console.log("Suggest user: ", this.participantSelected);
        //     if(this.participantSelected.trim().length != 0) {
        //         network.post({'index':null}, '/generic/User/', {
        //             findOne: {
        //                 email: this.participantSelected
        //             },
        //             get: {
        //                 '_id': null,
        //                 'name': null,
        //             },
        //         }).then((response) => {
        //             if ( response.data[0] ) {
        //                 this.participantSuggestions.push({userName: response.data[1], userId: response.data[0]});
        //                 this.showParticipantSelector = true;
        //             } else {
        //                 this.participantSuggestions = [];
        //                 this.showParticipantSelector = false;
        //             }
        //         });
        //     } 
        // },
        /** 
         * load existing participant names
         * @param  {String} userId
         * @returns {Array} 
         */
        loadParticipant(userId) {
            if (userId) {
                network.post({'index':null}, '/generic/User/', {
                    findOne: {
                        _id: userId
                    },
                    get: {
                        '_id': null,
                        'name': null,
                    },
                }).then((response) => {
                    if ( response.data[0] ) {
                        var newParticipant = {userName: response.data[1], userId: response.data[0]};
                        if (this.participantList.findIndex(x => x.userId === newParticipant.userId) == -1){
                            this.participantList.push(newParticipant);
                        } 
                    }
                });
            }
        },
        /** 
         * add new participant
         * @param  {String} email address of user
         * @returns {Array} 
         */
        addParticipant(participant) {
            if (participant) {
                network.post({'index':null}, '/generic/User/', {
                    findOne: {
                        email: participant
                    },
                    get: {
                        '_id': null,
                        'name': null,
                    },
                }).then((response) => {
                    if (!response.data[0].error) {
                        var newParticipant = {userName: response.data[1], userId: response.data[0]};
                        if (this.participantList.findIndex(x => x.userId === newParticipant.userId) == -1){
                            this.participantList.push(newParticipant);
                        }
                    } else {
                        console.log(participant, "is not a registered user in Vebing. Email notification will be sent instead!");
                        // TODO implement email notifications for non-registered emails
                    }
                });
                this.participantSelected = "";
            }
        },
        /** 
         * remove a participant from event 
         * @param  {String} 
         * @returns {Array} 
         */
        removeParticipant(index) {
            this.participantList.splice(index,1);
        },
        /*
         * check if the edited/updated event is in time range
         */
        checkEventRange(event){              
            var diffSS = moment(event.startTime).diff(moment(this.timeRangeStart, "YYYY-MM-DD"), 'minutes');
            var diffSE = moment(event.startTime).diff(moment(this.timeRangeEnd, "YYYY-MM-DD"), 'minutes');
            var diffEE = moment(event.endTime).diff(moment(this.timeRangeEnd, "YYYY-MM-DD"), 'minutes');
            var diffES = moment(event.endTime).diff(moment(this.timeRangeStart, "YYYY-MM-DD"), 'minutes');
            if ((diffSS >= 0) && (diffEE < 0)) {
                // start in end in
                return true;
            } else if (diffSS < 0 && diffEE < 0 && diffES >= 0) {
                // start out end in
                return true;
            } else if (diffSS >= 0 && diffSE < 0 && diffEE >=0) {
                // start in end out
                return true;
            } else if (diffSS < 0 && diffEE >= 0) {
                // start out and end out
                return true;
            } 
            return false;
        },
        /** 
         * Update the DB/store with new event or edited event
         * @param  {String} 
         * @returns {Array} 
         */
        addEventElement () {
            if (this.title == null){
                this.title = "(no title)";
            }
            if ( this.action == "new") {
                // create new event
                var participantUserIds = [];
                this.participantList.forEach(item => {participantUserIds.push(item.userId)});
                network.post({'index':null}, '/generic/Calendar/', {
                    findOne: {
                        _id: this.$store.state.calendarId
                    },
                    modify: {
                        'events+': {
                            title: this.title,
                            startTime: this.start,
                            endTime: this.end,
                            owner: this.$store.state.userId,
                            users: participantUserIds,
                        },
                    },
                    get: {
                        'events.-1.id': null,
                    },
                }).then((response) => {
                    network.post({'index':null}, '/generic/Calendar/', {
                        findOne: {
                            _id: this.$store.state.calendarId
                        },
                        get: {
                            'events.length': null,
                        },
                    }).then((response2)=>{
                        var event = {
                            _id: response.data[0],
                            id: response.data[0],
                            title: this.title,
                            startTime: this.start,
                            endTime: this.end,
                            itemIndex: response2.data[0] - 1,
                            users: participantUserIds,
                        };
                        if (this.checkEventRange(event)){
                            (this.viewSelected == 'week' || this.viewSelected=="day")? this.$store.commit('calendar/addEventElmnts', event):null;
                            (this.viewSelected == 'month'|| this.viewSelected=="schedule")? this.$store.commit('calendar/addMonthElmnts', event):null;
                        }
                    });
                });
            } else {
                // edit existing event
                var participantUserIds = [];
                this.participantList.forEach(item => {participantUserIds.push(item.userId)});
                var event = "events."+this.eventData.itemIndex;
                network.post({'index':null}, '/generic/Calendar/', {
                    findOne: {
                        _id: this.$store.state.calendarId
                    },
                    modify: {
                        [event]: {
                            title: this.title,
                            startTime: this.start,
                            endTime: this.end,
                            users: participantUserIds,
                        },
                    },
                    get: {
                        [event]: null,
                    },
                }).then((response) => {
                    if (this.checkEventRange(response.data[0])){
                        this.$store.commit('calendar/updateEventElmnt', response.data[0]);
                    } else {
                        this.$store.commit('calendar/removeAllElmnt', response.data[0].id);
                    }
                });
            }
            // close modal
            this.closeModal();
        },
        /**
         * delete event and close modal
         */
        deleteEvent() {
            if (this.$store.state.userId == this.eventData.owner) {
                // remove all user events if user is the owner
                var participantUserIds = [this.$store.state.userId];
                var event = "events."+this.eventData.itemIndex;
                network.post({'index':null}, '/generic/Calendar/', {
                    findOne: {
                        _id: this.$store.state.calendarId
                    },
                    modify: {
                        [event]: {
                            users: participantUserIds,
                        },
                    },
                    get: {
                        [event]: null,
                    },
                }).then((response) => {
                    if (response.data[0].users.length == 1) {
                        network.post({'index':null}, '/generic/Calendar/', {
                            findOne: {
                                _id: this.$store.state.calendarId
                            },
                            modify: {
                                'events-': this.eventData.itemIndex,
                            },
                        }).then((response) => {
                            this.$store.commit('calendar/removeAllElmnt', this.eventData._id);
                        });
                        this.closeModal();  
                    } else {
                        console.log("Deletion Error!");
                    }
                        
                });
            } else {
                // remove own event if user is not the owner
                network.post({'index':null}, '/generic/Calendar/', {
                    findOne: {
                        _id: this.$store.state.calendarId
                    },
                    modify: {
                        'events-': this.eventData.itemIndex,
                    },
                }).then((response) => {
                    this.$store.commit('calendar/removeAllElmnt', this.eventData._id);
                });
                this.closeModal();
            }
        },
        /**
         * emit close modal event
         */
        closeModal(){
            EventBus.$emit('CreateEventModal', {show: false, event:[]});
        },
    }
}
</script>

<style scoped  lang="scss">

@import '../../../sass/theme';
@import '../../../sass/calendar';

.read-only{
    pointer-events: none;
}

.header {
    position: relative;
    @extend %primary-font;
    font-size: 16px;
    width: 100%;
    background-color: theme-color('background', 'light');
    border-radius: 5px;
}

.header__title {
    display: inline-block;
    margin: 10px;
    width: 80%;
}

.header__title--input{
    @extend %primary-font;
    font-size: 18px;
    width: 100%;
}

.header__control {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.header__control--button {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    height: 100%;
    border-left: 1px solid theme-color('background', 'dark');
    cursor: pointer;
    border-top-right-radius: 5px; 
}

.header__control--button:hover {
    background-color: theme-color('background', 'dark');
}

.body {
    @extend %secondary-font;
    font-size: 11px;
    position: relative;
    background-color: theme-color('background', 'base');
    border-radius: 5px;
}

.body__time {
    margin: 10px;
}

.body__time--wrapper{
    @extend %secondary-font;
    font-size: 11px;
    padding: 5px 0px;
    border-radius: 5px;
}

.body__time--text {
    display: inline-block;
    text-align: left;
    width: 60px;
}

.body__time--date {
    display: inline-block;
    text-align: left;
    
}

.body__time--time {
    display: inline-block;
    text-align: left;
}

.body__time--input {
    @extend %primary-font_bold;
    width: 100px; 
    font-size: 11px;
    cursor: pointer;
    background-color: theme-color('background', 'base');
}

.body__time--input:hover {
    color: theme-color('foreground', 'base');
}

.body__time--datepicker{
    @extend %primary-font;
    font-size: 14px;
    text-align: center;
    position: absolute;
    display: block;
    z-index: 1;
    border: 1px solid theme-color('background', 'dark');
    border-radius: 3px;
}

.body__time--select{
    @extend %primary-font;
    font-size: 11px;
    text-align: center;
    position: absolute;
    display: block;
    z-index: 1;
    max-height: 150px;
    width: 80px;
    overflow-y: scroll;
    @include scrollbar-mod;
    border-radius: 3px;
}

.body__time--select-option{
    background-color: theme-color('background', 'dark');
    padding: 5px;
}

.body__time--select-option:hover{
    background-color: theme-color('background', 'light');
    cursor: pointer;
}

/*
 * The following styles are auto-applied to elements with
 * transition="selector-slide-fade" when their visibility is toggled
 * by Vue.js.
 */

.selector-slide-fade-enter-active {
    transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.selector-slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.selector-slide-fade-enter, .selector-slide-fade-leave-to {
    transform: translateY(-10px);
    opacity: 0;
}

// location - participant
.location,
.participant {
    border-radius: 5px;
    margin: 0px 10px;
}

.location--text {
    display: inline-flex;
    width: 60px;
}

.location--icon {
    display: inline-flex;
    align-items: center;
    margin: 10px;
    // width: 60px;
}

.location__input {
    display: inline-flex;
    align-items: center;
    width: calc(100% - 65px); 
    font-size: 11px;
    padding: 10px;
    cursor: pointer;
    background-color: theme-color('background', 'base');
}

.participant__input {
    width: 100%; 
    font-size: 11px;
    padding: 10px;
}

.participant__list {
    padding: 10px;
}

.participant__list--scroll {
    border-radius: 5px;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    @include scrollbar-mod;
}

.participant__list__wrapper{
    position: relative;
    padding: 2px 10px;
}

.participant__list__item {
    display: inline-block;
    vertical-align: middle;
    width: 75%;
    overflow: hidden;
}

.participant__list__remove,
.participant__list__owner {
    display: inline-block;
    text-align: center;
    width: 20%;
    color: theme-color('foreground', 'base');
}

.participant__list__remove:hover {
    border-radius: 5px;
    background-color: theme-color('background', 'light');
}

.participant__list__owner:hover {
    border-radius: 5px;
    background-color: theme-color('background', 'light');
    color: theme-color('highlight', 'red');
}

// columns

.body__container {
    position: relative;
    min-height: 50%;
}

.body__container--col1{
    float:left;
    width:70%;
}

.body__container--col2{
    position:relative;
    margin-left: 70%;
    background-color: theme-color('background', 'dark');
}

.body--subtitle {
    @extend %primary-font_bold;
    padding: 10px;
}

// generic elements

option {
    padding-top: 10px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

option:hover {
    background-color: theme-color('background', 'light');
}

input {
    // width: 100%;
    border: 0px;
    outline: none;
}

// error special

.error-background{
    background-color: theme-color('highlight', 'red');
    color: theme-color('background', 'base');
}


// modal

.modal__mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: table;
    transition: opacity .3s ease;
}

.modal__wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal__wrapper2 {
    width: 1000px;
    margin: 0 auto;
}

.modal__container {
    width: 75%;
    margin: 0px ;
    float: right;
    background-color: theme-color('background', 'base');
    border-radius: 5px;
    box-shadow: 0 2px 8px #00000054;
    transition: all .3s ease;
    @extend %primary-font;
}


/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal__container,
.modal-leave-active .modal__container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


</style>
