<template>
    <div class="shared-checkbox">
        <div v-if="!value"
             :class="{updating: updating}"
             @click="check(true)">
             <img src="../../assets/icons/unchecked.png"
                  width="10px;">
        </div>
        <div v-else
             @click="check(false)">
             <img src="../../assets/icons/checked.png"
                  width="10px;">
        </div>
    </div>
</template>

<script>
/**
 * Services
 */
import network from '../../tools/network'

export default {
    name: 'checkbox',
    props: ['url','oId','data-key','value','loading'],
    data () {
        return {
            checked: false,
            updating: false
        }
    },
    methods: {
        check(value) {
            this.updating = true;
            network.post(this.loading, this.url, {
                findOne: {
                    _id: this.oId
                },
                modify: {
                    [this.dataKey]: value
                },
                get: {
                    all: null
                }
            }).then(response => {
                if(!response.errors) {
                    this.checked = value;
                    this.$emit('update:value', this.checked);
                    this.updating = false;
                } else {
                    console.log(response.errors);
                }
            });
        }
    }
}
</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared-textedit-sl {
    display: inline-block;
    position: relative;
    padding: 0;
    width: 100%;
}

.updating {
    animation: pulse_2 500ms infinite;
}

@keyframes pulse_2 {
    0% {
        opacity: 0.8;
    }
    60% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.8;
    }
}

</style>
