<template>
    <div class="comments_container">
        <div class="comments">
            <div class="likes_summary">
                <div class="like_icon"
                     @click="likeItem()"
                     @mouseover="likeHovered = true"
                     @mouseout="likeHovered = false">
                    <img v-if="liked"
                         src="../../assets/icons/flow_2o.png"
                         width="13px">
                    <img v-else
                         src="../../assets/icons/flow_2d.png"
                         width="13px">
                </div>

                <div class="commentable_likes">
                    {{commentable.likes}} likes.
                </div>
                <div class="right_aligned">
                    <div class="bookmark_icon"
                         @click="bookmarkItem()"
                         @mouseover="bookmarkHovered = true"
                         @mouseout="bookmarkHovered = false">
                        <img v-if="bookmarked"
                             src="../../assets/icons/book_d.png"
                             width="13px">
                        <img v-else
                             src="../../assets/icons/book_l.png"
                             width="13px">
                    </div>
                    <div class="share_icon">
                        <img src="../../assets/icons/share_1.png"
                             width="13px">
                    </div>
                </div>
            </div>
            <div class="comments_border">
                <div class="comment_subcontainer"
                     :style="{'max-height': commentsHeight + 'px'}">
                    <div class="comment"
                         v-for="comment in visibleComments">
                        <div class="comment_user">
                            {{comment.name}}
                        </div>
                        <div class="comment_comment">
                            {{comment.comment}}
                        </div>
                    </div>
                </div>
                <div class="comments_expand_collapse"
                     v-if="commentable.comments.length > 0">
                    <div class="comments_see_more"
                         v-if="commentable.comments.length > maxComments"
                         @click="showMore()">
                        Show more
                    </div>
                    <div class="comments_see_more"
                         v-if="maxComments > 2"
                         @click="showLess()">
                        Show less
                    </div>
                </div>
                <div class="comment_box">
                    <input type="text"
                           class="comment_input"
                           :class="{'comment_input-active': commenting}"
                           v-model="commentText"
                           @focus="commentSelected()"
                           @blur="commentBlurred()"
                           @keyup.enter="submitComment()">
                </div>
            </div>
        </div>
    </div>
</template>

<script>

/**
 * Services
 */
import network from '../../tools/network'

/**
 * Exported vue component
 */
export default {
    name: 'commentsSection',
    // @see template_card
    props: ['id', 'loading', 'height', 'url'],
    watch: {
        'id'(val) {
            if(val != null) {
                network.post(this.loading, this.url, {
                    findOne: {
                        _id: this.id
                    },
                    get: {
                        'all': null,
                    },
                    replace: {
                        'likedBy$': '|$user',
                        'bookmarkedBy$': '|$user'
                    }
                }).then((response) => {
                    this.commentable= response.data[0];
                });
            }
        }
    },
    computed: {
        liked() {
            return this.commentable.likedBy || this.likeHovered;
        },
        bookmarked() {
            return this.commentable.bookmarkedBy || this.bookemarkHovered;
        },
        commentsReversed() {
            return this.commentable.comments.reverse();
        },
        visibleComments() {
            return this.commentsReversed.filter(
                (element, index) => index < this.maxComments);
        },
        commentsHeight() {
            let comments = 19 * (this.visibleComments.length);
            let temp = this.commentsExpanded ?
                        comments + 57 +
                        ((this.commentable.comments.length > 0) ? 23 : 0) : 5;
            this.$emit("update:height", temp);
            return comments;
        }
    },
    data () {
        return {
            commentable: {
                comments: []
            },
            commentsExpanded: true,
            commenting: false,
            commentText: 'Write a comment..',
            maxComments: 2,
            likeHovered: false,
            bookmarkHovered: false
        }
    },
    methods: {
        showcomments() {
            if(this.show_comments) {
                this.show_comments=false;
                this.height=515;
            } else {
                this.show_comments=true;
                if (this.commentcount>0) {
                    this.height = this.commentheight;
                }
                else {
                    this.height= 575;
                }
            }
        },
        likeItem() {
            if(!this.commentable.likedBy) {
                network.post(this.loading, this.url, {
                    findOne: {
                        _id: this.id
                    },
                    modify: {
                        'likedBy+': '$user'
                    },
                    get: {
                        'all': null
                    },
                    replace: {
                        'likedBy$': '|$user',
                        'bookmarkedBy$': '|$user',
                    }
                }).then((response) => {
                    this.commentable = response.data[0];
                });
            } else {
                network.post(this.loading, this.url, {
                    findOne: {
                        _id: this.id
                    },
                    modify: {
                        'likedBy^': '$user'
                    },
                    get: {
                        'all': null
                    },
                    replace: {
                        'likedBy$': '|$user',
                        'bookmarkedBy$': '|$user',
                    }
                }).then((response) => {
                    this.commentable = response.data[0];
                });
            }
        },
        bookmarkItem() {
            if(!this.commentable.bookmarkedBy) {
                network.post(this.loading, this.url, {
                    findOne: {
                        _id: this.id
                    },
                    modify: {
                        'bookmarkedBy+': '$user'
                    },
                    get: {
                        'all': null
                    },
                    replace: {
                        'likedBy$': '|$user',
                        'bookmarkedBy$': '|$user',
                    }
                }).then((response) => {
                    this.commentable = response.data[0];
                });
            } else {
                network.post(this.loading, this.url, {
                    findOne: {
                        _id: this.id
                    },
                    modify: {
                        'bookmarkedBy^': '$user'
                    },
                    get: {
                        'all': null
                    },
                    replace: {
                        'likedBy$': '|$user',
                        'bookmarkedBy$': '|$user',
                    }
                }).then((response) => {
                    this.commentable = response.data[0];
                });
            }
        },
        commentSelected() {
            this.commenting = true;
            if(this.commentText == 'Write a comment..') {
                this.commentText = '';
            }
        },
        commentBlurred() {
            this.commenting = false;
            if(this.commentText == '') {
                this.commentText = 'Write a comment..';
            }
        },
        submitComment() {
            network.post(this.loading, this.url, {
                findOne: {
                    _id: this.id
                },
                modify: {
                    'comments+': {
                        comment: this.commentText,
                        name: this.$store.state.user
                    }
                },
                get: {
                    'comments': null
                }
            }).then((response) => {
                this.commentable.comments = response.data[0];
                this.maxComments++;
                this.commenting = false;
                this.commentText = '';
            });
        },
        showMore() {
            this.maxComments += 5;
        },
        showLess() {
            this.maxComments = 2;
        }
    },
    mounted() {


    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

.comments_container {
    position: relative;
    background-color: white;
    will-change: max-height;
    z-index: 2;
}

.comments {
    padding-top: 5px;
}

.like_icon {
    cursor: pointer;
    margin: 0 4px 0 0;
}

.comment_subcontainer {
    height: 300px;
    transition: max-height 200ms ease-in-out;
}

.commentable_likes {
    @extend %primary-font;
    display: inline-block;
    font-size: 11px;
}

.comment {
    margin-left: 7px;
}

.comment_user {
    @extend %secondary-font_bold;
    font-size: 11px;
    display: inline-block;
}

.comment_comment {
    @extend %secondary-font;
    font-size: 11px;
    display: inline-block;
}

.comment_box {
    height: 35px;
}

.comment_input {
    width: 100%;
    height: 35px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    @extend %primary-font;
    font-size: 12px;
    color: rgb(176, 176, 176);
    padding: 0px 0px 0px 7px;
}

.comment_input-active {
    color: black;
}

.comments_expand_collapse {
    position: relative;
    z-index: 1;
    background-color: white;
}

.comments_see_more {
    @extend %secondary-font;
    font-size: 11px;
    margin-left: 2px;
    text-decoration: underline;
    padding: 5px;
    cursor: pointer;
}

.likes_summary {
    position: relative;
    margin-left: 7px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    color: rgb(134, 134, 134)
}

.right_aligned {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
}

.bookmark_icon {
    display: inline-block;
    cursor: pointer;
}

.share_icon {
    display: inline-block;
    cursor: pointer;
}

.comments_border {
    border-radius: 5px;
    border: 1px solid rgb(245, 245, 245);
}

</style>
