<template>
    <div class="shared-textedit-sl">
        <div v-show="!edit"
             class="text-display"
             @click="clicked()">
             {{options[selected]}}
        </div>
        <div class="updating-line"
             v-if="updating">

        </div>
        <select class="select"
                v-show="edit"
                @blur="inputBlur()"
                ref="inputField">
            <option v-for="(option, index) in options"
                    :value="option">{{option}}
            </option>
        </select>
    </div>
</template>

<script>
/**
 * Services
 */
import network from '../../tools/network'

export default {
    name: 'listselect',
    props: ['url','data-key','options','selected','loading'],
    data () {
        return {
            edit: false,
            inputText: '',
            updating: false,
            value: 0
        }
    },
    methods: {
        clicked() {
            this.$refs.inputField.selectedIndex = this.selected;
            this.edit = true;
            var that = this;
            this.$nextTick(() => { // select() and focus() only works if called after the element is visible
                that.$refs.inputField.focus();
            });
        },
        inputBlur() {
            this.value = this.$refs.inputField.selectedIndex;
            if(this.value != this.selected) {
                this.$emit('update:selected', this.value);
                this.updating = true;
                network.post(this.loading, this.url, {
                    vendorId: this.$store.state.vendorId,
                    modify: {
                        [this.dataKey]: this.value
                    }
                }).then(response => {
                    this.updating = false;
                });
            }
            this.edit = false;
        }
    }
}
</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared-textedit-sl {
    display: inline-block;
    position: relative;
    padding: 0;
}

.loading {
	filter: blur(2px);
}

.text-display {
    @extend %editable-cursor;
    font-family: inherit;
    font-size: inherit;
}

.select {
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.7);
    font-family: inherit;
    font-size: inherit;
    width: 100%;
}

.text-updating {
    border-bottom: 1px solid white;
}

.updating-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(124, 124, 124);
    animation: pulse_2 500ms infinite;
}

@keyframes pulse_2 {
    0% {
        opacity: 0.8;
    }
    60% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.8;
    }
}

</style>
