<template lang="html">
    <div class="inc_dec_container"
         :class="{'inc_dec_container-shown': showTimeEditor}">
        <div class="inc_dec_button">
            <div class="inc_button"
                 @click="incValue()"
                 :class="{'inc_button-disabled': value == max}">
                &#9652
            </div>
            <div class="dec_button"
                 @click="decValue()"
                 :class="{'dec_button-disabled': value == 1}">
                &#9662
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'numberEditor',
    props: ['value','max'],
    data() {
        return {
            showTimeEditor: false,
            timeEditorShowTime: -1
        }
    },
    methods: {
        showEditor() {
            this.showTimeEditor = true;

            let that = this;
            const checker = function() {
                setTimeout(() => {
                    if(that.timeEditorShowTime == 0) {
                        that.showTimeEditor = false;
                        that.timeEditorShowTime = -1;
                    } else {
                        that.timeEditorShowTime--;
                        checker();
                    }
                },1000);
            }

            if(this.timeEditorShowTime < 0) {
                checker();
            }

            this.timeEditorShowTime = 5;
        },
        incValue() {
            if((this.value < this.max) || (this.max == null)) {
                this.$emit('edited',this.value + 1);
            }
            this.timeEditorShowTime = 5;
        },
        decValue() {
            if(this.value > 1) {
                this.$emit('edited',this.value - 1);
            }
            this.timeEditorShowTime = 5;
        }
    }
}
</script>

<style scoped lang="scss">

.inc_dec_container {
    display: inline-flex;
    margin: 0;
    padding: 0;
    max-width: 0px;
    overflow: hidden;
    transition: max-width 100ms ease-in-out;
}

.inc_dec_container-shown {
    max-width: 20px;
}

.inc_dec_button {
    display: inline-flex;
    height: 12px;
    width: 20px;
    background-color: white;
    border: rgb(198, 198, 198) solid 1px;
    border-radius: 4px;
    font-size: 0;
}

.inc_button {
    display: inline-block;
    width: 50%;
    font-size: 11px;
    padding-left: 3px;
    line-height: 10px;
    color: rgb(54, 54, 54);
    cursor: pointer;
}

.inc_button-disabled {
    color: rgb(190, 186, 186);
}

.dec_button {
    display: inline-block;
    width: 50%;
    font-size: 11px;
    padding-left: 0px;
    line-height: 10px;
    color: rgb(54, 54, 54);
    cursor: pointer;
}

.dec_button-disabled {
    color: rgb(190, 186, 186);
}

</style>
