<template lang="html">
    <div class="addon_container">
        <div v-if="optionObject.selected == true"
             @click="deselectAddon()">
            <img class="tick_icon"
                 src="../../assets/icons/checked.png"
                 width="12px" alt="">
        </div>
        <div v-if="optionObject.selected === false"
             @click="selectAddon()">
            <img class="tick_icon"
                 src="../../assets/icons/unchecked.png"
                 width="12px" alt="">
        </div>
        <div v-if="optionObject.selected === undefined">
            <img class="tick_icon"
                 src="../../assets/icons/plus2.png"
                 width="12px" alt="">
        </div>
        <div class="addon_type_10"
             v-if="optionObject.optionType == 10">
             <span class="option_text">
                 <span v-show="(optionObject.selectedTCUnit != 1)"
                       @mouseover="$refs.timeEditor.showEditor()"
                       class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                     {{optionObject.timeConstrain*optionObject.addonMultiplier}}
                 </span>
                 <number-editor ref="timeEditor"
                                v-if="optionObject.subscriptionIndex != undefined"
                                :value="optionObject.addonMultiplier"
                                @edited="multiplierEdited($event)"
                                :max="optionObject.addonMaximum">
                 </number-editor>
                 <span class="plain_text">
                     {{optionObject.text3}}
                 </span>
                 <span class="text_option_bold">
                       {{eventOptions[packageFormat][optionObject.selectedEvent] || '{Event}'}}
                 </span>
             </span>
        </div>
        <div class="addon_type_11"
             v-if="optionObject.optionType == 11">
             <span class="option_text">
                 <span @mouseover="$refs.numberEditor.showEditor()"
                       class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                     {{optionObject.numberProvided*optionObject.addonMultiplier}}
                 </span>
                 <number-editor ref="numberEditor"
                                v-if="optionObject.subscriptionIndex != undefined"
                                :value="optionObject.addonMultiplier"
                                @edited="multiplierEdited($event)"
                                :max="optionObject.addonMaximum">
                 </number-editor>
                 {{optionObject.text4}}
                 <span class="text_option_bold">
                       {{eventOptions[packageFormat][optionObject.selectedEvent] || '{Event}'}}
                 </span>
             </span>
        </div>
        <div class="addon_type_1"
             v-if="optionObject.optionType == 12">
              <span class="option_text">
                  <span class="">
                      {{optionObject.text4}}
                  </span>
             </span>
        </div>
        <div class="option_type_0"
             v-if="optionObject.optionType == 0">
             <span class="option_text">
                 {{optionObject.text1}}
                 <span v-for="(subOption, index) in optionObject.options"
                       class="text_option_bold">
                     {{subOption}}
                     <span v-if="index != (optionObject.options.length-1)">
                         ,
                     </span>
                 </span>
             </span>
        </div>
        <div class="option_type_1"
             v-if="optionObject.optionType == 1">
             <span class="option_text">
                 <span v-show="(optionObject.selectedTCUnit != 1)"
                       @mouseover="$refs.timeEditor.showEditor()"
                       class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                     {{optionObject.timeConstrain*optionObject.addonMultiplier}}
                 </span>
                 <number-editor ref="timeEditor"
                                v-if="optionObject.subscriptionIndex != undefined"
                                :value="optionObject.addonMultiplier"
                                @edited="multiplierEdited($event)"
                                :max="optionObject.addonMaximum">
                 </number-editor>
                 <span class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                     {{timeConstrainUnitOptions[optionObject.selectedTCUnit]}}
                 </span>
                 {{optionObject.text1}}
                 <span class="text_option_bold">
                       {{eventOptions[packageFormat][optionObject.selectedEvent] || 'Unknown Event'}}
                 </span>
                 {{optionObject.text2}}
                 <span @mouseover="$refs.numberEditor.showEditor()"
                       class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                     {{optionObject.numberProvided*optionObject.addonMultiplier}}
                 </span>
                 <number-editor ref="numberEditor"
                                v-if="optionObject.subscriptionIndex != undefined"
                                :value="optionObject.addonMultiplier"
                                @edited="multiplierEdited($event)"
                                :max="optionObject.addonMaximum">
                 </number-editor>
                 {{optionObject.numberProvidedUnit}}
             </span>
        </div>
        <div class="option_type_2"
             v-if="optionObject.optionType == 2">
              <span class="option_text">
                  <span @mouseover="$refs.numberEditor.showEditor()"
                        class="text_option_bold"
                        :class="{'editable_cursor': editable}">
                      {{optionObject.numberProvided*optionObject.addonMultiplier}}
                  </span>
                  <number-editor ref="numberEditor"
                                 v-if="optionObject.subscriptionIndex != undefined"
                                 :value="optionObject.addonMultiplier"
                                 @edited="multiplierEdited($event)"
                                 :max="optionObject.addonMaximum">
                  </number-editor>
                 {{optionObject.numberProvidedUnit}}
                 {{optionObject.text1}}
             </span>
        </div>
        <div class="option_type_3"
             v-if="optionObject.optionType == 3">
              <span class="option_text">
                  <span @mouseover="$refs.numberEditor.showEditor()"
                        class="text_option_bold"
                        :class="{'editable_cursor': editable}">
                      {{optionObject.numberProvided*optionObject.addonMultiplier}}
                  </span>
                  <number-editor ref="numberEditor"
                                 v-if="optionObject.subscriptionIndex != undefined"
                                 :value="optionObject.addonMultiplier"
                                 @edited="multiplierEdited($event)"
                                 :max="optionObject.addonMaximum">
                  </number-editor>
                 {{optionObject.numberProvidedUnit}}
                 {{optionObject.text1}}
                 <span class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                       {{optionObject.options[optionObject.selectedOption] || '{Option}'}}
                 </span>
                 <!-- {{optionObject.options}} -->
             </span>
        </div>
        <div class="option_type_4"
             v-if="optionObject.optionType == 4">
            <span>{{optionObject.text1}}</span>
            <span class="text_option_bold"
                  :class="{'editable_cursor': editable}">
                  {{optionObject.options[optionObject.selectedOption]}}
            </span>
        </div>
        <div class="option_type_5"
             v-if="optionObject.optionType == 5">
              <span class="option_text">
                  <span class="">
                      {{optionObject.text1}}
                  </span>
             </span>
        </div>
        <span class="text_multiplier">
            <span v-if="optionObject.addonMultiplier > 1">
                {{optionObject.addonMultiplier}} X
            </span>
        </span>
        <span class="text_cost">
            {{optionObject.addonCost}}
        </span>
        <span class="option_text">
            $
        </span>
        <span v-if="optionObject.subscriptionIndex!=undefined"
              class="total_cost">
            <span class="text_total_cost">
                {{optionObject.addonCost*optionObject.addonMultiplier}}
            </span>
            <span class="option_text">
                $
            </span>
        </span>
        <span v-else
              class="total_cost">
              <span class="option_text">
                 ...
              </span>
        </span>

    </div>
</template>

<script>

import network from '../../tools/network'
import numberEditor from '../utility/number_editor'

export default {
    name: 'packageOption',
    props: {
        'packageFormat': Number,
        'optionObject': Object,
        'editable': Boolean,
        'packageId': String,
        'loading': Object,
        'view': Number  // 0 - vendor view, 1 - vendor selection view, 2 - user view
    },
    computed: {
        modifyPath() {
            let path = 'addons.' + this.optionObject.addonIndex;
            if(this.optionObject.subscriptionIndex != undefined) {
                path = 'subscribed.' + this.optionObject.subscriptionIndex +
                            '.' + path;
            }
            return path;
        }
    },
    data() {
        return {
            addTextOption: false,
            textOption: '',
            selectedUnit: 0,
            timeConstrainUnitOptions: ['hours', 'Full Day'],
            showTimeEditor: false,
            timeEditorShowTime: -1,
            eventOptions: [
                ['Ceremony'],
                ['Ceremony', 'Reception'],
                ['Reception']
            ]
        }
    },
    methods: {
        multiplierEdited(value) {
            this.$emit('modify-multiplier', value);
        },
        selectAddon() {
            this.$emit('select-addon');
        },
        deselectAddon() {
            this.$emit('deselect-addon');
        }
    },
    components: {
        numberEditor
    }
}
</script>

<style scoped lang="scss">

@import '../../sass/theme';

.editable_cursor {
    @extend %editable-cursor;
}

.addon_container {
    display: inline-flex;
    align-items: top;
}

.add_icon {
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.plain_text {
    margin: 0px;
}

.option_text {
    margin-left: 5px;
    margin-right: 5px;
}

.unit_text {
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
}

.text_cost {
    @extend %primary-font_bold;
    margin-left: 5px;
    width: 20px;
    text-align: right;
}

.total_cost {
    width: 90px;
    text-align: right;
}

.text_total_cost {
    @extend %primary-font;
    width: 40px;
    text-align: right;
}

.text_multiplier {
    @extend %primary-font_bold;
    margin-left: 5px;
    width: 20px;
    text-align: right;
}

.addon_type {
    display: inline-flex;
    align-items: center;
    width: 320px;
}

.addon_type_10 {
    @extend .addon_type;
}

.addon_type_11 {
    @extend .addon_type;
}

.option_type {
    display: flex;
    align-items: center;
    width: 320px;
}

.option_type_0 {
    @extend .option_type;
}

.option_type_1 {
    @extend .option_type;
}

.option_type_2 {
    @extend .option_type;
}

.option_type_3 {
    @extend .option_type;
}

.option_type_4 {
    @extend .option_type;
}

.option_type_5 {
    @extend .option_type;
}


.text_option_input {
    @extend %secondary-font;
    border-radius: 3px;
    border: solid 1px rgb(222, 222, 222);
    font-size: 10px;
    padding: 0px;
    height: 15px;
    line-height: 15px;
    padding: 3px;
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.time_edit_input {
    @extend %secondary-font;
    border-radius: 3px;
    border: solid 1px rgb(222, 222, 222);
    font-size: 10px;
    padding: 0px;
    height: 15px;
    line-height: 15px;
    padding: 3px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.cost_edit_input {
    @extend %secondary-font;
    border-radius: 3px;
    border: solid 1px rgb(222, 222, 222);
    font-size: 10px;
    padding: 0px;
    height: 15px;
    line-height: 15px;
    padding: 3px;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.select {
    @extend %secondary-font;
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.7);
    font-size: 11px;;
    width: 60px;
}

.select_option {
    font-size: 11px;
}

.text_option_bold {
    @extend %secondary-font_bold;
}

.inc_dec_container {
    display: inline-flex;
    margin: 0;
    padding: 0;
    max-width: 0px;
    overflow: hidden;
    transition: max-width 100ms ease-in-out;
}

.inc_dec_container-shown {
    max-width: 20px;
}

.inc_dec_button {
    display: inline-flex;
    height: 12px;
    width: 20px;
    background-color: white;
    border: rgb(198, 198, 198) solid 1px;
    border-radius: 4px;
    font-size: 0;
}

.inc_button {
    display: inline-block;
    width: 50%;
    font-size: 11px;
    padding-left: 3px;
    line-height: 10px;
    color: rgb(54, 54, 54);
    cursor: pointer;
}

.dec_button {
    display: inline-block;
    width: 50%;
    font-size: 11px;
    padding-left: 0px;
    line-height: 10px;
    color: rgb(54, 54, 54);
    cursor: pointer;
}

.seperator {
    height: 13px;
    border-left: solid 1px rgb(184, 184, 184);
    margin: 0px 5px;
}

</style>
