<template lang="html">
    <div class="option_container">
        <div class="option_type_0"
             v-if="optionObject.optionType == 0">
             <span class="option_text">
                 {{optionObject.text1}}
                 <span v-for="(subOption, index) in optionObject.options"
                       class="text_option_bold"
                       @click="removeSubOption(index)">
                     {{subOption}}
                     <span v-if="index != (optionObject.options.length-1)">
                         ,
                     </span>
                 </span>
             </span>
             <img class="add_icon"
                  v-if="editable"
                  src="../../assets/icons/plus.png"
                  @click="ot0AddText()">
             <input v-if="addTextOption"
                    class="text_option_input"
                    type="text"
                    name=""
                    v-model="textOption"/>
             <span v-if="addTextOption"
                   @click="appendTextOption()">
                   Add
             </span>
        </div>
        <div class="option_type_1"
             v-if="optionObject.optionType == 1">
             <span class="option_text">
                 <span v-if="!timeEdit"
                       v-show="(optionObject.selectedTCUnit != 1)"
                       @click="editTimeConstrain()"
                       class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                     {{optionObject.timeConstrain}}
                 </span>
                 <span v-else>
                     <input class="time_edit_input"
                            type="text" name=""
                            v-model="localTimeConstrain"
                            @blur="timeConstrainEdited()">
                 </span>
                 <span v-show="!timeUnitEdit"
                       @click="changeTimeUnit()"
                       class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                     {{timeConstrainUnitOptions[optionObject.selectedTCUnit]}}
                 </span>
                 <select class="select"
                         v-show="timeUnitEdit"
                         @blur="timeUnitChanged()"
                         ref="inputField">
                     <option class="select_option"
                             v-for="(option, index) in timeConstrainUnitOptions"
                             :value="option">
                         {{option}}
                     </option>
                 </select>
                 {{optionObject.text1}}
                 <span v-if="!eventEdit"
                       @click="changeEvent()"
                       class="text_option_bold">
                       {{eventOptions[packageFormat][optionObject.selectedEvent] || 'Unknown Event'}}
                 </span>
                 <select class="select"
                         v-show="eventEdit"
                         @blur="eventChanged()"
                         ref="inputField2">
                     <option class="select_option"
                             v-for="(option, index) in eventOptions[packageFormat]"
                             :value="option">
                         {{option}}
                     </option>
                 </select>
                 {{optionObject.text2}}
                 <span v-if="!numEdit"
                       @click="editNumberProvided()"
                       class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                     {{optionObject.numberProvided}}
                 </span>
                 <span v-else>
                     <input class="time_edit_input"
                            type="text" name=""
                            v-model="localNumberProvided"
                            @blur="numberProvidedEdited()">
                 </span>

                 {{optionObject.numberProvidedUnit}}
             </span>
        </div>
        <div class="option_type_2"
             v-if="optionObject.optionType == 2">
              <span class="option_text">
                  <span v-if="!numEdit"
                        @click="editNumberProvided()"
                        class="text_option_bold"
                        :class="{'editable_cursor': editable}">
                      {{optionObject.numberProvided}}
                  </span>
                  <span v-else>
                      <input class="time_edit_input"
                             type="text" name=""
                             v-model="localNumberProvided"
                             @blur="numberProvidedEdited()"
                             style="width: 30px">
                  </span>
                 {{optionObject.numberProvidedUnit}}
                 {{optionObject.text1}}
             </span>
        </div>
        <div class="option_type_3"
             v-if="optionObject.optionType == 3">
              <span class="option_text">
                  <span v-if="!numEdit"
                        @click="editNumberProvided()"
                        class="text_option_bold"
                        :class="{'editable_cursor': editable}">
                      {{optionObject.numberProvided}}
                  </span>
                  <span v-else>
                      <input class="time_edit_input"
                             type="text" name=""
                             v-model="localNumberProvided"
                             @blur="numberProvidedEdited()">
                  </span>
                 {{optionObject.numberProvidedUnit}}
                 {{optionObject.text1}}
                 <span v-if="!optionEdit"
                       @click="changeOption()"
                       class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                       {{optionObject.options[optionObject.selectedOption]}}
                 </span>
                 <select class="select"
                         v-show="optionEdit"
                         @blur="optionChanged()"
                         ref="inputField3">
                     <option class="select_option"
                             v-for="(option, index) in optionObject.options"
                             :value="option">
                         {{option}}
                     </option>
                 </select>
                 <!-- {{optionObject.options}} -->
             </span>
        </div>
        <div class="option_type_4"
             v-if="optionObject.optionType == 4">
            <span>{{optionObject.text1}}&nbsp;</span>
            <span v-if="!optionEdit"
                  @click="changeOption()"
                  class="text_option_bold"
                  :class="{'editable_cursor': editable}">
                  {{optionObject.options[optionObject.selectedOption]}}
            </span>
            <select class="select"
                    v-show="optionEdit"
                    @blur="optionChanged()"
                    ref="inputField3">
                <option class="select_option"
                        v-for="(option, index) in optionObject.options"
                        :value="option">
                    {{option}}
                </option>
            </select>
        </div>
        <div class="option_type_5"
             v-if="optionObject.optionType == 5">
             <img class="tick_icon"
                  src="../../assets/icons/tick.png"
                  width="12px" alt="">
              <span class="option_text">
                  <span v-if="!textEdit"
                        @click="editText()"
                        class="">
                      {{optionObject.text1}}
                  </span>
                  <span v-else>
                      <input class="time_edit_input"
                             type="text" name=""
                             v-model="localText"
                             @blur="textEdited()"
                             style="width: 100px">
                  </span>
             </span>
        </div>
    </div>
</template>

<script>

import network from '../../tools/network'

export default {
    name: 'packageOptionSearch',
    props: {
        'optionObject': Object
    },
    data() {
        return {
            addTextOption: false,
            textOption: '',
            timeEdit: false,
            timeUnitEdit: false,
            eventEdit: false,
            numEdit: false,
            optionEdit: false,
            selectedUnit: 0,
            timeConstrainUnitOptions: ['hours', 'Full Day'],
            localTimeConstrain: 0,
            localNumberProvided: 0,
            localText: '',
            textEdit: false,
            editable: true,
            packageFormat: 0,
            eventOptions: [
                ['Ceremony'],
                ['Ceremony', 'Reception'],
                ['Reception']
            ]
        }
    },
    methods: {
        appendTextOption() {
            this.optionObject.options.push(this.textOption);
            this.textOption = '';
        },
        removeSubOption(index) {
            if(this.editable) {

            }
        },
        changeTimeUnit() {
            if(this.editable) {
                this.timeUnitEdit = true;
                this.$refs.inputField.selectedIndex = this.optionObject.selectedTCUnit;
            }
        },
        timeUnitChanged() {
            this.timeUnitEdit = false;
            if(this.optionObject.selectedTCUnit != this.$refs.inputField.selectedIndex) {
                this.optionObject.selectedTCUnit = this.$refs.inputField.selectedIndex;
            }
            this.timeUnitEdit = false;
        },
        changeEvent() {
            if(this.editable) {
                this.eventEdit = true;
                this.$refs.inputField2.selectedIndex = this.optionObject.selectedEvent;
            }
        },
        eventChanged() {
            this.eventEdit = false;
            if(this.optionObject.selectedEvent != this.$refs.inputField2.selectedIndex) {
                this.optionObject.selectedEvent = this.$refs.inputField2.selectedIndex;
            }
        },
        changeOption() {
            if(this.editable) {
                this.optionEdit = true;
                this.$refs.inputField3.selectedIndex = this.optionObject.selectedOption;
            }
        },
        optionChanged() {
            if(this.$refs.inputField3.selectedIndex != this.optionObject.selectedOption) {
                this.optionObject.selectedOption = this.$refs.inputField3.selectedIndex;
            }
            this.optionEdit = false;
        },
        ot0AddText() {
            if(this.editable) {
                this.addTextOption = !this.addTextOption;
            }
        },
        editNumberProvided() {
            if(this.editable) {
                this.numEdit = true;
                this.localNumberProvided = this.optionObject.numberProvided;
            }
        },
        numberProvidedEdited() {
            if(this.localNumberProvided != this.optionObject.numberProvided) {
                this.optionObject.numberProvided = parseInt(this.localNumberProvided);
            }
            this.numEdit = false;
        },
        editTimeConstrain() {
            if(this.editable) {
                this.timeEdit = true;
                this.localTimeConstrain = this.optionObject.timeConstrain;
            }
        },
        timeConstrainEdited() {
            if(this.localTimeConstrain != this.optionObject.timeConstrain) {
                this.optionObject.timeConstrain = parseInt(this.localTimeConstrain);
            }
            this.timeEdit = false;
        },
        editText() {
            if(this.editable) {
                this.textEdit = true;
                this.localText = this.optionObject.text1;
            }
        },
        textEdited() {
            if(this.localText != this.optionObject.text1) {
                this.optionObject.text1 = this.localText;
            }
            this.textEdit = false;
        }
    },
    mounted() {

    }
}
</script>

<style scoped lang="scss">

@import '../../sass/theme';

.editable_cursor {
    @extend %editable-cursor;
}

.option_container {

}

.add_icon {
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.option_text {
    margin-left: 5px;
    margin-right: 10px;
}

.option_type {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 5px;
}

.option_type_0 {
    @extend .option_type;
}

.option_type_1 {
    @extend .option_type;
}

.option_type_2 {
    @extend .option_type;
}

.option_type_3 {
    @extend .option_type;
}

.option_type_4 {
    @extend .option_type;
    padding-left: 5px;
}

.option_type_5 {
    @extend .option_type;
}

.text_option_input {
    @extend %secondary-font;
    border-radius: 3px;
    border: solid 1px rgb(222, 222, 222);
    font-size: 10px;
    padding: 0px;
    height: 15px;
    line-height: 15px;
    padding: 3px;
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.time_edit_input {
    @extend %secondary-font;
    border-radius: 3px;
    border: solid 1px rgb(222, 222, 222);
    font-size: 10px;
    padding: 0px;
    height: 15px;
    line-height: 15px;
    padding: 3px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.select {
    @extend %secondary-font;
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.7);
    font-size: 11px;;
    width: 60px;
}

.select_option {
    font-size: 11px;
}

.text_option_bold {
    @extend %secondary-font_bold;
    font-size: 11px;
    height: 11px;
}

</style>
