<template lang="html">
    <div class="addon_container">
        <div v-if="optionObject.selected == true"
             class="icon_container"
             @click="deselectAddon()">
            <img class="tick_icon"
                 src="../../assets/icons/checked.png"
                 width="12px" alt="">
        </div>
        <div v-if="optionObject.selected === false"
             class="icon_container"
             @click="selectAddon()">
            <img class="tick_icon"
                 src="../../assets/icons/unchecked.png"
                 width="12px" alt="">
        </div>
        <div v-if="optionObject.selected === undefined"
             class="icon_container">
            <img class="tick_icon"
                 src="../../assets/icons/plus2.png"
                 width="12px" alt="">
        </div>
        <div class="addon_type_10"
             v-if="optionObject.optionType == 10">
             <span class="option_text">
                 <span v-show="(optionObject.selectedTCUnit != 1)"
                       @mouseover="$refs.timeEditor.showEditor()"
                       class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                     {{optionObject.timeConstrain}}
                 </span>
                 <number-editor ref="timeEditor"
                                v-if="editable"
                                :value="optionObject.timeConstrain"
                                @edited="timeConstrainEdited($event)">
                 </number-editor>
                 <span class="plain_text">
                     {{optionObject.text3}}
                 </span>
                 <span v-if="!eventEdit"
                       @click="changeEvent()"
                       class="text_option_bold">
                       {{eventOptions[packageFormat][optionObject.selectedEvent] || '{Event}'}}
                 </span>
                 <select class="select"
                         v-show="eventEdit"
                         @blur="eventChanged()"
                         ref="inputField2">
                     <option class="select_option"
                             v-for="(option, index) in eventOptions[packageFormat]"
                             :value="option">
                         {{option}}
                     </option>
                 </select>
             </span>
        </div>
        <div class="addon_type_11"
             v-if="optionObject.optionType == 11">
             <span class="option_text">
                 <span @mouseover="$refs.numberEditor.showEditor()"
                       class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                     {{optionObject.numberProvided}}
                 </span>
                 <number-editor ref="numberEditor"
                                v-if="editable"
                                :value="optionObject.numberProvided"
                                @edited="numberProvidedEdited($event)">
                 </number-editor>
                 {{optionObject.text4}}
                 <span v-if="!eventEdit"
                       @click="changeEvent()"
                       class="text_option_bold">
                       {{eventOptions[packageFormat][optionObject.selectedEvent] || '{Event}'}}
                 </span>
                 <select class="select"
                         v-show="eventEdit"
                         @blur="eventChanged()"
                         ref="inputField2">
                     <option class="select_option"
                             v-for="(option, index) in eventOptions[packageFormat]"
                             :value="option">
                         {{option}}
                     </option>
                 </select>
             </span>
        </div>
        <div class="addon_type_1"
             v-if="optionObject.optionType == 12">
              <span class="option_text">
                  <span v-if="!textEdit"
                        @click="editText()"
                        class="">
                      {{optionObject.text4}}
                  </span>
                  <span v-else>
                      <input class="time_edit_input"
                             type="text" name=""
                             v-model="localText"
                             @blur="textEdited()"
                             style="width: 100px">
                  </span>
             </span>
        </div>
        <div class="option_type_0"
             v-if="optionObject.optionType == 0">
             <span class="option_text">
                 {{optionObject.text1}}
                 <span v-for="(subOption, index) in optionObject.options"
                       class="text_option_bold"
                       @click="removeSubOption(index)">
                     {{subOption}}
                     <span v-if="index != (optionObject.options.length-1)">
                         ,
                     </span>
                 </span>
             </span>
             <img class="add_icon"
                  v-if="editable"
                  src="../../assets/icons/plus.png"
                  @click="ot0AddText()">
             <input v-if="addTextOption"
                    class="text_option_input"
                    type="text"
                    name=""
                    v-model="textOption"/>
             <span v-if="addTextOption"
                   @click="appendTextOption()">
                   Add
             </span>
        </div>
        <div class="option_type_1"
             v-if="optionObject.optionType == 1">
             <span class="option_text">
                 <span v-show="(optionObject.selectedTCUnit != 1)"
                       @mouseover="$refs.timeEditor.showEditor()"
                       class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                     {{optionObject.timeConstrain}}
                 </span>
                 <number-editor ref="timeEditor"
                                v-if="editable"
                                :value="optionObject.timeConstrain"
                                @edited="timeConstrainEdited($event)">
                 </number-editor>
                 <span v-show="!timeUnitEdit"
                       @click="changeTimeUnit()"
                       class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                     {{timeConstrainUnitOptions[optionObject.selectedTCUnit]}}
                 </span>
                 <select class="select"
                         v-show="timeUnitEdit"
                         @blur="timeUnitChanged()"
                         ref="inputField">
                     <option class="select_option"
                             v-for="(option, index) in timeConstrainUnitOptions"
                             :value="option">
                         {{option}}
                     </option>
                 </select>
                 {{optionObject.text1}}
                 <span v-if="!eventEdit"
                       @click="changeEvent()"
                       class="text_option_bold">
                       {{eventOptions[packageFormat][optionObject.selectedEvent] || 'Unknown Event'}}
                 </span>
                 <select class="select"
                         v-show="eventEdit"
                         @blur="eventChanged()"
                         ref="inputField2">
                     <option class="select_option"
                             v-for="(option, index) in eventOptions[packageFormat]"
                             :value="option">
                         {{option}}
                     </option>
                 </select>
                 {{optionObject.text2}}
                 <span @mouseover="$refs.numberEditor.showEditor()"
                       class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                     {{optionObject.numberProvided}}
                 </span>
                 <number-editor ref="numberEditor"
                                v-if="editable"
                                :value="optionObject.numberProvided"
                                @edited="numberProvidedEdited($event)">
                 </number-editor>
                 {{optionObject.numberProvidedUnit}}
             </span>
        </div>
        <div class="option_type_2"
             v-if="optionObject.optionType == 2">
              <span class="option_text">
                  <span @mouseover="$refs.numberEditor.showEditor()"
                        class="text_option_bold"
                        :class="{'editable_cursor': editable}">
                      {{optionObject.numberProvided}}
                  </span>
                  <number-editor ref="numberEditor"
                                 v-if="editable"
                                 :value="optionObject.numberProvided"
                                 @edited="numberProvidedEdited($event)">
                  </number-editor>
                 {{optionObject.numberProvidedUnit}}
                 {{optionObject.text1}}
             </span>
        </div>
        <div class="option_type_3"
             v-if="optionObject.optionType == 3">
              <span class="option_text">
                  <span @mouseover="$refs.numberEditor.showEditor()"
                        class="text_option_bold"
                        :class="{'editable_cursor': editable}">
                      {{optionObject.numberProvided}}
                  </span>
                  <number-editor ref="numberEditor"
                                 v-if="editable"
                                 :value="optionObject.numberProvided"
                                 @edited="numberProvidedEdited($event)">
                  </number-editor>
                 {{optionObject.numberProvidedUnit}}
                 {{optionObject.text1}}
                 <span v-if="!optionEdit"
                       @click="changeOption()"
                       class="text_option_bold"
                       :class="{'editable_cursor': editable}">
                       {{optionObject.options[optionObject.selectedOption] || '{Option}'}}
                 </span>
                 <select class="select"
                         v-show="optionEdit"
                         @blur="optionChanged()"
                         ref="inputField3">
                     <option class="select_option"
                             v-for="(option, index) in optionObject.options"
                             :value="option">
                         {{option}}
                     </option>
                 </select>
                 <!-- {{optionObject.options}} -->
             </span>
        </div>
        <div class="option_type_4"
             v-if="optionObject.optionType == 4">
            <span>{{optionObject.text1}}</span>
            <span v-if="!optionEdit"
                  @click="changeOption()"
                  class="text_option_bold"
                  :class="{'editable_cursor': editable}">
                  {{optionObject.options[optionObject.selectedOption]}}
            </span>
            <select class="select"
                    v-show="optionEdit"
                    @blur="optionChanged()"
                    ref="inputField3">
                <option class="select_option"
                        v-for="(option, index) in optionObject.options"
                        :value="option">
                    {{option}}
                </option>
            </select>
        </div>
        <div class="option_type_5"
             v-if="optionObject.optionType == 5">
              <span class="option_text">
                  <span v-if="!textEdit"
                        @click="editText()"
                        class="">
                      {{optionObject.text1}}
                  </span>
                  <span v-else>
                      <input class="time_edit_input"
                             type="text" name=""
                             v-model="localText"
                             @blur="textEdited()"
                             style="width: 100px">
                  </span>
             </span>
        </div>
        <span v-if="!costEdit && editable"
              @click="editCost()"
              class="text_cost"
              :class="{'editable_cursor': editable}">
            {{optionObject.addonCost}}
        </span>
        <span v-else>
            <input class="cost_edit_input"
                   v-if="editable"
                   type="text" name=""
                   v-model="localCost"
                   @blur="costEdited()">
        </span>
        <span class="option_text"
              v-if="editable">
            USD
        </span>
        <div class="seperator" ></div>
        <span v-if="editable">
            Max:
        </span>
        <span v-if="!maxEdit && editable"
              @click="editMax()"
              class="text_max"
              :class="{'editable_cursor': editable}">
            {{optionObject.addonMaximum}}
        </span>
        <span v-else>
            <input class="cost_edit_input"
                   v-if="editable"
                   type="text" name=""
                   v-model="localMax"
                   @blur="maxEdited()">
        </span>
        <div class="seperator" v-if="editable"></div>
    </div>
</template>

<script>

import network from '../../tools/network'
import numberEditor from '../utility/number_editor'

export default {
    name: 'packageOption',
    props: {
        'packageFormat': Number,
        'optionObject': Object,
        'editable': Boolean,
        'packageId': String,
        'loading': Object
    },
    computed: {
        modifyPath() {
            let path = 'addons.' + this.optionObject.addonIndex;
            if(this.optionObject.subscriptionIndex != undefined) {
                path = 'subscribed.' + this.optionObject.subscriptionIndex +
                            '.' + path;
            }
            return path;
        }
    },
    data() {
        return {
            addTextOption: false,
            textOption: '',
            costEdit: false,
            maxEdit: false,
            timeEdit: false,
            timeUnitEdit: false,
            eventEdit: false,
            optionEdit: false,
            selectedUnit: 0,
            timeConstrainUnitOptions: ['hours', 'Full Day'],
            localCost: 0,
            localMax: 0,
            localTimeConstrain: 0,
            localNumberProvided: 0,
            localText: '',
            textEdit: false,
            showTimeEditor: false,
            timeEditorShowTime: -1,
            eventOptions: [
                ['Ceremony'],
                ['Ceremony', 'Reception'],
                ['Reception']
            ]
        }
    },
    methods: {
        appendTextOption() {
            network.post(this.loading, '/package/generic', {
                packageId: this.packageId,
                modify: {
                    [
                        this.modifyPath +
                        '.options+'
                    ]: this.textOption
                }
            }).then((response) => {
                this.$emit('update-addons');
                this.textOption = '';
            });
        },
        removeSubOption(index) {
            if(this.editable) {
                network.post(this.loading, '/package/generic', {
                    packageId: this.packageId,
                    modify: {
                        [
                            this.modifyPath +
                            '.options-'
                        ]: index
                    }
                }).then((response) => {
                    this.$emit('update-addons');
                });
            }
        },
        changeTimeUnit() {
            if(this.editable) {
                this.timeUnitEdit = true;
                this.$refs.inputField.selectedIndex = this.optionObject.selectedTCUnit;
            }
        },
        timeUnitChanged() {
            this.timeUnitEdit = false;
            if(this.optionObject.selectedTCUnit != this.$refs.inputField.selectedIndex) {
                network.post(this.loading, '/package/generic', {
                    packageId: this.packageId,
                    modify: {
                        [
                            this.modifyPath +
                            '.selectedTCUnit'
                        ]: this.$refs.inputField.selectedIndex
                    }
                }).then((response) => {
                    this.$emit('update-addons');
                    this.timeUnitEdit = false;
                });
            } else {
                this.timeUnitEdit = false;
            }
        },
        changeOption() {
            if(this.editable) {
                this.optionEdit = true;
                this.$refs.inputField3.selectedIndex = this.optionObject.selectedOption;
            }
        },
        optionChanged() {
            if(this.$refs.inputField3.selectedIndex != this.optionObject.selectedOption) {
                network.post(this.loading, '/package/generic', {
                    packageId: this.packageId,
                    modify: {
                        [
                            this.modifyPath +
                            '.selectedOption'
                        ]: this.$refs.inputField3.selectedIndex
                    }
                }).then((response) => {
                    this.optionEdit = false;
                    this.$emit('update-addons');
                });
            } else {
                this.optionEdit = false;
            }
        },
        ot0AddText() {
            if(this.editable) {
                this.addTextOption = !this.addTextOption;
            }
        },
        editCost() {
            if(this.editable) {
                this.costEdit = true;
                this.localCost = this.optionObject.addonCost;
            }
        },
        costEdited() {
            if(this.localCost != this.optionObject.addonCost) {
                network.post(this.loading, '/package/generic', {
                    packageId: this.packageId,
                    modify: {
                        [
                            this.modifyPath +
                            '.addonCost'
                        ]: parseInt(this.localCost)
                    }
                }).then((response) => {
                    this.$emit('update-addons');
                    this.costEdit = false;
                });
            } else {
                this.costEdit = false;
            }
        },
        editMax() {
            if(this.editable) {
                this.maxEdit = true;
                this.localMax = this.optionObject.addonMaximum;
            }
        },
        maxEdited() {
            if(this.localMax != this.optionObject.addonMaximum) {
                network.post(this.loading, '/package/generic', {
                    packageId: this.packageId,
                    modify: {
                        [
                            this.modifyPath +
                            '.addonMaximum'
                        ]: parseInt(this.localMax)
                    }
                }).then((response) => {
                    this.$emit('update-addons');
                    this.maxEdit = false;
                });
            } else {
                this.maxEdit = false;
            }
        },
        numberProvidedEdited(value) {
            network.post(this.loading, '/package/generic', {
                packageId: this.packageId,
                modify: {
                    [
                        this.modifyPath +
                        '.numberProvided'
                    ]: parseInt(value)
                }
            }).then((response) => {
                this.$emit('update-addons');
            });
        },
        timeConstrainEdited(value) {
            network.post(this.loading, '/package/generic', {
                packageId: this.packageId,
                modify: {
                    [
                        this.modifyPath +
                        '.timeConstrain'
                    ]: parseInt(value)
                }
            }).then((response) => {
                this.$emit('update-addons');
            });
        },
        editText() {
            if(this.editable) {
                this.textEdit = true;
                this.localText = this.optionObject.text1;
            }
        },
        textEdited() {
            if(this.localText != this.optionObject.text1) {
                network.post(this.loading, '/package/generic', {
                    packageId: this.packageId,
                    modify: {
                        [
                            this.modifyPath +
                            '.text1'
                        ]: this.localText
                    }
                }).then((response) => {
                    this.$emit('update-addons');
                    this.textEdit = false;
                });
            } else {
                this.textEdit = false;
            }
        },
        selectAddon() {
            this.$emit('select-addon');
        },
        deselectAddon() {
            this.$emit('deselect-addon');
        },
        incTimeConstrain() {
            this.optionObject.timeConstrain++;
        },
        decTimeConstrain() {
            this.optionObject.timeConstrain--;
        }
    },
    components: {
        numberEditor
    }
}
</script>

<style scoped lang="scss">

@import '../../sass/theme';

.editable_cursor {
    @extend %editable-cursor;
}

.addon_container {
    display: inline-flex;
    align-items: center;
}

.icon_container {
    height: 12px;
    width: 13px;
    text-align: center;
}

.add_icon {
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.plain_text {
    margin: 0px;
}

.option_text {
    margin-left: 5px;
    margin-right: 5px;
}

.text_cost {
    @extend %secondary-font_bold;
    font-size: 11px;
    margin-left: 5px;
    width: 20px;
    text-align: right;
    color: $text-shade2;
}

.text_max {
    @extend %secondary-font_bold;
    margin-right: 5px;
    width: 20px;
    text-align: right;
    color: $text-shade2;
}

.addon_type {
    display: inline-flex;
    align-items: center;
    width: 320px;
}

.addon_type_10 {
    @extend .addon_type;
}

.addon_type_11 {
    @extend .addon_type;
}

.option_type {
    display: flex;
    align-items: center;
    width: 320px;
}

.option_type_0 {
    @extend .option_type;
}

.option_type_1 {
    @extend .option_type;
}

.option_type_2 {
    @extend .option_type;
}

.option_type_3 {
    @extend .option_type;
}

.option_type_4 {
    @extend .option_type;
}

.option_type_5 {
    @extend .option_type;
}


.text_option_input {
    @extend %secondary-font;
    border-radius: 3px;
    border: solid 1px rgb(222, 222, 222);
    font-size: 10px;
    padding: 0px;
    height: 15px;
    line-height: 15px;
    padding: 3px;
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.time_edit_input {
    @extend %secondary-font;
    border-radius: 3px;
    border: solid 1px rgb(222, 222, 222);
    font-size: 10px;
    padding: 0px;
    height: 15px;
    line-height: 15px;
    padding: 3px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.cost_edit_input {
    @extend %secondary-font;
    border-radius: 3px;
    border: solid 1px rgb(222, 222, 222);
    font-size: 10px;
    padding: 0px;
    height: 15px;
    line-height: 15px;
    padding: 3px;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.select {
    @extend %secondary-font;
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.7);
    font-size: 11px;;
    width: 60px;
}

.select_option {
    font-size: 11px;
}

.text_option_bold {
    @extend %secondary-font_bold;
    color: $text-shade2;
}

.inc_dec_container {
    display: inline-flex;
    margin: 0;
    padding: 0;
    max-width: 0px;
    overflow: hidden;
    transition: max-width 100ms ease-in-out;
}

.inc_dec_container-shown {
    max-width: 20px;
}

.inc_dec_button {
    display: inline-flex;
    height: 12px;
    width: 20px;
    background-color: white;
    border: rgb(198, 198, 198) solid 1px;
    border-radius: 4px;
    font-size: 0;
}

.inc_button {
    display: inline-block;
    width: 50%;
    font-size: 11px;
    padding-left: 3px;
    line-height: 10px;
    color: rgb(54, 54, 54);
    cursor: pointer;
}

.dec_button {
    display: inline-block;
    width: 50%;
    font-size: 11px;
    padding-left: 0px;
    line-height: 10px;
    color: rgb(54, 54, 54);
    cursor: pointer;
}

.seperator {
    height: 13px;
    border-left: solid 1px rgb(184, 184, 184);
    margin: 0px 8px 0px 5px;
}

</style>
