<template>
    <div class="shared-photo"
         :style="{'background-image': url}"
         :class="{'loading': blur}">
    </div>
</template>

<script>

/**
 * Services
 */
import { EventBus } from '../../tools/event_bus'

/**
 * photo component is a wrapper for a div that has an image set to a background.
 * in addition to simply displaying the image, for which the source is passed as
 * a prop, the image component preloades the new image before changing it incase
 * the image is modified.
 * it also handles the loading.index manipulation to ensure that the loading mask
 * and wheel spinning animations work correctly.
 */
export default {
    name: 'photo',
    props: {
        source: String,
        loading: Object
    },
    data () {
        return {
            oldSource: '',
            initialLoad: true,
            blur: false,
            url: ''
        }
    },
    watch: {
        /**
         * watch for changes in the source prop
         */
        'source'(newSource, oldSource) {
            if(this.loading.index === 0) {
                this.loading.index++;
            }
            this.updateImage();
        }
    },
    methods: {
        updateImage() {
            // do nothing if the source url is blank
            if(this.source == '' || this.source == null) {
                return;
            }

            // create new Image() object for preloading
            var image = new Image();
            var baseUrl = '';
            if(process.env.NODE_ENV == 'production') {
            	baseUrl = '';
            } else {
            	baseUrl = 'http://127.0.0.1:3000/';
            }
            // add the source to the Image object
            image.src = baseUrl + this.source;
            this.blur = true;

            var loaded = false;

            var that = this;
            // change the background of the image to the new source after it
            // has been loaded
            image.onload = function() {
                that.url = "url('" + baseUrl + that.source +"')";
                that.oldSource = that.url;
                that.loading.index--;
                that.initialLoad = false;
                that.blur = false;
                if(!loaded) {
                    that.$emit('image-size', {
                        width: image.naturalWidth,
                        height: image.naturalHeight
                    });
                }
                loaded = true;
            }

            /**
             * inform the user if the image isn't loaded in 5 seconds
             */
            setTimeout(() => {
                if(!loaded) {
                    console.log(this.url);
                    EventBus.$emit('show-message', {
                        title: 'Info',
                        msg: 'Server is taking an unusually long time to respond'
                    });
                }
            }, 5000);
        }
    },
    mounted() {
        this.loading.index++;
        this.updateImage();
    },
    beforeDestroy() {
        if(this.initialLoad) {
            this.loading.index--;
        }
    }
}

</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared-photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

.loading {
	filter: blur(2px);
}


</style>
