<template>
    <div class="shared-textedit-sl">
        <div v-show="!edit"
             class="text-display"
             @click="clicked()">
             {{text}}
        </div>
        <div class="updating-line"
             v-if="updating">

        </div>
        <input v-show="edit"
               class="text-edit"
               type="text"
               v-model="inputText"
               @blur="inputBlur()"
               ref="inputField">
    </div>
</template>

<script>
/**
 * Services
 */
import network from '../../tools/network'

export default {
    name: 'texteditSl',
    props: ['url','data-key','text','loading','key-id' ],
    data () {
        return {
            edit: false,
            inputText: '',
            updating: false,
            key:''
        }
    },
    methods: {
        clicked() {
            this.inputText = this.text;
            this.edit = true;
            var that = this;
            this.$nextTick(() => { // select() and focus() only works if called after the element is visible
                that.$refs.inputField.select();
                that.$refs.inputField.focus();
            });
        },
        inputBlur() {
            if(this.inputText != this.text) {
                this.$emit('update:text', this.inputText);
                this.updating = true;
                if (this.url=="/images/generic"){
                    this.key='imageId';
                }else{
                    this.key='vendorId';
                }
                network.post(this.loading, this.url, {
                    [this.key]: this.keyId,
                    modify: {
                        [this.dataKey]: this.inputText
                    }
                }).then(response => {
                      this.updating = false;
                });
            }
            this.edit = false;
        }
    }
}
</script>

<style scoped lang="scss">

@import '../../sass/theme';

.shared-textedit-sl {
    display: inline-block;
    position: relative;
    padding: 0;
}

.loading {
	filter: blur(2px);
}

.text-display {
    @extend %editable-cursor;
    font-family: inherit;
    font-size: inherit;
}

.text-edit {
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,0.7);
    font-family: inherit;
    font-size: inherit;
    width: 100%;
}

.text-updating {
    border-bottom: 1px solid white;
}

.updating-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(124, 124, 124);
    animation: pulse_2 500ms infinite;
}

@keyframes pulse_2 {
    0% {
        opacity: 0.8;
    }
    60% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.8;
    }
}

</style>
